<form role="form" class="form-horizontal" name="kcell_form" novalidate>
	<style type="text/css">
		.mr-1{
			margin-right: 2px
			}
	</style>
	<script cam-script type="text/form-script">
  		camForm.on('form-loaded', function() {
  			camForm.variableManager.fetchVariable('identificatorType');
			camForm.variableManager.fetchVariable('ConfirmedStatus');
  		});

  		camForm.on('variables-fetched', function() {
			$scope.ConfirmedStatus = camForm.variableManager.variableValue('ConfirmedStatus');
			$scope.identificatorType = camForm.variableManager.variableValue('identificatorType');

			if (!camForm.variableManager.variables.testNumbers) {
				camForm.variableManager.createVariable({
      				name: 'testNumbers',
      				type: 'json',
     				value: []
  		 	 	});
			}

			camForm.variableManager.createVariable({
      				name: 'startDate',
      				type: 'Date',
     				value: new Date(),
     				store: true
  		 	 	});
  		 	$scope.startDate = camForm.variableManager.variableValue('startDate');
			$scope.testNumbers = camForm.variableManager.variableValue('testNumbers');
 		});
			camForm.on('submit', function(event) {
				camForm.variableManager.variableValue('testNumbers', $scope.testNumbers);
				var startDate = new Date($scope.startDate);
                camForm.variableManager.variableValue('startDate', startDate);
						   		
				console.log(camForm.variableManager.variableValue('testNumbers'));
				//event.submitPrevented = true;
 			 });
		
		var currentDate = new Date();

        $scope.datepickerOptions = {
            minDate: currentDate
        };

		$scope.open = function() {
            $scope.dateFieldOpened = true;
        };


		$scope.addNumber = function() {
			$scope.testNumbers.push({'title': $scope.newTestNumber});
			$scope.newTestNumber = '';
		}

		$scope.deleteNumber = function(index) {	
			$scope.testNumbers.splice(index, 1);
		}
	</script>
	<div class="alert alert-warning" ng-hide="ConfirmedStatus === 'rejected'">Необходимо заполнить обязательные поля</div>
	<div class="alert alert-info" ng-show="ConfirmedStatus === 'rejected'">Заявка отклонена: {{rejectComments}}</div>
	<div class="form-group">
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Идентификатор:</label>
			<div class="col-sm-8">
				<input class="form-control"
					   cam-variable-name="identificator"
					   cam-variable-type="String"
					   placeholder="Описание сервиса" disabled/>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Тип идентификатора:</label>
			<div class="col-sm-8" >
				<div class="form-control" disabled ng-show="identificatorType === 'alfanumeric'">Альфанумерик</div>
			    <div class="form-control" disabled ng-show="identificatorType === 'digital'">Цифровой</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Описание сервиса*:</label>
			<div class="col-sm-8">
				<input class="form-control"
					   cam-variable-name="serviceDescription"
					   cam-variable-type="String"
					   name="serviceDescription"
					   placeholder="Описание сервиса" required/>
				<div class="col-sm-12">
					<span class="error" ng-show="kcell_form.serviceDescription.$error.required && ( kcell_form.serviceDescription.$touched || view.submitted)">Обязательное поле</span>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Технология подключения*:</label>
			<div class="col-sm-8">
				<select class="form-control" id="sel1223"
		  		cam-variable-name="connectionTechnology"
				cam-variable-type="String"
				ng-model="connectionTechnology" required>
			    	<option value="SMS">SMS</option>
			    	<option value="IVR">IVR</option>
					<option value="USSD">USSD</option>
		  		</select>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Тип подключения*:</label>
			<div class="col-sm-8">
				<select class="form-control" id="sel1"
		  		cam-variable-name="connectionMethod"
				cam-variable-type="String"
				ng-model="connectionMethod" required>
			    	<option value="web">Web interface</option>
			    	<option value="rest">REST</option>
			    	<option value="smpp">SMPP</option>
		  		</select>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">IP*:</label>
			<div class="col-sm-8">
				<input class="form-control"
				ng-required="connectionMethod === 'smpp'" 
				ng-disabled="connectionMethod !== 'smpp'"
				cam-variable-name="IPforSMPP"
				cam-variable-type="String"
				placeholder="IP (Если выбран SMPP как тип подключения)"/>
			</div>
		</div>
		<div class="form-group col-sm-12"> 
			<label class="col-sm-4 control-label">Тестовый номер*:</label>
			<div class="col-sm-8">
				<div  class="input-group" ng-submit="addNumber()">
					<input class="form-control" 
						ng-disabled="connectionMethod !== 'smpp'"
						placeholder="Тестовый номер" type="text" 
						name="newTestNumber" 
						ng-model="newTestNumber"/>
			     	<span class="input-group-btn">
			        	<button class="btn btn-secondary" type="button" ng-disabled="connectionMethod !== 'smpp'" 	ng-click="addNumber()">+</button>
			      	</span>
			    </div>
			</div>
		</div>
		<div class="form-group col-sm-12" ng-show="testNumbers && connectionMethod === 'smpp'">
			<label class="col-sm-4 control-label"></label>
			<div class="col-sm-8">
				<span class="label label-primary mr-1" ng-repeat="testNumber in testNumbers">
					{{testNumber.title}}
				    <span class="glyphicon glyphicon-remove" ng-click="deleteNumber($index)"></span>
				</span>
			</div>
		</div>
		<br/>
		<!--<div class="col-sm-12">
		    <br>
		    <h4>Абонент</h4>
	   	</div>
	    <div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Название компании*:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
				cam-variable-name="companyName"
				cam-variable-type="String"
				placeholder="Название компании" required/>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">БИН*:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
				cam-variable-name="companyBIN"
				cam-variable-type="String"
				placeholder="БИН" required/>
			</div>
		</div>-->
		<br/>
		<div class="col-sm-12">
		    <br>
		    <h4>Технический специалист</h4>
	   	</div>
	    <div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">ФИО*:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
				cam-variable-name="techSpecialistName"
				cam-variable-type="String"
			   	name="techSpecialistName"
				placeholder="ФИО" required/>
				<div class="col-sm-12">
					<span class="error" ng-show="kcell_form.techSpecialistName.$error.required && ( kcell_form.techSpecialistName.$touched || view.submitted)">Обязательное поле</span>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Телефон*:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
					   name="techSpecialistPhone"
					   ng-change="inputChanged()"
					   ng-model-options="{debounce:1000}"
					   ng-pattern="/^(?:\d{11}|\w+@\w+\.\w{2,3})$/"
					   cam-variable-name="techSpecialistPhone"
					   cam-variable-type="String"
					   ng-class="{'red-border-class': name.errors}"
					   placeholder="Телефон" required/>
				<div class="col-sm-8">
					<span class="error" ng-show="kcell_form.techSpecialistPhone.$error.required && ( kcell_form.techSpecialistPhone.$touched || view.submitted)">Обязательное поле</span>
					<span class="error" ng-show="kcell_form.techSpecialistPhone.$error.pattern && ( kcell_form.techSpecialistPhone.$touched || view.submitted)">10 цифр, например: 701...</span>
				</div>
			</div>
		</div>
	    <div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Email*:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
					   name="techSpecialistEmail" ng-change="inputChanged()" ng-model-options="{debounce:1000}" ng-pattern = '/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/'
					   ng-maxlength="100" ng-required="true" ng-model-options="{ updateOn: blur }"
					   cam-variable-name="techSpecialistEmail"
					   cam-variable-type="String"
					   placeholder="Email" required/>
				<div class="col-sm-8">
					<span class="error" ng-show="kcell_form.techSpecialistEmail.$error.required && ( kcell_form.techSpecialistEmail.$touched || view.submitted)">Обязательное поле</span>
					<span class="error" ng-show="kcell_form.techSpecialistEmail.$error.pattern && ( kcell_form.techSpecialistEmail.$touched || view.submitted)">Неверный формат email</span>
				</div>
			</div>
		</div>
		<!--div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Дата предполагаемого запуска:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
				cam-variable-name="startDate"
				cam-variable-type="String"
				placeholder="Дата предполагаемого запуска"/>
			</div>
		</div-->
		<div class="form-group col-sm-12">
	        <label class="col-sm-4 control-label">Дата предполагаемого запуска*:</label>
	        <div class="col-sm-8">
	            <div class="input-group">
	                <input type="text" ng-model="startDate" name="startDate" required class="form-control" datepicker-popup="dd.MM.yyyy" is-open="dateFieldOpened" id="startDate" min-date="datepickerOptions.minDate"/>
	                <span class="input-group-btn">
	                    <button type="button" class="btn btn-default" ng-click="open()">
	                        <i class="glyphicon glyphicon-calendar"></i>
	                    </button>
	                </span>
	            </div>
	        </div>
	    </div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Тариф для абонента*:</label>
			<div class="col-sm-8">
				<input ng-required="true" class="form-control"
				cam-variable-name="abonentTarif"
				cam-variable-type="String"
			   	name="abonentTarif"
				placeholder="Тариф для абонента" required/>
				<div class="col-sm-12">
					<span class="error" ng-show="kcell_form.abonentTarif.$error.required && ( kcell_form.abonentTarif.$touched || view.submitted)">Обязательное поле</span>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Тарифный план:</label>
			<div class="col-sm-8">
				<select class="form-control" id="sel12"
			  	cam-variable-name="tarifPlane"
		      	cam-variable-type="String"
		      	ng-model="tarifPlane">
					<option value="1">1</option>
					<option value="2">2</option>
				</select>	
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Аккаунт для подключения:</label>
			<div class="col-sm-8">
				<input class="form-control"
					   cam-variable-name="connectionAccount"
					   cam-variable-type="String"
					   placeholder=" Введите аккаунт для подключения или коментарий"/>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Комментарии:</label>
			<div class="col-sm-8">
				<input class="form-control"
				cam-variable-name="comments"
				cam-variable-type="String"
				placeholder="Коментарии"/>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-8 hidden">
				<input class="form-control"
				cam-variable-name="rejectComments"
				cam-variable-type="String"
				ng-model="rejectComments"/>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Вложите скан. рег формы*:</label>
			<div class="col-sm-8">
				<input type="file" class="form-control" cam-variable-type="File" cam-max-filesize="10000000" cam-variable-name="regFormScan"/>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-sm-4 control-label">Вложите скан. Заявки*:</label>
			<div class="col-sm-8">
				<input type="file" class="form-control" cam-variable-type="File" cam-max-filesize="10000000" cam-variable-name="applicationScan" />
			</div>
		</div>
	</div>
</form>



