@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*@import url('https://wf.kcell.meta4.kz/assets/fonts/fonts.css');*/

[cam-widget-header] [ng-transclude] li>view>a:focus {
  color: white;
}
:root {
  --kcell-color: #652d86;
  --kcell-color-lighter: #682d86;
  --kcell-color-darker: #4e256b;
  --kcell-color-superlight: #793e97;
  --kcell-color-megalight: #9b5fb9;
  
}

/* Globals */
body { 
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, .btn-link {
    color:  var(--kcell-color-lighter);
	position: relative;
}

a:hover, a:focus, .btn-link:hover {
   color:  var(--kcell-color-superlight);
   text-decoration:underline;
}
/*
li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--kcell-color-superlight);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/
/*
.btn-link:hover {
    color: var(--kcell-color-darker);
}*/

.btn-primary {
    background-color: var(--kcell-color);
    border-color: var(--kcell-color);
}

.btn-primary:hover {
    background-color: var(--kcell-color-darker);
    border-color: var(--kcell-color-darker);
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
    background-color: #ccc;
    color: #777;
    border-color: #ccc;
    text-shadow: 1px 1px 0px #fff;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
    background-color: var(--kcell-color-superlight);
    border-color: var(--kcell-color-superlight);
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--kcell-color-superlight);
    border-color: var(--kcell-color-superlight);
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background-color: #ddd;
    color: #777;
    border-color: #ddd;
    text-shadow: 1px 1px 0px #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-bottom-color: var(--kcell-color);
}

.three-cols-layout .column-left .deployments>li.active, .three-cols-layout .column-left .list-unstyled>.item.active, .three-cols-layout .column-center .list-unstyled>li.active, .three-cols-layout .column-left .list-unstyled>.item.active:hover, .three-cols-layout .column-center .list-unstyled>li.active:hover {
    border-color: var(--kcell-color);
}

.three-cols-layout .column-left .deployments>li:hover ,.three-cols-layout .column-left .list-unstyled>.item:hover, .three-cols-layout .column-center .list-unstyled>li:hover {
    border-color: var(--kcell-color-megalight);
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    border-bottom-color: var(--kcell-color-megalight);
}



[cam-widget-inline-field]>.view-value, [cam-widget-inline-field]>.preview, [cam-tasklist-task-meta] .groups {
    color: var(--kcell-color);
}

aside li.active>a {
    border-left-color: var(--kcell-color);
}

aside li:hover>a {
    border-left-color: var(--kcell-color-megalight);
}

.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-color: var(--kcell-color-superlight);
	border-color: var(--kcell-color);
}

.form-control:hover {
    border-color: var(--kcell-color-megalight);
}

.form-control:focus {
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.2), inset 0 -1px 1px 0 rgba(255,255,255,0.5), 0 1px 0 0 var(--kcell-color-megalight);
}

.active .text-info {
    color: #fff;
}

.btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus {
    background-color: var(--kcell-color-megalight);
    border-color: var(--kcell-color-superlight);
}


/* Header */
/*
.ctn-main {
    top: 65px;
}

[cam-widget-header] {
	line-height:60px;
	min-height: 65px;
    border-bottom-color: var(--kcell-color);
}

[cam-widget-header] .navbar-toggle {
    height: 56px;
}

[cam-widget-header] .navbar-brand {
  line-height: inherit;
}*/
.page-wrap {
    top: 40px;
}




.sections-menu ul li, .app-menu ul li {
	padding-left:10px;
	padding-right:10px;
}

.modal-header {
    border-bottom-color: var(--kcell-color);
    background: var(--kcell-color);
    color:#fff;
}

.dropdown-menu > li:hover > a {
    border-color: var(--kcell-color-superlight);
}

@media screen and (max-width: 975px) {
	[cam-widget-header] [ng-transclude].collapse {
	    visibility: hidden;
	    display: none;
	}
}

[cam-tasklist-task] .tab-content {
    padding: 10px 0 5px 0;
}



/* all */
.form-control::-webkit-input-placeholder { font-style:normal; font-weight:300;  }
.form-control::-moz-placeholder { font-style:normal; } /* firefox 19+ */
.form-control:-ms-input-placeholder { font-style:normal; } /* ie */
.form-control:-moz-placeholder {font-style:normal; }

/*******************************/

/*.form-container {
  padding: 0px 10px;
}
*/
.form-container h4 {
  /*margin-bottom: 25px;*/
}

h4.process-definition {
  font-size: 14px;
  color: #999;
}

h2.task {
  font-size: 25px;
  /*color: var(--kcell-color);*/
  margin-bottom: 4px;
}

.form-control {
    border-width:1px !important;
    border-color:#ccc;
    box-shadow: none;
    /*background-color: #fff;*/
}

.column-right .cell.content {
    padding: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group .control-label {
    font-weight: 500;
    text-align: left;
    overflow: visible;
    color:#999;
}

.control-label sub {
  display: block;
  bottom: -5px;
  position: absolute;
  color: #ccc;
}

.form-group .control-label.required, .form-group .control-label b {
    color:#333;
    font-weight: 600;
}

.form-control:focus {
    box-shadow:none; 
}

/*[cam-tasklist-task-meta] .meta {
    width: auto;
}*/

.well {
    background-color: #ffffcc;
    border: 1px solid #b3b3b3;
    color: #333;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 1px;
}

.task-card .names {
  float: left;
}

.task-card [cam-tasklist-task-meta] {
  float: right;
  width: 40%;
  margin-top: 10px;
}

/*****************/

.task-details .nav.nav-tabs {
  margin-top: 0;
}

.nav-tabs.nav-justified {
  margin: 0;
  padding: 0;

}

/*.task-details > .nav-tabs>li {
    float: right;
}*/

/************************/
/* Header */
[cam-widget-header] {
  background-color: #5f3e72;
  border-bottom:1px solid #492e54;
  color: #fff;
  min-height: 40px;
}

[cam-widget-header] .small-screen-warning {
    color: #c48474;
}

[cam-widget-header] .navbar-toggle>span {
    background-color: var(--kcell-color-superlight);
}

[cam-widget-header] .navbar-toggle:hover>span {
    background-color: #fff;
}

[cam-widget-header], [cam-widget-header] a, [cam-widget-header] .navbar-brand {
  color: #fff;
  line-height: 40px !important;
}

[cam-widget-header] li > view > a {
    padding: 0 6px;
}

[cam-widget-header] .brand-logo {
  width: 200px;
  display: inline-block;
}

[cam-widget-header] .brand-name {
  display: none;
}

[cam-widget-header] .brand-logo:before {
  width:200px;
  height:40px;
  background:url(/kcell-theme/logo.svg) no-repeat 0px 2px;
  background-size:contain;
  content:'';
  color: var(--kcell-color);
  position: absolute;
  top:0;
}

[cam-widget-header] a:hover {
    color:#fff;
    background-color:var(--kcell-color-superlight) !important;
}

.nopadding > div[class^="col-"]:not(:first-child):not(:last-child) {
    padding-right: 1px;
    padding-left: 1px;
}

.nopadding > div[class^="col-"]:first-child {
    padding-right: 2px;
}
.nopadding > div[class^="col-"]:last-child {
    padding-left: 2px;
}


/*************************/

.column:not(.task-details )  {
   background-color: #f7f7f7;
}

.columns .column-left {
    width: 150px;
}

.columns .column-center {
    z-index: 2;
    left: 150px;
    margin-right: -420px;
}

.columns .column-right {
    left: 420px;
}



.my-tab ul.nav-tabs > li >a {
    border-bottom-width: 2px;
    margin: 0;
    height: 60px;
    padding-top: 15px;
    font-size: 16px;
    background-color: #f7f7f7;
}

.my-tab ul.nav-tabs  > li >a .glyphicon {
  font-size: 20px;
  left: -25px;
  top: 3px;
  width: 1px;
  color: #aaa;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #fff;
    font-weight: 600;
    color: var(--kcell-color);
    border-color:  var(--kcell-color);
}


.form-control.changed {
  border-color:var(--kcell-color-superlight);
  background-color: #e6e0e9;
  color:var(--kcell-color);
}



.panel-default>.panel-heading {
   color:var(--kcell-color);
}