@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --kcell-color: #652d86;
  --kcell-color-lighter: #682d86;
  --kcell-color-darker: #4e256b;
  --kcell-color-superlight: #793e97;
}

/* Globals */
body { 
	font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

a, .btn-link {
    color:  var(--kcell-color-lighter);
}

a:hover, a:focus {
    color:  var(--kcell-color-superlight);
}

.btn-link:hover {
    color: var(--kcell-color-darker);
}

.btn-primary {
    background-color: var(--kcell-color);
    border-color: var(--kcell-color);
}

.btn-primary:hover {
    background-color: var(--kcell-color-darker);
    border-color: var(--kcell-color-darker);
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
    background-color: #ccc;
    color: #777;
    border-color: #ccc;
    text-shadow: 1px 1px 0px #fff;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
    background-color: var(--kcell-color-superlight);
    border-color: var(--kcell-color-superlight);
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--kcell-color-superlight);
    border-color: var(--kcell-color-superlight);
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background-color: #ddd;
    color: #777;
    border-color: #ddd;
    text-shadow: 1px 1px 0px #fff;
}

/* Header */

[cam-widget-header] {
	line-height:60px;
	min-height: 65px;
    border-bottom-color: var(--kcell-color);
}

[cam-widget-header] .navbar-toggle {
    height: 56px;
}

[cam-widget-header] .brand-logo {
	width: 140px;
    display: inline-block;
}

[cam-widget-header] .brand-logo:before {
	width:130px;
	height:52px;
    background:url(/kcell-theme/kcell_logo_90.png) no-repeat 0px 6px;
	background-size:contain;
    content:'';
    color: var(--kcell-color);
    position: absolute;
    top:0;
}

[cam-widget-header] .navbar-brand {
	line-height: inherit;
}
.page-wrap {
    top: 65px;
}

.sections-menu ul li, .app-menu ul li {
	padding-left:10px;
	padding-right:10px;
}

.modal-header {
    border-bottom-color: var(--kcell-color);
    background: var(--kcell-color);
    color:#fff;
}

.dropdown-menu > li:hover > a {
    border-color: var(--kcell-color-superlight);
}

@media screen and (max-width: 950px) {
	[cam-widget-header] [ng-transclude].collapse {
	    visibility: hidden;
	    display: none;
	}
}
