<div class="col-sm-6">
    <div class="form-group">
        <label class="col-sm-4 control-label">BIN: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-{{disabled?'8':'5'}}">
            <input type="text" class="form-control" placeholder="170640014410" name="liBIN" ng-model="data.BIN" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.BIN !== data.BIN) ? 'orange' : null)}">
            <span class="has-error" ng-if="form.liBIN.$error.required && (form.liBIN.$touched || view.submitted)">Required field</span>
        </div>
        <div class="col-sm-3" style="padding-left: 0px;" ng-if="!disabled">
            <button type="button" class="btn btn-default col-sm-12" ng-click="checkBIN()">Check</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Legal Name: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder='TOO "Альянс страховых агентов"' name="liLegalName" ng-model="data.legalName" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.legalName !== data.legalName) ? 'orange' : null)}">
            <span class="has-error" ng-if="form.liLegalName.$error.required && (form.liLegalName.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">City company registration: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <select class="form-control selectpicker" select-picker title="" name="liCompanyCity" ng-model="data.companyCity" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.companyCity !== data.companyCity) ? 'orange' : null)}">
                <option ng-class="!disabled? 'hide-default-option' : ''" value=""></option>
                <option value="г.Абай">г.Абай</option>
                <option value="г.Акколь">г.Акколь</option>
                <option value="г.Аксай">г.Аксай</option>
                <option value="г.Аксу">г.Аксу</option>
                <option value="г.Актау">г.Актау</option>
                <option value="г.Актюбинск">г.Актюбинск</option>
                <option value="г.Алга">г.Алга</option>
                <option value="г.Алматы">г.Алматы</option>
                <option value="г.Аральск">г.Аральск</option>
                <option value="г.Аркалык">г.Аркалык</option>
                <option value="г.Арыс">г.Арыс</option>
                <option value="г.Астана">г.Астана</option>
                <option value="г.Атбасар">г.Атбасар</option>
                <option value="г.Байконур">г.Байконур</option>
                <option value="г.Балхаш">г.Балхаш</option>
                <option value="г.Булаево">г.Булаево</option>
                <option value="г.Державинск">г.Державинск</option>
                <option value="г.Ерейментау">г.Ерейментау</option>
                <option value="г.Есик">г.Есик</option>
                <option value="г.Есиль">г.Есиль</option>
                <option value="г.Жанаозен">г.Жанаозен</option>
                <option value="г.Жанатас">г.Жанатас</option>
                <option value="г.Жаркент">г.Жаркент</option>
                <option value="г.Жезказган">г.Жезказган</option>
                <option value="г.Жем">г.Жем</option>
                <option value="г.Жетысай">г.Жетысай</option>
                <option value="г.Казалинск">г.Казалинск</option>
                <option value="г.Кандыагаш">г.Кандыагаш</option>
                <option value="г.Капчагай">г.Капчагай</option>
                <option value="г.Караганда">г.Караганда</option>
                <option value="г.Каражал">г.Каражал</option>
                <option value="г.Каратау">г.Каратау</option>
                <option value="г.Каркаралинск">г.Каркаралинск</option>
                <option value="г.Каскелен">г.Каскелен</option>
                <option value="г.Кентау">г.Кентау</option>
                <option value="г.Кокшетау">г.Кокшетау</option>
                <option value="г.Костанай">г.Костанай</option>
                <option value="г.Кульсары">г.Кульсары</option>
                <option value="г.Курчатов">г.Курчатов</option>
                <option value="г.Макинск">г.Макинск</option>
                <option value="г.Мамлютка">г.Мамлютка</option>
                <option value="г.Павлодар">г.Павлодар</option>
                <option value="г.Петропавловск">г.Петропавловск</option>
                <option value="г.Приозёрск">г.Приозёрск</option>
                <option value="г.Риддер">г.Риддер</option>
                <option value="г.Рудный">г.Рудный</option>
                <option value="г.Сарань">г.Сарань</option>
                <option value="г.Сарканд">г.Сарканд</option>
                <option value="г.Сарыагаш">г.Сарыагаш</option>
                <option value="г.Сатпаев">г.Сатпаев</option>
                <option value="г.Семей">г.Семей</option>
                <option value="г.Сергеевка">г.Сергеевка</option>
                <option value="г.Тайынша">г.Тайынша</option>
                <option value="г.Талгар">г.Талгар</option>
                <option value="г.Талдыкорган">г.Талдыкорган</option>
                <option value="г.Тараз">г.Тараз</option>
                <option value="г.Текели">г.Текели</option>
                <option value="г.Темир">г.Темир</option>
                <option value="г.Темиртау">г.Темиртау</option>
                <option value="г.Туркестан">г.Туркестан</option>
                <option value="г.Уральск">г.Уральск</option>
                <option value="г.Усть-Каменогорск">г.Усть-Каменогорск</option>
                <option value="г.Учарал">г.Учарал</option>
                <option value="г.Уштобе">г.Уштобе</option>
                <option value="г.Форт-Шевченко">г.Форт-Шевченко</option>
                <option value="г.Шалкар">г.Шалкар</option>
                <option value="г.Шар">г.Шар</option>
                <option value="г.Шахтинск">г.Шахтинск</option>
                <option value="г.Шемонаиха">г.Шемонаиха</option>
                <option value="г.Шу">г.Шу</option>
                <option value="г.Шымкент">г.Шымкент</option>
                <option value="г.Щучинск">г.Щучинск</option>
                <option value="г.Экибастуз">г.Экибастуз</option>
                <option value="г.Атырау">г.Атырау</option>
                <option value="г.Житикара">г.Житикара</option>
                <option value="г.Аягуз">г.Аягуз</option>
                <option value="г.Зайсан">г.Зайсан</option>
                <option value="г.Зыряновск">г.Зыряновск</option>
                <option value="г.Кызылорда">г.Кызылорда</option>
                <option value="г.Ленгер">г.Ленгер</option>
                <option value="г.Лисаковск">г.Лисаковск</option>
                <option value="г.Серебрянск">г.Серебрянск</option>
                <option value="г.Хромтау">г.Хромтау</option>
                <option value="г.Степногорск">г.Степногорск</option>
                <option value="г.Чардара">г.Чардара</option>
                <option value="г.Степняк">г.Степняк</option>
            </select>
            <span class="has-error" ng-if="form.liCompanyCity.$error.required && (form.liCompanyCity.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Purchase type: </label>
        <div class="col-sm-8">
            <select class="form-control selectpicker" select-picker title="" ng-model="data.purchaseType" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.purchaseType !== data.purchaseType) ? 'orange' : null)}">
                <option></option>
                <option value="Тендер">Тендер</option>
                <option value="Ценовое предложение">Ценовое предложение</option>
                <option value="Из одного источника">Из одного источника</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Sales Representative: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-change="onSalesReprChange()" placeholder="Rakhilya N.Yessirkepova" ng-model="data.salesRepr" name="liSalesRepr" ng-disabled="disabled" typeahead="name as users.name for users in getUser($viewValue)" typeahead-on-select="userSelected($item)" class="form-control" autocomplete="off" ng-style="{'background-color': ((pbxData.fetched && pbxData.salesRepr !== data.salesRepr) ? 'orange' : null)}">
            <span class="has-error" ng-if="form.liSalesRepr.$error.not_selected && (form.liSalesRepr.$touched || view.submitted)">User must be selected from the list</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Legal Address: </span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="г.Алматы, ул. Сатпаева 30А/1, офис 97" ng-model="data.legalAddress" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.legalAddress !== data.legalAddress) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Mailing Address: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="г.Алматы, ул. Сатпаева 30А/1, офис 97" ng-model="data.mailingAddress" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.mailingAddress !== data.mailingAddress) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Email: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="m.rakhimova@av50.kz" ng-model="data.email" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.email !== data.email) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Date Company Registration:</label>
        <div class="col-sm-8" ng-if="!disabled">
            <div class="input-group">
                <input type="text" ng-model="data.companyDate" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="registrDateFieldOpened" ng-style="{'background-color': ((pbxData.fetched && (pbxData.companyDate | date:'dd.MM.yyyy') !== (data.companyDate | date:'dd.MM.yyyy')) ? 'orange' : null)}"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="registrDateFieldOpened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-8" ng-if="disabled">
            <div class="form-control" style="height: 100%;" disabled ng-style="{'background-color': ((pbxData.fetched && (pbxData.companyDate | date:'dd.MM.yyyy') !== (data.companyDate | date:'dd.MM.yyyy')) ? 'orange' : null)}"> {{data.companyDate | date:'dd.MM.yyyy'}}</div>
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Contact Person (accountant): </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Рахимова Малика" ng-model="data.accountant" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.accountant !== data.accountant) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Contact Person Number (accountant): </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="+77074288884" ng-model="data.accountantNumber" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.accountantNumber !== data.accountantNumber) ? 'orange' : null)}">
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="col-sm-4 control-label">TIC Name: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="liTICName" ng-model="data.ticName" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.ticName !== data.ticName) ? 'orange' : null)}">
            <span class="has-error" ng-if="form.liTICName.$error.required && (form.liTICName.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Main type activity customer:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.mainType" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.mainType !== data.mainType) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Provider Name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.providerName" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.providerName !== data.providerName) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Provider BIN:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.providerBIN" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.providerBIN !== data.providerBIN) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">VAT certificate:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.vatCert" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.vatCert !== data.vatCert) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">IBAN: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="KZ49722S000001299730" ng-model="data.iban" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.iban !== data.iban) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Bank Name: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder='АО "Kaspi Bank"' ng-model="data.bankName" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.bankName !== data.bankName) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">SWIFT: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="CASPKZKA" ng-model="data.swift" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.swift !== data.swift) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Kbe:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="15" ng-model="data.kbe" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.kbe !== data.kbe) ? 'orange' : null)}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Term contract: </label>
        <div class="col-sm-8">
            <div class="form-control col-sm-12" style="height: 100%" disabled ng-if="disabled || data.termContractEnd" ng-style="{'background-color': ((pbxData.fetched && (pbxData.termContract | date:'dd.MM.yyyy') !== (data.termContract | date:'dd.MM.yyyy')) ? 'orange' : null)}">
                <span ng-if="!data.termContractEnd">{{data.termContract | date:'dd.MM.yyyy'}}</span>
                <span ng-if="data.termContractEnd">&#8203;</span>
            </div>
            <div class="input-group" ng-if="!data.termContractEnd && !disabled">
                <input type="text" ng-model="data.termContract" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="termContractDateFieldOpened" ng-style="{'background-color': ((pbxData.fetched && (pbxData.termContract | date:'dd.MM.yyyy') !== (data.termContract | date:'dd.MM.yyyy')) ? 'orange' : null)}"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="termContractDateFieldOpened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
            <div class="col-sm-12" style="padding-left: 0; border-radius: 5px;" ng-style="{'background-color': ((pbxData.fetched && pbxData.termContractEnd !== data.termContractEnd) ? 'orange' : null)}">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="data.termContractEnd" ng-disabled="disabled"> До расторжения сторонами</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Client priority:</label>
        <div class="col-sm-8">
            <div style="border-radius: 5px; padding: 0 5px;" ng-style="{'background-color': ((pbxData.fetched && pbxData.clientPriority !== data.clientPriority) ? 'orange' : null)}">
                <label class="radio-inline"><input type="radio" name="liClientPriority" value="Normal" ng-model="data.clientPriority" ng-disabled="disabled"> Normal</label>
                <label class="radio-inline"><input type="radio" name="liClientPriority" value="High" ng-model="data.clientPriority" ng-disabled="disabled"> High</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" ng-if="data.taskId">
    <div class="form-group">
        <label class="col-sm-4 control-label"><a href="/camunda/aftersales-pbx/{{data.taskId}}/generate-technical-condition" target="_blank">ТУ и схема</a></label>
    </div>
</div>