
<label>Data of the technical specialist</label>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Contact Person: <span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Контактное лицо" name="tsContactPerson" ng-model="data.contactPerson" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.contactPerson !== data.contactPerson) ? 'orange' : null)}">
                <span class="has-error" ng-if="form.tsContactPerson.$error.required && (form.tsContactPerson.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Contact number: <span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Контактый телефон" name="tsContactNumber" ng-model="data.contactNumber" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.contactNumber !== data.contactNumber) ? 'orange' : null)}">
                <span class="has-error" ng-if="form.tsContactNumber.$error.required && (form.tsContactNumber.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Contact Email: <span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Контактный Email (для тестовых настроек)" name="tsContactEmail" ng-model="data.contactEmail" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.contactEmail !== data.contactEmail) ? 'orange' : null)}">
                <span class="has-error" ng-if="form.tsContactEmail.$error.required && (form.tsContactEmail.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
</div>
<label>Equipment Information</label>
<div class="form-group">
    <label class="col-sm-4 control-label">Type connected equipment: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <select class="form-control" name="tsEquipmentType" ng-model="data.equipmentType" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.equipmentType !== data.equipmentType) ? 'orange' : null)}">
            <option value="Виртуальная АТС">Виртуальная АТС</option>
            <option value="Аналоговая АТС">Аналоговая АТС</option>
            <option value="Цифровая АТС">Цифровая АТС</option>
            <option value="Гибридная АТС">Гибридная АТС</option>
            <option value="Медиаконвертер">Медиаконвертер</option>
            <option value="Нет оборудования">Нет оборудования</option>
        </select>
        <span class="has-error" ng-if="form.tsEquipmentType.$error.required && (form.tsEquipmentType.$touched || view.submitted)">Required field</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Vendor of PBX: <span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Производитель оборудования" name="tsPBXVendor" ng-model="data.pbxVendor" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.pbxVendor !== data.pbxVendor) ? 'orange' : null)}">
                <span class="has-error" ng-if="form.tsPBXVendor.$error.required && (form.tsPBXVendor.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Model of PBX: <span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Модель оборудования" name="tsPBXModel" ng-model="data.pbxModel" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.pbxModel !== data.pbxModel) ? 'orange' : null)}">
                <span class="has-error" ng-if="form.tsPBXModel.$error.required && (form.tsPBXModel.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Location:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Координаты оборудования" ng-model="data.pbxLocation" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.pbxLocation !== data.pbxLocation) ? 'orange' : null)}">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Equipment city located:</label>
    <div class="col-sm-8">
        <select class="form-control" ng-model="data.equipmentCity" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.equipmentCity !== data.equipmentCity) ? 'orange' : null)}">
            <option value="г.Абай">г.Абай</option>
            <option value="г.Акколь">г.Акколь</option>
            <option value="г.Аксай">г.Аксай</option>
            <option value="г.Аксу">г.Аксу</option>
            <option value="г.Актау">г.Актау</option>
            <option value="г.Актюбинск">г.Актюбинск</option>
            <option value="г.Алга">г.Алга</option>
            <option value="г.Алматы">г.Алматы</option>
            <option value="г.Аральск">г.Аральск</option>
            <option value="г.Аркалык">г.Аркалык</option>
            <option value="г.Арыс">г.Арыс</option>
            <option value="г.Астана">г.Астана</option>
            <option value="г.Атбасар">г.Атбасар</option>
            <option value="г.Байконур">г.Байконур</option>
            <option value="г.Балхаш">г.Балхаш</option>
            <option value="г.Булаево">г.Булаево</option>
            <option value="г.Державинск">г.Державинск</option>
            <option value="г.Ерейментау">г.Ерейментау</option>
            <option value="г.Есик">г.Есик</option>
            <option value="г.Есиль">г.Есиль</option>
            <option value="г.Жанаозен">г.Жанаозен</option>
            <option value="г.Жанатас">г.Жанатас</option>
            <option value="г.Жаркент">г.Жаркент</option>
            <option value="г.Жезказган">г.Жезказган</option>
            <option value="г.Жем">г.Жем</option>
            <option value="г.Жетысай">г.Жетысай</option>
            <option value="г.Казалинск">г.Казалинск</option>
            <option value="г.Кандыагаш">г.Кандыагаш</option>
            <option value="г.Капчагай">г.Капчагай</option>
            <option value="г.Караганда">г.Караганда</option>
            <option value="г.Каражал">г.Каражал</option>
            <option value="г.Каратау">г.Каратау</option>
            <option value="г.Каркаралинск">г.Каркаралинск</option>
            <option value="г.Каскелен">г.Каскелен</option>
            <option value="г.Кентау">г.Кентау</option>
            <option value="г.Кокшетау">г.Кокшетау</option>
            <option value="г.Костанай">г.Костанай</option>
            <option value="г.Кульсары">г.Кульсары</option>
            <option value="г.Курчатов">г.Курчатов</option>
            <option value="г.Макинск">г.Макинск</option>
            <option value="г.Мамлютка">г.Мамлютка</option>
            <option value="г.Павлодар">г.Павлодар</option>
            <option value="г.Петропавловск">г.Петропавловск</option>
            <option value="г.Приозёрск">г.Приозёрск</option>
            <option value="г.Риддер">г.Риддер</option>
            <option value="г.Рудный">г.Рудный</option>
            <option value="г.Сарань">г.Сарань</option>
            <option value="г.Сарканд">г.Сарканд</option>
            <option value="г.Сарыагаш">г.Сарыагаш</option>
            <option value="г.Сатпаев">г.Сатпаев</option>
            <option value="г.Семей">г.Семей</option>
            <option value="г.Сергеевка">г.Сергеевка</option>
            <option value="г.Тайынша">г.Тайынша</option>
            <option value="г.Талгар">г.Талгар</option>
            <option value="г.Талдыкорган">г.Талдыкорган</option>
            <option value="г.Тараз">г.Тараз</option>
            <option value="г.Текели">г.Текели</option>
            <option value="г.Темир">г.Темир</option>
            <option value="г.Темиртау">г.Темиртау</option>
            <option value="г.Туркестан">г.Туркестан</option>
            <option value="г.Уральск">г.Уральск</option>
            <option value="г.Усть-Каменогорск">г.Усть-Каменогорск</option>
            <option value="г.Учарал">г.Учарал</option>
            <option value="г.Уштобе">г.Уштобе</option>
            <option value="г.Форт-Шевченко">г.Форт-Шевченко</option>
            <option value="г.Шалкар">г.Шалкар</option>
            <option value="г.Шар">г.Шар</option>
            <option value="г.Шахтинск">г.Шахтинск</option>
            <option value="г.Шемонаиха">г.Шемонаиха</option>
            <option value="г.Шу">г.Шу</option>
            <option value="г.Шымкент">г.Шымкент</option>
            <option value="г.Щучинск">г.Щучинск</option>
            <option value="г.Экибастуз">г.Экибастуз</option>
            <option value="г.Атырау">г.Атырау</option>
            <option value="г.Житикара">г.Житикара</option>
            <option value="г.Аягуз">г.Аягуз</option>
            <option value="г.Зайсан">г.Зайсан</option>
            <option value="г.Зыряновск">г.Зыряновск</option>
            <option value="г.Кызылорда">г.Кызылорда</option>
            <option value="г.Ленгер">г.Ленгер</option>
            <option value="г.Лисаковск">г.Лисаковск</option>
            <option value="г.Серебрянск">г.Серебрянск</option>
            <option value="г.Хромтау">г.Хромтау</option>
            <option value="г.Степногорск">г.Степногорск</option>
            <option value="г.Чардара">г.Чардара</option>
            <option value="г.Степняк">г.Степняк</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Equipment address:</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Адрес (Улица, дом, этаж, где находится оборудование)" ng-model="data.equipmentAddress" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.equipmentAddress !== data.equipmentAddress) ? 'orange' : null)}">
    </div>
</div>
<label>Service Requirments</label>
<div class="form-group">
    <label class="col-sm-4 control-label">Required quantity of PBX numbers: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <input type="number" class="form-control" placeholder="Количество необходимых виртуальных номеров" name="tsPBXQuantity" ng-model="data.pbxQuantity" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.pbxQuantity !== data.pbxQuantity) ? 'orange' : null)}">
        <span class="has-error" ng-if="form.tsPBXQuantity.$error.required && (form.tsPBXQuantity.$touched || view.submitted)">Required field</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-12">Numbers PBX: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-12" ng-if="!disabled">
        <textarea elastic-textarea rows="2" class="form-control" name="tsPBXNumbers" ng-model="data.pbxNumbers" required ng-style="{'background-color': ((pbxData.fetched && pbxData.pbxNumbers !== data.pbxNumbers) ? 'orange' : null)}"></textarea>
        <span class="has-error" ng-if="form.tsPBXNumbers.$error.required && (form.tsPBXNumbers.$touched || view.submitted)">Required field</span>
    </div>
    <div class="col-sm-12" ng-if="disabled">
        <div class="disabled-element" ng-style="{'background-color': ((pbxData.fetched && pbxData.pbxNumbers !== data.pbxNumbers) ? 'orange' : null)}">{{data.pbxNumbers}}</div>
    </div>
</div>
<div class="checkbox">
    <label><input type="checkbox" ng-model="data.removalRequired" ng-disabled="disabled || !removeNumbers">Remove numbers required</label>
</div>
<div class="form-group" ng-if="data.removalRequired">
    <label class="col-sm-12">Remove numbers: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-12" ng-if="!disabled">
        <textarea elastic-textarea rows="2" class="form-control" name="tsRemovalNumbers" ng-model="data.removalNumbers" required ng-style="{'background-color': ((pbxData.fetched && pbxData.removalNumbers && pbxData.removalNumbers !== data.removalNumbers) ? 'orange' : null)}"></textarea>
        <span class="has-error" ng-if="form.tsRemovalNumbers.$error.required && (form.tsRemovalNumbers.$touched || view.submitted)">Required field</span>
    </div>
    <div class="col-sm-12" ng-if="disabled">
        <div class="disabled-element" ng-style="{'background-color': ((pbxData.fetched && pbxData.removalNumbers !== data.removalNumbers) ? 'orange' : null)}">{{data.removalNumbers}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Access to incoming / outgoing calls: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <select class="form-control" name="tsCallsAccess" ng-model="data.callsAccess" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.callsAccess !== data.callsAccess) ? 'orange' : null)}">
            <option value="Входящие">Входящие</option>
            <option value="Исходяшие">Исходяшие</option>
            <option value="Входящие и Исходящие">Входящие и исходящие</option>
        </select>
        <span class="has-error" ng-if="form.tsCallsAccess.$error.required && (form.tsCallsAccess.$touched || view.submitted)">Required field</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Access to international calls: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <div style="border-radius: 5px; padding: 0 5px;" ng-style="{'background-color': ((pbxData.fetched && pbxData.iCallAccess !== data.iCallAccess) ? 'orange' : null)}">
            <label class="radio-inline"><input type="radio" name="tsInternationalCallAccess" value="Yes" ng-model="data.iCallAccess" ng-disabled="disabled"> Yes</label>
            <label class="radio-inline"><input type="radio" name="tsInternationalCallAccess" value="No" ng-model="data.iCallAccess" ng-disabled="disabled"> No</label>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Connection type: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <!--<select class="form-control" name="tsConnectionType" ng-model="data.connectionType" ng-required="!disabled" ng-disabled="disabled">-->
        <select class="form-control" name="tsConnectionType" ng-model="data.connectionType" disabled>
            <option value="SIP over internet">SIP over internet</option>
            <option value="E1">E1</option>
            <option value="SIP cable direct">SIP cable direct</option>
        </select>
        <span class="has-error" ng-if="form.tsConnectionType.$error.required && (form.tsConnectionType.$touched || view.submitted)">Required field</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Current connection point: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <select class="form-control" name="tsConnectionPoint" ng-model="data.connectionPoint" ng-required="editConnPoint" ng-disabled="!editConnPoint" ng-style="{'background-color': ((pbxData.fetched && pbxData.connectionPoint !== data.connectionPoint) ? 'orange' : null)}">
            <option value="Asterisk">Asterisk</option>
            <option value="SBC">SBC</option>
            <option value="SIP Proxy">SIP Proxy</option>
        </select>
        <span class="has-error" ng-if="form.tsConnectionPoint.$error.required && (form.tsConnectionPoint.$touched || view.submitted)">Required field</span>
    </div>
</div>
<div class="form-group" ng-if="showCpNew">
    <label class="col-sm-4 control-label">Connection point (NEW): <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
        <select class="form-control" name="tsConnectionPointNew" ng-model="data.connectionPointNew" ng-required="!disabled" ng-disabled="disabled" ng-style="{'background-color': ((pbxData.fetched && pbxData.connectionPointNew && pbxData.connectionPointNew !== data.connectionPointNew) ? 'orange' : null)}">
            <option value="Asterisk">Asterisk</option>
            <option value="SBC">SBC</option>
            <option value="SIP Proxy">SIP Proxy</option>
        </select>
        <span class="has-error" ng-if="form.tsConnectionPointNew.$error.required && (form.tsConnectionPointNew.$touched || view.submitted)">Required field</span>
    </div>
</div>