<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                //'relatedProcessInstanceVariables',

                'changeOfficialClientCompanyName',
                'changeContractNumber',
                'disconnectOperator',
                'connectOperator',
                'changeConnectionType',
                'changeIpNumber',
                'changeIdentifier',
                'changeSmsServiceType',
                'changeProvider',
                'changeTransmitNumber',
                'relatedProcessDefinitionKey',
                'relatedProcessInstanceId',
                'identifiers',
                'previouslyBought',
                'operatorType',
                'connectionType',
                'clientBIN',
                'contractNumber',
                'clientCompanyLatName',
                'officialClientCompanyName',
                'description',
                'ipNumber',
                //'startDate',
                'abonentTarif',
                'amdocsBilling',
                'orgaBilling',
                'techSpecFIO',
                'techSpecNumber',
                'techSpecEmail',
                'contractScanCopyFileName',
                'applicationScanCopyFileName',
                'responsibleB2BDelivery',
                'responsibleB2BSales',
                'channel',
                'region',
                'transmitNumber',
                'coordinates',
                'addressATS',
                'VPNchannel',
                'identifierType',
                'deliveryReport',
                'smsServiceType',
                'MSGGWaccount',
                'testNumber',
                'receivingServerAddress',
                'receivingServerLogin',
                'receivingServerPass',
                'addressServerMO',
                'tarifPlane',
                'provider',
                'oldTransmitNumber',
                'oldProvider',
                'oldConnectionType',
                'oldIpNumber',
                'changeIdentifierType',
                'operatorWasChanged'
            ];

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function(result){
                            $scope.processInstanceId = result.data.processInstanceId;
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.aftersalesInfo = {};
                $scope.aftersalesInfo.files = [];
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if (el === 'resolutions') {
                        if (camForm.variableManager.variables[el].value) {
                            $scope.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                            $q.all($scope.resolutions.map(function (resolution) {
                                if (resolution.assigneeName === undefined) {
                                    return $http.get("/camunda/api/engine/engine/default/user/" + resolution.assignee + "/profile");
                                } else {
                                    return {data:{}};
                                }
                            })).then(function (profiles) {
                                profiles.forEach(function (e, index) {
                                    if ( $scope.resolutions[index].assigneeName === undefined) {
                                        $scope.resolutions[index].assigneeName = (e.data.firstName ? e.data.firstName : "") + " " + (e.data.lastName ? e.data.lastName : "");
                                    }
                                });
                            });
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId=" + resolution.processInstanceId + "&taskId=" + resolution.taskId);
                            })).then(function (tasks) {
                                tasks.forEach(function (e, index) {
                                    if (e.data.length > 0) {
                                        $scope.resolutions[index].taskName = e.data[0].name;
                                        try {
                                            $scope.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                            $scope.resolutions[index].assignDate = new Date(e.data[0].startTime);
                                        } catch (e) {
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/identity-link-log?type=assignee&taskId=" + resolution.taskId + "&operationType=add&sortBy=time&sortOrder=desc");
                            })).then(function (logs) {
                                logs.forEach(function (e, index) {
                                    if(e.data.length > 0){
                                        try {
                                            $scope.resolutions[index].claimDate = new Date(e.data[0].time);
                                        } catch(e){
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                        } else {
                            camForm.variableManager.destroyVariable('resolutions');
                            camForm.variableManager.createVariable({
                                name: 'resolutions',
                                type: 'Json',
                                value: ''
                            });
                        }
                    } else if (el === 'applicationScanCopyFileName' || el === 'contractScanCopyFileName') {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.aftersalesInfo.files.push(camForm.variableManager.variables[el].value);
                    } else {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.aftersalesInfo[el] = camForm.variableManager.variables[el].value;
                    }
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });

                $scope.aftersalesInfo.showTarif = true;

                camForm.variableManager.createVariable({
                    name: 'checkOtherOperatorsChangeShortNumberTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'checkOtherOperatorsChangeShortNumberTaskComment',
                    type: 'String',
                    value: ''
                });

                $scope.checkOtherOperatorsChangeShortNumberTaskResult = '';
            });

            camForm.on('submit', function () {
                $scope.checkOtherOperatorsChangeShortNumberTaskResult = 'Completed';
                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }
                camForm.variableManager.variableValue('checkOtherOperatorsChangeShortNumberTaskResult', $scope.checkOtherOperatorsChangeShortNumberTaskResult);
                camForm.variableManager.variableValue('checkOtherOperatorsChangeShortNumberTaskComment', $scope.checkOtherOperatorsChangeShortNumberTaskComment);
                $scope.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, assigneeName: $rootScope.authentication.assigneeName, resolution: $scope.checkOtherOperatorsChangeShortNumberTaskResult, comment: $scope.checkOtherOperatorsChangeShortNumberTaskComment, taskId: camForm.taskId});
                camForm.variableManager.variableValue('resolutions', $scope.resolutions);
            });
        }]);

    </script>
    <info-aftersales aftersales-info="aftersalesInfo"></info-aftersales>
    <div class="form-group" ng-repeat="id in identifiers">
        <label class="col-sm-12 control-label"/>Идентификатор - {{id.title}}
        <div class="col-sm-12" style="border-left: solid; border-left-width: 1px; margin-left: 2vh">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="col-sm-4">Оператор</th>
                    <th scope="col" class="col-sm-4">Дата изменения короткого номера</th>
                    <th scope="col" class="col-sm-4">Статус</th>
                </tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="o in id.operators" ng-if="o.isAvailable && o.changed">-->
                    <tr ng-repeat="o in id.operators" ng-if="((o.changed || o.connected) && o.isAvailable && o.changeIdentifierType && o.id!='kcell') || (o.disconnected && o.wasAvailable  && !o.isAvailable && o.changeIdentifierType && o.id!='kcell')">
                        <td scope="row" class="col-sm-4">{{o.name}}</td>
                        <td scope="row" class="col-sm-4">{{o.addedToNetworkDate | date: 'dd.MM.yyyy'}}</td>
                        <!--td scope="row">{{o.addedToNetwork?'Изменен':'Без изменений'}}</td-->
                        <td scope="row" class="col-sm-4">{{o.connected ? 'Добавлен' : o.disconnected ? 'Отключен' : o.changed ? 'Изменен' : 'Без изменений'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Комментарии</label>
            <div class="col-sm-9">
                <textarea class="form-control" ng-model="checkOtherOperatorsChangeShortNumberTaskComment" name="checkOtherOperatorsChangeShortNumberTaskComment" placeholder="Comments..." maxlength="500" rows="4" style="resize:none"></textarea>
            </div>
        </div>
    </form>
