<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                'identifiers',
                'identifierType',
                'abonentTarif',
                'description',
                'officialClientCompanyName',
                'clientCompanyLatName',
                'startDate',
                'contractNumber',
                'connectionType',
                'previouslyBought',
                'clientBIN',
                'responsibleB2BDelivery',
                'responsibleB2BSales',
                'relatedProcessInstanceId',
                'smsServiceType',
                'MSGGWaccount',
                'smsServiceLogin',
                'ipNumber',
                'applicationScanCopyFileName',
                'contractScanCopyFileName',
                'techSpecNumber',
                'techSpecFIO',
                'techSpecEmail',
                'tarifPlane',
                'billing',
                'provider',
                'operatorType'
            ];

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function(result){
                            $scope.processInstanceId = result.data.processInstanceId;
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.aftersalesInfo = {};
                $scope.aftersalesInfo.files = [];
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if (el === 'resolutions') {
                        if (camForm.variableManager.variables[el].value) {
                            $scope.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                            $q.all($scope.resolutions.map(function (resolution) {
                                if (resolution.assigneeName === undefined) {
                                    return $http.get("/camunda/api/engine/engine/default/user/" + resolution.assignee + "/profile");
                                } else {
                                    return {data:{}};
                                }
                            })).then(function (profiles) {
                                profiles.forEach(function (e, index) {
                                    if ( $scope.resolutions[index].assigneeName === undefined) {
                                        $scope.resolutions[index].assigneeName = (e.data.firstName ? e.data.firstName : "") + " " + (e.data.lastName ? e.data.lastName : "");
                                    }
                                });
                            });
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId=" + resolution.processInstanceId + "&taskId=" + resolution.taskId);
                            })).then(function (tasks) {
                                tasks.forEach(function (e, index) {
                                    if (e.data.length > 0) {
                                        $scope.resolutions[index].taskName = e.data[0].name;
                                        try {
                                            $scope.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                        } catch (e) {
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                        } else {
                            camForm.variableManager.destroyVariable('resolutions');
                            camForm.variableManager.createVariable({
                                name: 'resolutions',
                                type: 'Json',
                                value: ''
                            });
                        }
                    } else if (el === 'applicationScanCopyFileName' || el === 'contractScanCopyFileName') {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.aftersalesInfo.files.push(camForm.variableManager.variables[el].value);
                    } else {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.aftersalesInfo[el] = camForm.variableManager.variables[el].value;
                    }
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });

                $scope.aftersalesInfo.showTarif = true;

                camForm.variableManager.createVariable({
                    name: 'confirmOtherOperatorsDeletionShortNumberTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'confirmOtherOperatorsDeletionShortNumberTaskComment',
                    type: 'String',
                    value: ''
                });

            });

            camForm.on('submit', function () {
                $scope.confirmOtherOperatorsDeletionShortNumberTaskResult = 'Completed';
                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }
                camForm.variableManager.variableValue('confirmOtherOperatorsDeletionShortNumberTaskResult', $scope.confirmOtherOperatorsDeletionShortNumberTaskResult);
                camForm.variableManager.variableValue('confirmOtherOperatorsDeletionShortNumberTaskComment', $scope.confirmOtherOperatorsDeletionShortNumberTaskComment);

                camForm.variableManager.variableValue('identifiers', $scope.identifiers);

                $scope.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, assigneeName: $rootScope.authentication.assigneeName, resolution: $scope.confirmOtherOperatorsDeletionShortNumberTaskResult, comment: $scope.confirmOtherOperatorsDeletionShortNumberTaskComment, taskId: camForm.taskId});
                camForm.variableManager.variableValue('resolutions', $scope.resolutions);

            });

            $scope.dateFieldOpened = [];
            $scope.open = function open(identifier, operator) {
                console.log('open', identifier.title, operator.deleted, operator.deletedDate, operator.dateFieldOpened);
                operator.dateFieldOpened = true;
            };
            $scope.deleteOp = function(identifier, operator) {
                console.log('check', identifier.title, operator.deleted, operator.deletedDate, operator.dateFieldOpened);

                if(!operator.deleted){
                    delete operator.deletedDate;
                }

            };
            $scope.setNetworkDate = function(identifier, operator){
                console.log('select', operator.deletedDate);
                if(!operator.deletedDate){
                    //operator.title = operator.oldTitle;
                    delete operator.deletedDate;
                }
            };
        }]);

    </script>
    <info-aftersales aftersales-info="aftersalesInfo"></info-aftersales>
    <div class="form-group" ng-repeat="id in identifiers">
        <label class="col-sm-12 control-label"/>Идентификатор - {{id.title}}
        <div class="col-sm-12" style="border-left: solid; border-left-width: 1px; margin-left: 2vh">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Оператор</th>
                    <th scope="col">Дата отключения короткого номера</th>
                    <th scope="col">Отключить</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="o in id.operators" ng-if="o.disconnected">
                    <th scope="row" style="width: 40%">{{o.name}}</th>
                    <td style="width: 40%">
                        <div class="input-group">
                            <input type="text" ng-model="o.deletedDate" name="{{'deletedDate' + id.title + o.id}}" ng-disabled="!o.deleted" ng-required="o.deleted" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="o.dateFieldOpened" id="{{'deletedDate' + id.title + o.id}}" min-date="datepickerOptions.minDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="!o.deleted" ng-click="open(id, o)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <label class="error" ng-show="(kcell_form['deletedDate' + id.title + o.id].$error.required || (o.deleted && !o.deletedDate)) && view.submitted">Required field</label>
                    </td>
                    <td style="width: 20%">
                        <input type="checkbox" ng-model="o.deleted" ng-change="deleteOp(id, o)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Комментарии</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-model="confirmOtherOperatorsDeletionShortNumberTaskComment" name="confirmOtherOperatorsDeletionShortNumberTaskComment" ng-required="true" placeholder="Comments..." maxlength="500" rows="4" style="resize:none"></textarea>
            <label class="error" ng-show="kcell_form.confirmOtherOperatorsDeletionShortNumberTaskComment.$error.required && view.submitted">Required field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
