<form role="form" class="form-horizontal" name="kcell_form" novalidate>
<style>
    .well {
        color: #333;
    }
</style>
<script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
            var variables = [
                {
                    name: 'resolutions',
                    type: 'Json',
                    submit: true,
                    store: true,
                    value: []
                }
            ];

            camForm.on('form-loaded', function () {

                camForm.variableManager.createVariable({
                  name: 'confirmedStatus1',
                  type: 'String',
                  value: ''
                });
                camForm.variableManager.createVariable({
                  name: 'confirmedStatus2',
                  type: 'String',
                  value: ''
                });
                camForm.variableManager.createVariable({
                  name: 'confirmedStatus3',
                  type: 'String',
                  value: ''
                });
                camForm.variableManager.createVariable({
                  name: 'confirmedStatus4',
                  type: 'String',
                  value: ''
                });
                camForm.variableManager.createVariable({
                  name: 'confirmedStatus5',
                  type: 'String',
                  value: ''
                });
                camForm.variableManager.createVariable({
                  name: 'confirmedStatus6',
                  type: 'String',
                  value: ''
                });
                camForm.variableManager.createVariable({
                  name: 'confirmedStatus7',
                  type: 'String',
                  value: ''
                });

                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                        $scope.taskName = result.data.name;
                    },
                    function (error) {
                        console.log(error.data);
                    }
                );
                camForm.variableManager.fetchVariable('attachments');
                camForm.variableManager.fetchVariable('data');
                camForm.variableManager.fetchVariable('approvalList');
                camForm.variableManager.fetchVariable('launchTaskResult');
            });

            camForm.on('variables-fetched', function () {
                camForm.variableManager.createVariable({
                    name: 'fillTestProtTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'fillTestProtTaskComment',
                    type: 'String',
                    value: ''
                });

                $scope.attachments = camForm.variableManager.variableValue('attachments');
                $scope.launchTaskResult = camForm.variableManager.variableValue('launchTaskResult');
                $scope.approvalList = camForm.variableManager.variableValue('approvalList');
                $scope.data = camForm.variableManager.variableValue('data');
                if (!$scope.attachments) $scope.attachments = [];
                if (!$scope.launchTaskResult) $scope.launchTaskResult = [];
                if (!$scope.approvalList) $scope.approvalList = [];
                if (!$scope.data) $scope.data = [];

            });

            camForm.on('submit', function (event) {
                //event.submitPrevented = true;
                var submitDate = new Date ();


                camForm.variableManager.createVariable({
                    name: 'dynamicUser',
                    type: 'String',
                    value: $scope.userID7,
                    store: true
                  });

                camForm.variableManager.createVariable({
                    name: 'dSupervisor',
                    type: 'String',
                    value: $scope.userID5,
                    store: true
                  });
                camForm.variableManager.createVariable({
                    name: 'sSupervisor',
                    type: 'String',
                    value: $scope.userID4,
                    store: true
                  });
                camForm.variableManager.createVariable({
                    name: 'sOwner',
                    type: 'String',
                    value: $scope.userID1,
                    store: true
                  });
                camForm.variableManager.createVariable({
                    name: 'dOwner',
                    type: 'String',
                    value: $scope.userID2,
                    store: true
                  });
                camForm.variableManager.createVariable({
                    name: 'rManager',
                    type: 'String',
                    value: $scope.userID3,
                    store: true
                  });
                camForm.variableManager.createVariable({
                    name: 'rManSupervisor',
                    type: 'String',
                    value: $scope.userID6,
                    store: true
                  });


                camForm.variableManager.destroyVariable('attachments');
                camForm.variableManager.createVariable({
                  name: 'attachments',
                  type: 'json',
                  value: $scope.attachments,
                  store: true
                });
                camForm.variableManager.destroyVariable('data');
                camForm.variableManager.createVariable({
                  name: 'data',
                  type: 'json',
                  value: $scope.data,
                  store: true
                });
                camForm.variableManager.destroyVariable('approvalList');
                camForm.variableManager.createVariable({
                  name: 'approvalList',
                  type: 'json',
                  value: $scope.approvalList,
                  store: true
                });
                camForm.variableManager.destroyVariable('launchTaskResult');
                camForm.variableManager.createVariable({
                  name: 'launchTaskResult',
                  type: 'String',
                  value: $scope.launchTaskResult,
                  store: true
                });


                if ($scope.solutionOwnerStatus) {camForm.variableManager.variableValue('confirmedStatus1', 'solutionOwnerStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus1')
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus1',
                                type: 'String',
                                value: ''
                            });}
                if ($scope.demandOwnerStatus) {camForm.variableManager.variableValue('confirmedStatus2', 'demandOwnerStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus2');
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus2',
                                type: 'String',
                                value: ''
                            });}
                if ($scope.requirementsManagerStatus) {camForm.variableManager.variableValue('confirmedStatus3', 'requirementsManagerStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus3');
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus3',
                                type: 'String',
                                value: ''
                            });}
                if ($scope.solutionSupervisorStatus) {camForm.variableManager.variableValue('confirmedStatus4', 'solutionSupervisorStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus4');
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus4',
                                type: 'String',
                                value: ''
                            });}
                if ($scope.demandSupervisorStatus) {camForm.variableManager.variableValue('confirmedStatus5', 'demandSupervisorStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus5');
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus5',
                                type: 'String',
                                value: ''
                            });}
                if ($scope.reqManSupervisorStatus) {camForm.variableManager.variableValue('confirmedStatus6', 'reqManSupervisorStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus6');
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus6',
                                type: 'String',
                                value: ''
                            });}
                if ($scope.additionalRoleStatus) {camForm.variableManager.variableValue('confirmedStatus7', 'additionalRoleStatus');}
                else {
                camForm.variableManager.destroyVariable('confirmedStatus7');
                camForm.variableManager.createVariable({
                                name: 'confirmedStatus7',
                                type: 'String',
                                value: ''
                            });}

                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }

                camForm.variableManager.variableValue('fillTestProtTaskComment', $scope.fillTestProtTaskComment);
                camForm.variableManager.variableValue('fillTestProtTaskResult', $scope.fillTestProtTaskResult);
                camForm.variableManager.variableValue('launchTaskResult', $scope.launchTaskResult);
                $scope.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, resolution: $scope.fillTestProtTaskResult, comment: $scope.fillTestProtTaskComment, taskId: camForm.taskId, taskEndDate: submitDate, taskName: $scope.taskName});
                camForm.variableManager.variableValue('resolutions', $scope.resolutions);
                console.log($scope.resolutions);
                console.log($scope.launchTaskResult);
            });

            $scope.getUser1 = function(val) {
                $scope.userID1 = '';
                $scope.userEmail1 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user1Selected = function($item){
            $scope.userID1 = $item.id;
            $scope.userName1 = $item.name;
            $scope.userEmail1 = $item.email;
      };

      $scope.getUser2 = function(val) {
                $scope.userID2 = '';
                $scope.userEmail2 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user2Selected = function($item){
            $scope.userID2 = $item.id;
            $scope.userName2 = $item.name;
            $scope.userEmail2 = $item.email;
      };
      $scope.getUser3 = function(val) {
                $scope.userID3 = '';
                $scope.userEmail3 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user3Selected = function($item){
            $scope.userID3 = $item.id;
            $scope.userName3 = $item.name;
            $scope.userEmail3 = $item.email;
      };
      $scope.getUser4 = function(val) {
                $scope.userID4 = '';
                $scope.userEmail4 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user4Selected = function($item){
            $scope.userID4 = $item.id;
            $scope.userName4 = $item.name;
            $scope.userEmail4 = $item.email;
      };

      $scope.getUser5 = function(val) {
                $scope.userID5 = '';
                $scope.userEmail5 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user5Selected = function($item){
            $scope.userID5 = $item.id;
            $scope.userName5 = $item.name;
            $scope.userEmail5 = $item.email;
      };
      $scope.getUser6 = function(val) {
                $scope.userID6 = '';
                $scope.userEmail6 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user6Selected = function($item){
            $scope.userID6 = $item.id;
            $scope.userName6 = $item.name;
            $scope.userEmail6 = $item.email;
      };

      $scope.getUser7 = function(val) {
                $scope.userID7 = '';
                $scope.userEmail7 = '';
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.user7Selected = function($item){
            $scope.userID7 = $item.id;
            $scope.userName7 = $item.name;
            $scope.userEmail7 = $item.email;
      };
            var assigneeName = $rootScope.authentication.name;
            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $scope.downloadFile = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.path, transformResponse: [] }).
                success(function(data, status, headers, config) {
                  document.getElementById('fileDownloadIframe').src = data;
                }).
                error (function(data, status, headers, config) {
                  console.log(data);
                });
            }

            $scope.clearFile = function(fileIndex) {
                $scope.attachments.splice(fileIndex, 1);
            }

            $scope.fileSelected = function(el ){
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0]);
                    });
                })
            };

            function uploadFileToMinio(file) {
                var fileToUpload = {
                    name: file.name,
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name,
                    created: new Date(),
                    createdBy: assigneeName
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.path, transformResponse: [] }).success(function(data, status, headers, config) {
                    $http.put(data, file, {headers: {'Content-Type': undefined}}).then(
                        function () {
                            $scope.attachments.push(fileToUpload);
                            angular.element(document.querySelector('#attachments')).val(null);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                    );
                }).error (function(data, status, headers, config) {
                    console.log(data);
                });
            }

            $scope.printDiv = function() {
                var printContents = window.print();
                var popupWin = window.open('', '_blank', 'width=3100,height=3100');
            }

        }]);
    </script>
    <div class="form-group">
        <label class="col-sm-2 control-label"> Business Key:</label>
        <div class="col-sm-2">
            <input rows="1" class="form-control" cam-variable-name="businessKeyUAT" cam-variable-type="String" disabled>
        </div>
        <label class="col-sm-2 control-label"> Demand Name: </label>
        <div class="col-sm-2">
            <input rows="1" class="form-control" name="demandName" ng-model="demandName" cam-variable-name="demandName" cam-variable-type="String" required>
            <label class="error" ng-show="kcell_form.demandName.$error.required && ( kcell_form.demandName.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> Activity:</label>
        <div class="col-sm-2">
            <label rows="1" class="form-control" id="demandActivity" disabled> Fill Test Protocol</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label" > General Product/Service description</label>
        <div class="col-sm-8">
            <textarea type="text" id="generalProductDesc" placeholder="Text" style="margin: 20px 0; width: 550px; height: 90px;" cam-variable-name="generalProductDesc" cam-variable-type="String"></textarea>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-12 control-label" id="testCases" name="testCases">Test cases</label>
    </div>
        <div class="col-sm-6" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 10px 0">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th># Test case</th>
                        <th># Use case</th>
                        <th>Result</th>
                        <th>
                            <a href="#" ng-click="data.push({testCase:null, useCase:null, result:null})" style="font-size: 25px;">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </a>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in data track by $index" align="middle">
                        <td>
                            <input class="form-control" type="text" class="form-control" ng-model="r.testCase" cam-variable-name="r.testCase" cam-variable-type="String">
                            <span class="has-error" ng-if="(!r.testCase || r.testCase.length == 0) && view.submitted">Required field</span>
                        </td>
                        <td>
                            <input class="form-control" type="text" class="form-control" ng-model="r.useCase" cam-variable-name="r.useCase" cam-variable-type="String">
                            <span class="has-error" ng-if="(!r.useCase || r.useCase.length == 0) && view.submitted">Required field</span>
                        </td>
                        <td>
                            <select class="form-control" ng-model="r.result">
                                <option value="Успешен">Успешен</option>
                                <option value="Не успешен">Не успешен</option>
                                <span class="has-error" ng-if="(!r.result || r.result.length == 0) && view.submitted">Required field</span>
                            </select>
                        </td>
                        <td>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-default" ng-click="data.splice($index, 1)">Delete</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <div class="form-group">
        <label class="col-sm-12 control-label">Resolution</label>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" ng-model="launchTaskResult" name="launchTaskResult" value="ready" required> Ready to launch
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="launchTaskResult" name="launchTaskResult" value="riskReady" required> Ready to launch with risks
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="launchTaskResult" name="launchTaskResult" value="notReady" required> NOT Ready to launch
            </label>
            <label class="error" ng-show="kcell_form.demandFillFormTaskResult.$error.required && ( kcell_form.demandFillFormTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label" > Risks/Limitation</label>
        <div class="col-sm-6">
            <textarea style="margin: 20px 0; width: 550px; height: 90px;" type="text" placeholder="Text" name="risksLimits" cam-variable-name="risksLimits" cam-variable-type="String" ng-required="launchTaskResult == 'riskReady'"></textarea>
            <label class="error" ng-show="kcell_form.risksLimits.$error.required && ( kcell_form.risksLimits.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label" id="reqApproval" name="reqApproval">Request Approval</label>
    </div>
        <div class="col-sm-6" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>Role</th>
                        <th>Responsible</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="solutionOwnerStatus" id="solutionOwnerStatus" name="requestStatus" cam-variable-name="solutionOwnerStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <label class="form-control" type="text" class="form-control" ng-model="solutionOwner" disabled> Solution Owner</label>
                        </td>
                        <td>
                            <input type="text" ng-model="userName1" name="userName1"  typeahead="name as users.name for users in getUser1($viewValue) | filter:$viewValue" typeahead-on-select="user1Selected($item,$model,$label)" class="form-control" autocomplete="on">
                            <!--<span class="has-error" ng-if="kcell_form.userName1.$error.required && (kcell_form.userName1.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="demandOwnerStatus" id="demandOwnerStatus" name="requestStatus" cam-variable-name="demandOwnerStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <label class="form-control" type="text" class="form-control" ng-model="demandOwner" disabled> DemandOwner</label>
                        </td>
                        <td>
                            <input type="text" ng-model="userName2" name="userName2" typeahead="name as users.name for users in getUser2($viewValue) | filter:$viewValue" typeahead-on-select="user2Selected($item,$model,$label)" class="form-control" autocomplete="on" >
                            <!--<span class="has-error" ng-if="kcell_form.userName2.$error.required && (kcell_form.userName2.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="requirementsManagerStatus" id="requirementsManagerStatus" name="requestStatus" cam-variable-name="requirementsManagerStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <label class="form-control" type="text" class="form-control" ng-model="requirementsManager" disabled> Requirements Manager </label>
                        </td>
                        <td>
                            <input type="text" ng-model="userName3" name="userName3" typeahead="name as users.name for users in getUser3($viewValue) | filter:$viewValue" typeahead-on-select="user3Selected($item,$model,$label)" class="form-control" autocomplete="on">
                            <!--<span class="has-error" ng-if="kcell_form.userName3.$error.required && (kcell_form.userName3.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="solutionSupervisorStatus" id="solutionSupervisorStatus" name="requestStatus" cam-variable-name="solutionSupervisorStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <label class="form-control" type="text" class="form-control" ng-model="solutionSupervisor" disabled> Solution Supervisor </label>
                        </td>
                        <td>
                            <input type="text" ng-model="userName4" name="userName4" typeahead="name as users.name for users in getUser4($viewValue) | filter:$viewValue" typeahead-on-select="user4Selected($item,$model,$label)" class="form-control" autocomplete="on">
                            <!--<span class="has-error" ng-if="kcell_form.userName4.$error.required && (kcell_form.userName4.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="demandSupervisorStatus" id="demandSupervisorStatus" name="requestStatus" cam-variable-name="demandSupervisorStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <label class="form-control" type="text" class="form-control" ng-model="demandSupervisor" disabled> Demand Supervisor </label>
                        </td>
                        <td>
                            <input type="text" ng-model="userName5" name="userName5" typeahead="name as users.name for users in getUser5($viewValue) | filter:$viewValue" typeahead-on-select="user5Selected($item,$model,$label)" class="form-control" autocomplete="on">
                            <!--<span class="has-error" ng-if="kcell_form.userName5.$error.required && (kcell_form.userName5.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="reqManSupervisorStatus" id="reqManSupervisorStatus" name="requestStatus" cam-variable-name="reqManSupervisorStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <label class="form-control" type="text" class="form-control" ng-model="reqManSupervisor" disabled> Requirements Manager Supervisor</label>
                        </td>
                        <td>
                            <input type="text" ng-model="userName6" name="userName6" typeahead="name as users.name for users in getUser6($viewValue) | filter:$viewValue" typeahead-on-select="user6Selected($item,$model,$label)" class="form-control" autocomplete="on">
                            <!--<span class="has-error" ng-if="kcell_form.userName6.$error.required && (kcell_form.userName6.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="true" ng-model="additionalRoleStatus" id="additionalRoleStatus" name="requestStatus" cam-variable-name="additionalRoleStatus" cam-variable-type="Boolean">
                        </td>
                        <td>
                            <input class="form-control" type="text" class="form-control" ng-model="additRole" cam-variable-name="additRole" cam-variable-type="String">
                        </td>
                        <td>
                            <input type="text" ng-model="userName7" name="userName7" typeahead="name as users.name for users in getUser7($viewValue) | filter:$viewValue" typeahead-on-select="user7Selected($item,$model,$label)" class="form-control" autocomplete="on">
                            <!--<span class="has-error" ng-if="kcell_form.userName7.$error.required && (kcell_form.userName7.$touched || view.submitted)">Required field</span>-->
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    <div class="form-group">
        <label class="col-sm-12 control-label" id="approvalList" name="approvalList">Approval list</label>
    </div>
    <div class="col-sm-10" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
        <div class="form-group">
            <table class="table">
                <thead>
                <tr>
                    <th>Role</th>
                    <th>Responsible</th>
                    <th>Date</th>
                    <th>Result</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in approvalList">
                    <td>{{d.role}}</td>
                    <td>{{d.responsible}}</td>
                    <td>{{d.date |  date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{d.result}}</td>
                    <td>{{d.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
        <iframe id="fileDownloadIframe" style="display:none;"></iframe>
        <div class="form-group">
            <label class="col-sm-4 control-label">Attachments</label>
            <div class="col-sm-8">
                <input type="file" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)"/>
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Date</th>
                            <th>Responsible</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in attachments track by $index">
                            <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
                            <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
                            <td>{{file.createdBy}}</td>
                            <td><a ng-click="clearFile($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Resolution</label>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" ng-model="fillTestProtTaskResult" name="fillTestProtTaskResult" value="approved" required> Approved
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="fillTestProtTaskResult" name="fillTestProtTaskResult" value="requested" required> Request approval
            </label>
            <label class="error" ng-show="kcell_form.fillTestProtTaskResult.$error.required && ( kcell_form.fillTestProtTaskResult.$touched || view.submitted)">Required field</label>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default" ng-click="printDiv()" style="padding: 6px 28px">Save as PDF</button>
        </div>
    </div>

    <br>

    <div class="form-group">
        <label class="col-sm-2 control-label">Comments</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" maxlength="500" ng-model="fillTestProtTaskComment" name="fillTestProtTaskComment" ng-required="demandFillFormTaskResult == 'rejected'"></textarea>
            <label class="error" ng-show="kcell_form.fillTestProtTaskComment.$error.required && ( kcell_form.fillTestProtTaskComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="fillTestProtCommentVisibility"
                       ng-model="fillTestProtCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="fillTestProtCommentVisibility"
                       ng-model="fillTestProtCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.fillTestProtCommentVisibility.$error.required && ( kcell_form.fillTestProtCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{resolution.resolution}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>

</form>
