<form role="form" class="form-horizontal" name="kcell_form" novalidate>
<style>
    .well {
        color: #333;
    }
</style>
<script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
            var uuid = new Date().getTime();
            
            $scope.approvalList = [
                {role: 'Solution Owner'},
                {role: 'Demand Owner'},
                {role: 'Requirements Manager'},
                {role: 'Solution Supervisor'},
                {role: 'Demand Supervisor'},
                {role: 'Requirements Manager Supervisor'},
                {role: ''},
                {role: ''},
                {role: ''},
                {role: ''}
            ];
            $scope.resolutions = [];
            $scope.attachments = [];
            $scope.data = [];

            camForm.on('submit', function (event) {
                camForm.variableManager.createVariable({
                  name: 'attachments',
                  type: 'json',
                  value: $scope.attachments,
                  store: true
                });
                camForm.variableManager.createVariable({
                  name: 'data',
                  type: 'json',
                  value: $scope.data,
                  store: true
                });
                camForm.variableManager.createVariable({
                  name: 'approvalList',
                  type: 'json',
                  value: $scope.approvalList,
                  store: true
                });
                camForm.variableManager.createVariable({
                  name: 'launchTaskResult',
                  type: 'String',
                  value: $scope.launchTaskResult,
                  store: true
                });

                var submitDate = new Date ();
                $scope.resolutions.push({assignee: $rootScope.authentication.name, resolution: 'Completed', comment: $scope.comment, taskEndDate: new Date(), taskName: 'Start Process'});
                camForm.variableManager.createVariable({
                  name: 'resolutions',
                  type: 'json',
                  value: $scope.resolutions,
                  store: true
                });

                var requestApproval = {};
                for (var i = 0; i < 10; i++) {
                    requestApproval['user' + i] = false;
                    if ($scope.approvalList[i].responsible) requestApproval['user' + i] = true;
                    camForm.variableManager.createVariable({
                      name: 'assignee' + i,
                      type: 'String',
                      value: ($scope.approvalList[i].responsible ? $scope.approvalList[i].responsible : ''),
                      store: true
                    });
                }
                camForm.variableManager.createVariable({
                  name: 'requestApproval',
                  type: 'json',
                  value: requestApproval,
                  store: true
                });
            });

            $scope.getUser = function(val, user) {
                user.responsible = null;
                var users = $http.get('/camunda/api/engine/engine/default/user?firstNameLike=%'+val+'%').then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: s.email.substring(s.email.lastIndexOf('/')+1),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });
                      //return usersByFirstName;
                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike=%'+val+'%').then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.userSelected = function($item, user){
                user.responsible = $item.id;
                user.responsibleName = $item.name;
            };

            var assigneeName = $rootScope.authentication.name;
            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $scope.downloadFile = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.path, transformResponse: [] }).
                success(function(data, status, headers, config) {
                  document.getElementById('fileDownloadIframe').src = data;
                }).
                error (function(data, status, headers, config) {
                  console.log(data);
                });
            }

            $scope.clearFile = function(fileIndex) {
                $scope.attachments.splice(fileIndex, 1);
            }

            $scope.fileSelected = function(el ){
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0]);
                    });
                })
            };

            function uploadFileToMinio(file) {
                var fileToUpload = {
                    name: file.name,
                    path: uuid + '/' + file.name,
                    created: new Date(),
                    createdBy: assigneeName
                };
                $http({method: 'GET', url: '/camunda/uploads/tmp/put/' + fileToUpload.path, transformResponse: [] }).success(function(data, status, headers, config) {
                    $http.put(data, file, {headers: {'Content-Type': undefined}}).then(
                        function () {
                            $scope.attachments.push(fileToUpload);
                            angular.element(document.querySelector('#attachments')).val(null);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                    );
                }).error (function(data, status, headers, config) {
                    console.log(data);
                });
            }

            $scope.$watch('data', function (data) {
                if (data && data.length) {
                    $scope.kcell_form.demandName.$setValidity('length', true);
                } else {
                    $scope.kcell_form.demandName.$setValidity('length', false);
                }
            }, true);

            $scope.$watch('attachments', function (attachments) {
                if (attachments && attachments.length > 1) {
                    $scope.kcell_form.demandName.$setValidity('attachments', true);
                } else {
                    $scope.kcell_form.demandName.$setValidity('attachments', false);
                }
            }, true);

        }]);
    </script>
    <div class="form-group">
        <label class="col-sm-2 control-label"> Demand Name: </label>
        <div class="col-sm-10">
            <input rows="1" class="form-control" name="demandName" ng-model="demandName" cam-variable-name="demandName" cam-variable-type="String" required>
            <label class="error" ng-show="kcell_form.demandName.$error.required && ( kcell_form.demandName.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-12" for="generalProductDesc"> General Product/Service description</label>
        <div class="col-sm-12" style="margin-top: 5px">
            <textarea type="text" class="form-control col-sm-12" id="generalProductDesc" rows="4" maxlength="500" placeholder="Text" style="resize: vertical;" name="generalProductDesc" cam-variable-name="generalProductDesc" cam-variable-type="String" required></textarea>
            <label class="error" ng-show="kcell_form.generalProductDesc.$error.required && ( kcell_form.generalProductDesc.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-11 control-label" style="margin-top: 3px;">Test cases</label>
        <a class="col-sm-1" href="#" ng-click="data.push({testCase:null, useCase:null, result:null})" style="font-size: 25px;">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr >
                    <th># Test case</th>
                    <th># Use case</th>
                    <th>Result</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in data track by $index">
                    <td>
                        <label type="text" ng-model="r.testCase" cam-variable-name="r.testCase" cam-variable-type="String">Test case {{$index+1}}</label>
                    </td>
                    <td>
                        <textarea class="form-control" rows="1" style="resize:vertical;" class="form-control" ng-model="r.useCase" cam-variable-name="r.useCase" cam-variable-type="String"></textarea>
                        <span class="has-error" ng-if="(!r.useCase || r.useCase.length == 0) && view.submitted">Required field</span>
                    </td>
                    <td>
                        <select class="form-control" ng-model="r.result" id="{{'TestCase' + $index}}" required name="{{'TestCase' + $index}}">
                            <option value="Успешен">Успешен</option>
                            <option value="Не успешен">Не успешен</option>
                            <!--<span class="has-error" ng-if="(!r.result || r.result.length == 0) && view.submitted">Required field</span>-->
                        </select>
                        <label class="error" ng-show="kcell_form.{{'TestCase' + $index}}.$error.required && ( kcell_form.{{'TestCase' + $index+1}}.$touched || view.submitted)">Required field</label>
                    </td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-default" ng-click="data.splice($index, 1)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <label class="error" ng-show="kcell_form.demandName.$error.length && view.submitted">Добавьте хотя бы 1 test case</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Resolution</label>
        <div class="col-sm-9">
            <label class="radio-inline">
                <input type="radio" ng-model="launchTaskResult" name="launchTaskResult" value="ready" required> Ready to launch
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="launchTaskResult" name="launchTaskResult" value="riskReady" required> Ready to launch with risks
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="launchTaskResult" name="launchTaskResult" value="notReady" required> NOT Ready to launch
            </label>
            <label class="error" ng-show="kcell_form.launchTaskResult.$error.required && ( kcell_form.launchTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label" > Risks/Limitation</label>
        <div class="col-sm-12" style="margin-top: 5px">
            <textarea style="resize:vertical;" class="form-control" placeholder="Text" name="risksLimits" rows="4" maxlength="500" style="margin-top: 10px ; resize: none;" cam-variable-name="risksLimits" cam-variable-type="String" ng-required="launchTaskResult === 'riskReady' || launchTaskResult === 'notReady'"></textarea>
            <label class="error" ng-show="kcell_form.risksLimits.$error.required && ( kcell_form.risksLimits.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label" id="reqApproval" name="reqApproval">Request Approval</label>
        <div class="col-sm-12" style="margin-top: 5px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-5">Role</th>
                    <th>Responsible</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in approvalList track by $index">
                    <td ng-if="$index < 6">
                        <label class="form-control" type="text" class="form-control" disabled> {{user.role}}</label>
                    </td>
                    <td ng-if="$index > 5">
                        <input class="form-control" type="text" class="form-control" name="{{'user' + $index}}" ng-model="user.role" ng-required="user.responsibleName && user.responsibleName.length">
                        <span class="has-error" ng-if="kcell_form['user' + $index].$error.required && (kcell_form['user' + $index].$touched || view.submitted)">Required field</span>
                    </td>
                    <td>
                        <input type="text" ng-model="user.responsibleName" name="{{'responsible' + $index}}" typeahead="name as users.name for users in getUser($viewValue, user) | filter:$viewValue" typeahead-on-select="userSelected($item, user)" class="form-control" autocomplete="on" ng-required="user.role && user.role.length">
                        <span class="has-error" ng-if="kcell_form['responsible' + $index].$error.required && (kcell_form['responsible' + $index].$touched || view.submitted)">Required field</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <iframe id="fileDownloadIframe" style="display:none;"></iframe>
        <label class="col-sm-12 control-label">Attachments</label>
        <div class="col-sm-12" style="margin-top: 5px">
            <input type="file" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)" ng-required="!attachments || attachments.length < 2"/>
            <label class="error" ng-show="kcell_form.demandName.$error.attachments && view.submitted">Нужны мин. 2 файла</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-3">Document category</th>
                    <th>File Name</th>
                    <th>Date</th>
                    <th>Responsible</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in attachments track by $index">
                    <td class="col-sm-3">
                        <select class="form-control" ng-model="file.category" required>
                            <option value="UATP">UATP</option>
                            <option value="PDP">PDP</option>
                        </select>
                        <span class="has-error" ng-if="(!file.category || !file.category.length) && view.submitted">Required field</span>
                    </td>
                    <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
                    <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{file.createdBy}}</td>
                    <td><a ng-click="clearFile($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <div class="form-group">
        <label class="control-label col-sm-12">Comments</label>
        <div class="col-sm-12" style="margin-top: 5px">
            <textarea style="resize:vertical;"  class="form-control" rows="4" maxlength="500" name="comment" ng-model="comment"></textarea>
            <label class="error" ng-show="kcell_form.comment.$error.required && ( kcell_form.comment.$touched || view.submitted)">Required field</label>
        </div>
    </div>

</form>
