<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$q', '$http', '$rootScope', 'Upload', '$timeout', function ($scope, $q, $http, $rootScope, Upload, $timeout) {
            var variables = [
                'sharingPlan',
                'resolutions',
                'ssidtssrFiles',
                'siteAccessGrantStatus',
                'sharingPlanStatus'
            ];

            var fileActions = [];
            console.log('klsdjfldf');

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function (result) {
                            $scope.processInstanceId = result.data.processInstanceId;
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if (el === 'resolutions') {
                        $scope.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                        $q.all($scope.resolutions.map(function (resolution) {
                            return $http.get("/camunda/api/engine/engine/default/user/" + resolution.assignee + "/profile");
                        })).then(function (profiles) {
                            profiles.forEach(function (e, index) {
                                $scope.resolutions[index].assigneeName = (e.data.firstName ? e.data.firstName : "") + " " + (e.data.lastName ? e.data.lastName : "");
                            });
                        });
                        $q.all($scope.resolutions.map(function (resolution) {
                            return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId=" + resolution.processInstanceId + "&taskId=" + resolution.taskId);
                        })).then(function (tasks) {
                            tasks.forEach(function (e, index) {
                                if (e.data.length > 0) {
                                    $scope.resolutions[index].taskName = e.data[0].name;
                                    try {
                                        $scope.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                    } catch (e) {
                                        console.log(e);
                                    }
                                }
                            });
                        });
                    } else if (el === 'sharingPlanStatus') {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.sharingPlan.status = camForm.variableManager.variables[el].value;
                    } else {
                        $scope[el] = camForm.variableManager.variables[el].value;
                    }
                });
                if ($scope.ssidtssrFiles) {
                    $scope.ssidtssrFiles.forEach(function (e) {
                        $http.get('/camunda/uploads/get/' + e.path).then(
                                function (result) {
                                    console.log(e);
                                    e.url = result.data;
                                },
                                function (error) {
                                    console.log(error);
                                }
                        );
                    });
                } else {
                    $scope.ssidtssrFiles = [];
                    camForm.variableManager.destroyVariable('ssidtssrFiles');
                    camForm.variableManager.createVariable({
                        name: 'ssidtssrFiles',
                        type: 'Json'
                    });
                }
                if ($scope.sharingPlan) {
                    $scope.sharingPlan.ssidtssrFiles = angular.copy($scope.ssidtssrFiles);
                    $scope.sharingPlan.currentTask = {id: camForm.taskId};
                }

                camForm.variableManager.createVariable({
                    name: 'prepareSSIDTSSRAndUploadPreparedFileResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'replanStatus',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'needSSIDForNegotiations',
                    type: 'String',
                    value: ''
                });
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('prepareSSIDTSSRAndUploadPreparedFileResult', $scope.prepareSSIDTSSRAndUploadPreparedFileResult);
                camForm.variableManager.variableValue('siteAccessGrantStatus', $scope.siteAccessGrantStatus);
                if ($scope.prepareSSIDTSSRAndUploadPreparedFileResult !== 'replan') {
                    camForm.variableManager.variableValue('replanStatus', 'notreplan');
                    camForm.variableManager.variableValue('needSSIDForNegotiations', 'true');
                } else {
                    camForm.variableManager.variableValue('replanStatus', 'replan');
                    camForm.variableManager.variableValue('needSSIDForNegotiations', 'false');
                    if ($scope.replanReason) {
                        camForm.variableManager.createVariable({
                            name: 'replanReason',
                            type: 'String',
                            value: $scope.replanReason
                        });
                    }
                }
                $scope.resolutions.push({
                    processInstanceId: $scope.processInstanceId,
                    assignee: $rootScope.authentication.name,
                    resolution: $scope.prepareSSIDTSSRAndUploadPreparedFileResult,
                    comment: $scope.prepareSSIDTSSRAndUploadPreparedFileComment,
                    taskId: camForm.taskId
                });
                if (fileActions.length > 0) {
                    $scope.resolutions.push({
                        processInstanceId: $scope.processInstanceId,
                        assignee: $rootScope.authentication.name,
                        resolution: 'Files.changes',
                        comment: fileActions.join(", "),
                        taskId: camForm.taskId
                    });
                }
                camForm.variableManager.variableValue('resolutions', $scope.resolutions);
                console.log($scope.ssidtssrFiles);
                var ssidtssrFiles = _.map($scope.ssidtssrFiles, function (e) {
                    return _.pick(e, ['name', 'path']);
                });
                console.log(ssidtssrFiles);
                camForm.variableManager.variableValue('ssidtssrFiles', ssidtssrFiles);
            });

            function uploadFileToMinio(file) {
                var fileToUpload = {
                    name: file.name,
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name
                };
                $http.get('/camunda/uploads/put/' + fileToUpload.path).then(
                        function (result) {
                            $http.put(result.data, file, {headers: {'Content-Type': undefined}}).then(
                                    function () {
                                        $http.get('/camunda/uploads/get/' + fileToUpload.path).then(
                                                function (result) {
                                                    fileToUpload.url = result.data;
                                                    fileToUpload.isNew = true;
                                                    fileToUpload.fileActionsIndex = fileActions.length;
                                                    $scope.ssidtssrFiles.push(fileToUpload);
                                                    fileActions.push('file added: ' + fileToUpload.name)
                                                },
                                                function (error) {
                                                    console.log(error.data);
                                                }
                                        );
                                    },
                                    function (error) {
                                        console.log(error.data);
                                    }
                            );
                        },
                        function (error) {
                            console.log(error);
                        }
                );
            }

            $scope.fileSelected = function (el) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0]);
                    });
                })
            };
            $scope.clearFile = function (index) {
                if (!$scope.ssidtssrFiles[index].isNew) {
                    fileActions.push('file deleted: ' + $scope.ssidtssrFiles[index].name)
                } else {
                    fileActions.splice($scope.ssidtssrFiles[index].fileActionsIndex, 1);
                }
                $scope.ssidtssrFiles.splice(index, 1);
            }
        }]);

    </script>
    <shared-site-plan plan-model="sharingPlan"></shared-site-plan>
    <div class="form-group">
        <label class="col-sm-12 control-label">Initial Site Access Grant Status for TSSR/SSID Prepartion: <b>{{siteAccessGrantStatus
            == "grant" ? "Granted" : "Not Grant"}}</b></label>
    </div>

    <div ng-repeat="ssidtssrFile in ssidtssrFiles" class="form-group">
        <div class="col-sm-12">
            <a href="{{ssidtssrFile.url}}" target="_blank">{{ssidtssrFile.name}}</a> | <a ng-click="clearFile($index)"><i
                class="glyphicon glyphicon-trash"></i></a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Upload SSDI/TSSR File # {{ssidtssrFiles.length + 1}}:</label>
        <div class="col-sm-8">
            <input type="file" ng-model="ssidtssrFile" name="ssidtssrFile" accept="*"
                   required-file="ssidtssrFiles.length == 0"
                   onchange="angular.element(this).scope().fileSelected(this)"/>
            <label class="has-error" ng-show="kcell_form.ssidtssrFile.$error.validFile">File is required</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">SSID/TSSR Preparation Status:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" ng-model="prepareSSIDTSSRAndUploadPreparedFileResult"
                       name="prepareSSIDTSSRAndUploadPreparedFileResult" value="projectCompleted" required> Project
                Completed
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="prepareSSIDTSSRAndUploadPreparedFileResult"
                       name="prepareSSIDTSSRAndUploadPreparedFileResult" value="replan" required>Need Replan
            </label>
            <label class="error"
                   ng-show="kcell_form.prepareSSIDTSSRAndUploadPreparedFileResult.$error.required && ( kcell_form.prepareSSIDTSSRAndUploadPreparedFileResult.$touched || view.submitted)">Required
                field</label>
        </div>
    </div>
    <div class="form-group" ng-show="prepareSSIDTSSRAndUploadPreparedFileResult === 'replan'">
        <label class="col-sm-4 control-label">Replan Reason:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" ng-model="replanReason" name="replanReason" value="replanPosition" ng-required="prepareSSIDTSSRAndUploadPreparedFileResult === 'replan'"> Replan Position
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="replanReason" name="replanReason" value="changeConfiguration" ng-required="prepareSSIDTSSRAndUploadPreparedFileResult === 'replan'"> Change Configuration
            </label>
            <label class="error" ng-show="kcell_form.replanReason.$error.required && ( kcell_form.replanReason.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" cam-variable-name="prepareSSIDTSSRAndUploadPreparedFileComment"
                      name="prepareSSIDTSSRAndUploadPreparedFileComment" cam-variable-type="String"
                      placeholder="Comments..." maxlength="500" rows="4"
                      ng-required="prepareSSIDTSSRAndUploadPreparedFileResult !== 'projectCompleted'"></textarea>
            <label class="error"
                   ng-show="kcell_form.prepareSSIDTSSRAndUploadPreparedFileComment.$error.required && ( kcell_form.prepareSSIDTSSRAndUploadPreparedFileComment.$touched || view.submitted)">Required
                field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
