<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <style>
        .background-yellow-accordion .panel-body {
            background-color: #ffffcc;
            border: 1px solid #b3b3b3;
            color: #333;
        }
    </style>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
            $scope.legalInfo = {};
            $scope.techSpecs = {connectionType:'SIP over internet', sip: {}};
            $scope.resolutions = [];
            $scope.callData = {};
            $scope.pbxData = {};

            $scope.processInstanceId = null;
            $scope.taskId = camForm.taskId;

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.processInstanceId = result.data.processInstanceId;
                    $http.get('/camunda/api/engine/engine/default/process-instance/' + $scope.processInstanceId).then(
                        function(result){
                            $scope.businessKey = result.data.businessKey;
                        },
                        function (error) {console.log(error.data);}
                    );
                },
                function (error) { console.log(error.data);}
            );

            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('legalInfo');
                camForm.variableManager.fetchVariable('techSpecs');
                camForm.variableManager.fetchVariable('resolutions');
                camForm.variableManager.fetchVariable('callData');
                camForm.variableManager.fetchVariable('rootForCMMBGW');
                camForm.variableManager.fetchVariable('pbxData');
                camForm.variableManager.fetchVariable('workType');
            });

            camForm.on('variables-fetched', function () {
                $scope.legalInfo = camForm.variableManager.variableValue('legalInfo');
                $scope.techSpecs = camForm.variableManager.variableValue('techSpecs');
                $scope.resolutions = camForm.variableManager.variableValue('resolutions');
                $scope.callData = camForm.variableManager.variableValue('callData');
                $scope.rootForCMMBGW = camForm.variableManager.variableValue('rootForCMMBGW');
                $scope.pbxData = camForm.variableManager.variableValue('pbxData');
                $scope.workType = camForm.variableManager.variableValue('workType');
                if (!$scope.legalInfo) $scope.legalInfo = {};
                if (!$scope.techSpecs) $scope.techSpecs = {connectionType:'SIP over internet', sip: {}};
                if (!$scope.callData) $scope.callData = {};
                if (!$scope.callData.date) $scope.callData.date = new Date();
                else $scope.callData.date = new Date($scope.callData.date);

                camForm.variableManager.createVariable({
                    name: 'billingCheckTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'billingCheckTaskComment',
                    type: 'String',
                    value: ''
                });
            });

            camForm.on('submit', function (event) {
                camForm.variableManager.variableValue('billingCheckTaskResult', $scope.resolution);
                camForm.variableManager.variableValue('billingCheckTaskComment', $scope.comment);
            });
        }]);
    </script>

    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Number request:</label>
        <div class="col-sm-9">{{businessKey}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Client:</label>
        <div class="col-sm-9">{{legalInfo.legalName}} {{legalInfo.BIN}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Priority:</label>
        <div class="col-sm-9">{{legalInfo.clientPriority}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Service:</label>
        <div class="col-sm-9">PBX</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Type of work:</label>
        <div class="col-sm-9"><div ng-repeat="wt in workType track by $index">{{wt}}</div></div>
    </div>

    <div class="col-sm-12"><hr /></div>

    <div class="form-group">
        <div class="col-sm-12 control-label">Test call data:</div>
        <div class="col-sm-12">
            <table class="table " style="background: #ffffcc; color: #333; border: 1px solid #b3b3b3">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>A number:</th>
                    <th>B number:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{callData.date | date: 'dd.MM.yyyy'}}</td>
                    <td>{{callData.time}}</td>
                    <td>{{callData.duration}}</td>
                    <td>{{callData.numberA}}</td>
                    <td>{{callData.numberB}}<span class="error" ng-show="kcell_form['call_numberB_' + $index].$error.required && ( kcell_form['call_numberB_' + $index].$touched || view.submitted)">Required field</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Root for CMM/BGW:</label>
        <div class="col-sm-9"><div class="disabled-element">{{rootForCMMBGW && rootForCMMBGW.length?rootForCMMBGW:'&nbsp;'}}</div></div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label">Result of test:</label>
        <div class="col-sm-12">
            <aftersales-rich-text data="callData.result" min-height="100" disabled="true" process-id="processInstanceId" task-id="taskId"></aftersales-rich-text>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label">Numbers PBX:</label>
        <div class="col-sm-12">
            <div class="disabled-element" ng-style="{'background-color': ((pbxData.techSpecs.fetched && pbxData.techSpecs.pbxNumbers !== techSpecs.pbxNumbers) ? 'orange' : null)}">{{techSpecs.pbxNumbers}}</div>
        </div>
    </div>

    <div class="col-sm-12"><hr /></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Resolution</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" ng-model="resolution" name="resolution" value="Check EDRP data" required> Check EDRP data
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="resolution" name="resolution" value="New test call" required> New test call
            </label>
            <label class="error" ng-show="kcell_form.resolution.$error.required && ( kcell_form.resolution.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Comment <span class="text-danger glyphicon-asterisk" ng-if="resolution == 'New test call'"></span></label>
        <div class="col-sm-10">
            <textarea elastic-textarea class="form-control" rows="4" name="comment" ng-model="comment" ng-required="resolution == 'New test call'"></textarea>
            <label class="error" ng-show="kcell_form.comment.$error.required && ( kcell_form.comment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
</form>
