<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$q', '$http', '$rootScope', function ($scope, $q, $http, $rootScope) {
            var variables = [
                'sharingPlan',
                'resolutions',
                'ssidtssrFiles',
                'sharingPlanStatus'
            ];

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                    },
                    function (error) {
                        console.log(error.data);
                    }
                );
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if (el === 'resolutions') {
                        if (camForm.variableManager.variables[el].value) {
                            $scope.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/user/" + resolution.assignee + "/profile");
                            })).then(function (profiles) {
                                profiles.forEach(function (e, index) {
                                    $scope.resolutions[index].assigneeName = (e.data.firstName ? e.data.firstName : "") + " " + (e.data.lastName ? e.data.lastName : "");
                                });
                            });
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId=" + resolution.processInstanceId + "&taskId=" + resolution.taskId);
                            })).then(function (tasks) {
                                tasks.forEach(function (e, index) {
                                    if (e.data.length > 0) {
                                        $scope.resolutions[index].taskName = e.data[0].name;
                                        try {
                                            $scope.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                        } catch (e) {
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                        } else {
                            camForm.variableManager.destroyVariable('resolutions');
                            camForm.variableManager.createVariable({
                                name: 'resolutions',
                                type: 'Json',
                                value: ''
                            });
                        }
                    } else if (el === 'sharingPlanStatus') {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.sharingPlan.status = camForm.variableManager.variables[el].value;
                    } else {
                        $scope[el] = camForm.variableManager.variables[el].value;
                    }
                });

                if($scope.sharingPlan){
                    $scope.sharingPlan.ssidtssrFiles = angular.copy($scope.ssidtssrFiles);
                    $scope.sharingPlan.currentTask = {id:camForm.taskId};
                }

                camForm.variableManager.createVariable({
                    name: 'approveByPowerGroupResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'replanStatus',
                    type: 'String',
                    value: ''
                });
            });

            camForm.on('submit', function () {
                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }
                camForm.variableManager.variableValue('approveByPowerGroupResult', $scope.approveByPowerGroupResult);
                if ($scope.approveByPowerGroupResult !== 'rejected') {
                    camForm.variableManager.variableValue('replanStatus', 'notreplan');
                } else {
                    camForm.variableManager.variableValue('replanStatus', 'replan');
                }
                $scope.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, resolution: $scope.approveByPowerGroupResult, comment: $scope.approveByPowerGroupComment, taskId: camForm.taskId});
                camForm.variableManager.variableValue('resolutions', $scope.resolutions);
            });
        }]);

    </script>
    <shared-site-plan plan-model="sharingPlan"></shared-site-plan>
    <div class="form-group">
        <label class="col-sm-4 control-label">Approval Status:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" ng-model="approveByPowerGroupResult" name="approveByPowerGroupResult" value="approved" required> Approve
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="approveByPowerGroupResult" name="approveByPowerGroupResult" value="rejected" required> Reject
            </label>
            <label class="error" ng-show="kcell_form.approveByPowerGroupResult.$error.required && ( kcell_form.approveByPowerGroupResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" cam-variable-name="approveByPowerGroupComment" name="approveByPowerGroupComment" cam-variable-type="String" placeholder="Comments..." maxlength="500" rows="4" ng-required="approveByPowerGroupResult !== 'approved'"></textarea>
            <label class="error" ng-show="kcell_form.approveByPowerGroupComment.$error.required && ( kcell_form.approveByPowerGroupComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
