<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <style>
        .background-yellow-accordion .panel-body {
            background-color: #ffffcc;
            border: 1px solid #b3b3b3;
            color: #333;
        }

        .content-visible-accordion .panel {
            overflow: visible;
        }
    </style>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', '$filter', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout, $filter) {
            var createDate = new Date();
            var processInstanceId = null;
            var assigneeName = $rootScope.authentication.name;
            var history = null;
            var taskKey = camForm.taskId;

            $scope.legalInfo = {date: new Date()};
            $scope.connectionInfo = {};
            $scope.landlordInfo = {};
            $scope.kaseInfo = {};
            $scope.officeInfo = {};
            $scope.officeLandlordInfo = {};
            $scope.responsiblePersonsInfo = {};
            $scope.extraConnectionInfo = {};
            $scope.extraLandlordInfo = {};
            $scope.billing = {};

            $scope.contractInfo = {};

            $scope.action = {};
            $scope.resolutions = [];
            $scope.attachments = [];
            $scope.isActiveConnectionPoint = false;

            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    var processInstanceId = result.data.processInstanceId;
                    $http.get('/camunda/api/engine/engine/default/process-instance/' + processInstanceId).then(
                        function(result){
                            $scope.businessKey = result.data.businessKey;
                        },
                        function (error) {console.log(error.data);}
                    );
                },
                function (error) { console.log(error.data);}
            );

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function (result) {
                    processInstanceId = result.data.processInstanceId;
                    taskKey = result.data.taskDefinitionKey;
                    history = historyVariablesManager(camForm, taskKey);
                    history.createVariables(true);
                    configureViews();
                },
                function (error) {
                    console.log(error.data);
                }
            );

            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('legalInfo');
                camForm.variableManager.fetchVariable('connectionInfo');
                camForm.variableManager.fetchVariable('landlordInfo');
                camForm.variableManager.fetchVariable('kaseInfo');
                camForm.variableManager.fetchVariable('officeInfo');
                camForm.variableManager.fetchVariable('officeLandlordInfo');
                camForm.variableManager.fetchVariable('responsiblePersonsInfo');
                camForm.variableManager.fetchVariable('extraConnectionInfo');
                camForm.variableManager.fetchVariable('extraLandlordInfo');

                camForm.variableManager.fetchVariable('contractInfo');
                camForm.variableManager.fetchVariable('action');
                camForm.variableManager.fetchVariable('isActiveConnectionPoint');
                camForm.variableManager.fetchVariable('attachments');

                // billing
                camForm.variableManager.fetchVariable('billing');

                camForm.variableManager.fetchVariable('numberRequest');
                camForm.variableManager.fetchVariable('resolutions');
            });

            camForm.on('variables-fetched', function () {
                $scope.legalInfo = camForm.variableManager.variableValue('legalInfo');
                $scope.connectionInfo = camForm.variableManager.variableValue('connectionInfo');
                $scope.landlordInfo = camForm.variableManager.variableValue('landlordInfo');
                $scope.kaseInfo = camForm.variableManager.variableValue('kaseInfo');
                $scope.officeInfo = camForm.variableManager.variableValue('officeInfo');
                $scope.officeLandlordInfo = camForm.variableManager.variableValue('officeLandlordInfo');
                $scope.responsiblePersonsInfo = camForm.variableManager.variableValue('responsiblePersonsInfo');
                $scope.extraConnectionInfo = camForm.variableManager.variableValue('extraConnectionInfo');
                $scope.extraLandlordInfo = camForm.variableManager.variableValue('extraLandlordInfo');

                $scope.contractInfo = camForm.variableManager.variableValue('contractInfo');
                $scope.contractInfo.contract_date = new Date($scope.contractInfo.contract_date);

                $scope.action = camForm.variableManager.variableValue('action');
                $scope.isActiveConnectionPoint = camForm.variableManager.variableValue('isActiveConnectionPoint');
                $scope.attachments = camForm.variableManager.variableValue('attachments');

                $scope.billing = camForm.variableManager.variableValue('billing');
                $scope.billing.serviceDate = new Date($scope.billing.serviceDate);

                $scope.numberRequest = camForm.variableManager.variableValue('numberRequest');
                $scope.resolutions = camForm.variableManager.variableValue('resolutions');

                camForm.variableManager.createVariable({
                    name: 'createNewClientTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'createNewClientTaskComment',
                    type: 'String',
                    value: ''
                });
            });

            camForm.on('submit', function (event) {
                camForm.variableManager.variableValue('createNewClientTaskResult', "Complete");
                camForm.variableManager.variableValue('createNewClientTaskComment', $scope.comment);
            });
        }]);
    </script>

    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Номер заявки: </label>
        <div class="col-sm-9 text-primary">{{numberRequest}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Клиент: </label>
        <div class="col-sm-9">{{legalInfo.comp_name}} {{legalInfo.BIN}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Тип услуги:</label>
        <div class="col-sm-9">{{legalInfo.type}}</div>
    </div>

    <div>
        <accordion>
            <accordion-group>
                <accordion-heading>
                    Данные клиента <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <table class="table">
                    <fixed-internet-legal-info form="kcell_form" view="view" data="legalInfo" disabled="true"></fixed-internet-legal-info>
                </table>
            </accordion-group>
        </accordion>

        <accordion>
            <accordion-group>
                <accordion-heading>
                    Адрес точки подключения <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <table class="table">
                    <fixed-internet-connection-info form="kcell_form" extra="false" view="view" data="connectionInfo" disabled="true"></fixed-internet-connection-info>
                </table>
            </accordion-group>
        </accordion>

        <accordion ng-if="connectionInfo.build == 'Нет'">
            <accordion-group>
                <accordion-heading>
                    Заполняется, если клиент не является собственником здания <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <fixed-internet-landlord-info form="kcell_form" view="view" data="landlordInfo" disabled="true" connection="connectionInfo"></fixed-internet-landlord-info>
            </accordion-group>
        </accordion>

        <accordion>
            <accordion-group>
                <accordion-heading>
                    Ответственные лица со стороны клиента, с контактами <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <table class="table">
                    <fixed-internet-responsible-persons-info form="kcell_form" view="view" data="responsiblePersonsInfo" disabled="true"></fixed-internet-responsible-persons-info>
                </table>
            </accordion-group>
        </accordion>

        <accordion>
            <accordion-group>
                <accordion-heading>
                    Заполняется KASE <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <table class="table">
                    <fixed-internet-kase-info form="kcell_form" view="view" data="kaseInfo" disabled="true"></fixed-internet-kase-info>
                </table>
            </accordion-group>
        </accordion>

        <accordion ng-if="legalInfo.type == 'VPN'">
            <accordion-group>
                <accordion-heading>
                    Адрес головного офиса <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <table class="table">
                    <fixed-internet-office-info form="kcell_form" view="view" data="officeInfo" disabled="true"></fixed-internet-office-info>
                </table>
            </accordion-group>
        </accordion>

        <accordion ng-if="legalInfo.type == 'VPN'">
            <accordion-group>
                <accordion-heading>
                    Заполняется, если клиент не является собственником здания <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <fixed-internet-landlord-info form="kcell_form" view="view" data="officeLandlordInfo" disabled="true" connection="officeInfo"></fixed-internet-landlord-info>
            </accordion-group>
        </accordion>

        <accordion ng-if="isActiveConnectionPoint">
            <accordion-group>
                <accordion-heading>
                    Адрес точки подключения <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <table class="table">
                    <fixed-internet-connection-info form="kcell_form" extra="true" view="view" data="extraConnectionInfo" disabled="true"></fixed-internet-connection-info>
                </table>
            </accordion-group>
        </accordion>

        <accordion ng-if="isActiveConnectionPoint">
            <accordion-group>
                <accordion-heading>
                    Заполняется, если клиент не является собственником здания <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>
                <fixed-internet-landlord-info form="kcell_form" view="view" data="extraLandlordInfo" disabled="true" connection="extraConnectionInfo"></fixed-internet-landlord-info>
            </accordion-group>
        </accordion>
    </div>

    <accordion >
        <accordion-group is-open="true">
            <accordion-heading>
                Информация по договору
            </accordion-heading>
            <div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Номер договора:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="1234" ng-model="contractInfo.contract" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group" style="display: flex; align-items: center;">
                        <label class="col-sm-4 control-label">Дата договора: <span class="text-danger glyphicon-asterisk"></span></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input ng-model="contractInfo.contract_date" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="registrDateFieldOpened"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="registrDateFieldOpened = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="has-error" ng-if="form.cityCompanyRegistrationName.$error.required && (form.cityCompanyRegistrationName.$touched || view.submitted)">Required field</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Ссылка на договор:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="contractInfo.contract_link" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Юридический адрес:</label>
                        <div class="col-sm-8">
                            <input type="text" placeholder="г.Алматы, Медеуский район" class="form-control" ng-model="contractInfo.yur_add" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Почтовый адрес:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="г.Алматы, Медеуский район" ng-model="contractInfo.post_add" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="madina@asiaretail.kz" ng-model="contractInfo.email" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ФИО контактного лица:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Касымбек Мадина" ng-model="contractInfo.fio_person" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Телефон контактного лица:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="7479454545" ng-model="contractInfo.phone_person" ng-disabled="true">
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">IBAN:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="contractInfo.IBAN" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Название банка:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="contractInfo.bank_name" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">SWIFT:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="contractInfo.SWIFT" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Банковские реквизиты (БИК):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="contractInfo.bik" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Телефоны компании:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="contractInfo.phone_comp" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Торговый представитель:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Zhazira Tazabek" ng-model="contractInfo.torg" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Сегмент:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="0" ng-model="contractInfo.segment" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Кол-во точек:</label>
                        <div class="col-sm-8">
                            <input type="number" min="0" placeholder="1" class="form-control" ng-model="contractInfo.kol_tk" ng-disabled="true">
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>

    <accordion >
        <accordion-group is-open="true">
            <accordion-heading>
                Заведение нового клиента
            </accordion-heading>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сумма АП за первый месяц с НДС: <span class="text-danger glyphicon-asterisk"></span></label>
                    <div class="col-sm-8">
                        <input type="number" min="0" class="form-control" name="firstMonthSum" ng-model="billing.firstMonthSum" ng-disabled="true">
                        <span class="has-error" ng-if="kcell_form.firstMonthSum.$error.required && (kcell_form.firstMonthSum.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Порядковый номер первого месяца: <span class="text-danger glyphicon-asterisk"></span></label>
                    <div class="col-sm-8">
                        <input type="number" min="0" class="form-control" name="firstMonthNum" ng-model="billing.firstMonthNum" ng-disabled="true">
                        <span class="has-error" ng-if="kcell_form.firstMonthNum.$error.required && (kcell_form.firstMonthNum.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сумма АП со второй месяц с НДС: <span class="text-danger glyphicon-asterisk"></span></label>
                    <div class="col-sm-8">
                        <input type="number" min="0" class="form-control" name="secondMonthSum" ng-model="billing.total_nds_month" ng-disabled="true">
                        <span class="has-error" ng-if="kcell_form.secondMonthSum.$error.required && (kcell_form.secondMonthSum.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сумма кредитного лимита: <span class="text-danger glyphicon-asterisk"></span></label>
                    <div class="col-sm-8">
                        <input type="number" min="0" class="form-control" name="creditSum" ng-model="billing.creditSum" ng-disabled="true">
                        <span class="has-error" ng-if="kcell_form.creditSum.$error.required && (kcell_form.creditSum.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>

    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Услуга предоставляется с: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <div class="input-group">
                <input ng-model="billing.serviceDate" name="service_date" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="serviceDateFieldOpened"/>
                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="serviceDateFieldOpened = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
            </div>
            <span class="has-error" ng-if="kcell_form.service_date.$error.required && (kcell_form.service_date.$touched || view.submitted)">Required field</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Комментарии </label>
        <div class="col-sm-10">
            <textarea elastic-textarea class="form-control" rows="4" name="comment" ng-model="comment"></textarea>
        </div>
    </div>

    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Assigned date</th>
                    <th>Claimed date</th>
                    <th>Resolution date</th>
                    <th>Resolution</th>
                    <th>Comment</th>
                    <th>Attachments</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions | orderBy:'-' track by $index">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{resolution.assignDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.claimDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.resolution}}</td>
                    <td>{{resolution.comment}}</td>
                    <td>
                        <p ng-repeat="file in resolution.attachments.added">{{file}}</p>
                        <p ng-repeat="file in resolution.attachments.removed" class="text-danger">{{file}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
