<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-4 control-label">Тип услуги: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <label class="radio-inline"><input type="radio" name="serviceType" value="Fixed Internet" ng-model="data.type" ng-required="!disabled" ng-disabled="disabled"> Fixed Internet</label>
            <label class="radio-inline"><input type="radio" name="serviceType" value="VPN" ng-model="data.type" ng-required="!disabled" ng-disabled="disabled"> VPN</label>
        </div>
        <span class="has-error" ng-if="form.serviceType.$error.required && (form.tariffExtra.$touched || view.submitted)">Required field</span>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">БИН: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="170640014410" name="BIN" ng-model="data.BIN" ng-required="!disabled" ng-disabled="disabled">
            <span class="has-error" ng-if="form.BIN.$error.required && (form.BIN.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Наименование компании: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder='TOO "Альянс страховых агентов"' name="legalName" ng-model="data.comp_name" ng-required="!disabled" ng-disabled="disabled">
            <span class="has-error" ng-if="form.legalName.$error.required && (form.legalName.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-4 control-label">Дата: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" name="cityCompanyRegistrationName" ng-model="data.date" class="form-control" ng-required="!disabled" ng-disabled="disabled" datepicker-popup="dd.MM.yyyy" is-open="registrDateFieldOpened"/>
                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="registrDateFieldOpened = true" ng-disabled="disabled">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
            </div>
            <span class="has-error" ng-if="form.cityCompanyRegistrationName.$error.required && (form.cityCompanyRegistrationName.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Емкость канала: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
<!--            <input type="number" class="form-control" placeholder='50 Мбит/с' min="0" max="1000" name="capacity" ng-model="data.capacity" ng-required="!disabled" ng-disabled="disabled">-->
            <select class="form-control" title="50 Мбит/с" name="capacity" ng-model="data.capacity" ng-required="!disabled" ng-disabled="disabled">
                <option ng-repeat="n in range(0,1000)" value="{{n}}">{{n}} Мбит/c</option>
            </select>
            <span class="has-error" ng-if="form.capacity.$error.required && (form.capacity.$touched || view.submitted)">Required field</span>

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Количество "публичных" статистических IP адресов: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <select class="form-control selectpicker" select-picker title="" name="ip_add" ng-model="data.ip_add" ng-required="!disabled" ng-disabled="disabled">
                <option value="Блок из 4-х IP адресов (/30)">Блок из 4-х IP адресов (/30)</option>
                <option value="Блок из 8 IP адресов (/29)">Блок из 8 IP адресов (/29)</option>
                <option value="Блок из 16 IP адресов (/28)">Блок из 16 IP адресов (/28)</option>
            </select>
            <span class="has-error" ng-if="form.ip_add.$error.required && (form.ip_add.$touched || view.submitted)">Required field</span>
        </div>
    </div>
</div>