 <div class="form-group">
        <label class="col-sm-4 control-label">Область: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <select class="form-control selectpicker" select-picker title="" name="extra_oblast" ng-model="data.oblast" ng-required="!disabled" ng-disabled="disabled">
                <option value="Алматинская Область">Алматинская Область</option>
                <option value="Акмолинская Область">Акмолинская Область</option>
                <option value="Актюбинская Область">Актюбинская Область</option>
                <option value="Атырауская Область">Атырауская Область</option>
                <option value="Восточно-Казахстанская Область">Восточно-Казахстанская Область</option>
                <option value="Жамбыльская Область">Жамбыльская Область</option>
                <option value="Западно-Казахстанская Область">Западно-Казахстанская Область</option>
                <option value="Карагандинская Область">Карагандинская Область</option>
                <option value="Костанайская Область">Костанайская Область</option>
                <option value="Кызылординская Область">Кызылординская Область</option>
                <option value="Мангистауская Область">Мангистауская Область</option>
                <option value="Павлодарская Область">Павлодарская Область</option>
                <option value="Северо-Казахстанская Область">Северо-Казахстанская Область</option>
                <option value="Туркестанская Область">Туркестанская Область</option>
                <option value="Южно-Казахстанская Область">Южно-Казахстанская Область</option>
            </select>
            <span class="has-error" ng-if="form.extra_oblast.$error.required && (form.extra_oblast.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Город: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <select class="form-control selectpicker" select-picker title="" name="extra_city" ng-model="data.city" ng-required="!disabled" ng-disabled="disabled">
                <option value="г.Актау">г.Актау</option>
                <option value="г.Актобе">г.Актобе</option>
                <option value="г.Алматы">г.Алматы</option>
                <option value="г.Атырау">г.Атырау</option>
                <option value="г.Астана">г.Нур-Султан</option>
                <option value="г.Караганда">г.Караганда</option>
                <option value="г.Кокшетау">г.Кокшетау</option>
                <option value="г.Костанай">г.Костанай</option>
                <option value="г.Кызылорда">г.Кызылорда</option>
                <option value="г.Павлодар">г.Павлодар</option>
                <option value="г.Петропавловск">г.Петропавловск</option>
                <option value="г.Рудный">г.Рудный</option>
                <option value="г.Семей">г.Семей</option>
                <option value="г.Талдыкорган">г.Талдыкорган</option>
                <option value="г.Тараз">г.Тараз</option>
                <option value="г.Темиртау">г.Темиртау</option>
                <option value="г.Туркестан">г.Туркестан</option>
                <option value="г.Уральск">г.Уральск</option>
                <option value="г.Усть-Каменогорск">г.Усть-Каменогорск</option>
                <option value="г.Шымкент">г.Шымкент</option>
                <option value="г.Экибастуз">г.Экибастуз</option>
                <option value="Другой">Другой</option>
            </select>
            <input type="text" ng-if="data.city == 'Другой'" class="form-control" style="margin-top: 3px;" name="extra_city" ng-model="data.extraCity" placeholder="Укажите город" ng-required="data.city == 'Другой' && !disabled" ng-disabled="disabled" >
            <span class="has-error" ng-if="form.extra_city.$error.required && (form.extra_city.$touched || view.submitted)">Required field</span>
        </div>
    </div>
     <div class="form-group">
         <label class="col-sm-4 control-label">Адрес точки подключения к услуге: </label>
         <div class="col-sm-8">
         </div>
     </div>
 <div class="form-group">
     <label class="col-sm-4 control-label">Область: <span class="text-danger glyphicon-asterisk"></span></label>
     <div class="col-sm-8">
         <select class="form-control selectpicker" select-picker title="" name="extra_oblast1" ng-model="data.connection_oblast" ng-required="!disabled" ng-disabled="disabled">
             <option value="Алматинская Область">Алматинская Область</option>
             <option value="Акмолинская Область">Акмолинская Область</option>
             <option value="Актюбинская Область">Актюбинская Область</option>
             <option value="Атырауская Область">Атырауская Область</option>
             <option value="Восточно-Казахстанская Область">Восточно-Казахстанская Область</option>
             <option value="Жамбыльская Область">Жамбыльская Область</option>
             <option value="Западно-Казахстанская Область">Западно-Казахстанская Область</option>
             <option value="Карагандинская Область">Карагандинская Область</option>
             <option value="Костанайская Область">Костанайская Область</option>
             <option value="Кызылординская Область">Кызылординская Область</option>
             <option value="Мангистауская Область">Мангистауская Область</option>
             <option value="Павлодарская Область">Павлодарская Область</option>
             <option value="Северо-Казахстанская Область">Северо-Казахстанская Область</option>
             <option value="Туркестанская Область">Туркестанская Область</option>
             <option value="Южно-Казахстанская Область">Южно-Казахстанская Область</option>
         </select>
         <span class="has-error" ng-if="form.extra_oblast1.$error.required && (form.extra_oblast1.$touched || view.submitted)">Required field</span>
     </div>
 </div>
 <div class="form-group">
     <label class="col-sm-4 control-label">Город: <span class="text-danger glyphicon-asterisk"></span></label>
     <div class="col-sm-8">
         <select class="form-control selectpicker" select-picker title="" name="extra_city1" ng-model="data.connection_city" ng-required="!disabled" ng-disabled="disabled">
             <option value="г.Актау">г.Актау</option>
             <option value="г.Актобе">г.Актобе</option>
             <option value="г.Алматы">г.Алматы</option>
             <option value="г.Атырау">г.Атырау</option>
             <option value="г.Астана">г.Нур-Султан</option>
             <option value="г.Караганда">г.Караганда</option>
             <option value="г.Кокшетау">г.Кокшетау</option>
             <option value="г.Костанай">г.Костанай</option>
             <option value="г.Кызылорда">г.Кызылорда</option>
             <option value="г.Павлодар">г.Павлодар</option>
             <option value="г.Петропавловск">г.Петропавловск</option>
             <option value="г.Рудный">г.Рудный</option>
             <option value="г.Семей">г.Семей</option>
             <option value="г.Талдыкорган">г.Талдыкорган</option>
             <option value="г.Тараз">г.Тараз</option>
             <option value="г.Темиртау">г.Темиртау</option>
             <option value="г.Туркестан">г.Туркестан</option>
             <option value="г.Уральск">г.Уральск</option>
             <option value="г.Усть-Каменогорск">г.Усть-Каменогорск</option>
             <option value="г.Шымкент">г.Шымкент</option>
             <option value="г.Экибастуз">г.Экибастуз</option>
             <option value="Другой">Другой</option>
         </select>
         <input type="text" ng-if="data.connection_city == 'Другой'" class="form-control" style="margin-top: 3px;" name="extra_city1" ng-model="data.connection_extraCity" placeholder="Укажите город" ng-required="data.connection_city == 'Другой' && !disabled" ng-disabled="disabled" >
         <span class="has-error" ng-if="form.extra_city1.$error.required && (form.extra_city1.$touched || view.submitted)">Required field</span>
     </div>
 </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Адрес: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder='Жаугаш батыр 2' name="extra_add_tech" ng-model="data.add_tech" ng-required="!disabled" ng-disabled="disabled">
            <span class="has-error" ng-if="form.extra_add_tech.$error.required && (form.extra_add_tech.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Географические координаты: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder='42.894103, 71.433385' name="extra_georg" ng-model="data.georg" ng-required="!disabled" ng-disabled="disabled">
            <span class="has-error" ng-if="form.extra_georg.$error.required && (form.extra_georg.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Тип здания (Жилой комплекс, бизнес центр и иное): <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <select class="form-control selectpicker" select-picker title="" name="extra_type_buil" ng-model="data.type_buil" ng-required="!disabled" ng-disabled="disabled">
                <option value="Жилой комплекс">Жилой комплекс</option>
                <option value="Отдельно стоящее здание">Отдельно стоящее здание</option>
                <option value="Бизнес центр">Бизнес центр</option>
                <option value="Другое">Другое</option>
            </select>
            <input type="text" ng-show="data.type_buil == 'Другое'" class="form-control" style="margin-top: 3px;" name="extra_type_buil" ng-model="data.extraType_buil" placeholder="Укажите тип здания" ng-required="data.type_buil == 'Другое' && !disabled" ng-disabled="disabled">
            <span class="has-error" ng-if="form.extra_type_buil.$error.required && (form.extra_type_buil.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Собственник здания: <span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-8">
            <label class="radio-inline"><input type="radio" name="extra_build" value="Да" ng-model="data.build" ng-required="!disabled" ng-disabled="disabled"> Да</label>
            <label class="radio-inline"><input type="radio" name="extra_build" value="Нет" ng-model="data.build" ng-required="!disabled" ng-disabled="disabled"> Нет</label>
        </div>
        <span class="has-error" ng-if="form.extra_build.$error.required && (form.extra_build.$touched || view.submitted)">Required field</span>
    </div>