<div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label"><b>Transmission owner</b></label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="fillSite.transmission.owner">
                <option value="KCELL">KCELL</option>
                <option value="Kazakhtelecom">Kazakhtelecom</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Microwave</h3>
    </div>
    <div class="alert alert-warning fade in alert-dismissable" ng-if="noMicroWaveWarning">
        <strong>Warning!</strong> The is no MicroWave in Asset Management for this Site
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">&nbsp;</label>
        <label class="col-sm-3">Near end</label>
        <label class="col-sm-3">Far end</label>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><b>Site name</b></label>
        <div class="col-sm-3">
            <div class="form-control">{{jobModel.site.originalValue}}</div>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.farEnd.site_id">
                <option value="{{st.id}}" ng-repeat="st in sitesList">{{st.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Type</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.nearEnd.type">
                <option value="Minilink">Minilink</option>
                <option value="Maxilink">Maxilink</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.farEndSite.type">
                <option value="Minilink">Minilink</option>
                <option value="Maxilink">Maxilink</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Terminal ID</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.terminal_id" placeholder="SAR1"/>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.terminal_id" placeholder="SAR1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Serial number</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.serial_number" placeholder="3334rrr5"/>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.serial_number" placeholder="3334rrr5"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Microwave link type</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.nearEnd.link_type">
                <option value="TDM">TDM</option>
                <option value="Ethernet">Ethernet</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.farEnd.link_type">
                <option value="TDM">TDM</option>
                <option value="Ethernet">Ethernet</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Antenna diameter</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.diameter" placeholder="0.6 m"/>
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.diameter" placeholder="0.6 m"/>
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Direction</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.direction" placeholder="2" />
        </div>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.direction" placeholder="2" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Azimuth</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.azimuth" placeholder="120" />
        </div>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.azimuth" placeholder="120" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Height in top</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.height_in_top" placeholder="17 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.height_in_top" placeholder="17 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Min horizontal distance from roof edge</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.min_horiz_roof_edge_distance" placeholder="2 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.min_horiz_roof_edge_distance" placeholder="2 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Coaxial cable length</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.coaxial_cable_length" placeholder="120 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.coaxial_cable_length" placeholder="120 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Weight</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.weight" placeholder="2 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.weight" placeholder="2 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Modulation type</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.nearEnd.modulation_type">
                <option value="16QAM">16QAM</option>
                <option value="32QAM">32QAM</option>
                <option value="64QAM">64QAM</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.farEnd.modulation_type">
                <option value="16QAM">16QAM</option>
                <option value="32QAM">32QAM</option>
                <option value="64QAM">64QAM</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Polarization</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.nearEnd.polarization">
                <option value="Vertical">Vertical</option>
                <option value="Horizontal">Horizontal</option>
                <option value="Double Polarization">Double Polarization</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.farEnd.polarization">
                <option value="Vertical">Vertical</option>
                <option value="Horizontal">Horizontal</option>
                <option value="Double Polarization">Double Polarization</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Placement type</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.placement_type" placeholder="on pole" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.placement_type" placeholder="on pole" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Construction type</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.construction_type" placeholder="frontal"/>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.construction_type" placeholder="frontal" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Protection type</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.nearEnd.protection_type">
                <option value="1+1">1+1</option>
                <option value="1+0">1+0</option>
                <option value="1+1 Hot Standby">1+1 Hot Standby</option>
                <option value="1+1 Working Standby">1+1 Working Standby</option>
                <option value="1+0 Unprotected">1+0 Unprotected</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.farEnd.protection_type">
                <option value="1+1">1+1</option>
                <option value="1+0">1+0</option>
                <option value="1+1 Hot Standby">1+1 Hot Standby</option>
                <option value="1+1 Working Standby">1+1 Working Standby</option>
                <option value="1+0 Unprotected">1+0 Unprotected</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-if="fillSite.transmission.farEnd.protection_type == '1+1'">
        <label class="col-sm-4 control-label">Protection antenna diameter</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.protection_diameter" placeholder="0.6 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.protection_diameter" placeholder="0.6 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Height of suspension of microwave antenna</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.height_of_suspention_of_ant" placeholder="15 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.height_of_suspention_of_ant" placeholder="15 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="fillSite.transmission.farEnd.protection_type == '1+1'">
        <label class="col-sm-4 control-label">Height of suspension of microwave antenna protection </label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.height_of_suspention_of_ant_protection" placeholder="13 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.height_of_suspention_of_ant_protection" placeholder="13 m" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">TX/RX Frequencies in MHz  </label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.tx_rx_frequencies" placeholder="8000 MHz" />
                <span class="input-group-addon">MHz</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.tx_rx_frequencies" placeholder="8000 MHz" />
                <span class="input-group-addon">MHz</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="fillSite.transmission.farEnd.protection_type == '1+1'">
        <label class="col-sm-4 control-label">Protection TX/RX Frequencies in MHz</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.protection_tx_rx_frequencies" placeholder="8000 MHz" />
                <span class="input-group-addon">MHz</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.protection_tx_rx_frequencies" placeholder="8000 MHz" />
                <span class="input-group-addon">MHz</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Rack serial number</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.rack_serial_number" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.rack_serial_number" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Power level Tx</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.power_lvl_Tx" placeholder="10 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.power_lvl_Tx" placeholder="10 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Power level Rx</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.power_lvl_Rx" placeholder="-35 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.power_lvl_Rx" placeholder="-35 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="fillSite.transmission.farEnd.protection_type == '1+1'">
        <label class="col-sm-4 control-label">Protection line power level Tx</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.protection_line_power_lvl_Tx" placeholder="10 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.protection_line_power_lvl_Tx" placeholder="10 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="fillSite.transmission.farEnd.protection_type == '1+1'">
        <label class="col-sm-4 control-label">Protection line power level Rx</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.protection_line_power_lvl_Rx" placeholder="-35 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.farEnd.protection_line_power_lvl_Rx" placeholder="-35 dBm" />
                <span class="input-group-addon">dBm</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Pass distance</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.pass_distance" placeholder="15 km" />
                <span class="input-group-addon">km.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Link capacity Ethernet</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.link_capacity_ethernet" placeholder="154 Mb/s" />
                <span class="input-group-addon">Mb/s</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Link capacity nxE1</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fillSite.transmission.nearEnd.link_capacity_nxE1" placeholder="15" />
                <span class="input-group-addon">m.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Channel bandwidth</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="fillSite.transmission.nearEnd.channel_bandwidth">
                <option value="3.5">3.5 MHz</option>
                <option value="7">7 MHz</option>
                <option value="14">14 MHz</option>
                <option value="28">28 MHz</option>
                <option value="40">40 MHz</option>
                <option value="56">56 MHz</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">RAU subband</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.rau_subband" placeholder="23/78" pattern-restrict="^$|^[0-9/]+$" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.rau_subband" placeholder="23/78" pattern-restrict="^$|^[0-9/]+$" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Protection RAU subband</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.nearEnd.protection_rau_subband" placeholder="23/78" pattern-restrict="^$|^[0-9/]+$" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.farEnd.protection_rau_subband" placeholder="23/78" pattern-restrict="^$|^[0-9/]+$" />
        </div>
    </div>
</div>
<h3>Satellite</h3>
<div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Satellite direction:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.satelliteDirection" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Capacity:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.satelliteCapacity" />
        </div>
    </div>
</div>
<h3>Rented channels</h3>
<div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Rented channels direction:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.rentedChannelsDirection" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Capacity:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="fillSite.transmission.rentedChannelsCapacity" />
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <button type="button" class="btn {{fillSite.transmissionsModification=='modify'?'btn-primary':'btn-default'}}" ng-click="changeModificationType('transmissionsModification','modify')">Modify settings</button>
    <button type="button" class="btn {{fillSite.transmissionsModification=='replace'?'btn-primary':'btn-default'}}" ng-click="changeModificationType('transmissionsModification','replace')">Replace</button>
    <button type="button" class="btn {{fillSite.transmissionsModification=='dismantle'?'btn-primary':'btn-default'}}" ng-click="changeModificationType('transmissionsModification','dismantle')">Dismantle</button>
</div>