<h4>Power Sources Quantity: {{fillSite.powerSources.length}} <a ng-click="addPowerSource()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Another Power Source</a></h4>
<accordion>
    <accordion-group ng-repeat="(powerIndex, power) in fillSite.powerSources">
        <accordion-heading>
            Power Source #{{$index+1}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
        </accordion-heading>
        <div class="row">
            <div class="col-md-12">
                <a ng-click="removePowerSource($index)" class="btn btn-danger" ng-if="!power.id"><i class="glyphicon glyphicon-trash"></i> Remove</a>
            </div>
        </div>
        <h4>Common Information:</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Object for power supply</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.object_for_supply">
                    <option value="Container">Container</option>
                    <option value="Room">Room</option>
                    <option value="Tower">Tower</option>
                    <option value="MicroRBS">MicroRBS</option>
                    <option value="Outdoor RBS">Outdoor RBS</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.object_for_supply_other" placeholder="if Other please fill here" ng-disabled="power.params.object_for_supply != 'Other'"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Necessary quantity of phases</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.necessary_qty_of_phases">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Power Supplier</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.supplier">
                    <option value="RES">Res</option>
                    <option value="Rented">Rented</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.supplier_other" placeholder="if Other please fill here" ng-disabled="power.params.supplier != 'Other'"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Equipment Necessary Power</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.necessary_level" placeholder="10 kW"/>
                    <span class="input-group-addon">kW</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Technical Conditions Needed</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.need_tech_conditions">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Transformer needed</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.need_transformer">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Transformer owner</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.transformer_owner">
                    <option value="RES">RES</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.transformer_owner_other" placeholder="if Other please fill here" ng-disabled="power.params.transformer_owner != 'Other'"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Voltage quality</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.voltage_quality">
                    <option value="low">low</option>
                    <option value="high">high</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Connection Point Cable Length</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.connection_point_cable_length" placeholder="10 m"/>
                    <span class="input-group-addon">m.</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Cable way</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.cable_way.type">
                    <option value="By the walls">By the walls</option>
                    <option value="By the poles">By the poles</option>
                    <option value="Under ground">Under ground</option>
                    <option value="Airline">Airline</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Cable Ladders Connected in EC</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.is_cable_runladders_conn_btw_electr_circuit">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Cable Ladders Connected to Lightning System</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.is_cable_runladders_conn_to_exist_lighting_sys">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Addition work&materials needed</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.need_addtional_work_and_materials">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Additional work description</label>
            <div class="col-sm-3">
                <textarea class="form-control" ng-model="power.params.additional_work_desc"></textarea>
            </div>
        </div>

        <h4>DC System Information:</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">DC Power System Model</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.dc_power_system_model">
                    <option value="Actura">Actura</option>
                    <option value="Emerson">Emerson</option>
                    <option value="Huawei">Huawei</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">RRUs Free Circuit Breakers Qty - 25 A</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.rru_circuit_breakers_25" placeholder="12 pieces"/>
                    <span class="input-group-addon">pieces</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">RRUs Free Circuit Breakers Qty - 32 A</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.rru_circuit_breakers_32" placeholder="12 pieces"/>
                    <span class="input-group-addon">pieces</span>
                </div>
            </div>
            </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Batteries Quantity</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.batteries_qty" placeholder="12 pieces"/>
                    <span class="input-group-addon">pieces</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Batteries model</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.batteries_model">
                    <option value="GFM">GFM</option>
                    <option value="NGF">NGF</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Rectifier Modules Power</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.each_rectifier_module_power" placeholder="1500 kW"/>
                    <span class="input-group-addon">kW</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Rectifiers Quantity</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.qty_of_rectifiers" placeholder="12 pieces"/>
                    <span class="input-group-addon">pieces</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Space for DCPD Installation in ZTE BS</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.free_space_for_dcpd">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Power Box Cable Type</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.cable_type">
                    <option value="ВВГ">ВВГ</option>
                    <option value="KLJ">KLJ</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Cable Cross-Section</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.cable_cross_section">
                    <option value="4x10">4x10</option>
                    <option value="2x5">2x5</option>
                </select>
            </div>
        </div>

        <h4>Grounding System</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Grounding System Servieability</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.grounding_sys.is_serviceable">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>

        <h4>Lightning System</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Lightning System Serviceability</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.lightning_sys.is_serviceable">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>

        <h4>Diesel Generator</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Model</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.disel_generator.model">
                    <option value="Aksa">Aksa</option>
                    <option value="Bosch">Bosch</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Voltage</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.disel_generator.voltage">
                    <option value="220">220V</option>
                    <option value="380">380V</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Capacity</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.disel_generator.capacity" placeholder="5 kW"/>
                    <span class="input-group-addon">kW</span>
                </div>
            </div>
        </div>

        <h4>Oil Tank Information</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Oil tank type</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.oil_tank.type" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Volume</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.oil_tank.volume" placeholder="5 litres"/>
                    <span class="input-group-addon">litres</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Location type</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.oil_tank.location_type" placeholder="under ground" />
            </div>
        </div>

        <h4>Electricity Counter</h4>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Condition</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.electricity_counter.condition">
                    <option value="working">working</option>
                    <option value="not working">not working</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Need Change/Upgrade</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.electricity_counter.need_upgrade">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.electricity_counter.need_upgrade_model" ng-disabled="power.params.electricity_counter.need_upgrade == 'No'" placeholder="Model..."/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Additional Work Needed</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.electricity_counter.need_add_work">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.electricity_counter.need_add_work_description" ng-disabled="power.params.electricity_counter.need_add_work == 'No'" placeholder="Description..."/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Location</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.electricity_counter.location" placeholder="в подвальном помещении" />
            </div>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.electricity_counter.location_type">
                    <option value="Room">Inside of room</option>
                    <option value="Container">Inside of container</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Cable information</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="power.params.electricity_counter.cable_information" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">location place of counter</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="power.params.electricity_counter.location_place">
                    <option value="inside of our room or container">inside of our room or container</option>
                    <option value="outside of our room or container">outside of our room or container</option>
                </select>
            </div>
        </div>

        <h4>Cable Way Information:</h4>
        <div style="overflow-x: auto; min-height: .01%;">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th width="300px;">&nbsp;</th>
                        <th ng-repeat="cw in power.params.cable_ways">Sector {{fromCharCode($index+65)}}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BS to Antenna Cable Length</td>
                        <td ng-repeat="cw in power.params.cable_ways">
                            <div class="input-group" style="width: 100px;">
                                <input type="number" class="form-control" ng-model="cw.cable_length" placeholder="2 m" style="width: 70px;"/>
                                <span class="input-group-addon">m.</span>
                            </div>
                        </td>
                        <td>
                            <a ng-click="addCellToPower(powerIndex)" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add Cell</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Free Space for Additional RRU</td>
                        <td ng-repeat="cw in power.params.cable_ways">
                            <select ng-model="cw.free_space_for_addition_rru" class="form-control" style="width: 100px;">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Carrying Capacity of Metal Construction</td>
                        <td ng-repeat="cw in power.params.cable_ways">
                            <select ng-model="cw.carrying_capacity_metal_construction" class="form-control" style="width: 100px;">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td ng-repeat="cw in power.params.cable_ways">
                            <a ng-click="removeCellFromPower($parent.$index, $index)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Remove Cell</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Cable run ladders length</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.cable_way.cable_run_ladders_length" placeholder="2 m"/>
                    <span class="input-group-addon">m.</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Space for Optic Cable in Cable Run Ladders</label>
            <div class="col-sm-3">
                <select ng-model="power.params.cable_way.space_for_opticcable_in_cable_run_ladder" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Need to Lay Optic Cable in Metal Hose</label>
            <div class="col-sm-3">
                <select ng-model="power.params.cable_way.space_for_opticcable_in_metalhose" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Need to Lay Optic Cable in Fiber Clamps</label>
            <div class="col-sm-3">
                <select ng-model="power.params.cable_way.need_to_lay_opticcable_in_fiberclamps" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Quantity of Separated Pipes for Antennas</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="power.params.cable_way.qty_of_separated_pipes_for_antennas" placeholder="2 pieces"/>
                    <span class="input-group-addon">pieces</span>
                </div>
            </div>
        </div>
        <div class="btn-group" role="group" ng-if="power.id">
            <button type="button" class="btn {{power._command == 'MODIFY_POWERSOURCE'?'btn-primary':'btn-default'}}" ng-click="power._command = 'MODIFY_POWERSOURCE'">Modify settings</button>
            <button type="button" class="btn {{power._command == 'REPLACE_POWERSOURCE'?'btn-primary':'btn-default'}}" ng-click="power._command = 'REPLACE_POWERSOURCE'">Replace</button>
            <button type="button" class="btn {{power._command == 'REMOVE_POWERSOURCE'?'btn-primary':'btn-default'}}" ng-click="power._command = 'REMOVE_POWERSOURCE'">Dismantle</button>
        </div>
    </accordion-group>
</accordion>