<h4>Summary of JR</h4>
<job-request job-model="jobModel"></job-request>
<ng-include ng-if="contextPath" src="contextPath+'/forms/revision/summaries.html'"></ng-include>
<h3>Works:</h3>
<div class="row" ng-repeat="work in sitesWorks">
    <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;{{jobModel.worksTitle[work.sapServiceNumber]}}, works qty: {{work.quantity}}, materials qty: {{work.materialQuantity}} {{jobModel.unitsTitle[work.unit]}}, on sites: {{work.sites}}</div>
    <div class="col-md-12" ng-repeat="file in work.files">
        <input type="file" class="form-control" ng-model="file.file" onchange="angular.element(this).scope().fileSelected(this, angular.element(this).scope().$parent.$index, angular.element(this).scope().$index)"/>
    </div>
</div>