<div ng-repeat="facility in fillSite.facilities">
    <h3>Site facility #{{$index+1}}</h3>
    <p>Photos</p>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"><img src="http://www.fkaglobal.com/images/image_content/telecomunicacion-ok.jpg" width="100%"/></div>
            <div class="col-md-2"><img src="http://www.fkaglobal.com/images/image_content/telecomunicacion-ok.jpg" width="100%"/></div>
            <div class="col-md-2"><img src="http://www.fkaglobal.com/images/image_content/telecomunicacion-ok.jpg" width="100%"/></div>
            <div class="col-md-2"><img src="http://www.fkaglobal.com/images/image_content/telecomunicacion-ok.jpg" width="100%"/></div>
            <div class="col-md-2"><img src="http://www.fkaglobal.com/images/image_content/telecomunicacion-ok.jpg" width="100%"/></div>
            <div class="col-md-2"><img src="http://www.fkaglobal.com/images/image_content/telecomunicacion-ok.jpg" width="100%"/></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-4 control-label">Facility type*</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="facility.type">
                    <option value="Building">Building</option>
                    <option value="notBuilding">Not building</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Region *</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="facility.region">
                    <option value="South Region">South Region</option>
                    <option value="North Region">North Region</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">City</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="facility.city">
                    <option value="Almaty">Almaty</option>
                    <option value="Astana">Astana</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Street</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.street"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Building number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.buildingNumber"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Cadastral number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.cadastralNumber"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Latitude *</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.latitude"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Longitude *</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.longitude"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Atitude</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.atitude"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Owner</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="facility.owner">
                    <option value="Kazakhtelecom">Kazakhtelecom</option>
                    <option value="Transtelecom">Transtelecom</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.otherOwner"
                       palceholder="if Other please fill here"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Height *</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.height"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Max Height of neighbor building*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.maxNeighborHeight"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Specialization</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="facility.specialization">
                    <option value="Other">Other</option>
                    <option value="Another">Another</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.specializationExt"
                       palceholder="Apotheka"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Roof type*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.roofType"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Roof degrees*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.roofDegrees"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Ceiling type*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="facility.ceilingType"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Additional info</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="facility.additionalInfo"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Technical floor*</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="facility.technicalFloor">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div><b>Installed equipment list:</b></div>
                <div>Antenna, model: XYZ, ...</div>
                <div>Cabinet #1 RBS 6601</div>
                <div>Power Source, 220V, 5kW</div>
                <div>Air Heater #1</div>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="person in fillSite.persons">
    <h3>Contact person #{{$index+1}}</h3>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-4 control-label">Facility</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="person.facility">
                    <option value="{{fillSite.facilities[$index]}}" ng-repeat="facility in fillSite.facilities">Site facility #{{$index+1}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="person.name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Surname</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="person.surname"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Paternal name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="person.paternalName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="person.phone"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="person.email"/>
            </div>
        </div>
    </div>
</div>