<h4>Supplementary Equipments: {{fillSite.supplementary.length}} <a ng-click="addSupplementary()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Another supp Source</a></h4>
<accordion>
    <accordion-group ng-repeat="supp in fillSite.supplementary track by $index">
        <accordion-heading>
            Supplementary Equipment #{{$index+1}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
        </accordion-heading>
        <div class="row">
            <div class="col-md-12">
                <a ng-click="removeSupplementary($index)" class="btn btn-danger" ng-if="!supp.id && !supp.equipment.id"><i class="glyphicon glyphicon-trash"></i> Remove</a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Type of equipment</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="supp.equipment.params.type" ng-disabled="isInstallationDisabled(supp._command)">
                    <option value="Air conditioner">Air conditioner</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="supp.equipment.params.type_other" placeholder="If other please fill here" ng-disabled="supp.equipment.params.type != 'Other'" ng-disabled="isInstallationDisabled(supp._command)"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Vendor</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="supp.equipment.params.vendor" ng-disabled="isInstallationDisabled(supp._command)">
                    <option value="Samsung">Samsung</option>
                    <option value="Huawei">Huawei</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="supp.equipment.params.vendor_other" placeholder="If other please fill here" ng-disabled="supp.equipment.params.vendor != 'Other' || isInstallationDisabled(supp._command)"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Serial number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="supp.equipment.params.serial_number" ng-disabled="isInstallationDisabled(supp._command)"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Facility</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="supp.facility" ng-disabled="isInstallationDisabled(supp._command)">
                    <option value="{{f.id}}" ng-repeat="f in fillSite.facilities">{{f.definitionId}} ({{f.params.name}})</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Location type</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="supp.params.location_type" ng-disabled="isInstallationDisabled(supp._command)">
                    <option value="indoor">indoor</option>
                    <option value="outdoor">outdoor</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 control-label">Voltage</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="supp.equipment.params.voltage" ng-disabled="isInstallationDisabled(supp._command)">
                    <option value="-48">-48</option>
                    <option value="220">220</option>
                    <option value="380">380</option>
                </select>
            </div>
        </div>
        <div class="btn-group" role="group" ng-if="supp.id && supp.equipment.id">
            <button type="button" class="btn btn-default" ng-click="resetSupplementary($index)">Reset</button>
            <button type="button" class="btn {{supp._command == 'MODIFY_INSTALLATION'?'btn-primary':'btn-default'}}" ng-click="supp._command = 'MODIFY_INSTALLATION'">Modify settings</button>
            <button type="button" class="btn {{supp._command == 'REPLACE_EQUIPMENT'?'btn-primary':'btn-default'}}" ng-click="supp._command = 'REPLACE_EQUIPMENT'">Replace</button>
            <button type="button" class="btn {{supp._command == 'DISMANTLE_EQUIPMENT'?'btn-primary':'btn-default'}}" ng-click="supp._command = 'DISMANTLE_EQUIPMENT'">Dismantle</button>
        </div>
    </accordion-group>
</accordion>