<style>
    .well {
        color: #333;
    }
</style>
<form role="form" class="form-horizontal">
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', function ($scope, $http) {
            var variables = [
                'requestedDate',
                'validityDate',
                'soaComplaintId',
                'site',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'supplementaryFile1',
                'supplementaryFile2',
                'supplementaryFile3',
                'supplementaryFile4',
                'supplementaryFile5',
                'explanation',
                'jobWorks',
                'sapPRFileXLS',
                'sapPRNo',
                'kcellWarehouseMaterialsList',
                'contractorZIPWarehouseMaterialsList',
                'sapTransferRequestFile',
                'actOfMaterialsDispatchingFile'
            ];
            $scope.jobModel = {};
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get('/api/catalogs').then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'fillAppliedChangesInfoByContractorTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'modifyWorks',
                    type: 'Boolean',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'sitesWorks',
                    type: 'Json',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'fillApplied',
                    type: 'String',
                    value: undefined
                });
            });
            camForm.on('variables-fetched', function () {
                console.log('variables-fetched');
                variables.forEach(function (el) {
                    $scope.jobModel[el] = camForm.variableManager.variables[el];
                });
            });

            camForm.on('submit', function () {
                console.log("start =================")
                camForm.variableManager.variableValue('sitesWorks', JSON.parse(angular.toJson($scope.sitesWorks)));
                console.log("start 1=================")
                camForm.variableManager.variableValue('fillAppliedChangesInfoByContractorTaskResult', $scope.fillAppliedChangesInfoByContractorTaskResult);
                console.log("start2 =================")
                if ($scope.fillAppliedChangesInfoByContractorTaskResult == 'saveChanges') {
                    console.log("start3 =================")
                    camForm.variableManager.variableValue('fillApplied', 'saveChanges');
                } else if ($scope.fillAppliedChangesInfoByContractorTaskResult == 'cannotPerform') {
                    console.log("start 4=================")
                    camForm.variableManager.variableValue('fillApplied', 'cannotPerform');
                } else if ($scope.fillAppliedChangesInfoByContractorTaskResult == 'notAvailable') {
                    console.log("start5 =================")
                    camForm.variableManager.variableValue('fillApplied', 'notAvailable');
                }
                console.log("end =================")
            });

            $scope.addMoreWork = addMoreWork;
            function addMoreWork(site){
                for(var i=0;i<$scope.sitesWorks.length;i++){
                    if($scope.sitesWorks[i].id === site){
                        $scope.sitesWorks[i].works.push({id:1});
                    }
                }
            }

            camForm.on('store', function() {
                console.log('store');
                camForm.variableManager.variableValue('fillAppliedChangesInfoByContractorTaskResult', $scope.fillAppliedChangesInfoByContractorTaskResult);
                camForm.variableManager.variableValue('sitesWorks', $scope.sitesWorks);
            });

            camForm.on('variables-restored', function() {
                $scope.fillAppliedChangesInfoByContractorTaskResult = camForm.variableManager.variableValue('fillAppliedChangesInfoByContractorTaskResult');
                $scope.sitesWorks = camForm.variableManager.variableValue('sitesWorks');
                if($scope.sitesWorks===undefined){
                    try {
                        $scope.jobModel.jobWorks.originalValue = JSON.parse($scope.jobModel.jobWorks.originalValue);
                        console.log($scope.jobModel.jobWorks);
                        $scope.sitesWorks = [];
                        for (var i = 0; i < $scope.jobModel.jobWorks.originalValue.length; i++) {
                            var w = {
                                id: $scope.jobModel.jobWorks.originalValue[i].sites,
                                works : []
                            };
                            $scope.sitesWorks.push(w);
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
                console.log($scope.sitesWorks);
            });
        }]);
    </script>
    <job-request job-model="jobModel"></job-request>
    <div class="row" ng-repeat="site in sitesWorks">
        <div class="col-md-12">Site No. {{site.id}} Changes ({{site.works.length}})</div>
        <table class="table table-hover table-bordered table-stripped">
            <thead>
                <tr>
                    <th>Equipment A</th>
                    <th>Connection</th>
                    <th>Equipment B</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="work in site.works">
                    <td>
                        <select class="form-control" ng-model="work.A" required>
                            <option ng-repeat="e in equipments" value="{{e.id}}">{{e.name}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="work.connection" required>
                            <option ng-repeat="c in connections" value="{{c.id}}">{{c.name}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="work.B" required>
                            <option ng-repeat="e in equipments" value="{{e.id}}">{{e.name}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="work.w" required>
                            <option ng-repeat="c in connectionWorks" value="{{c.id}}">{{c.name}}</option>
                        </select>
                    </td>
                    <td><a class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</a></td>
                </tr>
                <tr>
                    <td colspan="5"><a class="btn btn-primary btn-xs" ng-click="addMoreWork(site.id)"><i class="glyphicon glyphicon-plus"></i> Show more...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-4 control-label">Resolution</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="fillAppliedChangesInfoByContractorTaskResult" ng-model="fillAppliedChangesInfoByContractorTaskResult" value="saveChanges" required> Save changes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fillAppliedChangesInfoByContractorTaskResult" ng-model="fillAppliedChangesInfoByContractorTaskResult" value="notAvailable" required> Materials not available
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fillAppliedChangesInfoByContractorTaskResult" ng-model="fillAppliedChangesInfoByContractorTaskResult" value="cannotPerform" required> Cannot perform works
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Comments</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="4" maxlength="500" cam-variable-name="fillAppliedChangesByContractorComment" ng-required="fillAppliedChangesInfoByContractorTaskResult == 'notAvailable' || fillAppliedChangesInfoByContractorTaskResult == 'cannotPerform'" cam-variable-type="String"></textarea>
            </div>
        </div>
    </div>
</form>