<form role="form" class="form-horizontal kcell-form-custom">
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', 'exModal', function ($scope, $http, Uri, $rootScope, exModal) {
            var variables = [
                'requestedDate',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'supplementaryFile1',
                'supplementaryFile2',
                'supplementaryFile3',
                'supplementaryFile4',
                'supplementaryFile5',
                'explanation',
                'jobWorks',
                'sapPRFileXLS',
                'sapPRNo',
                'kcellWarehouseMaterialsList',
                'contractorZIPWarehouseMaterialsList',
                'sapTransferRequestFile',
                'actOfMaterialsDispatchingFile'
            ];

            var assetsUrl = '/asset-management/api';
            $scope.jobModel = {};
            $scope.showAddHop = false;
            $scope.farEndSite = {
                id: undefined
            };
            $scope.indoorUnit = {
                id : generateId(),
                params: {},
                equipment: {
                    params: {},
                    definition: "IU",
                    id: generateId()
                },
                definition: "IU",
                _command: "INSTALL_NEW_EQUIPMENT"
            };
            $scope.outdoorUnit = {
                id : generateId(),
                params: {},
                equipment: {
                    params: {},
                    definition: "OU",
                    id: generateId()
                },
                definition: "OU",
                _command: "INSTALL_NEW_EQUIPMENT"
            };
            $scope.antenna = {
                id : generateId(),
                params: {},
                equipment: {
                    params: {},
                    definition: "AU",
                    id: generateId()
                },
                definition: "AU",
                _command: "INSTALL_NEW_EQUIPMENT"
            };
            $scope.technologies = ['2G', '3G', 'WiMAX', 'LTE', 'Indoor'];
            $http.get(Uri.appUri("engine://engine/:engine/task/" + camForm.taskId + "/form")).success(function (result) {
                $scope.contextPath = result.contextPath;
            });
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get('/api/catalogs').then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'fillAppliedChangesInfoByContractorTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'modifyWorks',
                    type: 'Boolean',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'sitesWorks',
                    type: 'Json',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'fillApplied',
                    type: 'String',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'fillSite',
                    type: 'Json',
                    value: {}
                });
                camForm.variableManager.createVariable({
                    name: 'summaries',
                    type: 'Json',
                    value: {}
                });
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    $scope.jobModel[el] = camForm.variableManager.variables[el];
                });

                $http.get('/asset-management/api/sites').then(
                        function (result) {
                            $scope.sitesList = [];
                            for (var i = 0; i < result.data._embedded.sites.length; i++) {
                                var site = result.data._embedded.sites[i];
                                $scope.sitesList.push({
                                    name: site.name,
                                    id: site._links.self.href.replace("{projection}", "").substr(site._links.self.href.replace("{projection}", "").lastIndexOf('/') + 1)
                                });
                            }
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $http.get('/asset-management/api/facilityDefinitions').then(
                        function (result) {
                            $scope.facilityDefinitions = [];
                            for (var i = 0; i < result.data._embedded.facilityDefinitions.length; i++) {
                                var id = result.data._embedded.facilityDefinitions[i]._links.self.href.replace("{projection}", "").substr(result.data._embedded.facilityDefinitions[i]._links.self.href.replace("{projection}", "").lastIndexOf('/') + 1);
                                $scope.facilityDefinitions.push({
                                    name: result.data._embedded.facilityDefinitions[i].name,
                                    id: id
                                });
                            }
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
            });

            camForm.on('submit', function () {
                $scope.createSummaryDocument();
                console.log(JSON.stringify($scope.fillSite));
                console.log(JSON.stringify($scope.summaries));
                console.log(angular.toJson($scope.summaries));
                camForm.variableManager.variableValue('sitesWorks', JSON.parse(angular.toJson($scope.sitesWorks)));
                camForm.variableManager.variableValue('summaries', JSON.parse(angular.toJson($scope.summaries)));
                camForm.variableManager.variableValue('fillSite', JSON.parse(angular.toJson($scope.fillSite)));
                camForm.variableManager.variableValue('fillAppliedChangesInfoByContractorTaskResult', $scope.fillAppliedChangesInfoByContractorTaskResult);
                if ($scope.fillAppliedChangesInfoByContractorTaskResult == 'saveChanges') {
                    camForm.variableManager.variableValue('fillApplied', 'saveChanges');
                } else if ($scope.fillAppliedChangesInfoByContractorTaskResult == 'cannotPerform') {
                    camForm.variableManager.variableValue('fillApplied', 'cannotPerform');
                } else if ($scope.fillAppliedChangesInfoByContractorTaskResult == 'notAvailable') {
                    camForm.variableManager.variableValue('fillApplied', 'notAvailable');
                }
            });

            $scope.addMoreWork = addMoreWork;
            function addMoreWork(site) {
                for (var i = 0; i < $scope.sitesWorks.length; i++) {
                    if ($scope.sitesWorks[i].id === site) {
                        $scope.sitesWorks[i].works.push({id: 1});
                    }
                }
            }

            camForm.on('store', function () {
                camForm.variableManager.variableValue('fillAppliedChangesInfoByContractorTaskResult', $scope.fillAppliedChangesInfoByContractorTaskResult);
                camForm.variableManager.variableValue('sitesWorks', $scope.sitesWorks);
                camForm.variableManager.variableValue('fillSite', $scope.fillSite);
            });

            camForm.on('variables-restored', function () {
                console.log($scope);
                console.log($rootScope);
                console.log($rootScope.authentication.name);
                $scope.fillAppliedChangesInfoByContractorTaskResult = camForm.variableManager.variableValue('fillAppliedChangesInfoByContractorTaskResult');
                $scope.sitesWorks = camForm.variableManager.variableValue('sitesWorks');
                if ($scope.sitesWorks === undefined) {
                    try {
                        $scope.jobModel.jobWorks.originalValue = JSON.parse($scope.jobModel.jobWorks.originalValue);
                        $scope.sitesWorks = [];
                        for (var i = 0; i < $scope.jobModel.jobWorks.originalValue.length; i++) {
                            var w = {
                                id: $scope.jobModel.jobWorks.originalValue[i].sites,
                                works: []
                            };
                            $scope.sitesWorks.push(w);
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
                $scope.fillSite = camForm.variableManager.variableValue('fillSite');
                if (angular.equals({}, $scope.fillSite)) {
                    $scope.fillSite = {
                        facilities: [],
                        persons: [],
                        cabinets: [],
                        powerSources: [],
                        rus: [],
                        dus: [],
                        antennas: [],
                        transmissions: [],
                        ius: [],
                        ous: [],
                        aus: [],
                        supplementary: [],
                        siteId: $scope.jobModel.site.originalValue
                    };
                    $http.get('/asset-management/api/sites/' + $scope.fillSite.siteId + '?projection=full', {headers:{'If-None-Match':'*'}}).then(
                            function (result) {
                                var site = result.data;
                                if (site.facilities !== undefined) {
                                    $scope.fillSite.facilities = site.facilities;
                                    $scope.fillSite.facilities.forEach(function (facility) {
                                        facility._original = angular.copy(facility);
                                    });
                                }
                                if (site.powerSources !== undefined) {
                                    $scope.fillSite.powerSources = site.powerSources;
                                }
                                if (site.installations !== undefined) {
                                    var map = _.groupBy(site.installations, 'equipment.definition');

                                    $scope.fillSite.cabinets = map.CABINET || [];
                                    if(map.RU){
                                        map.RU.forEach(function (ru) {
                                            ru.equipment.params.technologies = {};
                                            $scope.technologies.forEach(function (e) {
                                                ru.equipment.params.technologies[e] = ru.equipment.params.rat.indexOf(e) >= 0;
                                            });
                                            ru._original = angular.copy(ru);
                                        });
                                    }
                                    if(map.DU){
                                        map.DU.forEach(function (du) {
                                            du.equipment.params.technologies = {};
                                            $scope.technologies.forEach(function (e) {
                                                du.equipment.params.technologies[e] = du.equipment.params.rat.indexOf(e) >= 0;
                                            });
                                            du._original = angular.copy(du);
                                        });
                                    }
                                    if(map.ANTENNA){
                                        map.ANTENNA.forEach(function (antenna) {
                                            antenna.equipment.params.technologies = {};
                                            $scope.technologies.forEach(function (e) {
                                                antenna.equipment.params.technologies[e] = antenna.equipment.params.rat.indexOf(e) >= 0;
                                            });
                                            antenna._original = angular.copy(antenna);
                                        });
                                    }
                                    $scope.fillSite.rus = map.RU || [];
                                    $scope.fillSite.dus = map.DU || [];
                                    $scope.fillSite.antennas = map.ANTENNA || [];
                                    $scope.fillSite.supplementary = map.SUPPLEMENTARY || [];
                                    $scope.fillSite.ous = map.OU || [];
                                    $scope.fillSite.ius = map.IU || [];
                                    $scope.fillSite.aus = map.AU || [];
                                }
                                getConnections(result.data);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }
            });

            function getConnections(fillSite){
                var equipmentIds = _.map(fillSite.installations, 'equipment.id');
                console.log(equipmentIds);
                $http.get("/asset-management/api/connectionInstances/search/findByEquipments?equipments=" + equipmentIds.join() + "&projection=full").then(
                    function(result){
                        var connectionsByDefinition = _.groupBy(result.data._embedded.connectionInstances, "definition");
                        $scope.fillSite.transmissions = connectionsByDefinition['TRANSMISSION_RADIO_RELAY'] || [];
                        $scope.fillSite.transmissions.forEach(function(hop){
                            if(hop.params.sites){
                                console.log("YES SITES");
                                hop.params.sites.forEach(function(site){
                                    if(site !== $scope.jobModel.site.originalValue){
                                        console.log("YES FAR END SITE");
                                        $scope.sitesList.forEach(function(sl){
                                            if (sl.id === site) {
                                                console.log(sl);
                                                hop.farEnd = {
                                                    site: sl
                                                };
                                            }
                                        });
                                    }
                                });
                            }
                            console.log(hop.farEnd);
                        });
                    },
                    function (error) {
                        console.log(error.data);
                    }
                );
            }

            function guid() {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                            .toString(16)
                            .substring(1);
                }

                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                        s4() + '-' + s4() + s4() + s4();
            }

            function generateId(){
                return "_NEW:" + guid();
            }

            $scope.addPerson = function (index) {
                if (!$scope.fillSite.facilities[index].persons) {
                    $scope.fillSite.facilities[index].params.persons = [];
                }
                $scope.fillSite.facilities[index].params.persons.push({});
            };

            $scope.removePerson = function (facilityIndex, personIndex) {
                $scope.fillSite.facilities[facilityIndex].params.persons.splice(personIndex, 1);
            };

            $scope.addFacility = function () {
                $scope.fillSite.facilities.push({id: generateId(), params: {}, _command: "ADD_FACILITY"});
            };

            $scope.removeFacility = function (index) {
                $scope.fillSite.facilities.splice(index, 1);
            };

            $scope.addCabinet = function () {
                $scope.fillSite.cabinets.push({id: generateId(), params: {}, equipment:{definition:"CABINET",params:{}, id: generateId()}, _command: "INSTALL_NEW_EQUIPMENT", definition:"CABINET"});
            };

            $scope.removeCabinet = function (index) {
                $scope.fillSite.cabinets.splice(index, 1);
            };

            $scope.addRu = function () {
                $scope.fillSite.rus.push({equipment: {definition:"RU", params: {rat: []}}, _command: "INSTALL_NEW_EQUIPMENT",definition:"RU"});
            };

            $scope.removeRu = function (index) {
                $scope.fillSite.rus.splice(index, 1);
            };

            $scope.addDu = function () {
                $scope.fillSite.dus.push({equipment: {definition:"DU", params: {rat: []}}, _command: "INSTALL_NEW_EQUIPMENT",definition:"DU"});
            };

            $scope.removeDu = function (index) {
                $scope.fillSite.dus.splice(index, 1);
            };

            $scope.changeModificationType = function (target, value) {
                $scope.fillSite[target] = value;
            };

            $scope.addPowerSource = function () {
                $scope.fillSite.powerSources.push({
                    params: {},
                    cable_ways: [],
                    cable_way: {},
                    lightning_sys: {},
                    grounding_sys: {},
                    disel_generator: {},
                    oil_tank: {},
                    electricity_counter: {},
                    _command: "CREATE_POWERSOURCE"
                });
            };

            $scope.removePowerSource = function (index) {
                $scope.fillSite.powerSources.splice(index, 1);
            };

            $scope.addSupplementary = function () {
                $scope.fillSite.supplementary.push({equipment: {definition:"SUPPLEMENTARY", params:{}}, params: {}, _command: "INSTALL_NEW_EQUIPMENT",definition:"SUPPLEMENTARY"});
            }

            $scope.removeSupplementary = function (index) {
                $scope.fillSite.supplementary.splice(index, 1);
            };

            $scope.addAntenna = function () {
                $scope.fillSite.antennas.push({equipment: {definition:"ANTENNA", params: {rat: []}}, params: {}, _command: "INSTALL_NEW_EQUIPMENT",definition:"ANTENNA"});
            }

            $scope.removeAntenna = function (index) {
                $scope.fillSite.antennas.splice(index, 1);
            };

            $scope.addCellToPower = function (index) {
                if (!$scope.fillSite.powerSources[index].params.cable_ways) {
                    $scope.fillSite.powerSources[index].params.cable_ways = [];
                }
                $scope.fillSite.powerSources[index].params.cable_ways.push({});
            };

            $scope.removeCellFromPower = function (powerIndex, cableIndex) {
                $scope.fillSite.powerSources[powerIndex].params.cable_ways.splice(cableIndex, 1);
            };

            $scope.fromCharCode = function (c) {
                return String.fromCharCode(c);
            };

            $scope.toggleConnectionEquipment = function(index, equipment){
                var idx = $scope.fillSite.transmissions[index].equipments.indexOf(equipment);

                if(idx > -1){
                    $scope.fillSite.transmissions[index].equipments.splice(idx,1);
                } else {
                    $scope.fillSite.transmissions[index].equipments.push(equipment);
                }
            }

            $scope.toggleRadioTechnologies = function (index, technology) {
                if (!$scope.fillSite.rus[index].equipment.params.rat) {
                    $scope.fillSite.rus[index].equipment.params.rat = [];
                }
                var idx = $scope.fillSite.rus[index].equipment.params.rat.indexOf(technology);

                if (idx > -1) {
                    $scope.fillSite.rus[index].equipment.params.rat.splice(idx, 1);
                }
                else {
                    $scope.fillSite.rus[index].equipment.params.rat.push(technology);
                }
            };

            $scope.toggleDigitalTechnologies = function (index, technology) {
                if (!$scope.fillSite.dus[index].equipment.params.rat) {
                    $scope.fillSite.dus[index].equipment.params.rat = [];
                }
                var idx = $scope.fillSite.dus[index].equipment.params.rat.indexOf(technology);

                if (idx > -1) {
                    $scope.fillSite.dus[index].equipment.params.rat.splice(idx, 1);
                }
                else {
                    $scope.fillSite.dus[index].equipment.params.rat.push(technology);
                }
            };

            $scope.toggleAntennaTechnologies = function (index, technology) {
                if (!$scope.fillSite.antennas[index].equipment.params.rat) {
                    $scope.fillSite.antennas[index].equipment.params.rat = [];
                }
                var idx = $scope.fillSite.antennas[index].equipment.params.rat.indexOf(technology);
                if (idx > -1) {
                    $scope.fillSite.antennas[index].equipment.params.rat.splice(idx, 1);
                }
                else {
                    $scope.fillSite.antennas[index].equipment.params.rat.push(technology);
                }
            };

            $scope.addHop = function () {
                var selectedSite;
                console.log($scope.farEndSite);
                for (var i = 0; i < $scope.sitesList.length; i++) {
                    if ($scope.sitesList[i].id === $scope.farEndSite.id) {
                        selectedSite = $scope.sitesList[i];
                    }
                }
                if (selectedSite) {
                    $http.get('/asset-management/api/sites/' + selectedSite.id + '?projection=full', {headers:{'If-None-Match':'*'}}).then(
                            function (result) {
                                var site = result.data;
                                var siteData = {};
                                if (site.installations !== undefined) {
                                    var map = _.groupBy(site.installations, 'equipment.definition');
                                    siteData.ous = angular.copy(map.OU);
                                    siteData.ius = angular.copy(map.IU);
                                    siteData.aus = angular.copy(map.AU);
                                    siteData.site = {
                                        id : selectedSite.id,
                                        name: selectedSite.name
                                    };
                                    delete site['installations'];

                                    $scope.fillSite.transmissions.push({
                                        farEnd: siteData,
                                        definition: "TRANSMISSION_RADIO_RELAY",
                                        params:{
                                            sites: [$scope.jobModel.site.originalValue, selectedSite.id]
                                        },
                                        nearEnd: {
                                            site: $scope.jobModel.site.originalValue
                                        },
                                        _command: "CONNECT_EQUIPMENT",
                                        equipments: []
                                    });
                                } else {
                                    $scope.fillSite.transmissions.push({
                                        farEnd: {
                                            site : {
                                                id: selectedSite.id,
                                                name: selectedSite.name
                                            }
                                        },
                                        definition: "TRANSMISSION_RADIO_RELAY",
                                        params:{
                                            sites: [$scope.jobModel.site.originalValue, selectedSite.id]
                                        },
                                        nearEnd: {site: $scope.jobModel.site.originalValue},
                                        _command: "CONNECT_EQUIPMENT",
                                        equipments: []
                                    });
                                }
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                    $scope.toggleHop();
                }
            };

            $scope.removeHop = function(index){
                $scope.fillSite.transmissions.splice(index, 1);
            }

            $scope.addIndoorUnit = function () {
                $scope.fillSite.ius.push({
                    id : generateId(),
                    params: {},
                    equipment: {
                        params: {},
                        definition: "IU",
                        id: generateId()
                    },
                    definition: "IU",
                    _command: "INSTALL_NEW_EQUIPMENT"
                });
            };

            $scope.removeIndoorUnit = function(index){
                $scope.fillSite.ius.splice(index,1);
            }

            $scope.addOutdoorUnit = function () {
                $scope.fillSite.ous.push({
                    id : generateId(),
                    params: {},
                    equipment: {
                        params: {},
                        definition: "OU",
                        id: generateId()
                    },
                    definition: "OU",
                    _command: "INSTALL_NEW_EQUIPMENT"
                });
            };

            $scope.removeOutdoorUnit = function(index){
                $scope.fillSite.ous.splice(index,1);
            }

            $scope.addAntennaUnit = function () {
                $scope.fillSite.aus.push({
                    id : generateId(),
                    params: {},
                    equipment: {
                        params: {},
                        definition: "AU",
                        id: generateId()
                    },
                    definition: "AU",
                    _command: "INSTALL_NEW_EQUIPMENT"
                });
            };

            $scope.removeAntennaUnit = function(index){
                $scope.fillSite.aus.splice(index,1);
            }

            $scope.toggleHop = function () {
                $scope.showAddHop = !$scope.showAddHop;
            };

            $scope.addIndoorConnection = function (index) {
                $scope.fillSite.transmissions[index].indoorConnections.push({params:{}});
            };

            $scope.removeIndoorConnection = function (transmissionIndex, idcIndex) {
                $scope.fillSite.transmissions[transmissionIndex].indoorConnections.splice(idcIndex,1)
            }

            $scope.addOutdoorConnection = function (index) {
                $scope.fillSite.transmissions[index].outdoorConnections.push({params:{}});
            };

            $scope.removeOutdoorConnection = function (transmissionIndex, odcIndex) {
                $scope.fillSite.transmissions[transmissionIndex].outdoorConnections.splice(odcIndex,1)
            }

            $scope.addAntennaConnection = function (index) {
                $scope.fillSite.transmissions[index].antennaConnections.push({params:{}});
            };

            $scope.removeAntennaConnection = function (transmissionIndex, antennaIndex) {
                $scope.fillSite.transmissions[transmissionIndex].antennaConnections.splice(antennaIndex,1)
            }

            $scope.myRegex = /[a-zA-Z]{4}[0-9]{6,6}[a-zA-Z0-9]{3}/;

            $scope.createSummaryDocument = function(){
                var fillSite = $scope.fillSite;
                var summary = [];
                if(fillSite !== undefined){
                    var facilityCommands = _.flatMap(fillSite.facilities, function(e){
                        if(e._command == 'ADD_FACILITY'){
                            return [{command:e._command, payload:e}];
                        } else if(e._command == 'MODIFY_FACILITY'){
                            return [{command:e._command, id: e.id, payload:e}];
                        } else {
                            return [];
                        }
                    });
                    summary = summary.concat(facilityCommands);

                    var cabinetCommands = _.flatMap(fillSite.cabinets, createCommandForEquipment);
                    summary = summary.concat(cabinetCommands);

                    var ruCommands = _.flatMap(fillSite.rus, createCommandForEquipment);
                    summary = summary.concat(ruCommands);

                    var duCommands = _.flatMap(fillSite.dus, createCommandForEquipment);
                    summary = summary.concat(duCommands);

                    var powerSourcesCommands = _.flatMap(fillSite.powerSources, function(e){
                        if(e._command == 'CREATE_POWERSOURCE'){
                            return [{command:e._command, payload:e}];
                        } else if(e._command == 'MODIFY_POWERSOURCE'){
                            return [{command:e._command, id: e.id, payload:e}];
                        } else if(e._command == 'REMOVE_POWERSOURCE') {
                            return [{command:e._command, payload:{id: e.id}}];
                        } else if(e._command == 'REPLACE_POWERSOURCE') {
                            var payload = angular.copy(e);
                            payload.id = generateId();
                            return [{command:e._command, id: e.id, payload: payload}];
                        } else {
                            return [];
                        }
                    });
                    summary = summary.concat(powerSourcesCommands);

                    var antennasCommands = _.flatMap(fillSite.antennas, createCommandForEquipment);
                    summary = summary.concat(antennasCommands);

                    var supplementaryCommands = _.flatMap(fillSite.supplementary, createCommandForEquipment);
                    summary = summary.concat(supplementaryCommands);

                    var indoorUnitCommands = _.flatMap(fillSite.ius, createCommandForEquipment);
                    summary = summary.concat(indoorUnitCommands);

                    var outdoorUnitCommands = _.flatMap(fillSite.ous, createCommandForEquipment);
                    summary = summary.concat(outdoorUnitCommands);

                    var antennaUnitCommands = _.flatMap(fillSite.aus, createCommandForEquipment);
                    summary = summary.concat(antennaUnitCommands);

                    var tranmissionCommands = _.flatMap(fillSite.transmissions, function(e){
                        delete e['farEnd'];
                        delete e['nearEnd'];
                        if(e._command == 'CONNECT_EQUIPMENT'){
                            return [{command:e._command, payload:e}];
                        } else if(e._command == 'MODIFY_CONNECTION'){
                            return [{command:e._command, id: e.id, payload:e}];
                        } else if(e._command == 'REMOVE_CONNECTION') {
                            return [{command:e._command, payload:{id: e.id}}];
                        } else {
                            return [];
                        }
                    });
                    summary = summary.concat(tranmissionCommands);
                    $scope.summaries = summary;
                }
            };
            function createCommandForEquipment(e){
                if(e._command == 'INSTALL_NEW_EQUIPMENT'){
                    return [{command:e._command, payload:e}];
                } else if(e._command == 'MODIFY_INSTALLATION'){
                    return [{command:e._command, id: e.id, payload:e}];
                } else if(e._command == 'DISMANTLE_EQUIPMENT') {
                    return [{command:e._command, payload:{id: e.id}}];
                } else if(e._command == 'REPLACE_EQUIPMENT') {
                    var payload = angular.copy(e);
                    if(!payload.equipment){
                        payload.equipment = {params:{}};
                    }
                    payload.equipment.id = generateId();
                    payload.equipment.definition = e.definition;
                    return [{command:e._command, id: e.id, payload: payload}];
                } else {
                    return [];
                }
            }
        }]);
    </script>
    <h4>Site Id: {{jobModel.site.originalValue}}, Site Name: {{jobModel.siteName.originalValue}} </h4>
    <table class="table table-hover table-bordered well">
        <thead>
        <tr>
            <th>#</th>
            <th>List of works</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in jobModel.jobWorks.value">
            <td>{{$index+1}}</td>
            <td>{{jobModel.worksTitle[work.sapServiceNumber]}}, works qty: {{work.quantity}}, materials qty:
                {{work.materialQuantity}} {{jobModel.unitsTitle[work.unit]}}, on sites: {{work.sites}} (Near end)
            </td>
        </tr>
        </tbody>
    </table>
    <tabset class="my-tab-head my-tab" justified="true" id="executeWorksId">
        <tab select="createSummaryDocument(fillSite)">
            <tab-heading><span class="glyphicon glyphicon-leaf"></span> Summary</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-summary.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading><span class="glyphicon glyphicon-map-marker"></span> Facility</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-facility.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading><span class="glyphicon glyphicon-th"></span> Cabinets</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-cabinets.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading title="Radio/Digital Units"><span class="glyphicon glyphicon-cog"></span> RU/DU</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-radio.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading title="Antenna Systems"><span class="glyphicon glyphicon-signal"></span> Antenna</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-antenna.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading><span class="glyphicon glyphicon-flash"></span> Power</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-power.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading><span class="glyphicon glyphicon-transfer"></span> Transmission</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-transmission.html'"></ng-include>
        </tab>
        <tab>
            <tab-heading><span class="glyphicon glyphicon-leaf"></span> Supplementary</tab-heading>
            <ng-include ng-if="contextPath" src="contextPath+'/forms/revision/fill-supplementary.html'"></ng-include>
        </tab>
    </tabset>
    <div class="well">
        <div class="form-group">
            <label class="col-sm-4 control-label">Resolution</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="fillAppliedChangesInfoByContractorTaskResult"
                           ng-model="fillAppliedChangesInfoByContractorTaskResult" value="saveChanges" required> Save
                    changes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fillAppliedChangesInfoByContractorTaskResult"
                           ng-model="fillAppliedChangesInfoByContractorTaskResult" value="notAvailable" required>
                    Materials not available
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fillAppliedChangesInfoByContractorTaskResult"
                           ng-model="fillAppliedChangesInfoByContractorTaskResult" value="cannotPerform" required>
                    Cannot perform works
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Comments</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="4" maxlength="500"
                          cam-variable-name="fillAppliedChangesByContractorComment"
                          ng-required="fillAppliedChangesInfoByContractorTaskResult == 'notAvailable' || fillAppliedChangesInfoByContractorTaskResult == 'cannotPerform'"
                          cam-variable-type="String"></textarea>
            </div>
        </div>
    </div>
</form>