<style>
    .well {
        color: #333;
    }
</style>
<form role="form" class="form-horizontal">
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', function ($scope, $http) {
            var variables = [
                'requestedDate',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'supplementaryFile1',
                'supplementaryFile2',
                'supplementaryFile3',
                'supplementaryFile4',
                'supplementaryFile5',
                'explanation',
                'jobWorks'
            ];

            $scope.jobModel = {};
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get('/api/catalogs').then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'sapLeasingCompletionCommenTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'prCreated',
                    type: 'Boolean',
                    value: undefined
                });
                $scope.sapLeasingCompletionCommenTaskResult = '';
                camForm.variableManager.variableValue('sapLeasingCompletionCommenTaskResult', $scope.sapLeasingCompletionCommenTaskResult);
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    $scope.jobModel[el] = camForm.variableManager.variables[el];
                });
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('sapLeasingCompletionCommenTaskResult', $scope.sapLeasingCompletionCommenTaskResult);
                if ($scope.sapLeasingCompletionCommenTaskResult === 'prCreated') {
                    camForm.variableManager.variableValue('prCreated', true);
                }
                else{
                    camForm.variableManager.variableValue('prCreated', false);
                    for (var i = 0; i < camForm.fields.length; i++) {
                        if (camForm.fields[i].variableName == 'sapPRFileXLS') {
                            if (camForm.fields[i].element.context.value == '') {
                                camForm.fields.splice(i, 1);
                                camForm.variableManager.destroyVariable('sapPRFileXLS');
                            }
                        }
                    }
                }
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('sapLeasingCompletionCommenTaskResult', $scope.sapLeasingCompletionCommenTaskResult);
            });

            camForm.on('variables-restored', function() {
                $scope.sapLeasingCompletionCommenTaskResult = camForm.variableManager.variableValue('sapLeasingCompletionCommenTaskResult');
            });
        }]);
    </script>
    <job-request job-model="jobModel"></job-request>
    <div class="form-group">
        <label class="col-sm-4 control-label">PR No.:</label>
        <div class="col-sm-8">
            <input type="text" cam-variable-name="sapPRNo" cam-variable-type="String" class="form-control" maxlength="20" ng-required="sapLeasingCompletionCommenTaskResult === 'prCreated'"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">SAP PR File (xls):</label>
        <div class="col-sm-8">
            <input type="file" cam-variable-name="sapPRFileXLS" cam-variable-type="File" cam-max-filesize="10000000" accept=".xls, .xlsx" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="sapLeasingCompletionCommenTaskResult" ng-model="sapLeasingCompletionCommenTaskResult" value="prCreated" required> PR Created
            </label>
            <label class="radio-inline">
                <input type="radio" name="sapLeasingCompletionCommenTaskResult" ng-model="sapLeasingCompletionCommenTaskResult" value="cannotCreatePR" required> Cannot create PR
            </label>
            <label class="radio-inline">
                <input type="radio" name="sapLeasingCompletionCommenTaskResult" ng-model="sapLeasingCompletionCommenTaskResult" value="increaseBudget" required> Increase budget
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Leasing completion Comment:</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="4" maxlength="500" cam-variable-name="sapLeasingCompletionComment" ng-required="sapLeasingCompletionCommenTaskResult === 'cannotCreatePR' || sapLeasingCompletionCommenTaskResult === 'increaseBudget'" cam-variable-type="String"></textarea>
        </div>
    </div>
</form>