<style>
	.my-row{
		color: #929292;
	}
	.my-row b {
		color: #000;
	}
</style>
<div class="well">
	<h4>Общая информация:</h4>
	<div class="row">
        <div class="col-sm-12">
            <b>Наименование компании на латинице</b>: {{freephoneInfo.clientCompanyLatName}}
        </div>   
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>Юридическое наименование компании</b>: {{freephoneInfo.officialClientCompanyName}}
        </div>   
    </div>
    <div class="row">
        <div class="col-md-4"><b>{{finalIDs.length>1?'Идентификаторы':'Идентификатор'}}</b>: <span ng-repeat="i in freephoneInfo.finalIDs track by $index "> {{$index>0?', ':''}}{{i}}</span></div>
    </div>
    <div class="row">
        <div class="col-md-4"><b>БИН клиента</b>: {{freephoneInfo.clientBIN}}</div>
        <div class="col-md-4"><b>Тип оператора</b>: {{freephoneInfo.operatorType==='Offnet'?'Off-Net':'On-Net'}}</div>
        <div class="col-md-4"><b>Тип подключения</b>: {{freephoneInfo.connectionType==='SIP'?'SIP':freephoneInfo.connectionType==='E1'?'E1':'ПЕРЕАДРЕСАЦИЯ'}}</div>
    </div>
    <div class="row">
        <div class="col-md-8" ng-show="freephoneInfo.description"><b>Описание</b>: {{freephoneInfo.description}}</div>
    </div>
    <div class="row" ng-show="freephoneInfo.abonentTarif || freephoneInfo.priority">
        <div class="col-md-4" ng-show="freephoneInfo.abonentTarif && freephoneInfo.showTarif"><b>Тариф для абонента</b>: {{freephoneInfo.abonentTarif}}</div>
        <div class="col-md-4" ng-show="freephoneInfo.priority"><b>Приоритет</b>: {{freephoneInfo.priority}}</div>
    </div>
    <div class="row" >
        <div class="col-md-4" ng-if="freephoneInfo.provider" ><b>Провайдер</b>: {{freephoneInfo.provider==='MMS'?'MMS':'SMS­-Consult'}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.transmitNumber"><b>Номер переадресации</b>: {{freephoneInfo.transmitNumber}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.ipNumber"><b>{{freephoneInfo.firewalltask?'Откуда':'IP'}}</b>: {{freephoneInfo.ipNumber}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.toIP"><b>Куда</b>: {{freephoneInfo.toIP}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.toPort"><b>Порт</b>: {{freephoneInfo.toPort}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.addressATS"><b>Адрес АТС клиента</b>: {{freephoneInfo.addressATS}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.coordinates"><b>Координаты</b>: {{freephoneInfo.coordinates}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.channelKLM"><b>KLM канал</b>: {{freephoneInfo.channelKLM}}</div>
        <div class="col-md-4" ng-if="freephoneInfo.buildingOwner"><b>Собственник здания</b>: {{freephoneInfo.buildingOwner}}</div>
    </div>
    <h4 ng-show="freephoneInfo.techSpecFIO || freephoneInfo.techSpecNumber || freephoneInfo.techSpecEmail">Технический специалист:</h4>
    <div class="row">
        <div ng-show="freephoneInfo.techSpecFIO" class="col-md-4"><b>ФИО</b>: {{freephoneInfo.techSpecFIO}}</div>
        <div ng-show="freephoneInfo.techSpecNumber" class="col-md-4"><b>Телефон</b>: {{freephoneInfo.techSpecNumber}}</div>
        <div ng-show="freephoneInfo.techSpecEmail" class="col-md-4"><b>Email</b>: {{freephoneInfo.techSpecEmail}}</div>
    </div>
    <br>
	<div class="row my-row">
		<div class="col-md-12" ng-show="freephoneInfo.files.length > 0">
			<div class="row">
				<div class="col-md-12">Прикрепленные файлы:</div>
				<iframe id="fileDownloadIframe" style="display:none;"></iframe>
				<div class="col-sm-12">
	                <div ng-repeat="file in freephoneInfo.files track by $index">
		                <a 
		                ng-click="download(file.path)" 
		                download="{{file.name}}">
		                {{file.name}}</a>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>