<div class="well">
    <div class="form-group">
        <label class="col-sm-3 control-label">Initiator:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" value = "{{invoice.initiatorFull.value.lastName}} {{invoice.initiatorFull.value.firstName}}" disabled="disabled" />
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="col-sm-3 control-label">Monthly Act #:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" value = "{{invoice.monthActNumber.value}}" disabled="disabled" />
        </div>
    </div> -->
    <div class="form-group">
        <label class="col-sm-3 control-label">Region:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" value = "{{invoice.regionLabel.value}}" disabled="disabled" />
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="col-sm-3 control-label">Type of works:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" value = "{{invoice.workTypeLabel.value}}" disabled="disabled" />
        </div>
    </div> -->
    <div class="form-group">
        <label class="col-sm-3 control-label">Period:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" value = "to {{invoice.periodDate.value | date:'dd.MM.yyyy hh:mm'}}" disabled="disabled" />
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="row">
        <table class="table table-condensed" class="form-group" ng-if="invoice.selectedWorks.value" ng-init="getCatalogs()">
            <thead>
                <tr>
                    <th colspan="2">Requested Job Info</th>
                    <th>Site Info</th>
                    <th colspan="7">Job Request Info</th>
                    <th colspan="2">Delay Info</th>
                </tr>
                <tr>
                    <th width="35%">Ordered work</th>
                    <th width="3%">Q-ty</th>
                    <th width="9%">Sitename</th>
                    <th width="12%">JR number</th>
                    <th width="6%">Job Request ordered date</th>
                    <th width="6%">Material list approval date</th>
                    <th width="6%">Job Request Perform date</th>
                    <th width="6%">Job Request Acceptance date</th>
                    <th width="3%">Emergency JR</th> <!--"yes" or "no"-->
                    <th width="3%">Customer's material required</th> <!--"yes" or "no"-->
                    <th width="3%">Emergency JR</th>
                    <th width="3%">Regular JR</th>
                    <th width="3%" ng-if="invoice.showComments">Comment</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, value) in invoice.selectedWorks.value">
                <tr ng-repeat="w in value">
                    <td ng-if="$first" rowspan="{{value.length}}">{{catalogs.worksTitle[key]}}</td>
                    <td>{{w.quantity}}</td>
                    <td>{{w.site_name}}</td>
                    <td><a ng-click="toggleProcessView(w.processInstanceId, key)">{{w.businessKey}}</a></td>
                    <td>{{w.fillAppliedChanges | date:'dd.MM.yyyy'}}</td>
                    <td>{{w.validateTr | date:'dd.MM.yyyy'}}</td>
                    <td>{{w.acceptWorkStartTime | date:'dd.MM.yyyy'}}</td>
                    <td>{{w.acceptWorkEndTime | date:'dd.MM.yyyy'}}</td>
                    <td>{{w.priority == 'emergency'?'Emergency':'Regular'}}</td>
                    <td>{{w.materialsRequired}}</td>
                    <td >
                        <div ng-show="!emergencyDelayEditable">
                            {{w.emergencyDelay}}
                            <a class="glyphicon" ng-class="{'glyphicon-pencil': invoice.showEditableDelay}"  aria-hidden="true" ng-click="emergencyDelayEditable = !emergencyDelayEditable"></a>  
                        </div>
                        <div ng-if="emergencyDelayEditable" class="input-group">
                            <input type="number" ng-model="w.emergencyDelay" min="0" name="emergencyDelay{{$index}}" style="width: 50px;">
                        </div>
                        <label class="error" ng-if="kcell_form['emergencyDelay' + $index].$error.required && ( kcell_form['emergencyDelay' + $index].$touched || view.submitted) && emergencyDelayEditable">Required field</label>
                        
                    </td>
                    <td>
                        <div ng-show="!regularDelayEditable">
                            {{w.regularDelay}}
                            <a class="glyphicon" ng-class="{'glyphicon-pencil': invoice.showEditableDelay}"  aria-hidden="true" ng-click="regularDelayEditable = !regularDelayEditable"></a>  
                        </div>
                        <div ng-if="regularDelayEditable" class="input-group">
                            <input type="number" ng-model="w.regularDelay" min="0" name="regularDelay{{$index}}" style="width: 50px;">
                        </div>
                        <label class="error" ng-if="kcell_form['regularDelay' + $index].$error.required && ( kcell_form['regularDelay' + $index].$touched || view.submitted) && regularDelayEditable">Required field</label>
                    </td>
                    <td ng-if="invoice.showComments">
                        <div ng-show="!jrCommentEditable">
                            <a class="glyphicon" ng-class="{'glyphicon-comment': w.jrComment, 'glyphicon-plus': !w.jrComment }" placement="left" tooltip="{{w.jrComment}}" tooltip-append-to-body="true" aria-hidden="true" ng-click="jrCommentEditable = !jrCommentEditable"></a>
                        </div>
                        <div ng-show="jrCommentEditable" class="input-group">
                            <input type="text" ng-model="w.jrComment" name="jrComment{{$index}}" style="width: 50px;">
                        </div>
                        <label class="error" ng-if="kcell_form['jrComment' + $index].$error.required && ( kcell_form['jrComment' + $index].$touched || view.submitted) && jrCommentEditable">Required field</label>
                    </td>
                </tr>
                <tr ng-if="pkey === key && jobModel">
                    <td colspan="11">
                        <job-request job-model="jobModel"></job-request>
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>
