<style>
    .simditor-body {
        font-size: 14px !important;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
        line-height: 1.42857143 !important;
    }
    
    .modal-dialog {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
</style>

<div ng-if="!disabled">
    <div>
        <textarea id="{{editorid}}"></textarea>
    </div>
</div>

<div ng-if="disabled" class="col-sm-12 simditor" style="background: #fff; border: 1px solid #ccc; border-radius: 2px; padding-top: 5px; margin-bottom: 10px;">
    <span class="simditor-body" ng-if="disabled" ng-bind-html="htmlcode"></span>
</div>