accordion .panel-heading a
{
    display: block;
    padding: 10px 15px;
}
accordion .panel-heading
{
    padding: 0;
}

accordion .panel-heading
{
    padding: 0;
}

.accordion-toggle:focus{outline: none !important;}
