#toasty .toast.toasty-theme-default.toasty-type-success {
    background-color: #ffffff !important;
    border-radius: 15px;
    opacity:1.0;
    background-image:url('../img/lightbulb.svg') !important;
}
#toasty .toast.toasty-theme-default.toasty-type-error {
    background-color: #fc3a3a !important;
    border-radius: 15px;
    opacity:1.0;
}
#toasty .toast.toasty-theme-default.toasty-type-error .toast-text, #toasty .toast.toasty-theme-default.toasty-type-error .close-button:after  {
    color:#fff !important;
}
#toasty .toast.toasty-theme-default.toasty-type-success .toast-text, #toasty .toast.toasty-theme-default.toasty-type-success .close-button:after  {
    color:#535252 !important;
}
#toasty .toast.toasty-theme-default.toasty-type-error .close-button {
    opacity:1.0;
}
