.flex-table {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;
    min-height:550px;
    height:550px;
}
.flex-table thead {
    width:100%;
}

.flex-table tbody {
    overflow-y: overlay;
}
.flex-table tbody:last-child {
    overflow-y:visible;
}

.flex-table tr {
    display: flex;
    flex-flow: row nowrap;
}

.flex-table th, .flex-table td {
    flex: 3 1 0;
    overflow: hidden;
    min-width: 0;
    word-break: break-word;
}




.flex-table tr > td:first-child, .flex-table tr > th:first-child {
    flex-grow: 1;
}

.flex-table-expand {
    flex-grow:6 !important;
    white-space:normal !important;;
}