input:not([type=checkbox]):not([type=radio]):focus {
    border-color: rgba(100, 49, 132, 0.7);
    outline: 0 none;
}

input:not([type=checkbox]):not([type=radio]):disabled:hover {
    border-color:#ccc !important;
}

label.error {
    font-weight:normal !important;
}

