.btn-pagination-active {
    border: 2px solid #643184;
    border-radius: 20%;
    line-height:28px !important;
}

.btn-pagination {
    color: #222;
    font-size:14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    margin: auto 5px;
}

.btn-pagination-active[disabled] {
    opacity: 1.0 !important;
}