.new-card-search .process-status, .new-card-search .block-headers {
    font-size:16px;
}
.new-card-search .tech-spec-card {
    margin-bottom:10px;
    margin-top:10px;
}
.new-card-search .ul-padding {
    padding-left:15px;
    padding-right:15px;
    padding-bottom:10px;
}
.new-card-search .task h5 {
    font-weight: bold;
}
.new-card-search .task .card-task-descr {
    font-size:13px;
}
.new-card-search .task .text-muted {
    font-size:12px;
}

.card-modal-header {
    background: transparent;
    color: black;
    padding: 0 15px 0 15px;
}
.drop-button {
    border:none;
    width:100%;
    text-align:left;
}
.dropdown-menu li .drop-button:hover {
    background:#f3f3f3;
    z-index:100;
}
.modal {
    overflow-y: overlay !important;
}
.modal-footer-custom {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer-custom:before, .modal-footer-custom:after {
    display: table;
    content: " ";
}
.modal-footer-custom:after {
    clear:both;
}
#aftersalesTable {
    margin-bottom:3px;
}
