#toasty .toast.toasty-theme-default.toasty-type-success {
    background-color: #ffffff !important;
    border-radius: 15px;
    background-image:url('../img/lightbulb.png') !important;
}

#toasty .toast.toasty-theme-default.toasty-type-success .toast-text, #toasty .toast.toasty-theme-default.toasty-type-success .close-button:after  {
    color:#535252 !important;
}

