.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #fff !important;
}

.nav-tabs>li.disabled>a:hover , .nav-tabs>li.disabled>a:focus, .nav-tabs>li.disabled>a {
    border-bottom: 2px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
}

.nav-tabs>li.disabled {
    background-color: #f7f7f7 !important;
}

.nav-tabs.nav-justified {
    display:table;
}
.nav-tabs.nav-justified>li {
    width:auto !important;
    float: none! important;
}
