<tabset class="my-tab" justified="true" id="cellAntenna.sectors" >
    <tab ng-click="tabStepLeft()">
        <tab-heading height="50px"><b><</b></tab-heading>
    </tab>
    <tab ng-repeat="s in cellAntenna.sectors" id="sectorTab{{$index}} " ng-click="selectAntennaSector($index)" ng-show="$index >= minTab && $index < maxTab" active="s.active">
        <tab-heading>
            <div>
                <p>Sector&nbsp;{{$index+1}}-Cell&nbsp;{{alphabet[$index].toUpperCase()}}
                    <a ng-click="cellAntenna.sectors.splice($index,1); tabStepLeft();" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a></p>
            </div>
        </tab-heading>
        <br>
        <div class="col-sm-12">
            <div class="form-group" ng-repeat="ant in s.antennas">
                <div class="row" style="margin-top:10px">
                    <br>
                    <div style="background-color: whitesmoke;" class="col-sm-12">
                        <label class="control-label"><b>Cell Antenna {{$index+1}}</b></label>
                        <a ng-click="s.antennas.splice($index,1)" class="pull-right">
                            <span style="margin-top: 5px" class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <div class="col-sm-12" style="background-color: white; margin-bottom:-3%;">
                        <br>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td>*Antenna name:</td>
                                <td class="col-sm-1">*Quantity:</td>
                                <td>*Dimensions:</td>
                                <td class="col-sm-1">*Weight (kg):</td>
                                <td class="col-sm-1">*Azimuth:</td>
                                <td>*Suspension height (m):</td>
                                <td>*Antenna Location:</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-sm-3">
                                    <select class="form-control" id="antennaNameInSector_{{$parent.$index}}_{{$index}}" name="antennaNameInSector_{{$parent.$index}}_{{$index}}" ng-change="antennaNameSelected($parent.$index, $index, ant.antennaName)" ng-model="ant.antennaName" required>
                                        <option ng-repeat="a in antennasList" ng-value="a.antenna">{{a.antenna}}</option>
                                    </select>
                                    <label class="error" ng-show="kcell_form.antennaNameInSector_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.antennaNameInSector_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required field</label>
                                </td>
                                <td class="col-sm-1">
                                    <input type="number" ng-change="changedAntennaQuantity($index, $parent.$index)" required class="form-control" id="quantity_{{$parent.$index}}_{{$index}}"
                                           name="quantity_{{$parent.$index}}_{{$index}}" ng-model="ant.quantity" placeholder="">
                                    <label class="error"
                                           ng-show="kcell_form.quantity_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.quantity_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required
                                        field</label>

                                </td>
                                <td class="col-sm-2">
                                    <input class="form-control" id="dimensions_{{$parent.$index}}_{{$index}}"
                                           name="dimensions_{{$parent.$index}}_{{$index}}" ng-model="ant.dimension"
                                           placeholder="1000x100x100" required>
                                    <label class="error"
                                           ng-show="kcell_form.dimensions_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.dimensions_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required
                                        field</label>
                                </td>
                                <!--                                                        <td class="col-sm-2">-->
                                <!--                                                            <input class="form-control" type="number" id="frequencyBand_{{$parent.$index}}_{{$index}}"-->
                                <!--                                                                   name="frequencyBand_{{$parent.$index}}_{{$index}}" ng-model="ant.frequencyBand"-->
                                <!--                                                                   ng-change="checkFrequency(ant.frequencyBand, $index)" placeholder=""-->
                                <!--                                                                   required disabled>-->
                                <!--                                                            <label class="error"-->
                                <!--                                                                   ng-show="kcell_form.frequencyBand_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.frequencyBand_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required-->
                                <!--                                                                field</label>-->
                                <!--                                                        </td>-->
                                <td class="col-sm-1">
                                    <input class="form-control" id="weight_{{$parent.$index}}_{{$index}}" name="weight_{{$parent.$index}}_{{$index}}"
                                           ng-model="ant.weight" placeholder="10" required>
                                    <label class="error"
                                           ng-show="kcell_form.weight_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.weight_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required
                                        field</label>

                                </td>
                                <td class="col-sm-1">
                                    <input class="form-control" id="azimuth_{{$parent.$index}}_{{$index}}"
                                           name="azimuth_{{$parent.$index}}_{{$index}}" type="number"
                                           ng-change="checkAzimuth(ant.azimuth, $index)" ng-model="ant.azimuth"
                                           ng-pattern="azimuthPattern"
                                           placeholder="(0-360)" required>
                                    <label class="error"
                                           ng-show="kcell_form.azimuth_{{$parent.$index}}_{{$index}}.$error.pattern && ( kcell_form.azimuth_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Неверный формат</label>
                                    <label class="error"
                                           ng-show="kcell_form.azimuth_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.azimuth_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required
                                        field</label>
                                </td>
                                <td class="col-sm-2">
                                    <input class="form-control" id="suspensionHeight_{{$parent.$index}}_{{$index}}"
                                           name="suspensionHeight_{{$parent.$index}}_{{$index}}" ng-model="ant.suspensionHeight"
                                           placeholder="" required>
                                    <label class="error"
                                           ng-show="kcell_form.suspensionHeight_{{$parent.$index}}_{{$index}}.$error.required && ( kcell_form.suspensionHeight_{{$parent.$index}}_{{$index}}.$touched || view.submitted)">Required
                                        field</label>
                                </td>
                                <td class="col-sm-2">
                                    <select class="form-control" name="{{'antennaLocation_' + $parent.$index + '_' + $index}}" id="{{'antennaLocation_' + $parent.$index + '_' + $index}}" ng-model="ant.cn_antenna_loc" required>
                                        <option ng-repeat="a in dictionary.antennaLocation" ng-value="a.name">{{a.name}}</option>
                                    </select>
                                    <label class="error" ng-show="kcell_form.{{'antennaLocation_' + $parent.$index + '_' + $index}}.$error.required && ( kcell_form.{{'antennaLocation_' + $parent.$index + '_' + $index}}.$touched || view.submitted)">Required field</label>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group col-sm-12" style="background-color: white;">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="col-sm-3">
                                        <label><b>*Antenna type</b></label>
                                    </td>
                                    <td  ng-repeat="a in filteredAntennaTypesBySiteType" style="padding-right: 10px">
                                        <div class="form-check">
                                            <input type="checkbox" ng-change="countAntennaQuantity(a, $parent.$parent.$index)" ng-model="ant.antennaType[a]" class="form-check-input" name="{{'antennaType_check_' + $parent.$index + '_' + $index}}" id="{{'antennaType_check_' + $parent.$index + '_' + $index}}" >
                                            <label class="form-check-label" for="{{'antennaType_check_' + $parent.$index + '_' + $index}}">{{a}}</label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-12">
                <input type="button" ng-click="s.antennas.push({})" value="Add Cell Antenna" class="btn btn-primary pull-right">
            </div>
            <br>
            <div class="col-sm-12">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td>Band:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">{{a.name}}</td>
                    </tr>
                    <tr>
                        <td>Antenna Quantity:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input ng-disabled="true" class="form-control" type="text" name="cn_gsm_antenna_quantity_{{$parent.$parent.$index}}_{{a.name}}" id="cn_gsm_antenna_quantity_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_gsm_antenna_quantity">
                        </td>
                    </tr>
                    <tr>
                        <td>Required TRX:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input class="form-control" ng-disabled="!s.bands[a.name].active || (a.name !== 'G900' && a.name !== 'G1800')" type="text" name="cn_trx_{{$parent.$parent.$index}}_{{a.name}}" id="cn_trx_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_trx">
                        </td>
                    </tr>
                    <tr>
                        <td>WCDMA Carrier:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input ng-disabled="!s.bands[a.name].active || (a.name !== 'U900' && a.name !== 'U1800')" class="form-control" type="text" name="cn_wcdma_carrier_{{$parent.$parent.$index}}_{{a.name}}" id="cn_wcdma_carrier_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_wcdma_carrier">
                        </td>
                    </tr>
                    <tr>
                        <td>Tilt [deg] mechanical:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input class="form-control" ng-disabled="!s.bands[a.name].active" type="text" name="cn_tilt_mech_{{$parent.$parent.$index}}_{{a.name}}" id="cn_tilt_mech_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_tilt_mech">
                        </td>
                    </tr>
                    <tr>
                        <td>Tilt [deg] electrical:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input class="form-control" ng-disabled="!s.bands[a.name].active" type="text" name="cn_tilt_electr_{{$parent.$parent.$index}}_{{a.name}}" id="cn_tilt_electr_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_tilt_electr">
                        </td>
                    </tr>
                    <tr>
                        <td>Direction [deg:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input class="form-control" ng-disabled="!s.bands[a.name].active" type="text" name="cn_direction_{{$parent.$parent.$index}}_{{a.name}}" id="cn_direction_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_direction">
                        </td>
                    </tr>
                    <tr>
                        <td>Height (top of ant) [m]:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <input class="form-control" ng-disabled="!s.bands[a.name].active" type="text" name="cn_height_{{$parent.$parent.$index}}_{{a.name}}" id="cn_height_{{$parent.$parent.$index}}_{{a.name}}"
                                   ng-model="s.bands[a.name].cn_height">
                        </td>
                    </tr>
                    <tr>
                        <td>Duplex Filter:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_duplex" class="form-check-input" id="cn_duplex_{{$parent.$parent.$index}}_{{a.name}}" name="cn_duplex_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_duplex_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Diversity:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_diversity" class="form-check-input" id="cn_diversity_{{$parent.$parent.$index}}_{{a.name}}" name="cn_diversity_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_diversity_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Power Splitter:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_power_splitter" class="form-check-input" id="cn_power_splitter_{{$parent.$parent.$index}}_{{a.name}}" name="cn_power_splitter_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_power_splitter_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Hybrid Combiner Unit:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_hcu" class="form-check-input" id="cn_hcu_{{$parent.$parent.$index}}_{{a.name}}" name="cn_hcu_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_hcu_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ASC:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_asc" class="form-check-input" id="cn_asc_{{$parent.$parent.$index}}_{{a.name}}" name="cn_asc_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_asc_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Remote Electrical Tilt:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_ret" class="form-check-input" id="cn_ret_{{$parent.$parent.$index}}_{{a.name}}" name="cn_ret_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_ret_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>TMA:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active" ng-model="s.bands[a.name].cn_tma" class="form-check-input" id="cn_tma_{{$parent.$parent.$index}}_{{a.name}}" name="cn_tma_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_tma_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>TCC:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active || (a.name !== 'G900' && a.name !== 'G1800')" ng-model="s.bands[a.name].cn_tcc" class="form-check-input" id="cn_tcc_{{$parent.$parent.$index}}_{{a.name}}" name="cn_tcc_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_tcc_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Extended range:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <div class="form-check">
                                <input type="checkbox" ng-disabled="!s.bands[a.name].active || (a.name !== 'G900' && a.name !== 'G1800')" ng-model="s.bands[a.name].cn_gsm_range" class="form-check-input" id="cn_gsm_range_{{$parent.$parent.$index}}_{{a.name}}" name="cn_gsm_range_{{$parent.$parent.$index}}_{{a.name}}">
                                <label class="form-check-label" for="cn_gsm_range_{{$parent.$parent.$index}}_{{a.name}}">Yes</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Radio Unit type:</td>
                        <td  ng-repeat="a in dictionary.antennaTypes" style="padding-right: 10px">
                            <select class="form-control col-sm-2" ng-disabled="!s.bands[a.name].active" name="radioUnit_{{$parent.$parent.$index}}_{{a.name}}" id="radioUnit_{{$parent.$parent.$index}}_{{a.name}}" ng-model="s.bands[a.name].cn_radio_unit" >
                                <option ng-repeat="a in dictionary.radioUnit" ng-value="a.name">{{a.name}}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--                                    <br>-->
            <!--                                    <br>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">GSM 900:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_gsm900_{{$index}}" id="cn_gsm900_{{$index}}_1" ng-model="s.cn_gsm900"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_gsm900_{{$index}}" id="cn_gsm900_{{$index}}_2" ng-model="s.cn_gsm900"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">LTE 800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_lte800_{{$index}}" id="cn_lte800_{{$index}}_1" ng-model="s.cn_lte800"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_lte800_{{$index}}" id="cn_lte800_{{$index}}_2" ng-model="s.cn_lte800"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">DCS 1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_dcs1800_{{$index}}" id="cn_dcs1800_{{$index}}_1" ng-model="s.cn_dcs1800"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_dcs1800_{{$index}}" id="cn_dcs1800_{{$index}}_2" ng-model="s.cn_dcs1800"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">RET LTE 800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_lte800_{{$index}}" id="cn_ret_lte800_{{$index}}_1" ng-model="s.cn_ret_lte800"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_lte800_{{$index}}" id="cn_ret_lte800_{{$index}}_2" ng-model="s.cn_ret_lte800"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">WCDMA 2100:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_wcdma2100_{{$index}}" id="cn_wcdma2100_{{$index}}_1" ng-model="s.cn_wcdma2100"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_wcdma2100_{{$index}}" id="cn_wcdma2100_{{$index}}_2" ng-model="s.cn_wcdma2100"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">LTE 1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_lte1800_{{$index}}" id="cn_lte1800_{{$index}}_1" ng-model="s.cn_lte1800"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_lte1800_{{$index}}" id="cn_lte1800_{{$index}}_2" ng-model="s.cn_lte1800"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">UMTS 900:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_umts900_{{$index}}" id="cn_umts900_{{$index}}_1" ng-model="s.cn_umts900"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_umts900_{{$index}}" id="cn_umts900_{{$index}}_2" ng-model="s.cn_umts900"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">RET LTE 1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_lte1800_{{$index}}" id="cn_ret_lte1800_{{$index}}_1" ng-model="s.cn_ret_lte1800"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_lte1800_{{$index}}" id="cn_ret_lte1800_{{$index}}_2" ng-model="s.cn_ret_lte1800" ng-checked="true"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Required TRX 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_trx_{{$index}}" id="cn_trx_{{$index}}"-->
            <!--                                                   ng-model="s.cn_trx">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">LTE 2100:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_lte2100_{{$index}}" id="cn_lte2100_{{$index}}_1" ng-model="s.cn_lte2100" ng-change="s.cn_ret_lte2100 = s.cn_lte2100"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_lte2100_{{$index}}" id="cn_lte2100_{{$index}}_2" ng-model="s.cn_lte2100" ng-change="s.cn_ret_lte2100 = s.cn_lte2100"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">WCDMA Carrier:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_wcdma_carrier_{{$index}}" id="cn_wcdma_carrier_{{$index}}"-->
            <!--                                                   ng-model="s.cn_wcdma_carrier">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">RET LTE 2100:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_lte2100_{{$index}}" id="cn_ret_lte2100_{{$index}}_1" ng-model="s.cn_ret_lte2100"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_lte2100_{{$index}}" id="cn_ret_lte2100_{{$index}}_2" ng-model="s.cn_ret_lte2100" ng-checked="true"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Antenna Quantity 900/1800/WCDMA:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_gsm_antenna_quantity_{{$index}}" id="cn_gsm_antenna_quantity_{{$index}}"v-->
            <!--                                                   ng-model="s.cn_gsm_antenna_quantity">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">Antenna Quantity LTE 800/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_lte_antenna_quantity_{{$index}}" id="cn_lte_antenna_quantity_{{$index}}"-->
            <!--                                                   ng-model="s.cn_lte_antenna_quantity">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Tilt [deg] mechanical 900/1800/WCDMA:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_tilt_mech_gsm_{{$index}}_{{$index}}" id="cn_tilt_mech_gsm_{{$index}}_{{$index}}"-->
            <!--                                                   ng-model="s.square">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">Tilt [deg] mechanical LTE 800/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_tilt_mech_lte_{{$index}}" id="cn_tilt_mech_lte_{{$index}}"-->
            <!--                                                   ng-model="s.cn_tilt_mech_lte">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Tilt [deg] electrical 900/1800/WCDMA:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_tilt_electr_gsm_{{$index}}" id="cn_tilt_electr_gsm_{{$index}}"-->
            <!--                                                   ng-model="s.cn_tilt_electr_gsm">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">Tilt [deg] electrical LTE 800/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_tilt_electr_lte_{{$index}}" id="cn_tilt_electr_lte_{{$index}}"-->
            <!--                                                   ng-model="s.cn_tilt_electr_lte">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Direction [deg] 900/1800/WCDMA:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_direction_gsm_{{$index}}" id="cn_direction_gsm_{{$index}}"-->
            <!--                                                   ng-model="s.cn_direction_gsm">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">Direction [deg] LTE 800/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_direction_lte_{{$index}}" id="cn_direction_lte_{{$index}}"-->
            <!--                                                   ng-model="s.cn_direction_lte">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Height (top of ant) [m] 900/1800/WCDMA:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_height_gsm_{{$index}}" id="cn_height_gsm_{{$index}}"-->
            <!--                                                   ng-model="s.cn_height_gsm">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">Height (top of ant) [m] LTE 800/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_height_lte_{{$index}}" id="cn_height_lte_{{$index}}"-->
            <!--                                                   ng-model="s.cn_height_lte">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <br>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Duplex Filter 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_duplex_gsm_{{$index}}" id="cn_duplex_gsm_{{$index}}"-->
            <!--                                                   ng-model="s.cn_duplex_gsm">-->
            <!--                                        </div>-->
            <!--                                        <label class="col-sm-4 control-label">Radio Unit type:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <select class="form-control col-sm-2" name="radioUnit_{{$index}}" id="radioUnit_{{$index}}" ng-model="s.cn_radio_unit" >-->
            <!--                                                <option ng-repeat="a in dictionary.radioUnit" ng-value="a.name">{{a.name}}</option>-->
            <!--                                            </select>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Diversity 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" name="cn_diversity_{{$index}}" id="cn_diversity_{{$index}}"-->
            <!--                                                   ng-model="s.cn_diversity">-->
            <!--                                        </div>-->
            <!--&lt;!&ndash;                                        <label class="col-sm-4 control-label">DU type:</label>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div class="col-sm-2">&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <select class="form-control col-sm-2" id="dUnit_{{$index}}" name="dUnit_{{$index}}" ng-model="s.cn_du" >&ndash;&gt;-->
            <!--&lt;!&ndash;                                                <option ng-repeat="a in dictionary.dUnit" ng-value="a.name">{{a.name}}</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            </select>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Power Splitter 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" id="cn_power_splitter_{{$index}}" name="cn_power_splitter_{{$index}}"-->
            <!--                                                   ng-model="s.cn_power_splitter">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Hybrid Combiner Unit (HCU) 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" id="cn_hcu_{{$index}}" name="cn_hcu_{{$index}}"-->
            <!--                                                   ng-model="s.cn_hcu">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">ASC:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_asc_{{$index}}" id="cn_asc_{{$index}}_1" ng-model="s.cn_asc"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_asc_{{$index}}" id="cn_asc_{{$index}}_2" ng-model="s.cn_asc"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Remote Electrical Tilt (RET):</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_{{$index}}" id="cn_ret_{{$index}}_1" ng-model="s.cn_ret"-->
            <!--                                                       value="Yes"> Yes-->
            <!--                                            </label>-->
            <!--                                            <label class="radio-inline">-->
            <!--                                                <input type="radio" name="cn_ret_{{$index}}" id="cn_ret_{{$index}}_2" ng-model="s.cn_ret"-->
            <!--                                                       value="No"> No-->
            <!--                                            </label>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">TMA 900/1800/WCDMA::</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" id="cn_tma_gsm_{{$index}}" name="cn_tma_gsm_{{$index}}"-->
            <!--                                                   ng-model="s.cn_tma_gsm">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">TCC 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" id="cn_tcc_{{$index}}" name="cn_tcc_{{$index}}"-->
            <!--                                                   ng-model="s.cn_tcc">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="form-group">-->
            <!--                                        <label class="col-sm-4 control-label">Extended range 900/1800:</label>-->
            <!--                                        <div class="col-sm-2">-->
            <!--                                            <input class="form-control" type="text" id="cn_gsm_range_{{$index}}" name="cn_gsm_range_{{$index}}"-->
            <!--                                                   ng-model="s.cn_gsm_range">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
        </div>
    </tab>
    <tab ng-click="newSector();">
        <tab-heading height="50px"><b>+</b></tab-heading>
    </tab>
    <tab ng-click="tabStepRight()">
        <tab-heading height="50px"><b>></b></tab-heading>
    </tab>
</tabset>