<style>
    .my-row{
        color: #929292;
    }
    .my-row b {
        color: #000;
    }
</style>
<div class="well">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-12"><b>NCP ID</b>: {{leasingInfo.ncpID}}</div>
            <!-- <div class="col-sm-12"><b>{{leasingInfo.finalIDs.length>1?'Идентификаторы':'Идентификатор'}}</b>: <span ng-repeat="i in leasingInfo.finalIDs track by $index "> {{$index>0?', ':''}}{{i}}</span></div> -->
            <div class="col-sm-12" ng-if="leasingInfo.siteType" ><b>Type</b>: {{leasingInfo.siteType.name}}</div>
            <div class="col-sm-12" ng-if="leasingInfo.regionName"><b>Region name</b>: {{leasingInfo.regionName}}</div>
            <div class="col-sm-12" ng-if="leasingInfo.project"><b>Project</b>: {{leasingInfo.project.name}}</div>
            <div class="col-sm-12" ng-if="leasingInfo.reason"><b>Reason</b>: {{leasingInfo.reason.reason}}</div>
            <!-- <div class="col-sm-12">
                <b>Идентификатор:</b><span class="col-lg-9 pull-right" ng-repeat="i in leasingInfo.identifiers[0].operators track by $index" ng-show="{{leasingInfo.operatorType === 'offnet'? 'i.isAvailable && i.checked': 'i.isAvailable' }}">{{i.name + ' - ' + i.title}} <br></span>{{i.name + ' - ' + leasingInfo.identifiers[0].title}}
            </div> -->
        </div>
        <div class="col-md-6 form-group">
            <div class="col-sm-12" ng-show="leasingInfo.latitude || leasingInfo.longitude"><b>Coordinates</b>: {{'N ' + leasingInfo.latitude + ' E ' +leasingInfo.longitude}}</div>
            <div class="col-sm-12" ng-show="leasingInfo.plannedCabinetType"><b>Planned Cabinet type</b>: {{leasingInfo.plannedCabinetType}}</div> 
            <div class="col-sm-12" ng-show="leasingInfo.bands">
                <b>Band</b>:
                <span ng-repeat="band in leasingInfo.bands" >{{$index == 0?' ': ' + ' }}{{band.title}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-12" ng-if="leasingInfo.targetCoverage">
                <b>Target Coverage</b>:  {{leasingInfo.targetCoverage}}
            </div>
        </div>  
    </div>
    <br>
    <div class="row my-row">
        <div class="col-md-12" ng-show="leasingInfo.files.length > 0">
            <div class="row">
                <div class="col-md-12">Прикрепленные файлы:</div>
                <iframe id="fileDownloadIframe" style="display:none;"></iframe>
                <div class="col-sm-12">
                    <div ng-repeat="file in leasingInfo.files track by $index">
                        <a 
                        ng-click="download(file.path)" 
                        download="{{file.name}}">
                        {{file.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          <!--       'initiator',
                'part',
                'rbsType' -->