<h4 class="text-center">Direct connection by E1 (30 channels)</h4>
<div class="col-sm-12">
  <div class="form-group">
    <label class="col-sm-4 control-label">Signaling protocol: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
      <select class="form-control selectpicker" select-picker title="" name="signalingProtocol" ng-model="e1.signalingProtocol" required ng-disabled="readonly">
        <option style="display:none" value=""></option>
        <option value="EDSS1">EDSS1</option>
        <option value="OKC7">OKC7</option>
      </select>
      <span class="has-error" ng-if="form.signalingProtocol.$error.required && (form.signalingProtocol.$touched || view.submitted)">Required field</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Signaling protocol: <span class="text-danger glyphicon-asterisk" ng-if="e1.signalingProtocol == 'OKC7'"></span></label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Point Code (при соединении через ОКС7)*" name="pointCode" ng-model="e1.pointCode" ng-required="e1.signalingProtocol == 'OKC7'" ng-disabled="readonly">
      <span class="has-error" ng-if="form.pointCode.$error.required && (form.pointCode.$touched || view.submitted)">Required field</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Quantity connected E1 flows: <span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-8">
      <select class="form-control selectpicker" select-picker title="" name="connectedFlowsQuantity" ng-model="e1.connectedFlowsQuantity" required ng-disabled="readonly">
        <option style="display:none" value=""></option>
        <option value="1 поток 30 сессий">1 поток 30 сессий</option>
        <option value="2 поток 60 сессий">2 поток 60 сессий</option>
        <option value="3 поток 90 сессий">3 поток 90 сессий</option>
        <option value="4 поток 120 сессий">4 поток 120 сессий</option>
      </select>
      <span class="has-error" ng-if="form.connectedFlowsQuantity.$error.required && (form.connectedFlowsQuantity.$touched || view.submitted)">Required field</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Internal dial plan:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Внутренний план набора" ng-model="e1.internalDialPlan" ng-disabled="readonly">
    </div>
  </div>
</div>