<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add comment on delay for {{businessKey}}</h4>
</div>
<div class="modal-body">
    <div class="row">
    	<div class="col-md-12">
            <textarea class="form-control" rows="4" maxlength="500" name="comment" ng-model="comment"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer" id="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="$close(comment)">Save</button>
</div>