<style>
    .my-group .form-control{
        width:50%;
    }
    .modal-lg.modal-dialog{
        width: 90%;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .animate-if {
        background:white;
        overflow: hidden;
        transition: 0.4s;
        padding: 13px;
        margin-bottom: 0px;
        color: #b3b3b3;
        background-color: #fff;
        border: 2px solid #b3b3b3;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .animate-if.ng-enter, .animate-if.ng-leave {
        transition:all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
    }

    .animate-if.ng-enter,
    .animate-if.ng-leave.ng-leave-active {
        opacity:0;
        max-height:0;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .animate-if.ng-leave,
    .animate-if.ng-enter.ng-enter-active {
        opacity:1;
        max-height: 500px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }
    
    .customtr {
        margin: 10px;
        width: 235px;
        height: 40px;
    }
</style>
<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', '$rootScope', '$q', '$timeout', function ($scope, $http, $rootScope, $q, $timeout) {
            var uuid = new Date().getTime();
            var variablesToCreate = [
                {
                    name: 'ssu_id',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'billingObject',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'contract_date',
                    type: 'Date',
                    submit: true,
                    store: true
                },
                {
                    name: 'gender',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'subtype',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'acc_region',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'acc_template',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'acc_format',
                    type: 'String',
                    submit: true,
                    store: true
                },
                {
                    name: 'resolutions',
                    type: 'Json',
                    submit: true,
                    store: true,
                    value: []
                },
            ];

            $scope.ssu_id = undefined;
            $scope.billingObject = 'no';
            $scope.indexPattern = '[0-9]{6}';
            $scope.binPattern = '[0-9]{12}';
            $scope.creditLimitPattern = '[1-9]{1}[0-9]+';

            $scope.populateSelectFromCatalog = function (containers, id) {
                $http.get('/camunda/catalogs/api/get/id/' + id).then(function (result) {
                    if (result && result.data) {
                        angular.forEach(containers, function (container) {
                            $scope[container] = result.data.data.$list;
                        });
                    }
                });
            }

            $scope.populateSelectFromCatalog(['subtypeList'], 123);
            $scope.populateSelectFromCatalog(['genderList'], 127);
            $scope.populateSelectFromCatalog(['regionList'], 126);
            $scope.populateSelectFromCatalog(['templateList'], 125);
            $scope.populateSelectFromCatalog(['formatList'], 124);

            camForm.on('form-loaded', function () {
                variablesToCreate.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el.name);
                });
            });

            camForm.on('variables-fetched', function () {
                variablesToCreate.forEach(function (el) {
                    if (camForm.variableManager.variables[el.name].type === undefined) {
                        camForm.variableManager.variables[el.name].type = el.type;
                        if (el.value) {
                            camForm.variableManager.variables[el.name].value = el.value;
                        }
                    }
                });
                $http.get('/camunda/api/engine/engine/default/user/' + $rootScope.authentication.name + '/profile').then(
                    function (result) {
                        $scope.initiatorFull = result.data;
                        $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                    },
                    function (error) {
                    }
                );
            });

            camForm.on('submit', function (e) {
                variablesToCreate.forEach(function (el) {
                    if (el.submit) {
                        camForm.variableManager.variableValue(el.name, $scope[el.name]);
                    }
                });

                camForm.variableManager.createVariable($scope.files);
            });

            $scope.chooseSSU = function(ssu_id){
                scope.ssu_id = ssu_id;
            };

            $scope.files = {};
            $scope.files.type = 'Json';
            $scope.files.name = 'files';
            $scope.files.value = [];

            $scope.fileSelected = function(el, bindedInput){
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0], bindedInput);
                    });
                })
            };

            function uploadFileToMinio(file, bindedInput) {
                var fileIndex = $scope.files.value.length;

                var fileToUpload = {
                    name: 'file_' + fileIndex,
                    type: 'Json',
                    value: {
                        name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                        created: new Date(),
                        createdBy: $rootScope.authentication.assigneeName,
                        type: file.type,
                        path: uuid + '/' + file.name.replace(/[/\\?%#*:|"<>;]/g, '-')
                    }
                };
                $http({method: 'GET', url: '/camunda/uploads/tmp/put/' + fileToUpload.value.path, transformResponse: [] }).
                then(function(response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                        function () {
                            $scope.files.value.push(fileToUpload.value);
                            angular.element(document.querySelector('#file_' + fileIndex)).val(null);
                            $(bindedInput).val('');
                        },
                        function (error) {
                            console.log(error.data);
                        }
                    );
                }, function(error){
                    console.log(error.data);
                });
            }

            $scope.clearFile = function (fileIndex) {
                $scope.files.value.splice(fileIndex, 1);
            }

            $scope.preSubmit = function(){
                var deferred = $q.defer();

                if(!$scope.ssu_id){
                    deferred.reject('Нужно выбрать тип SSU');
                    return deferred.promise;
                } else {
                    deferred.resolve();
                    return deferred.promise;
                }
            }

            $scope.removeFile = function(index){
                $scope.files.value.splice(index,1);
            }
        }]);
    </script>

    <div class="form-group">
        <label class="col-sm-12 control-label" style="text-align: center">Запуск процесса SSU</label>
    </div>
    <table class="center" ng-show="!ssu_id">
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-default customtr" ng-click="chooseSSU('1')">Создание ID Customer</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default customtr" ng-click="chooseSSU('5')">Процесс 5</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default customtr"  ng-click="chooseSSU('2')">Создание FA/BA</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default customtr"  ng-click="chooseSSU('6')">Процесс 6</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default customtr"  ng-click="chooseSSU('3')">Создание PPB</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default customtr"  ng-click="chooseSSU('7')">Процесс 7</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default customtr"  ng-click="chooseSSU('4')">Изменение кредитного лимита</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default customtr"  ng-click="chooseSSU('8')">Процесс 8</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="ssu_id">
        <h4>Массовое создание ID customers</h4>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">БИН*:</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="bin" cam-variable-type="String" name="bin" class="form-control" autocomplete="off" required maxlength="12" ng-pattern="binPattern">
                    <label class="error" ng-if="kcell_form.bin.$error.required && ( kcell_form.bin.$touched || view.submitted)">Required field</label>
                    <label class="error" ng-if="kcell_form.bin.$error.pattern && ( kcell_form.bin.$touched || view.submitted)">12 символов, только цифры</label>
                </div>
            </div>
            <div class="form-group col-sm-6">
                Контактное лицо
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Подтип выставлен.*:</label>
                <div class="col-sm-8">
                    <select ng-model="subtype" name="subtype" class="form-control" required>
                        <option ng-repeat="ct in subtypeList" ng-value="ct.value">{{ct.value}}</option>
                    </select>
                    <label class="error" ng-if="kcell_form.subtype.$error.required && ( kcell_form.subtype.$touched || view.submitted)">Required field</label>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Пол*:</label>
                <div class="col-sm-8">
                    <select ng-model="gender" name="gender" class="form-control" required title="">
                        <option ng-repeat="ct in genderList" ng-value="ct.value">{{ct.value}}</option>
                    </select>
                    <label class="error" ng-if="kcell_form.gender.$error.required && ( kcell_form.gender.$touched || view.submitted)">Required field</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Дополнительно</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="addition" cam-variable-name="addition" cam-variable-type="String" maxlength="1500" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Имя*:</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="cp_name" cam-variable-type="String" name="cp_name" class="form-control" required>
                    <label class="error" ng-if="kcell_form.cp_name.$error.required && ( kcell_form.cp_name.$touched || view.submitted)">Required field</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Фамилия*:</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="cp_surname" cam-variable-type="String" name="cp_surname" class="form-control" required>
                    <label class="error" ng-if="kcell_form.cp_surname.$error.required && ( kcell_form.cp_surname.$touched || view.submitted)">Required field</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Телефон* (7ХХХХХХХХХХ):</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="cp_phone_number" cam-variable-type="String" name="cp_phone_number" class="form-control" required placeholder="7ХХХХХХХХХХ">
                    <label class="error" ng-if="kcell_form.cp_phone_number.$error.required && ( kcell_form.cp_phone_number.$touched || view.submitted)">Required field</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Юридический адрес*:</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="legal_add" cam-variable-type="String" name="legal_add" class="form-control" required>
                    <label class="error" ng-if="kcell_form.legal_add.$error.required && ( kcell_form.legal_add.$touched || view.submitted)">Required field</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Почтовый индекс*:</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="post_ind" cam-variable-type="String" name="post_ind" class="form-control" required ng-pattern="indexPattern" maxlength="6">
                    <label class="error" ng-if="kcell_form.post_ind.$error.required && ( kcell_form.post_ind.$touched || view.submitted)">Required field</label>
                    <label class="error" ng-if="kcell_form.post_ind.$error.pattern && ( kcell_form.post_ind.$touched || view.submitted)">6 символов, только цифры</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label">Email (для доставки счетов):</label>
                <div class="col-sm-8">
                    <input type="text" cam-variable-name="delivery_email" cam-variable-type="String" name="delivery_email" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="col-sm-2 control-label">Attachments:</label>
                <div class="col-md-10">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Choose File <input type="file" id="file_{{files.value.length}}" name="file_{{files.value.length}}" ng-model="file.file"  style="display: none;" onchange="angular.element(this).scope().fileSelected(this, '#filesName');$('#filesName').val(this.files[0].name)" >
                        </span>
                    </label>
                    <input type="hidden" class="form-control upload-filename" id="filesName" placeholder="No File Chosen" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="col-sm-2 control-label"></label>
                <div class="col-md-10">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>File name</th>
                                <th>Created</th>
                                <th>Created By</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in files.value">
                                <td>{{f.name}}</td>
                                <td>{{f.created | date:'dd.MM.yyyy'}}</td>
                                <td>{{f.createdBy}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="removeFile($index)"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="col-sm-6 control-label">Требуется ли создание биллингового объекта:</label>
                <div class="col-md-6">
                    <label class="radio-inline">
                        <input type="radio" name="billingObject" required ng-model="billingObject" value="no"> Нет
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="billingObject" required ng-model="billingObject" value="fa"> FA/BA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="billingObject" required ng-model="billingObject" value="ppb"> PPB
                    </label>
                    <label class="error" ng-if="kcell_form.billingObject.$error.required && ( kcell_form.billingObject.$touched || view.submitted)">Required field</label>
                </div>
            </div>
        </div>
        <div ng-show="billingObject!=='no'">
            <div class="row">
                <div class="form-group col-sm-6"></div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-6 control-label">Параметры счета:</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Номер договора:</label>
                    <div class="col-sm-8">
                        <input type="text" cam-variable-name="contract_num" cam-variable-type="String" name="contract_num" class="form-control">
                        <label class="error" ng-if="kcell_form.contract_num.$error.required && ( kcell_form.contract_num.$touched || view.submitted)">Required field</label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Регион счета*:</label>
                    <div class="col-sm-8">
                        <select ng-model="acc_region" name="acc_region" class="form-control" ng-required="billingObject!=='no'">
                            <option ng-repeat="ct in regionList" ng-value="ct.value">{{ct.value}}</option>
                        </select>
                        <!-- <label class="error" ng-if="kcell_form.acc_region.$error.required && ( kcell_form.acc_region.$touched || view.submitted)">Required field</label> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Дата договора:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" ng-model="contract_date" name="contract_date" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="contract_dateFieldOpened" id="contract_date" min-date="datepickerOptions.minDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="contract_dateFieldOpened = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <!-- <label class="error" ng-if="kcell_form.contract_date.$error.required && ( kcell_form.contract_date.$touched || view.submitted)">Required field</label> -->
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Шаблон счета*:</label>
                    <div class="col-sm-8">
                        <select ng-model="acc_template" name="acc_template" class="form-control" ng-required="billingObject!=='no'">
                            <option ng-repeat="ct in templateList" ng-value="ct.value">{{ct.value}}</option>
                        </select>
                        <label class="error" ng-if="kcell_form.acc_template.$error.required && ( kcell_form.acc_template.$touched || view.submitted)">Required field</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Адрес доставки:</label>
                    <div class="col-sm-8">
                        <input type="text" cam-variable-name="delivery_add" cam-variable-type="String" name="delivery_add" class="form-control">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Формат счета*:</label>
                    <div class="col-sm-8">
                        <select ng-model="acc_format" name="acc_format" class="form-control" ng-required="billingObject!=='no'">
                            <option ng-repeat="ct in formatList" ng-value="ct.value">{{ct.value}}</option>
                        </select>
                        <label class="error" ng-if="kcell_form.acc_format.$error.required && ( kcell_form.acc_format.$touched || view.submitted)">Required field</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Индекс адреса доставки:</label>
                    <div class="col-sm-8">
                        <input type="text" cam-variable-name="delivery_index" cam-variable-type="String" name="delivery_index" class="form-control" maxlength="6" ng-pattern="indexPattern">
                        <label class="error" ng-if="kcell_form.delivery_index.$error.pattern && ( kcell_form.delivery_index.$touched || view.submitted)">6 символов, только цифры</label>
                    </div>
                </div>
                <div class="form-group col-sm-6"></div>
            </div>
        </div>
        <div ng-show="billingObject=='fa'">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Кредитный лимит:</label>
                    <div class="col-sm-8">
                        <input type="text" cam-variable-name="credit_limit" cam-variable-type="String" name="credit_limit" class="form-control" ng-pattern="creditLimitPattern">
                        <label class="error" ng-if="kcell_form.credit_limit.$error.required && ( kcell_form.credit_limit.$touched || view.submitted)">Required field</label>
                        <label class="error" ng-if="kcell_form.credit_limit.$error.pattern && ( kcell_form.credit_limit.$touched || view.submitted)">только цифры</label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                </div>
            </div>
        </div>
    </div>
</form>
