<form role="form" class="form-horizontal" name="kcell_form" novalidate>
  <style>
    .background-yellow-accordion .panel-body {
      background-color: #ffffcc;
      border: 1px solid #b3b3b3;
      color: #333;
    }

    .content-visible-accordion .panel {
      overflow: visible;
    }
  </style>
  <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
            $scope.legalInfo = {};
            $scope.techSpecs = {};
            $scope.resolutions = [];
            $scope.attachments = [];

            var attachmentsChanges = {added: [], removed: []};

            var processInstanceId = null;
            var assigneeName = $rootScope.authentication.name;

            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    processInstanceId = result.data.processInstanceId;
                    $http.get('/camunda/api/engine/engine/default/process-instance/' + processInstanceId).then(
                        function(result){
                            $scope.businessKey = result.data.businessKey;
                        },
                        function (error) {console.log(error.data);}
                    );
                },
                function (error) { console.log(error.data);}
            );

            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('legalInfo');
                camForm.variableManager.fetchVariable('techSpecs');
                camForm.variableManager.fetchVariable('resolutions');
                camForm.variableManager.fetchVariable('attachments');
                camForm.variableManager.fetchVariable('tssName');
                camForm.variableManager.fetchVariable('numbersAmount');
                camForm.variableManager.fetchVariable('callbackForwarding');
            });

            camForm.on('variables-fetched', function () {
                $scope.legalInfo = camForm.variableManager.variableValue('legalInfo');
                $scope.techSpecs = camForm.variableManager.variableValue('techSpecs');
                $scope.resolutions = camForm.variableManager.variableValue('resolutions');
                $scope.attachments = camForm.variableManager.variableValue('attachments');
                $scope.tssName = camForm.variableManager.variableValue('tssName');
                $scope.numbersAmount = camForm.variableManager.variableValue('numbersAmount');
                $scope.callbackForwarding = camForm.variableManager.variableValue('callbackForwarding');

                if (!$scope.techSpecs) $scope.techSpecs = {};

                if (!$scope.tssName) $scope.tssName = 'tss';

                camForm.variableManager.createVariable({
                    name: $scope.tssName+'AttachProxyTSTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: $scope.tssName+'AttachProxyTSTaskComment',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: $scope.tssName+'AttachProxyTSTaskAttachments',
                    type: 'Json',
                    value: {}
                });

                camForm.variableManager.createVariable({
                    name: 'tssNeedModify',
                    type: 'Boolean',
                    value: false
                });
            });

            $scope.preSubmit = function() {
                return $http.get('/camunda/api/engine/engine/default/process-instance/'+processInstanceId+'/variables/attachments?deserializeValue=false').then(function (result) {
                    if (result && result.data) {
                        var lastAttachments = JSON.parse(result.data.value);
                        for (var attachment of $scope.attachments) {
                            if (!lastAttachments.find(function(e) {return e.path == attachment.path;})) {
                                lastAttachments.push(attachment);
                                attachmentsChanges.added.push(attachment.name);
                            }
                        }
                        for (var i = 0; i < lastAttachments.length; i++) {
                            if (!$scope.attachments.find(function(e) {return e.path == lastAttachments[i].path;})) {
                                attachmentsChanges.removed.push(lastAttachments[i].name);
                                lastAttachments.splice(i, 1);
                                i--;
                            }
                        }
                        $scope.attachments = lastAttachments;
                    }
                },
                function(error){
                    toasty.error(error.data.message);
                });
            };

            camForm.on('submit', function (event) {
                camForm.variableManager.variableValue('tssNeedModify', $scope.resolution === 'Need modify');
                camForm.variableManager.variableValue('attachments', $scope.attachments);
                camForm.variableManager.variableValue($scope.tssName+'AttachProxyTSTaskResult', $scope.resolution);
                camForm.variableManager.variableValue($scope.tssName+'AttachProxyTSTaskComment', $scope.comment);
                camForm.variableManager.variableValue($scope.tssName+'AttachProxyTSTaskAttachments', attachmentsChanges);
            });

            $scope.downloadFile = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/' + (file.path.split('/').length === 2 ? 'tmp/' : '') + 'get/' + file.path, transformResponse: [] }).then(
                    function(response) {
                        document.getElementById('fileDownloadIframe').src = response.data;
                    },
                    function(response) {console.log(response.data);}
                );
            }

            $scope.clearFile = function(fileIndex) {
                $scope.attachments.splice(fileIndex, 1);
            }

            $scope.fileSelected = function(el) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0]);
                    });
                });
            };
            function uploadFileToMinio(file) {
                var fileToUpload = {
                    name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    path: processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    created: new Date(),
                    createdBy: assigneeName
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.path, transformResponse: [] }).then(
                    function(response) {
                        $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope.attachments.push(fileToUpload);
                                angular.element(document.querySelector('#attachments')).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                        );
                    },
                    function(response) { console.log(response.data); }
                );
            }
        }]);
    </script>

  <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 0">Number request:</label>
    <div class="col-sm-9">{{businessKey}}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 0">Client:</label>
    <div class="col-sm-9">{{legalInfo.legalName}} {{legalInfo.BIN}}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 0">Priority:</label>
    <div class="col-sm-9">{{legalInfo.clientPriority}}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 0">Service:</label>
    <div class="col-sm-9">Revolving numbers</div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 0">Amount of numbers:</label>
    <div class="col-sm-9">{{numbersAmount}}</div>
  </div>

  <div class="col-sm-12"><hr /></div>
  <accordion>
    <accordion-group is-open="true">
      <accordion-heading>
        Technical specification <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
      </accordion-heading>
      <revolving-technical-specifications data="techSpecs" form="kcell_form" view="view" disabled="true" callback-forwarding="callbackForwarding"></revolving-technical-specifications>
    </accordion-group>
  </accordion>
  <accordion ng-if="techSpecs.connectionType" class="background-yellow-accordion">
    <accordion-group is-open="true">
      <accordion-heading>
        {{techSpecs.connectionType === 'SIP over internet' ? 'Connection via Internet channel by SIP protocol' : 'Direct connection by SIP Direct Protocols'}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
      </accordion-heading>
      <revolving-sip-protocol ng-if="techSpecs.connectionType === 'SIP over internet'" data="techSpecs.sip" form="kcell_form" view="view" disabled="true"></revolving-sip-protocol>
      <revolving-direct-protocol ng-if="techSpecs.connectionType === 'SIP direct'" data="techSpecs.direct" form="kcell_form" view="view" disabled="true"></revolving-direct-protocol>
    </accordion-group>
  </accordion>

  <iframe id="fileDownloadIframe" style="display:none;"></iframe>
  <div class="form-group">
    <label class="col-sm-6 control-label">
      <a href="/camunda/revolving-numbers/{{camForm.taskId}}/generate-technical-condition" target="_blank">ТУ и схема {{legalInfo.legalName}} {{legalInfo.BIN}}.docx</a>
    </label>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Attachments</label>
    <div class="col-sm-10">
      <input type="file" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)"/>
      <div class="col-sm-12" style="padding: 0;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>File Name</th>
            <th>Created</th>
            <th>Created By</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="file in attachments track by $index">
            <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
            <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{file.createdBy}}</td>
            <td><a ng-click="clearFile($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12"><hr /></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Resolution</label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" ng-model="resolution" name="resolution" value="Complete" required> Complete
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="resolution" name="resolution" value="Need modify" required> Need modify
      </label>
      <label class="error" ng-show="kcell_form.resolution.$error.required && ( kcell_form.resolution.$touched || view.submitted)">Required field</label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Comment <span class="text-danger glyphicon-asterisk" ng-if="resolution == 'Need modify'"></span></label>
    <div class="col-sm-10">
      <textarea elastic-textarea class="form-control" rows="4" name="comment" ng-model="comment" ng-required="resolution == 'Need modify'"></textarea>
      <label class="error" ng-show="kcell_form.comment.$error.required && ( kcell_form.comment.$touched || view.submitted)">Required field</label>
    </div>
  </div>

  <accordion>
    <accordion-group is-open="isHistoryOpen">
      <accordion-heading>
        History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
      </accordion-heading>
      <table class="table">
        <thead>
        <tr>
          <th>Activity</th>
          <th>Assignee</th>
          <th>Assigned date</th>
          <th>Claimed date</th>
          <th>Resolution date</th>
          <th>Resolution</th>
          <th>Comment</th>
          <th>Attachments</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resolution in resolutions | orderBy:'-' track by $index">
          <td>{{resolution.taskName}}</td>
          <td>{{resolution.assigneeName}}</td>
          <td>{{resolution.assignDate | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{resolution.claimDate | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{resolution.resolution}}</td>
          <td>{{resolution.comment}}</td>
          <td>
            <p ng-repeat="file in resolution.attachments.added">{{file}}</p>
            <p ng-repeat="file in resolution.attachments.removed" class="text-danger">{{file}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>
</form>
