<style>
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th {
        border: none;
    }
</style>
<div class="col-sm-6">
    <div class="form-group">
        <label class="col-sm-5 control-label">Ticket type<span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-7">
            <select class="form-control" name="bTicketType" ng-model="data.ticketType" required ng-disabled="disabled">
                <option value="Demand">Demand</option>
                <option value="AOP">AOP</option>
            </select>
            <span class="has-error" ng-if="form.bTicketType.$error.required && (form.bTicketType.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Network economics<span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-7">
            <select class="form-control" name="bNetworkEconomics" ng-model="data.networkEconomics" required ng-disabled="disabled">
                <option value="Saule">Saule</option>
                <option value="Svetlana">Svetlana</option>
                <option value="Aliya">Aliya</option>
            </select>
            <span class="has-error" ng-if="form.bNetworkEconomics.$error.required && (form.bNetworkEconomics.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">IPM team member<span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-7">
            <select class="form-control" name="bIPMTeamMember" ng-model="data.ipmTeamMember" required ng-disabled="disabled">
                <option value="Dossan">Dossan</option>
                <option value="Ilyas">Ilyas</option>
                <option value="Gani">Gani</option>
                <option value="Gaukhar">Gaukhar</option>
            </select>
            <span class="has-error" ng-if="form.bIPMTeamMember.$error.required && (form.bIPMTeamMember.$touched || view.submitted)">Required field</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">IPM decision<span class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-7">
            <select class="form-control" name="bIPMDecision" ng-model="data.ipmDecision" required ng-disabled="disabled">
                <option value="Ideation">Ideation</option>
                <option value="Идея оценена - не реализуется">Идея оценена - не реализуется</option>
                <option value="Проект утвержден и реализуется">Проект утвержден и реализуется</option>
                <option value="Проект реализован есть результаты">Проект реализован есть результаты</option>
            </select>
            <span class="has-error" ng-if="form.bIPMDecision.$error.required && (form.bIPMDecision.$touched || view.submitted)">Required field</span>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <label class="col-sm-12">Qualitative</label>
    <div class="col-sm-12" style="border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
        <div class="form-group">
            <label class="col-sm-5 control-label">Strategic Goal<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <select class="form-control" name="bStrategicGoal" ng-model="data.strategicGoal" required ng-disabled="disabled">
                    <option value="Revenue growth">Revenue growth</option>
                    <option value="Cost optimisation">Cost optimisation</option>
                    <option value="Business continuity">Business continuity</option>
                    <option value="Regulatory">Regulatory</option>
                    <option value="Regular expenses">Regular expenses</option>
                </select>
                <span class="has-error" ng-if="form.bStrategicGoal.$error.required && (form.bStrategicGoal.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Strategy fit<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <select class="form-control" name="bStrategyFit" ng-model="data.strategyFit" required ng-disabled="disabled">
                    <option value="Values throug superior network connectivity">Values throug superior network connectivity</option>
                    <option value="Customer loyalty through convergence">Customer loyalty through convergence</option>
                    <option value="Competitive operations">Competitive operations</option>
                    <option value="Indirect impact">Indirect impact</option>
                </select>
                <span class="has-error" ng-if="form.bStrategyFit.$error.required && (form.bStrategyFit.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Define business priority<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <select class="form-control" name="bBusinessPriority" ng-model="data.businessPriority" required ng-disabled="disabled">
                    <option value="No impact">No impact</option>
                    <option value="Impacts">Impacts</option>
                    <option value="would stop">would stop</option>
                </select>
                <span class="has-error" ng-if="form.bBusinessPriority.$error.required && (form.bBusinessPriority.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Define impact on operational activities<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <select class="form-control" name="bOpActivitiesImpact" ng-model="data.opActivitiesImpact" required ng-disabled="disabled">
                    <option value="No impact">No impact</option>
                    <option value="Impacts">Impacts</option>
                    <option value="significantly hinder">significantly hinder</option>
                </select>
                <span class="has-error" ng-if="form.bOpActivitiesImpact.$error.required && (form.bOpActivitiesImpact.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <label class="col-sm-12">Quantitative</label>
    <div class="col-sm-12" style="border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
        <label class="col-sm-12">Benchmark</label>
        <div class="col-sm-12" style="border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Min PP</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="bMinPP" ng-model="data.minPP" required ng-disabled="disabled">
                        <span class="has-error" ng-if="form.bMinPP.$error.required && (form.bMinPP.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Max ROI</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="bMaxROI" ng-model="data.maxROI" required ng-disabled="disabled">
                        <span class="has-error" ng-if="form.bMaxROI.$error.required && (form.bMaxROI.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Max NPV</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="bMaxNPV" ng-model="data.maxNPV" required ng-disabled="disabled">
                        <span class="has-error" ng-if="form.bMaxNPV.$error.required && (form.bMaxNPV.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Max PL</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="bMaxPL" ng-model="data.maxPL" required ng-disabled="disabled">
                        <span class="has-error" ng-if="form.bMaxPL.$error.required && (form.bMaxPL.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Max CF</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="bMaxCF" ng-model="data.maxCF" required ng-disabled="disabled">
                        <span class="has-error" ng-if="form.bMaxCF.$error.required && (form.bMaxCF.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">WACC</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="bWACC" ng-model="data.wacc" required ng-disabled="disabled">
                        <span class="has-error" ng-if="form.bWACC.$error.required && (form.bWACC.$touched || view.submitted)">Required field</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">NPV<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bNPV" ng-model="data.npv" required ng-disabled="disabled">
                <span class="has-error" ng-if="form.bNPV.$error.required && (form.bNPV.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">ROI<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bROI" ng-model="data.roi" required ng-disabled="disabled">
                <span class="has-error" ng-if="form.bROI.$error.required && (form.bROI.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Payback period<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bPaybackPeriod" ng-model="data.paybackPeriod" required ng-disabled="disabled">
                <span class="has-error" ng-if="form.bPaybackPeriod.$error.required && (form.bPaybackPeriod.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">P&L effect first year<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bPLEffect" ng-model="data.plEffect" required ng-disabled="disabled">
                <span class="has-error" ng-if="form.bPLEffect.$error.required && (form.bPLEffect.$touched || view.submitted)">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">CF effect first year<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bCFEffect" ng-model="data.cfEffect" required ng-disabled="disabled">
                <span class="has-error" ng-if="form.bCFEffect.$error.required && (form.bCFEffect.$touched || view.submitted)">Required field</span>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <label class="col-sm-12">Scoring</label>
    <div class="col-sm-12" style="border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
        <div class="col-sm-7">
            <div class="form-group">
                <label class="col-sm-5 control-label">Quantitative score<span class="text-danger glyphicon-asterisk"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bQuantitativeScore" ng-model="data.quantitativeScore" required ng-disabled="disabled">
                    <span class="has-error" ng-if="form.bQuantitativeScore.$error.required && (form.bQuantitativeScore.$touched || view.submitted)">Required field</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Qualitative score<span class="text-danger glyphicon-asterisk"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bQualitativeScore" ng-model="data.qualitativeScore" required ng-disabled="disabled">
                    <span class="has-error" ng-if="form.bQualitativeScore.$error.required && (form.bQualitativeScore.$touched || view.submitted)">Required field</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Strategy Fit<span class="text-danger glyphicon-asterisk"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bStrategyFitScore" ng-model="data.strategyFitScore" required ng-disabled="disabled">
                    <span class="has-error" ng-if="form.bStrategyFitScore.$error.required && (form.bStrategyFitScore.$touched || view.submitted)">Required field</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Risks / Opportunities / Business priority<span class="text-danger glyphicon-asterisk"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bBusinessPriorityScore" ng-model="data.businessPriorityScore" required ng-disabled="disabled">
                    <span class="has-error" ng-if="form.bBusinessPriorityScore.$error.required && (form.bBusinessPriorityScore.$touched || view.submitted)">Required field</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">CF effect first year<span class="text-danger glyphicon-asterisk"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bCFEffectScore" ng-model="data.cfEffectScore" required ng-disabled="disabled">
                    <span class="has-error" ng-if="form.bCFEffectScore.$error.required && (form.bCFEffectScore.$touched || view.submitted)">Required field</span>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group text-center" style="margin-top: 50px;">
                <label class="col-sm-12">Score</label>
                <div class="col-sm-12">
                    <input type="text" style="font-size: 30px; height: 80px;" class="form-control" name="bScore" ng-model="data.score" required ng-disabled="disabled">
                    <span class="has-error" ng-if="form.bScore.$error.required && (form.bScore.$touched || view.submitted)">Required field</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <label class="col-sm-12">Financial Information</label>
    <div class="col-sm-12" style="border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
        <label class="col-sm-12">Cash flow</label>
        <div class="col-sm-12">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th style="width: 7%">WBS/Budget line name</th>
                        <th style="width: 7%">Cost executor (cost planning)</th>
                        <th style="width: 7%">Purchasing group</th>
                        <th style="width: 5%">CM contract</th>
                        <th style="width: 5%">Agreement start date</th>
                        <th style="width: 5%">Agreement end date</th>
                        <th style="width: 5%">total contract amount</th>
                        <th style="width: 5%">ROC name</th>
                        <th style="width: 5%; border-right: 2px solid #555;">Dep. code</th>
                        <th style="width: 7%">
                            <input type="number" class="form-control" ng-model="data.finFirstYear">
                        </th>
                        <th style="width: 7%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 1}}</span>
                        </th>
                        <th style="width: 7%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 2}}</span>
                        </th>
                        <th style="width: 7%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 3}}</span>
                        </th>
                        <th style="width: 7%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 4}}</span>
                        </th>
                        <th style="width: 7%">Source</th>
                        <th ng-if="!disabled" style="width: 7%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="9" style="border-right: 2px solid #555;"><label>Revenue</label></td>
                        <td>{{data.revenueYear1}}</td>
                        <td>{{data.revenueYear2}}</td>
                        <td>
                            <span ng-if="disabled">{{data.revenueYear3}}</span>
                            <span ng-if="!disabled && data.revenues.length > 0">
                                <input type="text" class="form-control" ng-model="data.revenueYear3">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.revenueYear4}}</span>
                            <span ng-if="!disabled && data.revenues.length > 0">
                                <input type="text" class="form-control" ng-model="data.revenueYear4">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.revenueYear5}}</span>
                            <span ng-if="!disabled && data.revenues.length > 0">
                                <input type="text" class="form-control" ng-model="data.revenueYear5">
                            </span>
                        </td>
                        <td></td>
                        <td ng-if="!disabled" class="text-center">
                            <a style="font-size: 25px;" ng-click="addItem('revenues')">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="i in data.revenues track by $index">
                        <td>
                            <span ng-if="disabled">{{i.wbs}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.wbs">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.cost}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.cost">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.purchasing}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.purchasing">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.contract}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.contract">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.startDate}}</span>
                            <span ng-if="!disable">
                                <input type="text" class="form-control" ng-model="i.startDate">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.endDate}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.endDate">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.amount}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.amount">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.rocName}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.rocName">
                            </span>
                        </td>
                        <td style="border-right: 2px solid #555;">
                            <span ng-if="disabled">{{i.depCode}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.depCode">
                            </span>
                        </td>
                        <td>{{i.firstYear}}</td>
                        <td>{{i.secondYear}}</td>
                        <td>
                            <span ng-if="disabled">{{i.thirdYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.thirdYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.fourthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.fourthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.fifthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.fifthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.source}}</span>
                            <span ng-if="!disabled">
                                <select class="form-control" ng-model="i.source">
                                    <option value="Direct">Direct</option>
                                    <option value="Potential">Potential</option>
                                </select>
                            </span>
                        </td>
                        <td ng-if="!disabled" class="text-center">
                            <button type="button" class="btn btn-default" ng-click="deleteItem($index, 'revenues')">Delete</button>
                        </td>
                    </tr>
                    <!--OPEX-->
                    <tr style="border-top: 2px solid #555">
                        <td colspan="9" style="border-right: 2px solid #555;"><label>Opex</label></td>
                        <td>{{data.opexYear1}}</td>
                        <td>{{data.opexYear2}}</td>
                        <td>
                            <span ng-if="disabled">{{data.opexYear3}}</span>
                            <span ng-if="!disabled && data.opexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.opexYear3">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.opexYear4}}</span>
                            <span ng-if="!disabled && data.opexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.opexYear4">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.opexYear5}}</span>
                            <span ng-if="!disabled && data.opexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.opexYear5">
                            </span>
                        </td>
                        <td></td>
                        <td ng-if="!disabled" class="text-center">
                            <a style="font-size: 25px;" ng-click="addItem('opexes')">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="i in data.opexes track by $index">
                        <td>
                            <span ng-if="disabled">{{i.wbs}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.wbs">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.cost}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.cost">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.purchasing}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.purchasing">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.contract}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.contract">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.startDate}}</span>
                            <span ng-if="!disable">
                                <input type="text" class="form-control" ng-model="i.startDate">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.endDate}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.endDate">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.amount}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.amount">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.rocName}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.rocName">
                            </span>
                        </td>
                        <td style="border-right: 2px solid #555;">
                            <span ng-if="disabled">{{i.depCode}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.depCode">
                            </span>
                        </td>
                        <td>{{i.firstYear}}</td>
                        <td>{{i.secondYear}}</td>
                        <td>
                            <span ng-if="disabled">{{i.thirdYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.thirdYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.fourthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.fourthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.fifthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.fifthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.source}}</span>
                            <span ng-if="!disabled">
                                <select class="form-control" ng-model="i.source">
                                    <option value="Direct">Direct</option>
                                    <option value="Potential">Potential</option>
                                </select>
                            </span>
                        </td>
                        <td ng-if="!disabled" class="text-center">
                            <button type="button" class="btn btn-default" ng-click="deleteItem($index, 'opexes')">Delete</button>
                        </td>
                    </tr>
                    <!--CAPEX-->
                    <tr style="border-top: 2px solid #555">
                        <td colspan="9" style="border-right: 2px solid #555;"><label>Capex</label></td>
                        <td>{{data.capexYear1}}</td>
                        <td>{{data.capexYear2}}</td>
                        <td>
                            <span ng-if="disabled">{{data.capexYear3}}</span>
                            <span ng-if="!disabled && data.capexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.capexYear3">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.capexYear4}}</span>
                            <span ng-if="!disabled && data.capexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.capexYear4">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.capexYear5}}</span>
                            <span ng-if="!disabled && data.capexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.capexYear5">
                            </span>
                        </td>
                        <td></td>
                        <td ng-if="!disabled" class="text-center">
                            <a style="font-size: 25px;" ng-click="addItem('capexes')">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="i in data.capexes track by $index">
                        <td>
                            <span ng-if="disabled">{{i.wbs}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.wbs">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.cost}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.cost">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.purchasing}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.purchasing">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.contract}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.contract">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.startDate}}</span>
                            <span ng-if="!disable">
                                <input type="text" class="form-control" ng-model="i.startDate">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.endDate}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.endDate">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.amount}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.amount">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.rocName}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.rocName">
                            </span>
                        </td>
                        <td style="border-right: 2px solid #555;">
                            <span ng-if="disabled">{{i.depCode}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.depCode">
                            </span>
                        </td>
                        <td>{{i.firstYear}}</td>
                        <td>{{i.secondYear}}</td>
                        <td>
                            <span ng-if="disabled">{{i.thirdYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.thirdYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.fourthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.fourthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.fifthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.fifthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.source}}</span>
                            <span ng-if="!disabled">
                                <select class="form-control" ng-model="i.source">
                                    <option value="Direct">Direct</option>
                                    <option value="Potential">Potential</option>
                                </select>
                            </span>
                        </td>
                        <td ng-if="!disabled" class="text-center">
                            <button type="button" class="btn btn-default" ng-click="deleteItem($index, 'capexes')">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <label class="col-sm-12">Accruals</label>
        <div class="col-sm-12">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th style="width: 13%"></th>
                        <th style="width: 13%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 1}}</span>
                        </th>
                        <th style="width: 13%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 1}}</span>
                        </th>
                        <th style="width: 13%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 2}}</span>
                        </th>
                        <th style="width: 13%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 3}}</span>
                        </th>
                        <th style="width: 13%">
                            <span ng-if="data.finFirstYear">{{data.finFirstYear + 4}}</span>
                        </th>
                        <th style="width: 13%">Source</th>
                        <th ng-if="!disabled" style="width: 9%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border-right: 2px solid #555;"><label>Revenue</label></td>
                        <td>{{data.accRevenueYear1}}</td>
                        <td>{{data.accRevenueYear2}}</td>
                        <td>
                            <span ng-if="disabled">{{data.accRevenueYear3}}</span>
                            <span ng-if="!disabled && data.revenues.length > 0">
                                <input type="text" class="form-control" ng-model="data.accRevenueYear3">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.accRevenueYear4}}</span>
                            <span ng-if="!disabled && data.revenues.length > 0">
                                <input type="text" class="form-control" ng-model="data.accRevenueYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.revenueYear5}}</span>
                            <span ng-if="!disabled && data.revenues.length > 0">
                                <input type="text" class="form-control" ng-model="data.accRevenueYear">
                            </span>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="i in data.revenues track by $index">
                        <td style="border-right: 2px solid #555;">
                            <span ng-if="disabled">{{i.accrual}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accrual">
                            </span>
                        </td>
                        <td>{{i.accFirstYear}}</td>
                        <td>{{i.accSecondYear}}</td>
                        <td>
                            <span ng-if="disabled">{{i.accThirdYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accThirdYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accFourthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accFourthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accFifthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accFifthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accSource}}</span>
                            <span ng-if="!disabled">
                                <select class="form-control" ng-model="i.accSource">
                                    <option value="Direct">Direct</option>
                                    <option value="Potential">Potential</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                    <!--OPEX-->
                    <tr style="border-top: 2px solid #555">
                        <td style="border-right: 2px solid #555;"><label>Opex</label></td>
                        <td>{{data.accOpexYear1}}</td>
                        <td>{{data.accOpexYear2}}</td>
                        <td>
                            <span ng-if="disabled">{{data.accOpexYear3}}</span>
                            <span ng-if="!disabled && data.opexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.accOpexYear3">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.accOpexYear4}}</span>
                            <span ng-if="!disabled && data.opexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.accOpexYear4">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.accOpexYear5}}</span>
                            <span ng-if="!disabled && data.opexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.accOpexYear5">
                            </span>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="i in data.opexes track by $index">
                        <td style="border-right: 2px solid #555;">
                            <span ng-if="disabled">{{i.accrual}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accrual">
                            </span>
                        </td>
                        <td>{{i.accFirstYear}}</td>
                        <td>{{i.accSecondYear}}</td>
                        <td>
                            <span ng-if="disabled">{{i.accThirdYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accThirdYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accFourthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accFourthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accFifthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accFifthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accSource}}</span>
                            <span ng-if="!disabled">
                                <select class="form-control" ng-model="i.accSource">
                                    <option value="Direct">Direct</option>
                                    <option value="Potential">Potential</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                    <!--CAPEX-->
                    <tr style="border-top: 2px solid #555">
                        <td style="border-right: 2px solid #555;"><label>Capex</label></td>
                        <td>{{data.accCapexYear1}}</td>
                        <td>{{data.accCapexYear2}}</td>
                        <td>
                            <span ng-if="disabled">{{data.accCapexYear3}}</span>
                            <span ng-if="!disabled && data.capexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.accCapexYear3">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.accCapexYear4}}</span>
                            <span ng-if="!disabled && data.capexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.accCapexYear4">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{data.accCapexYear5}}</span>
                            <span ng-if="!disabled && data.capexes.length > 0">
                                <input type="text" class="form-control" ng-model="data.accCapexYear5">
                            </span>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="i in data.capexes track by $index">
                        <td style="border-right: 2px solid #555;">
                            <span ng-if="disabled">{{i.accrual}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accrual">
                            </span>
                        </td>
                        <td>{{i.accFirstYear}}</td>
                        <td>{{i.accSecondYear}}</td>
                        <td>
                            <span ng-if="disabled">{{i.accThirdYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accThirdYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accFourthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accFourthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accFifthYear}}</span>
                            <span ng-if="!disabled">
                                <input type="text" class="form-control" ng-model="i.accFifthYear">
                            </span>
                        </td>
                        <td>
                            <span ng-if="disabled">{{i.accSource}}</span>
                            <span ng-if="!disabled">
                                <select class="form-control" ng-model="i.accSource">
                                    <option value="Direct">Direct</option>
                                    <option value="Potential">Potential</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>