<div class="col-sm-12">
<div class="form-group">
    <label class="col-sm-3 control-label">Request type<span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" value="Consulting" name="biRequestType{{biname}}" ng-model="data.requestType" ng-disabled="disabled"> Consulting</label>
        <label class="radio-inline"><input type="radio" value="Report" name="biRequestType{{biname}}" ng-model="data.requestType" ng-disabled="disabled"> Report</label>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Data type<span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-9">
        <div class="radio"><label><input type="radio" value="Kcell" name="biDataType{{biname}}" ng-model="data.dataType" ng-disabled="disabled"> Kcell</label></div>
        <div class="radio"><label><input type="radio" value="Active" name="biDataType{{biname}}" ng-model="data.dataType" ng-disabled="disabled"> Active</label></div>
        <div class="radio"><label><input type="radio" value="Both" name="biDataType{{biname}}" ng-model="data.dataType" ng-disabled="disabled"> Both</label></div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Period<span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-9">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">From</label>
                <div class="col-sm-9">
                    <div class="input-group" ng-if="!disabled">
                        <input type="text" class="form-control" name="gBIfromPeriod{{biname}}" ng-model="data.fromPeriod" datepicker-popup="dd.MM.yyyy" is-open="dateFromFieldOpened" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dateFromFieldOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <span class="has-error" ng-if="!disabled && !data.fromPeriod.length && form['gBIfromPeriod'+biname].$error.required && (form['gBIfromPeriod'+biname].$touched || view.submitted)">Required field</span>
                    <div class="input-group" ng-if="disabled">
                        {{data.fromPeriod | date: 'dd.MM.yyyy'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">To</label>
                <div class="col-sm-9">
                    <div class="input-group" ng-if="!disabled">
                        <input type="text" class="form-control" name="gBItoPeriod{{biname}}" ng-model="data.toPeriod" datepicker-popup="dd.MM.yyyy" is-open="dateToFieldOpened" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dateToFieldOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <span class="has-error" ng-if="!disabled && !data.toPeriod && form['gBItoPeriod'+biname].$error.required && (form['gBItoPeriod'+biname].$touched || view.submitted)">Required field</span>
                    <div class="input-group" ng-if="disabled">
                        {{data.toPeriod | date: 'dd.MM.yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Report title<span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-9" ng-if="disabled">
        <div class="col-sm-12 disabled-element">{{(data.reportTitle && data.reportTitle.length)?data.reportTitle:'&nbsp;'}}</div>
    </div>
    <div class="col-sm-9" ng-if="!disabled">
        <textarea rows="1" elastic-textarea class="form-control" name="gBIReportTitle{{biname}}" ng-model="data.reportTitle" required></textarea>
        <span class="has-error" ng-if="!data.reportTitle.length && form['gBIReportTitle'+biname].$error.required && (form['gBIReportTitle'+biname].$touched || view.submitted)">Required field</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Report description<span class="text-danger glyphicon-asterisk"></span></label>
    <div class="col-sm-9" ng-if="disabled">
        <div class="col-sm-12 disabled-element">{{(data.reportDescription && data.reportDescription.length)?data.reportDescription:'&nbsp;'}}</div>
    </div>
    <div class="col-sm-9" ng-if="!disabled">
        <textarea elastic-textarea class="form-control" name="BIReportDescription{{biname}}" ng-model="data.reportDescription" placeholder="Please, exactly describe what data you need (ex. column names, field specifications aggregated/ detailed, daily/monthly period etc.)" required></textarea>
        <span class="has-error" ng-if="!data.reportDescription.length && form['BIReportDescription'+biname].$error.required && (form['BIReportDescription'+biname].$touched || view.submitted)">Required field</span>
    </div>
</div>
</div>