<style>
    .list-group {
        border: 1px solid #428bca;
        position: absolute;
        z-index: 100;
        width: 100%;
        border-radius: 4px;
        max-height: 50vh;
        overflow: scroll;
        box-shadow: 5px 5px 5px grey;
    }
    .list-group-input {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        color: #555;
    }
    .list-group-input-active {
        border-color: #9b5fb9;
    }
    .list-group-input:hover,
    .list-group-input:focus {
        border-color: #9b5fb9;
        cursor: pointer;
    }
    .list-group-item {
        border: none;
        border-radius: 0;
        text-align: left;
        padding: 5px 10px;
        white-space: nowrap;
    }
    .list-group-item:hover,
    .list-group-item:focus {
        color: #fff !important;
        background-color: #428bca !important;
        cursor: pointer;
        text-decoration: none;
    }
    .list-search-field {
        border-bottom: 1px solid #aaa;
        padding: 10px 15px;
        background: #fff;
    }
</style>
<div ng-click="toggleSelect()" class="col-sm-12 list-group-input" ng-class="{'list-group-input-active':isOpen}" title="{{(objectList && titleProp)?theModel[titleProp]:''}}">
    {{objectList?((theModel && theModel[displayProp])?theModel[displayProp]:'&nbsp;'):(theModel?theModel:'&nbsp;')}}
    <span class="caret" style="position: absolute; right: 5px; top: 45%; font-size: 10px;"></span>
</div>
<div class="col-sm-12" style="padding: 0;" ng-show="isOpen">
    <ul class="list-group">
        <li class="list-search-field" ng-show="searchField">
            <input type="text" placeholder="Search..." class="form-control" ng-model="searchVal">
        </li>
        <li ng-if="objectList" title="{{(objectList && titleProp)?option[titleProp]:''}}" class="list-group-item" ng-click="selectOption(option)" ng-repeat="option in options | filter:filterFunc">
            {{option[displayProp]}}
        </li>
        <li ng-if="!objectList" class="list-group-item" ng-click="selectOption(option)" ng-repeat="option in options | filter:searchVal">
            {{option}}
        </li>
    </ul>
</div>