<style>
    .use-case {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-top: 5px;
        margin-bottom: 10px;
        /*background-color: #f5f5f5;*/
    }
    .use-case:hover {
        background-color: #d2d6e0;
    }
    .no-padding-right {
        padding-right: 0;
    }

    .panel-group {
        margin-bottom: 10px;
    }

    .panel-group > .panel > .panel-collapse > .panel-body {
        padding: 7px 15px 7px 15px;
    }
</style>
<div class="col-sm-12">
    <div class="col-sm-12" style="padding: 0;">
        <accordion>
            <accordion-group is-open="true">
                <accordion-heading>
                    Use case <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                </accordion-heading>

                <div ng-repeat="u in data.useCases track by $index" class="col-sm-12 use-case" ng-click="toggleUseCaseCollapse($event, $index)">
                    <div class="pull-right not-collapsable" style="margin-right: 10px;" ng-if="!disabled" ng-click="useCaseDelete($index)">
                        <div class="form-group not-collapsable">
                            <i class="pull-right glyphicon glyphicon-trash control-label glyphicon-clickable not-collapsable"></i>
                        </div>
                    </div>
                    <div class="pull-left" style="margin-left: 10px;">
                        <div class="form-group">
                            <label class="control-label not-collapsable">{{$index + 1}}</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-class="{'no-padding-right': disabled}">
                        <label class="col-sm-2 control-label"><span class="not-collapsable">Use case name</span></label>
                        <div class="col-sm-10 not-collapsable" ng-if="!disabled">
                            <textarea elastic-textarea rows="1" class="form-control" ng-model="u.name" name="uc_{{$index}}_name" required ng-keydown="checkEnter($event)"></textarea>
                            <span class="has-error" ng-if="form['uc_' + $index + '_name'].$error.required && (form['uc_' + $index + '_name'].$touched || view.submitted)">Required field</span>
                        </div>
                        <div class="col-sm-10 no-padding-right" ng-if="disabled">
                            <div class="disabled-element not-collapsable">{{u.name}}</div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-left: 10px;" ng-if="!useCaseCollapsed[$index]">
                        <div class="form-group">
                            <label class="col-sm-12 control-label"><span class="not-collapsable">Description</span></label>
                            <div class="col-sm-12 not-collapsable">
                                <demand-rich-text data="u.description" disabled="disabled" min-height="100" process-id="processId" task-id="taskId" templates="{'brd_use_case': 'BRD Use case'}"></demand-rich-text>
                                <input type="hidden" ng-model="u.description" name="uc_{{$index}}_description" ng-required="!disabled">
                                <span class="has-error" ng-if="form['uc_' + $index + '_description'].$error.required && (form['uc_' + $index + '_description'].$touched || view.submitted)">Required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" ng-if="!disabled">
                    <button type="button" class="btn btn-default pull-right" ng-click="useCaseAdd()">Add new Use case</button>
                </div>

            </accordion-group>
        </accordion>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label">Business process schema</label>
        <div class="col-sm-12">
            <demand-rich-text data="data.businessSchema" min-height="100" disabled="disabled" process-id="processId" task-id="taskId"></demand-rich-text>
            <input type="hidden" ng-model="data.businessSchema" name="frBusinessSchema" ng-required="!disabled">
            <span class="has-error" ng-if="form.frBusinessSchema.$error.required && (form.frBusinessSchema.$touched || view.submitted)">Required field</span>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 0;">
        <label class="col-sm-12 control-label">Charging requirements</label>
        <div class="col-sm-12">
            <demand-rich-text data="data.chargingRequirements" min-height="100" disabled="disabled" process-id="processId" task-id="taskId"></demand-rich-text>
            <input type="hidden" ng-model="data.chargingRequirements" name="frChargingRequirements" ng-required="!disabled">
            <span class="has-error" ng-if="form.frChargingRequirements.$error.required && (form.frChargingRequirements.$touched || view.submitted)">Required field</span>
        </div>
    </div>
</div>
