<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            User interface requirements
            <a href="#" ng-click="toggleCollapse('UIRequirements')">
                <span class="glyphicon glyphicon-collapse-{{collapse.UIRequirements?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.UIRequirements">
            <textarea type="text" style="resize: vertical;" class="form-control" name="uiUIRequirements" ng-model="data.UIRequirements" required ng-disabled="disabled"></textarea>
            <span class="has-error" ng-if="form.uiUIRequirements.$error.required && (form.uiUIRequirements.$touched || view.submitted)">Required field</span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            Customer Relationship interface requirements
            <a href="#" ng-click="toggleCollapse('CRIRequirements')">
                <span class="glyphicon glyphicon-collapse-{{collapse.CRIRequirements?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.CRIRequirements">
            <textarea type="text" style="resize: vertical;" class="form-control" name="uiCRIRequirements" ng-model="data.CRIRequirements" required ng-disabled="disabled"></textarea>
            <span class="has-error" ng-if="form.uiCRIRequirements.$error.required && (form.uiCRIRequirements.$touched || view.submitted)">Required field</span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            System interface requirements
            <a href="#" ng-click="toggleCollapse('SIRequirements')">
                <span class="glyphicon glyphicon-collapse-{{collapse.SIRequirements?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.SIRequirements">
            <textarea type="text" style="resize: vertical;" class="form-control" name="uiSIRequirements" ng-model="data.SIRequirements" required ng-disabled="disabled"></textarea>
            <span class="has-error" ng-if="form.uiSIRequirements.$error.required && (form.uiSIRequirements.$touched || view.submitted)">Required field</span>
        </div>
    </div>
</div>