<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            Legal requirements and limitations
            <a ng-click="toggleCollapse('legalRequirements')" style="font-size: 20px;">
                <span class="glyphicon glyphicon-collapse-{{collapse.legalRequirements?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.legalRequirements">
            <span ng-if="disabled">
                <div class="col-sm-12 disabled-element">{{(data.legalRequirements && data.legalRequirements.length)?data.legalRequirements:'&nbsp;'}}</div>
            </span>
            <span ng-if="!disabled">
                <textarea elastic-textarea type="text" class="form-control" name="nfrLegalRequirements" ng-model="data.legalRequirements"></textarea>
                <!--<span class="has-error" ng-if="form.nfrLegalRequirements.$error.required && (form.nfrLegalRequirements.$touched || view.submitted)">Required field</span>-->
            </span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            Security requirements
            <a ng-click="toggleCollapse('securityRequirements')" style="font-size: 20px;">
                <span class="glyphicon glyphicon-collapse-{{collapse.securityRequirements?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.securityRequirements">
            <span ng-if="disabled">
                <div class="col-sm-12 disabled-element">{{(data.securityRequirements && data.securityRequirements.length)?data.securityRequirements:'&nbsp;'}}</div>
            </span>
            <span ng-if="!disabled">
                <textarea elastic-textarea type="text" class="form-control" name="nfrSecurityRequirements" ng-model="data.securityRequirements"></textarea>
                <!--<span class="has-error" ng-if="form.nfrSecurityRequirements.$error.required && (form.nfrSecurityRequirements.$touched || view.submitted)">Required field</span>-->
            </span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            Service availability/Support
            <a ng-click="toggleCollapse('serviceAvailability')" style="font-size: 20px;">
                <span class="glyphicon glyphicon-collapse-{{collapse.serviceAvailability?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.serviceAvailability">
            <span ng-if="disabled">
                <div class="col-sm-12 disabled-element">{{(data.serviceAvailability && data.serviceAvailability.length)?data.serviceAvailability:'&nbsp;'}}</div>
            </span>
            <span ng-if="!disabled">
                <textarea elastic-textarea type="text" class="form-control" name="nfrServiceAvailability" ng-model="data.serviceAvailability"></textarea>
                <!--<span class="has-error" ng-if="form.nfrServiceAvailability.$error.required && (form.nfrServiceAvailability.$touched || view.submitted)">Required field</span>-->
            </span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-12 control-label">
            Other
            <a ng-click="toggleCollapse('other')" style="font-size: 20px;">
                <span class="glyphicon glyphicon-collapse-{{collapse.other?'up':'down'}}"></span>
            </a>
        </label>
        <div class="col-sm-12" ng-hide="collapse.other">
            <span ng-if="disabled">
                <div class="col-sm-12 disabled-element">{{(data.other && data.other.length)?data.other:'&nbsp;'}}</div>
            </span>
            <span ng-if="!disabled">
                <textarea elastic-textarea type="text" class="form-control" name="nfrOther" ng-model="data.other"></textarea>
                <!--<span class="has-error" ng-if="form.nfrOther.$error.required && (form.nfrOther.$touched || view.submitted)">Required field</span>-->
            </span>
        </div>
    </div>
</div>