<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr valign="middle" align="middle">
                <th>Department</th>
                <th>Position</th>
                <th>Description</th>
                <th>Empl. Quantity</th>
                <th>Labor in hours</th>
                <th>Rate</th>
                <th>Existing?</th>
                <th>Price, KZT</th>
                <th>Summ, KZT</th>
                <th>Responsible</th>
                <th ng-if="!disabled">
                    <a href="#" ng-click="addItem()" style="font-size: 25px;">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in data track by $index" align="middle">
                <td>
                    <span ng-if="disabled">{{r.department}}</span>
                    <span ng-if="!disabled">
                        <select class="form-control" ng-model="r.department" required>
                            <option value="TD">TD</option>
                            <option value="CCD">CCD</option>
                            <option value="CPD">CPD</option>
                            <option value="FD">FD</option>
                        </select>
                        <span class="has-error" ng-if="(!r.department || r.department.length == 0) && view.submitted">Required field</span>
                    </span>
                </td>
                <td>
                    <span ng-if="disabled">{{r.position}}</span>
                    <span ng-if="!disabled">
                        <select class="form-control" ng-model="r.position" required>
                            <option value="Developer">Developer</option>
                            <option value="Recuirement mananger">Recuirement mananger</option>
                            <option value="Solution manager">Solution mananger</option>
                            <option value="Outsource">Outsource</option>
                            <option value="New position">New position</option>
                        </select>
                        <span class="has-error" ng-if="(!r.position || r.position.length == 0) && view.submitted">Required field</span>
                    </span>
                </td>
                <td>
                    <span ng-if="disabled">{{r.description}}</span>
                    <span ng-if="!disabled">
                        <input type="text" class="form-control" ng-model="r.description" ng-required="r.position == 'New position'" ng-disabled="r.position != 'New position'">
                        <span class="has-error" ng-if="r.position == 'New position' && (!r.description || r.description.length == 0) && view.submitted">Required field</span>
                    </span>
                </td>
                <td>
                    <span ng-if="disabled">{{r.quantity}}</span>
                    <span ng-if="!disabled">
                        <input type="number" class="form-control" ng-model="r.quantity" ng-change="calcSumm($index)" required>
                        <span class="has-error" ng-if="!r.quantity && view.submitted">Required field</span>
                    </span>
                </td>
                <td>
                    <span ng-if="disabled">{{r.labor}}</span>
                    <span ng-if="!disabled">
                        <input type="number" class="form-control" ng-model="r.labor" ng-change="calcSumm($index)" required>
                        <span class="has-error" ng-if="!r.labor && view.submitted">Required field</span>
                    </span>
                </td>
                <td>
                    <span ng-if="!editprice">{{r.rate}}</span>
                    <span ng-if="editprice">
                        <input type="text" class="form-control" placeholder="Man\hour" ng-model="r.rate" required>
                        <span class="has-error" ng-if="(!r.rate || r.rate.length == null) && view.submitted">Required field</span>
                    </span>
                </td>
                <td>
                    <input type="checkbox" ng-model="r.existing" ng-disabled="!editprice">
                </td>
                <td>
                    <span ng-if="!editprice">{{r.pprice}}</span>
                    <span ng-if="editprice">
                        <input type="number" class="form-control" ng-model="r.pprice" ng-change="calcSumm($index)">
                        <!-- <span class="has-error" ng-if="r.pprice == null && view.submitted">Required field</span> -->
                    </span>
                </td>
                <td>
                    {{r.summ}}
                    <!--<span ng-if="disabled">{{r.summ}}</span>
                    <span ng-if="!disabled">
                        <input type="number" class="form-control" ng-model="r.summ">
                        <span class="has-error" ng-if="r.summ == null && view.submitted && !disabled">Required field</span>
                    </span>-->
                </td>
                <td>
                    {{r.responsible.fio}}
                </td>
                <td ng-if="!disabled">
                    <button type="button" class="btn btn-default" ng-click="deleteItem($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-sm-12" ng-if="totalSumm">
        <div class="col-sm-5 pull-right form-group" ng-if="data.length > 0">
            <label class="col-sm-5 control-label">Total Summ, KZT</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="totalSumm" disabled>
            </div>
        </div>
    </div>
</div>