<div class="col-sm-12" style="overflow: auto;">
    <div class="col-sm-12" ng-style="{'min-width': (disabled?'100%':'1200px')}">
        <table class="table">
            <thead>
                <tr>
                    <th ng-style="{'width': (disabled?'auto':'10%')}">Dept.</th>
                    <th ng-style="{'width': (disabled?'auto':'16%')}">Position</th>
                    <th ng-style="{'width': (disabled?'auto':'14%')}">Description</th>
                    <th ng-style="{'width': (disabled?'auto':'8%')}">Empl. Quantity</th>
                    <th ng-style="{'width': (disabled?'auto':'8%')}">Labor, Man\Hours</th>
                    <th ng-style="{'width': (disabled?'auto':'8%')}">Period, Days</th>
                    <th ng-style="{'width': (disabled?'auto':'5%')}">Existing?</th>
                    <th ng-style="{'width': (disabled?(editprice?'10%':'auto'):'8%')}">Rate per Hour, KZT Gross</th>
                    <th ng-style="{'width': (disabled?'auto':'8%')}">Amount, KZT Gross</th>
                    <th ng-style="{'width': (disabled?'auto':'10%')}">Responsible</th>
                    <th ng-style="{'width': (disabled?'auto':'5%')}" ng-if="!disabled">
                        <a href="#" ng-click="addItem()" style="font-size: 25px;">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in data track by $index">
                    <td>
                        <span ng-if="disabled">{{r.department}}</span>
                        <span ng-if="!disabled">
                            <select class="form-control" ng-model="r.department" name="resources_{{$index}}_department" ng-change="onDepartmentChange($index)" required>
                                <option value="TD">TD</option>
                                <option value="CCD">CCD</option>
                                <option value="CPD">CPD</option>
                                <option value="FD">FD</option>
                            </select>
                            <span class="has-error" ng-if="form['resources_'+$index+'_department'].$error.required && ( form['resources_'+$index+'_department'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="disabled">{{r.position}}</span>
                        <span ng-if="!disabled">
                            <select class="form-control" ng-model="r.position" name="resources_{{$index}}_position" ng-change="onPositionChange($index)" required>
                                <option value="Developer">Developer</option>
                                <option value="Recuirement mananger">Recuirement mananger</option>
                                <option value="Solution manager">Solution mananger</option>
                                <option value="Outsource">Outsource</option>
                                <option value="New position">New position</option>
                            </select>
                            <span class="has-error" ng-if="form['resources_'+$index+'_position'].$error.required && ( form['resources_'+$index+'_position'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="disabled || r.position != 'New position'">{{r.description}}</span>
                        <span ng-if="!disabled && r.position == 'New position' ">
                            <textarea rows="1" elastic-textarea class="form-control" ng-model="r.description" name="resources_{{$index}}_description" ng-change="setResponsible($index)" required></textarea>
                            <span class="has-error" ng-if="form['resources_'+$index+'_description'].$error.required && ( form['resources_'+$index+'_description'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="disabled">{{r.quantity}}</span>
                        <span ng-if="!disabled">
                            <input type="number" class="form-control" ng-model="r.quantity" name="resources_{{$index}}_quantity" ng-change="calcSumm($index)" required>
                            <span class="has-error" ng-if="form['resources_'+$index+'_quantity'].$error.required && ( form['resources_'+$index+'_quantity'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="disabled">{{r.labor}}</span>
                        <span ng-if="!disabled">
                            <input type="number" class="form-control" ng-model="r.labor" name="resources_{{$index}}_labor" ng-change="calcSumm($index)" required>
                            <span class="has-error" ng-if="form['resources_'+$index+'_labor'].$error.required && ( form['resources_'+$index+'_labor'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="disabled">{{r.period}}</span>
                        <span ng-if="!disabled">
                            <input type="number" class="form-control" ng-model="r.period" name="resources_{{$index}}_period" ng-change="setResponsible($index)" required>
                            <span class="has-error" ng-if="form['resources_'+$index+'_period'].$error.required && ( form['resources_'+$index+'_period'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="r.existing" ng-change="setResponsible($index)" ng-disabled="disabled && !editprice">
                    </td>
                    <td>
                        <span ng-if="!editprice || !showprice">{{showprice?r.pprice:'Conf.'}}</span>
                        <span ng-if="editprice">
                            <input type="number" class="form-control" ng-model="r.pprice" name="resources_{{$index}}_pprice" ng-change="calcSumm($index)" required>
                            <span class="has-error" ng-if="form['resources_'+$index+'_pprice'].$error.required && ( form['resources_'+$index+'_pprice'].$touched || view.submitted)">Required field</span>
                        </span>
                    </td>
                    <td>
                        {{showprice?r.summ:'Conf.'}}
                    </td>
                    <td>
                        {{r.responsible.fio}}
                    </td>
                    <td ng-if="!disabled">
                        <button type="button" class="btn btn-default" ng-click="deleteItem($index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-12" ng-if="totalSumm">
            <div class="col-sm-5 pull-right form-group" ng-if="data.length > 0">
                <label class="col-sm-5 control-label">Total amount, KZT Gross</label>
                <div class="col-sm-7">
                    <div class="col-sm-12 disabled-element">{{totalSumm}}</div> 
                </div>
            </div>
        </div>
    </div>
</div>