<div class="col-sm-12">
  <div class="col-sm-12" ng-if="!disabled" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#fieldConstructor">Add\Remove fields</button>
  </div>

  <div class="form-group" ng-repeat="field in data.fields track by $index" ng-if="$index < 2 && !field.hidden">
    <label class="control-label col-sm-12">{{field.name}}</label>
    <div class="col-sm-12">
      <demand-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></demand-rich-text>
    </div>
  </div>

  <div class="col-sm-12" style="padding: 0;" ng-if="showScenarios">
    <div class="panel-group custom-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Use and Interaction scenarios</h4>
        </div>
        <div class="panel-body">
          <div class="form-group" ng-repeat="field in data.fields track by $index" ng-if="$index > 1 && $index < 6 && !field.hidden">
            <label class="control-label col-sm-12">{{field.name}}</label>
            <div class="col-sm-12">
              <demand-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></demand-rich-text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" ng-repeat="field in data.fields track by $index" ng-if="$index > 5 && !field.hidden">
    <label class="control-label col-sm-12">{{field.name}}</label>
    <div class="col-sm-12">
      <demand-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></demand-rich-text>
    </div>
  </div>

  <div class="form-group" ng-repeat="field in data.customs track by $index">
    <label ng-if="disabled" class="control-label col-sm-12">{{field.name}}</label>
    <div ng-if="!disabled" class="col-sm-12">
      <div class="col-sm-6" style="padding: 0;">
        <input type="text" class="form-control" ng-model="field.name">
      </div>
    </div>
    <div class="col-sm-12">
      <demand-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></demand-rich-text>
    </div>
  </div>

  <div class="modal fade" id="fieldConstructor">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Field constructor</h3>
        </div>
        <div class="modal-body col-sm-12">
          <demand-sdd-field-constructor data="data" section="0"></demand-sdd-field-constructor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Finish</button>
        </div>
      </div>
    </div>
  </div>

</div>