<div class="col-sm-12" id="{{elementId}}">
  <label class="col-sm-12 text-center">Solution Design Document</label>
  <div class="col-sm-12 text-right"><label>Exported: {{today | date: 'dd.MM.yyyy HH:mm'}}</label></div>
  <div class="col-sm-12">
    <label>Business key:</label> {{bKey}}
  </div>
  <div class="col-sm-12">
    <label>Demand name:</label> {{dName}}
  </div>

  <label class="col-sm-12">Demand description:</label>
  <div class="col-sm-12">{{dDescription}}</div>
  <div class="col-sm-12"><hr /></div>

  <label class="col-sm-12">Glossary</label>
  <div class="col-sm-12" ng-bind-html="trustedHtml(data.glossary)"></div>
  <div class="col-sm-12"><hr /></div>

  <label class="col-sm-12">General description</label>
  <div class="col-sm-12" ng-bind-html="trustedHtml(data.generalDescription)"></div>
  <div class="col-sm-12"><hr /></div>

  <div ng-repeat="section in sections" ng-if="hasFields(data[section.id])">
    <label class="col-sm-12" style="text-decoration: underline;">{{section.name}}</label>
    <div ng-repeat="field in data[section.id].fields track by $index">
      <label class="col-sm-12">{{field.name}}</label>
      <div class="col-sm-12" ng-bind-html="trustedHtml(field.value)"></div>
    </div>
    <div ng-repeat="field in data[section.id].customs track by $index">
      <label class="col-sm-12">{{field.name}}</label>
      <div class="col-sm-12" ng-bind-html="trustedHtml(field.value)"></div>
    </div>
    <div class="col-sm-12"><hr /></div>
  </div>

  <label class="col-sm-12">Order of Components implementation and integration</label>
  <div class="col-sm-12" ng-bind-html="trustedHtml(data.componentsOrder)"></div>
  <div class="col-sm-12"><hr /></div>
</div>