<div class="col-sm-12">
  <div ng-repeat="r in sections[section] track by $index">
    <div class="form-group" ng-repeat="field in data.fields track by $index" ng-if="!field.hidden && !r.name && $index >= r.from && $index <= r.to">
      <label class="control-label col-sm-12">{{field.name}}</label>
      <div class="col-sm-12">
        <summernote-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></summernote-rich-text>
        <input type="hidden" ng-model="field.value" name="sdd_{{section}}_{{$index}}_field" ng-required="required">
        <span class="has-error" ng-if="form['sdd_' + section + '_' + $index + '_field'].$error.required && (form['sdd_' + section + '_' + $index + '_field'].$touched || view.submitted)">Required field</span>
      </div>
    </div>

    <div class="col-sm-12" style="padding: 0;" ng-if="r.name && !r.hidden">
      <div class="panel-group custom-panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{r.name}}</h4>
          </div>
          <div class="panel-body">
            <div class="form-group" ng-repeat="field in data.fields track by $index" ng-if="!field.hidden && $index >= r.from && $index <= r.to">
              <label class="control-label col-sm-12">{{field.name}}</label>
              <div class="col-sm-12">
                <summernote-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></summernote-rich-text>
                <input type="hidden" ng-model="field.value" name="sdd_{{section}}_{{$index}}_field" ng-required="required">
                <span class="has-error" ng-if="form['sdd_' + section + '_' + $index + '_field'].$error.required && (form['sdd_' + section + '_' + $index + '_field'].$touched || view.submitted)">Required field</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" ng-repeat="field in data.customs track by $index">
    <label ng-if="disabled" class="control-label col-sm-12">{{field.name}}</label>
    <div ng-if="!disabled" class="col-sm-12">
      <div class="col-sm-6" style="padding: 0; margin: 5px 0;">
        <input type="text" class="form-control" ng-model="field.name" name="sdd_{{section}}_{{$index}}_name" ng-required="required">
        <label class="error" ng-show="form['sdd_' + section + '_' + $index + '_name'].$error.required && (form['sdd_' + section + '_' + $index + '_name'].$touched || view.submitted)">Required field</label>
      </div>
    </div>
    <div class="col-sm-12">
      <summernote-rich-text data="field.value" min-height="100" process-id="processId" task-id="taskId" disabled="disabled"></summernote-rich-text>
      <input type="hidden" ng-model="field.value" name="sdd_{{section}}_{{$index}}_custom" ng-required="required">
      <span class="has-error" ng-if="form['sdd_' + section + '_' + $index + '_custom'].$error.required && (form['sdd_' + section + '_' + $index + '_custom'].$touched || view.submitted)">Required field</span>
    </div>
  </div>

</div>
