<div class="col-sm-6">
    <div class="checkbox">
        <label><input type="checkbox" value="true" ng-model="data.kcell" ng-disabled="disabled"> Kcell</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="true" ng-model="data.activ" ng-disabled="disabled"> Activ</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="true" ng-model="data.internal" ng-disabled="disabled"> Internal</label>
    </div>
</div>
<div class="col-sm-6">
    <div class="checkbox">
        <label><input type="checkbox" value="true" ng-model="data.newClients" ng-disabled="disabled"> New Clients</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="true" ng-model="data.existingClients" ng-disabled="disabled"> Existing Clients</label>
    </div>
    <div class="form-group">
        <div class="col-sm-12" style="margin-top: 10px;" ng-if="!disabled && data.internal">
            <div ng-dropdown-multiselect="" options="audienceOptions" selected-model="data.audience" extra-settings="multiselectSettings"></div>
            <span class="has-error" ng-if="data.audience.length == 0 && view.submitted && !disabled">Required field</span>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;" ng-if="disabled && data.audience && data.audience.length">
            <div class="form-control" style="height: 100%;" disabled>
                <div ng-repeat="a in data.audience">{{a.v}}</div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="margin-top: 10px;">
    <div class="form-group" style="margin-bottom: 0px;">
        <label class="col-sm-12 control-label"><b>Consumer</b></label>
    </div>
</div>
<div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin-bottom: 10px;">
    <div class="col-sm-6">
        <div class="checkbox">
            <label><input type="checkbox" value="true" ng-model="data.outRoaming" ng-disabled="disabled"> Out Roaming</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="true" ng-model="data.national" ng-disabled="disabled"> National</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="true" ng-model="data.regional" ng-disabled="disabled"> Regional</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="checkbox">
            <label><input type="checkbox" value="true" ng-model="data.inRoaming" ng-disabled="disabled"> In Roaming</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="true" ng-model="data.regulatoryGovernment" ng-disabled="disabled"> Regulatory/Government</label>
        </div>
        <div class="form-group">
            <div class="col-sm-12" style="margin-top: 10px;" ng-if="!disabled && data.regional">
                <div ng-dropdown-multiselect="" options="roumingOptions" selected-model="data.rouming" extra-settings="multiselectSettings"></div>
                <span class="has-error" ng-if="data.rouming.length == 0 && view.submitted && !disabled">Required field</span>
            </div>
            <div class="col-sm-12" style="margin-top: 10px;" ng-if="disabled && data.rouming && data.rouming.length">
                <div class="form-control" style="height: 100%;" disabled>
                    <div ng-repeat="r in data.rouming">{{r.v}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-sm-6 control-label">Amount of subscribers<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="gSubscribersAmount" ng-model="data.subscribersAmount" ng-disabled="disabled">
                <!--<span class="has-error" ng-if="form.gSubscribersAmount.$error.required && (form.gSubscribersAmount.$touched || view.submitted)">Required field</span>-->
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="margin-top: 10px;">
    <div class="form-group" style="margin-bottom: 0px;">
        <label class="col-sm-12 control-label"><b>Enterpise</b></label>
    </div>
</div>
<div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 5px; margin-bottom: 10px;">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-sm-6 control-label">Particular Client<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-6" ng-if="disabled">
                <div class="col-sm-12 disabled-element">{{(data.particularClient && data.particularClient.length)?data.particularClient:'&nbsp;'}}</div>
            </div>
            <div class="col-sm-6" ng-if="!disabled">
                <textarea rows="1" elastic-textarea type="text" class="form-control" name="gParticularClient" ng-model="data.particularClient"></textarea>
                <!--<span class="has-error" ng-if="form.gParticularClient.$error.required && (form.gParticularClient.$touched || view.submitted)">Required field</span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label">B2B Client category<span class="text-danger glyphicon-asterisk"></span></label>
            <div class="col-sm-6">
                <select class="form-control" name="gBTBClientCategory" ng-model="data.bTBClientCategory" ng-disabled="disabled">
                    <option value="Strategic">Strategic</option>
                    <option value="Large">Large</option>
                    <option value="SME">SME</option>
                    <option value="All">All</option>
                </select>
                <!--<span class="has-error" ng-if="form.gBTBClientCategory.$error.required && (form.gBTBClientCategory.$touched || view.submitted)">Required field</span>-->
            </div>
        </div>
    </div>
</div>