<style>
    .modal-content {
        top:200px;
    }
</style>
<div class="modal-body feValidation">
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="text-align:center;font-weight:bold;font-size:16px; padding:10px;">
                Confirm deletion of the far end
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6"><button type="button" class="btn btn-default" ng-click="validate(); $dismiss()">Yes</button></div>
                <div class="col-sm-6"><button type="button" class="btn btn-default" ng-click="$dismiss()">No</button></div>


            </div>
        </div>
    </div>
</div>
