<style>
    .back {
        float: left;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        margin-right: 22px;
    }
</style>
<div class="modal-header">
    <button type="button" class="back" ng-click="close()" aria-hidden="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <h4 class="modal-title">User task history</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-include="'js/partials/detailHistory.html'">
            </div>
            <iframe id="fileDownloadIframe" style="display:none;"></iframe>
        </div>
    </div>
</div>