<style>
    body{
        overflow: auto !important;
    }
</style>
<div>
    <div class="currentTask">
        <div style="padding: 15px; display: grid">
            <h3>Files and Dictionaries</h3>
            <iframe id="fileDownloadIframe" style="display:none;"></iframe>
            <p>
                <a href="js/partials/Формулы.xlsx" target="_blank">Формулы.xlsx</a>
            </p>
            <p>Файл с формулами</p>
            </br>
            <h4>Справочники</h4>
            <div class="col-sm-8">
                <h4>Город</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>г. Алматы</td>
                        <td>г. Семей</td>
                        <td>г. Актау</td>
                        <td>г. Туркестан</td>
                        <td>г. Актобе</td>
                    </tr>
                    <tr>
                        <td>г. Нур-Султан</td>
                        <td>г. Костанай</td>
                        <td>г. Темиртау</td>
                        <td>г. Кокшетау</td>
                        <td>г. Рудный</td>
                    </tr>
                    <tr>
                        <td>г. Шымкент</td>
                        <td>г. Атырау</td>
                        <td>г. Павлодар</td>
                        <td>г. Талдыкорган</td>
                        <td>г. Петропавловск</td>
                    </tr>
                    <tr>
                        <td>г. Тараз</td>
                        <td>г. Кызылорда</td>
                        <td>г. Усть-Каменогорск</td>
                        <td>г. Экибастуз</td>
                        <td>г. Уральск</td>
                    </tr>
                    <tr>
                        <td>г. Караганда</td>
                        <td>Другой</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8">
                <h4>Область</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>Алматинская Область</td>
                        <td>Восточно-Казахстанская Область</td>
                        <td>Костанайская Область</td>
                        <td>Северо-Казахстанская Область</td>
                    </tr>
                    <tr>
                        <td>Акмолинская Область</td>
                        <td>Жамбыльская Область</td>
                        <td>Кызылординская Область</td>
                        <td>Туркестанская Область</td>
                    </tr>
                    <tr>
                        <td>Актюбинская Область</td>
                        <td>Южно-Казахстанская Область</td>
                        <td>Мангистауская Область</td>
                        <td>Западно-Казахстанская Область</td>
                    </tr>
                    <tr>
                        <td>Атырауская Область</td>
                        <td>Карагандинская Область</td>
                        <td>Павлодарская Область</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>IP адреса</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>Блок из 4-х IP адресов (/30)</td>
                    </tr>
                    <tr>
                        <td>Блок из 8 IP адресов (/29)</td>
                    </tr>
                    <tr>
                        <td>Блок из 16 IP адресов (/28)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Тип здания</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>Жилой комплекс</td>
                    </tr>
                    <tr>
                        <td>Отдельно стоящее здание</td>
                    </tr>
                    <tr>
                        <td>Бизнес центр</td>
                    </tr>
                    <tr>
                        <td>Другое</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-1">
                <h4>Валюта</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>тг</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>EUR</td>
                    </tr>
                    <tr>
                        <td>RUB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Intercity channel utilization</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>0.6</td>
                    </tr>
                    <tr>
                        <td>0.2</td>
                        <td>0.7</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>0.4</td>
                        <td>0.9</td>
                    </tr>
                    <tr>
                        <td>0.5</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Недели</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>до 1</td>
                        <td>до 6</td>
                    </tr>
                    <tr>
                        <td>до 2</td>
                        <td>до 7</td>
                    </tr>
                    <tr>
                        <td>до 3</td>
                        <td>до 8</td>
                    </tr>
                    <tr>
                        <td>до 4</td>
                        <td>до 10</td>
                    </tr>
                    <tr>
                        <td>до 5</td>
                        <td>до 12</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2">
                <h4>Применять стандартную политику скидок</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>да</td>
                    </tr>
                    <tr>
                        <td>нет</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Скидка, выбранная вручную </h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>30</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>35</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>40</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>45</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>50</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>55</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Equipment coef. (usage)</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>0.6</td>
                    </tr>
                    <tr>
                        <td>0.2</td>
                        <td>0.7</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>0.4</td>
                        <td>0.9</td>
                    </tr>
                    <tr>
                        <td>0.5</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Internet coef. (usage)</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>0.6</td>
                    </tr>
                    <tr>
                        <td>0.2</td>
                        <td>0.7</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>0.4</td>
                        <td>0.9</td>
                    </tr>
                    <tr>
                        <td>0.5</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Intercity coef. (usage)</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>0.6</td>
                    </tr>
                    <tr>
                        <td>0.2</td>
                        <td>0.7</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>0.4</td>
                        <td>0.9</td>
                    </tr>
                    <tr>
                        <td>0.5</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Срок контракта</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>3</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>60</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Кол-во услуг, Услуги по договору</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <h4>Емкость канала</h4>
                <a href="js/partials/Емкость канала.xlsx" target="_blank">Справочник</a>
            </div>
            <div class="col-sm-4">
                <h4>Вариант расчета</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
