<div class="card-modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 style="margin-top:14px;">{{jobModel.businessKey.value}}</h4>
</div>
<div class="modal-body new-card-search" style="padding-top:5px">

    <div class="row">
        <div class="col-md-4">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-8">
                    <span class="process-status">
                        Status: {{getStatus(jobModel.state, jobModel.acceptPerformedJob.value)}}</span>
                </div>
                <div class="col-md-4">
                    <div class="dropdown" style="position:absolute; right:15px; top:-6px;">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="btn-default btn drop-button" ng-click="showDiagram(jobModel.processDefinitionId)"><span
                                    class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
                                Diagram</button></li>
                            <li><button type="button" class="btn-default btn drop-button" ng-click="showHistory(jobModel.resolutions.value, 'Demand')">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> History </button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin:18px 0 0 0">
                        <div class="panel-heading block-headers">Details</div>
                        <div class="panel-body" style="padding:10px 0 10px 0;word-break:break-word;">
                            <div class="form-group">
                                <div class="col-sm-12"><b>Status:</b> {{(jobModel.status.value && jobModel.status.value.length)?jobModel.status.value:'&nbsp;'}}</div>
                                <div class="col-sm-12"><b>Demand Owner:</b> {{jobModel.generalData.value.general.demandOwner}}</div>
                                <div class="col-sm-12"><b>Created:</b> {{jobModel.startTime.value | date: 'dd.MM.yyyy HH:mm'}}</div>
                                <div class="col-sm-12"><b>Closed:</b> <span ng-if="jobModel.endTime.value">{{jobModel.endTime.value | date: 'dd.MM.yyyy HH:mm'}}</span></div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-stacked" id="accordion1">
                        <li class="panel panel-default" style="margin:0; word-break:break-word;">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"
                               style="background-color: #f5f5f5;" class="block-headers">User Tasks</a>
                            <ul id="firstLink" class="collapse in ul-padding">
                                <div ng-repeat="task in jobModel.tasks">
                                    <div class="task">
                                        <h5><a ui-sref="tasks.task({id:task.id})" target="_blank">{{ (task.name || task.id) }}</a></h5>
                                        <div ng-if="task.description" class="card-task-descr"> {{ task.description }} </div>
                                        <small class="text-muted" ng-if="task.assignee">{{ task.assigneeObject.firstName }} {{ task.assigneeObject.lastName }}</small>
                                        <small class="text-muted" ng-if="!task.assignee">Unassigned</small>
                                    </div>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" style="margin-top:5px; margin-bottom:8px;">
                <div class="col-md-12">
                    <div class="col-sm-12">
                        <h4 class="block-headers">General Information:</h4>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="col-sm-12"><b>Demand Name:</b> {{jobModel.demandName.value}}
                    </div>
                    <div class="col-sm-12"><b>Demand description:</b> {{(jobModel.generalData.value.general.description && jobModel.generalData.value.general.description.length)?jobModel.generalData.value.general.description:'&nbsp;'}}
                    </div>
                    <div class="col-sm-12"><b>Initiative department:</b> {{jobModel.generalData.value.general.responsibleDep}}
                    </div>
                    <div class="col-sm-12"><b>Need Technology delivery\analysis:</b> <span>{{jobModel.generalData.value.general.technicalAnalysis ? 'Yes' : 'No'}}</span>
                    </div>
                    <div class="col-sm-12"><b>Planned Launch by Demand owner:</b> <span ng-if="jobModel.generalData.value.general.plannedLaunch">{{jobModel.generalData.value.general.plannedLaunch | date: 'dd.MM.yyyy HH:mm'}}</span>
                    </div>
                    <div class="col-sm-12"><b>Planned Launch by Requirement manager:</b> <span ng-if="jobModel.generalData.value.general.actualLaunch">{{jobModel.generalData.value.general.actualLaunch | date: 'dd.MM.yyyy HH:mm'}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal-footer-custom" id="modal-footer-custom">
    <button type="button" class="btn btn-default" style="float:right;" ng-click="$dismiss()">Close</button>
</div>