<iframe id="fileDownloadIframe" style="display:none;"></iframe>
<style>
    .card-modal-header {
        background:transparent; color:black; padding:0 15px 0 15px;
    }

</style>
<div class="card-modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 style="margin-top:14px;">{{businessKey}}</h4>
</div>
<div class="modal-body new-card-search" style="padding-top:5px">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-8">
                    <span ng-if="leasingInfo.state" class="block-headers">Status: {{leasingInfo.state === 'ACTIVE' ? 'In progress' : leasingInfo.state}}</span>
                </div>
                <div class="col-md-4">
                    <div class="dropdown" style="position:absolute; right:15px; top:-6px;">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="showDiagram(processDefinitionId, leasingInfo.tasks)" class="ng-binding"><span
                                    class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
                                Diagram</a></li>
                            <li><a href="" ng-click="showHistory(leasingInfo.resolutions.value, jobModel.processDefinitionKey)"
                                   class="ng-binding"><span class="glyphicon glyphicon-list-alt"
                                                            aria-hidden="true"></span> History </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin:18px 0 0 0">
                        <div class="panel-heading block-headers">Details</div>
                        <div class="panel-body" style="padding:10px 0 10px 0;word-break:break-word;">
                            <div class="form-group">
                                <div class="col-sm-12"><b>Initiator</b>: {{leasingInfo.initiator.value.name}}</div>
                                <div class="col-sm-12"><b>Priority</b>: {{leasingInfo.priority.value.name}}</div>
                                <div class="col-sm-12"><b>Reason</b>: {{leasingInfo.reason.value.reason}}</div>
                                <div class="col-sm-12"><b>Project</b>: {{leasingInfo.project.value.name}}</div>
                                <div class="col-sm-12"><b>Test coverage</b>: {{leasingInfo.targetCoverage.value}}</div>
                                <!--div class="col-sm-12"><b>General status</b>: </div-->
                                <!--div class="col-sm-12"><b>Installation status</b>: </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-stacked" id="accordion1">
                        <li class="panel panel-default" style="margin:0">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"
                               style="background-color: #f5f5f5;" class="block-headers">User Tasks</a>

                            <ul id="firstLink" class="collapse in ul-padding">
                                <div ng-repeat="task in leasingInfo.tasks" >
                                    <div class="task">
                                        <h5>
                                            <a ui-sref="tasks.task({id:task.id})" target="_blank">{{
                                                (task.name || task.id) }}</a></h5>
                                        <div class="card-task-descr" ng-if="task.description"> {{ task.description }}</div>
                                        <small ng-if="hasGroup('kcellUsers')" class="text-muted"
                                               ng-if="task.group">
                                            Group: <a
                                                ng-click="showGroupDetails(task.group)">{{task.group}}</a>
                                        </small>
                                        <br/>
                                        <small class="text-muted" ng-if="task.assignee">{{
                                            task.assigneeObject.firstName }} {{ task.assigneeObject.lastName
                                            }}
                                        </small>
                                        <small class="text-muted" ng-if="!task.assignee">Unassigned</small>
                                    </div>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h4>Candidate Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Sitename</b>:
                    {{leasingInfo.candidate.value.siteName}}
                </div>
                <div class="col-xs-6 col-md-6"><b>Region</b>:
                    {{leasingInfo.regionName.value}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Site type</b>:
                    {{leasingInfo.siteType.value.name}}
                </div>
                <div class="col-xs-6 col-md-6"><b>Address</b>:
                    {{leasingInfo.address.value.cn_addr_oblast ? leasingInfo.address.value.cn_addr_oblast + ', ' : ''}}
                    {{leasingInfo.address.value.cn_addr_district ? leasingInfo.address.value.cn_addr_district + ', ' : ''}}
                    {{leasingInfo.address.value.cn_addr_city ? leasingInfo.address.value.cn_addr_city + ', ' : ''}}
                    {{leasingInfo.address.value.ca_not_full_addres? leasingInfo.address.value.cn_addr_cadastral_number + ', ' + leasingInfo.address.value.cn_addr_note : leasingInfo.address.value.cn_addr_street + ', ' + leasingInfo.address.value.cn_addr_building}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Construction type</b>:
                    {{leasingInfo.candidate.value.constructionType.name}}
                </div>
                <div class="col-xs-6 col-md-6"><b>Latitude</b>:
                    {{leasingInfo.candidate.value.latitude}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Band</b>:
                    <span ng-repeat="b in leasingInfo.bands.value">{{b.title + ($last?'':', ')}}</span>
                </div>
                <div class="col-xs-6 col-md-6"><b>Longitude</b>:
                    {{leasingInfo.candidate.value.longitude}}
                </div>               
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>RBS Type</b>:
                    {{leasingInfo.candidate.value.rbsType}}
                </div>
                <div class="col-xs-6 col-md-6"><b>Renter company</b>:
                    {{leasingInfo.renterCompany.value.legalName}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>RBS Location</b>:
                    {{leasingInfo.candidate.value.rbsType}}
                    <span ng-repeat="b in leasingInfo.rbsLocation.value" ng-if="b.value">{{b.title + ($last?'':', ')}}</span>
                </div>
                <div class="col-xs-6 col-md-6" ng-if="leasingInfo.renterCompany.value === 'national_kazakhtelecom'"><b>Branch of Kazakhtelecom</b>:
                    {{leasingInfo.branchKT.value}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h4>Far End Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Far End Name</b>:
                    {{leasingInfo.farEndInformation.value[0].sitename}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Transmission type</b>:
                    {{leasingInfo.farEndInformation.value[0].transmissionType}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Far End Address</b>:
                    {{leasingInfo.farEndInformation.value[0].address.cn_addr_oblast ? leasingInfo.farEndInformation.value[0].address.cn_addr_oblast + ', ' : ''}}
                    {{leasingInfo.farEndInformation.value[0].address.cn_addr_district ? leasingInfo.farEndInformation.value[0].address.cn_addr_district + ', ' : ''}}
                    {{leasingInfo.farEndInformation.value[0].address.cn_addr_city ? leasingInfo.farEndInformation.value[0].address.cn_addr_city + ', ' : ''}}
                    {{leasingInfo.farEndInformation.value[0].address.ca_not_full_addres? leasingInfo.farEndInformation.value[0].address.cn_addr_cadastral_number + ', ' + leasingInfo.farEndInformation.value[0].address.cn_addr_note : leasingInfo.farEndInformation.value[0].address.cn_addr_street + ', ' + leasingInfo.farEndInformation.value[0].address.cn_addr_building}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><b>Far End Renter Company</b>:
                    {{leasingInfo.farEndInformation.value[0].renterCompany.legalName}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h4>Attachments:</h4>
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <!--div ng-repeat="file in leasingInfo.uploadRSDandVSDfilesFiles track by $index">
                        <a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                    <div ng-repeat="file in leasingInfo.uploadTSDfileFiles track by $index">
                        <a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                    <div ng-repeat="file in leasingInfo.createdRSDFile track by $index">
                        <a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div-->
                    <div ng-repeat="file in leasingInfo.files track by $index">
                        <a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer">
    <button type="button" class="btn btn-default" style="float:right;" ng-click="$dismiss()">Close</button>
</div>