<iframe id="fileDownloadIframe" style="display:none;"></iframe>
<style>
    .card-modal-header {
        background:transparent; color:black; padding:0 15px 0 15px;
    }

</style>
<div class="card-modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 style="margin-top:14px;">{{businessKey}}</h4>
</div>
<div class="modal-body new-card-search" style="padding-top:5px">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-8">
                    <span ng-if="leasingInfo.state" class="block-headers">Status: {{leasingInfo.state === 'ACTIVE' ? 'In progress' : leasingInfo.state}}</span>
                </div>
                <div class="col-md-4">
                    <div class="dropdown" style="position:absolute; right:15px; top:-6px;">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="showDiagram(processDefinitionId, leasingInfo.tasks)" class="ng-binding"><span
                                    class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
                                Diagram</a></li>
                            <li><a href="" ng-click="showHistory(leasingInfo.resolutions.value, jobModel.processDefinitionKey)"
                                   class="ng-binding"><span class="glyphicon glyphicon-list-alt"
                                                            aria-hidden="true"></span> History </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin:18px 0 0 0">
                        <div class="panel-heading block-headers">Details</div>
                        <div class="panel-body" style="padding:10px 0 10px 0;word-break:break-word;">
                            <div class="form-group">
                                <div class="col-sm-12"><b>Sitename</b>: {{leasingInfo.siteName.value}}</div>
                                <div class="col-sm-12"><b>Initiator</b>: {{leasingInfo.initiator.value.name}}</div>
                                <!-- <div class="col-sm-12"><b>Priority</b>: {{leasingInfo.priority.value.name}}</div> -->
                                <div class="col-sm-12"><b>Region</b>: {{leasingInfo.region.value}}</div>
                                <div class="col-sm-12"><b>Site type</b>: {{leasingInfo.siteType.value.name}}</div>
                                <div class="col-sm-12"><b>Reason</b>: {{leasingInfo.reason.value.reason}}</div>
                                <div class="col-sm-12"><b>Project</b>: {{leasingInfo.project.value.name}}</div>
                                <div class="col-sm-12"><b>Test coverage</b>: {{leasingInfo.targetCoverage.value}}</div>
                                <div class="col-sm-12"><b>General status</b>: {{leasingInfo.generalStatus.value}}</div>
                                <div class="col-sm-12"><b>Installation status</b>: {{leasingInfo.installationStatus.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-stacked" id="accordion1">
                        <li class="panel panel-default" style="margin:0">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"
                               style="background-color: #f5f5f5;" class="block-headers">Current user tasks</a>

                            <ul id="firstLink" class="collapse in ul-padding">
                                <div ng-repeat="task in leasingInfo.tasks" >
                                    <div class="task">
                                        <h5>
                                            <a ui-sref="tasks.task({id:task.id})" target="_blank">{{
                                                (task.name || task.id) }}</a></h5>
                                        <div class="card-task-descr" ng-if="task.description"> {{ task.description }}</div>
                                        <small ng-if="hasGroup('kcellUsers')" class="text-muted"
                                               ng-if="task.group">
                                            Group: <a
                                                ng-click="showGroupDetails(task.group)">{{task.group}}</a>
                                        </small>
                                        <br/>
                                        <small class="text-muted" ng-if="task.assignee">{{
                                            task.assigneeObject.firstName }} {{ task.assigneeObject.lastName
                                            }}
                                        </small>
                                        <small class="text-muted" ng-if="!task.assignee">Unassigned</small>
                                        <div class="text-muted" ng-if="task.created">Assigned date: {{ task.created | date: 'dd.MM.yyyy'}}</div>
                                        <div class="text-muted" >Claimed date: {{ task.claimedDate | date: 'dd.MM.yyyy'}}</div>
                                    </div>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h4>Candidate:</h4>
                </div>
            </div>
            <accordion close-others="false">
                <accordion-group is-open="tabs.candidate">
                    <accordion-heading>
                        Candidate information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': tabs.candidate, 'glyphicon-chevron-down': !tabs.candidate}"></i>
                    </accordion-heading>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>RBS Type</b>: </div>
                            <div class="col-xs-3 col-md-3">{{leasingInfo.candidate.value.rbsType}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Renter company</b>: </div>
                            <div class="col-xs-3 col-md-3">{{leasingInfo.renterCompany.value.legalName}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>RBS Location</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.rbsLocation.title}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Legal Type</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.renterCompany.value.legalType}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Band</b>: </div>
                            <div class="col-xs-3 col-md-3">
                                <span ng-repeat="b in leasingInfo.bands.value">{{b.title + ($last?'':'+')}}</span>
                            </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Tel./Fax</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.renterCompany.value.telFax}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Construction type</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.constructionType.name}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Name of the 1st Leader</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.renterCompany.value.firstLeaderName}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Square</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.square}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Leader position</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.renterCompany.value.firstLeaderPos}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Latitude/Longitude</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.latitude}} / {{leasingInfo.candidate.value.longitude}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Contact person</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.renterCompany.value.contactName}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Construction height</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.rbsType}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Contract person position</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.renterCompany.value.contactPosition}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Altitude</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.cn_altitude}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Email</b>: </div>
                            <div class="col-xs-3 col-md-3">{{leasingInfo.renterCompany.value.email}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Visit date</b>: </div>
                            <div class="col-xs-3 col-md-3"> {{leasingInfo.candidate.value.dateOfVisit | date: 'dd.MM.yyyy'}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Contact information</b>: </div>
                            <div class="col-xs-3 col-md-3">{{leasingInfo.renterCompany.value.contactInfo}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Candidate address</b>: </div>
                            <div class="col-xs-3 col-md-3">{{leasingInfo.cellAntenna.value.addressString}} </div>
                            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1"><b>Legal address</b>: </div>
                            <div class="col-xs-3 col-md-3">{{leasingInfo.renterCompany.value.legalAddress}}</div>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group is-open="tabs.transmission">
                    <accordion-heading>
                        Transmission Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': tabs.transmission, 'glyphicon-chevron-down': !tabs.transmission}"></i>
                    </accordion-heading>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-2 col-md-2" style="font-size: large"><b>Near End Information</b>: </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>TR Antenna type</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.transmissionAntenna.value.antennaType}}</div>
                            <div class="col-xs-2 col-md-2"><b>Diameter (m)</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.transmissionAntenna.value.diameter}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Quantity</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.transmissionAntenna.value.antennaQuantity}}</div>
                            <div class="col-xs-2 col-md-2"><b>Weight (kg)</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.transmissionAntenna.value.weight}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Frequency band</b>: </div>
                            <div class="col=xs-4 col-md-4">{{ leasingInfo.transmissionAntenna.value.frequencyBand}}</div>
                            <div class="col-xs-2 col-md-2"><b>Azimuth</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.transmissionAntenna.value.azimuth}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Channel capacity (Mbps)</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.candidate.value.channelCapacity}}</div>
                            <div class="col-xs-2 col-md-2"><b>Suspension height (m)</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.transmissionAntenna.value.suspensionHeight}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Near End address</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.candidate.value.square}}</div>
                            <div class="col-xs-2 col-md-2"><b>TR Description</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.candidate.value.transmissionDescription}}</div>
                        </div>
                        <!-- FAR END-->
                        <div class="row" style="margin-bottom: 10px; margin-top: 40px">
                            <div class="col-xs-2 col-md-2" style="font-size: large"><b>Far End Name</b>: </div>
                            <div class="col=xs-4 col-md-4">{{leasingInfo.farEndInformation.value[0].farEndName}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Transmission type</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.candidate.value.transmissionType}} </div>
                            <div class="col-xs-2 col-md-2"><b>TR Antenna type</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].feAntennaType}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Construction type</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].constructionType.name}} </div>
                            <div class="col-xs-2 col-md-2"><b>Quantity</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].antennasQuantity}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Latitude/Longitude</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].fe_latitude}} / {{leasingInfo.farEndInformation.value[0].fe_longitude}} </div>
                            <div class="col-xs-2 col-md-2"><b>Frequency band</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].frequencyBand}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Square</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].square}} </div>
                            <div class="col-xs-2 col-md-2"><b>Diameter (m)</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].diameter}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Equipment type</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].equipmentType}} </div>
                            <div class="col-xs-2 col-md-2"><b>Weight (kg)</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].weight}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Far End Renter Company</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].renterCompany.legalName}} </div>
                            <div class="col-xs-2 col-md-2"><b>Azimuth</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].azimuth}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2"><b>Far End address</b>: </div>
                            <div class="col-xs-4 col-md-4">
                                {{addressToString(leasingInfo.farEndInformation.value[0].address)}}
                            </div>
                            <div class="col-xs-2 col-md-2"><b>Suspension height (m)</b>: </div>
                            <div class="col-xs-4 col-md-4"> {{leasingInfo.farEndInformation.value[0].suspensionHeight}} </div>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group is-open="tabs.radio">
                    <accordion-heading>
                        Radio Data Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': tabs.radio, 'glyphicon-chevron-down': !tabs.radio}"></i>
                    </accordion-heading>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>BSC/RNC</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.candidate.value.bsc.name}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>DU type</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedDuTypes}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Cell Antennas</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedAntennaName}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Antennas quantity (all)</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedQuantity}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Dimensions</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{ leasingInfo.computedDimensions}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Antenna type</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedAntennaTypes}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Azimuth</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedAzimuth}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Weight (kg)</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedWeight}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Suspension height (m)</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedSuspension}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Antenna location</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedLocations}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Radio Unit type</b>: </div>
                            <div class="col-xs-9 col-md-9"> {{leasingInfo.computedRadioUnits}} </div>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group is-open="tabs.power">
                    <accordion-heading>
                        Power Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': tabs.power, 'glyphicon-chevron-down': !tabs.power}"></i>
                    </accordion-heading>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Consent to provide 3 Phase/3.5kW</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.provideUs3Phase}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Cable length to connection point (m)</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.cableLength}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Cable length type</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.computedCableLaying}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Consent to receive monthly electricity bills and gives invoices</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.agreeToReceiveMonthlyPayment}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Closest public (RES) electrical line 0,4 kV</b>: </div>
                            <div class="col-xs-9 col-md-9">{{ leasingInfo.powerSource.value.closestPublic04}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Closest public (RES) electrical line 10 kV</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.closestPublic10}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Transformer power substation</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.cn_tps}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>TPS belongs</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.cn_tps_belongs}} </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"><b>Distance to candidate (m)</b>: </div>
                            <div class="col-xs-9 col-md-9">{{leasingInfo.powerSource.value.cn_tps.distance}} </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>

<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Sitename</b>:-->
<!--                    {{leasingInfo.candidate.value.siteName}}-->
<!--                </div>-->
<!--                <div class="col-xs-6 col-md-6"><b>Region</b>:-->
<!--                    {{leasingInfo.regionName.value}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Site type</b>:-->
<!--                    {{leasingInfo.siteType.value.name}}-->
<!--                </div>-->
<!--                <div class="col-xs-6 col-md-6"><b>Address</b>:-->
<!--                    {{leasingInfo.address.value.cn_addr_oblast ? leasingInfo.address.value.cn_addr_oblast + ', ' : ''}}-->
<!--                    {{leasingInfo.address.value.cn_addr_district ? leasingInfo.address.value.cn_addr_district + ', ' : ''}}-->
<!--                    {{leasingInfo.address.value.cn_addr_city ? leasingInfo.address.value.cn_addr_city + ', ' : ''}}-->
<!--                    {{leasingInfo.address.value.ca_not_full_addres? leasingInfo.address.value.cn_addr_cadastral_number + ', ' + leasingInfo.address.value.cn_addr_note : leasingInfo.address.value.cn_addr_street + ', ' + leasingInfo.address.value.cn_addr_building}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Construction type</b>:-->
<!--                    {{leasingInfo.candidate.value.constructionType.name}}-->
<!--                </div>-->
<!--                <div class="col-xs-6 col-md-6"><b>Latitude</b>:-->
<!--                    {{leasingInfo.candidate.value.latitude}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Band</b>:-->
<!--                    <span ng-repeat="b in leasingInfo.bands.value">{{b.title + ($last?'':', ')}}</span>-->
<!--                </div>-->
<!--                <div class="col-xs-6 col-md-6"><b>Longitude</b>:-->
<!--                    {{leasingInfo.candidate.value.longitude}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>RBS Type</b>:-->
<!--                    {{leasingInfo.candidate.value.rbsType}}-->
<!--                </div>-->
<!--                <div class="col-xs-6 col-md-6"><b>Renter company</b>:-->
<!--                    {{leasingInfo.renterCompany.value.legalName}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>RBS Location</b>:-->
<!--                    {{leasingInfo.candidate.value.rbsType}}-->
<!--                    <span ng-repeat="b in leasingInfo.rbsLocation.value" ng-if="b.value">{{b.title + ($last?'':', ')}}</span>-->
<!--                </div>-->
<!--                <div class="col-xs-6 col-md-6" ng-if="leasingInfo.renterCompany.value === 'national_kazakhtelecom'"><b>Branch of Kazakhtelecom</b>:-->
<!--                    {{leasingInfo.branchKT.value}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-12 col-md-12">-->
<!--                    <h4>Far End Information</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Far End Name</b>:-->
<!--                    {{leasingInfo.farEndInformation.value[0].farEndName}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Construction type</b>:-->
<!--                    {{leasingInfo.farEndInformation.value[0].constructionType.name}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Far End Address</b>:-->
<!--                    {{leasingInfo.farEndInformation.value[0].address.cn_addr_oblast ? leasingInfo.farEndInformation.value[0].address.cn_addr_oblast + ', ' : ''}}-->
<!--                    {{leasingInfo.farEndInformation.value[0].address.cn_addr_district ? leasingInfo.farEndInformation.value[0].address.cn_addr_district + ', ' : ''}}-->
<!--                    {{leasingInfo.farEndInformation.value[0].address.cn_addr_city ? leasingInfo.farEndInformation.value[0].address.cn_addr_city + ', ' : ''}}-->
<!--                    {{leasingInfo.farEndInformation.value[0].address.ca_not_full_addres? leasingInfo.farEndInformation.value[0].address.cn_addr_cadastral_number + ', ' + leasingInfo.farEndInformation.value[0].address.cn_addr_note : leasingInfo.farEndInformation.value[0].address.cn_addr_street + ', ' + leasingInfo.farEndInformation.value[0].address.cn_addr_building}}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-6 col-md-6"><b>Far End Renter Company</b>:-->
<!--                    {{leasingInfo.farEndInformation.value[0].renterCompany.legalName}}-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h4>Attachments:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div ng-repeat="file in leasingInfo.files track by $index">
                        <a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                    <div ng-repeat="file in leasingInfo.uploadRSDandVSDfilesFiles track by $index">
                        <b>VSD: </b><a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                    <div ng-repeat="file in leasingInfo.uploadTSDfileFiles track by $index">
                        <b>TSD: </b><a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                    <div ng-repeat="file in leasingInfo.createdRSDFile track by $index">
                        <b>RSD: </b><a ng-click="download(file.path)" download="{{file.name}}">{{file.name}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer">
    <button type="button" class="btn btn-default" style="float:right;" ng-click="$dismiss()">Close</button>
</div>
