<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Members</h4>
</div>
<div class="modal-body">
    <div class="row">
    	<div class="col-md-12">
    		<div class="row">
	            <table class="table">
	                <thead>
	                <tr>
	                    <th></th>
	                    <th>Lastname</th>
	                    <th>Firstname</th>
	                    <th>email</th>
	                </tr>
	                </thead>
	                <tbody>
		                <tr ng-repeat="member in members">
	                        <td>{{$index+1}}</td>
	                        <td>{{member.lastName}}</td>
	                        <td>{{member.firstName}}</td>
	                        <td>{{member.email}}</td>
		                </tr>
	                </tbody>
	            </table>
    		</div>
    	</div>
    </div>
</div>
<div class="modal-footer" id="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>