<div class="row layout-row">
	<div class="col-md-12 no-float">
		<div class="currentTask">
			<div class="container">
			    <h3>Edit attached to process file</h3>
			    <div class="row">
					<div class="form-group">
					    <div class="col-md-12">
					    	<form id="uploadFileForm">
						    	<div class="form-group">
							    	<label class="col-md-6 control-label">Process Id/Task Id:</label>
								    <div class="col-md-6">
								        <input type="text" class="form-control" ng-model="pathToFile" required/>
								        <label class="has-error" ng-show="!pathToFile && touchedFile">Path to file is required</label>
								    </div>
								</div>
						    	<div class="form-group">
							    	<label class="col-md-6 control-label">Attach files to add/replace: </label>
							    	<div class="col-md-6">
							        	<input type="file" class="form-control" name="attachedFile" id="attachedFile" onchange="angular.element(this).scope().selectFile(this)" ng-model="selectedFile" required/>						        
							        	<label class="has-error" ng-show="!selectedFile.name && touchedFile">File is required</label>
								        <div class="input-group" ng-show="selectedFile.name">
								            <a>{{selectedFile.name}}</a> | <a ng-click="clearFile()"><i class="glyphicon glyphicon-trash"></i></a>
								        </div>
							    	</div>						    	
							    </div>
						        <div class="form-group">
							    	<div class="col-md-6">
								    	<buton type="button" class="btn btn-sm btn-primary" ng-click="uploadFile()" ng-disabled="!selectedFile.name || !pathToFile">Upload</buton>
								    	<buton type="button" class="btn btn-sm btn-primary" ng-click="uploadCancel()">Cancel</buton>
								    </div>
								</div>
					    	</form>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>