<div class="row layout-row">
	<style>
		.col-md-3 {
			padding-left: 30px;
		}
		.col-md-3 select {
			float: right;
			min-width: 180px;
		}
		table.report {
			border: 1px solid darkgray;
			/*table-layout: fixed;*/
			border-collapse: collapse;
			font-size: smaller;
		}

		table.report th {
			border: 1px solid darkgray;
			border-collapse: collapse;
			padding: 2px 4px;
		}

		table.report td {
			border: 1px solid darkgray;
			border-collapse: collapse;
			padding: 2px 4px;
		}

		table.report td.number {
			text-align: right;
		}
		th.sortable {
			cursor: pointer;
		}
		th.sortable:hover {
			background: #EEE;
		}
		td b {
			font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
		}
	</style>
	<div class="col-md-2 no-float left">
		<div class="left-wrapper">
			<h4>Reports</h4>
			<ul id="filters">
				</li>
				<li >
					<a ng-click="downloadExtendedByWorksReport()" class="ng-binding" id="finReportClick">Download Extended report by works</a>
				</li>
				<li >
					<a ng-click="downloadExtendedByJobsReport()" class="ng-binding" id="finReportClick">Download Extended report by jobs</a>
				</li>
			</ul>

		</div>
	</div>
	<div class="col-md-10 no-float right left-wrapper">
		<div class="currentTask" style="padding-top: 15px;">
		</div>
	</div>
</div>
