<div class="row layout-row">
	<div class="col-md-2 no-float left">
		<div class="left-wrapper">
			<h2>Filters</h2>
			<h4>Process Definition</h4>
			<ul>
				<select ng-model="filter.processDefinitionKey" class="form-control">
					<option ng-repeat="pd in processDefinitions" value="{{pd.key}}">{{pd.name}}</option>
				</select>
			</ul>
			<h4>Business Key</h4>
			<ul>
				<input type="text" ng-model="filter.businessKey" class="form-control" placeholder="Alm-LSE-P&O-17-4025" />
			</ul>
			<h4>Participation</h4>
			<ul>
				<select ng-model="filter.participation" class="form-control" ng-options="p.key as p.label for p in participations" />
			</ul>
			<br/>
			<label>
				<input type="checkbox" ng-model="filter.unfinished"> Show only active
			</label>
			<hr/>
			<a class="btn btn-success" ng-click="search(true)">Search <i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="col-md-10 no-float right">
		<div class="currentTask">
			<div class="scrollcontainer">
				<div class="scrollable">
					<div class="page-body container-fluid">
						<h3>Processes</h3>
						<table class="table table-condensed table-hover table-bordered" ng-if="processInstances">
							<thead>
								<tr>
									<th>ID</th>
									<th width="130">Start time</th>
									<th width="300">Business Key</th>
								</tr>
							</thead>
							<tbody ng-repeat="pi in processInstances">
								<tr class="pi-{{pi.state}}">
									<td><a ng-click="toggleProcessView($index)">{{pi.id}}</a></td>
									<td>{{pi.startTime | date: 'dd.MM.yyyy hh:mm'}}</td>
									<td>{{pi.businessKey}}</td>
								</tr>
								<tr ng-if="piIndex === $index && jobModel">
									<td colspan="2">
										<job-request job-model="jobModel"></job-request>
									</td>
									<td style="height: 1px;">
										<div class="left-wrapper" style="padding: 0">
											<div class="scrollcontainer">
												<div class="scrollable left" style="padding: 10px 0px; background: transparent;">
													<div>
														<a href="" class="btn btn-default" ng-click="showDiagram(pi.processDefinitionId)" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</a>
													</div>
													<ul id="tasks">
														<li ng-repeat="task in jobModel.tasks">
														  <div class="task">
															<h5>
																<a ng-if="hasGroup('revision_managers') || hasGroup('revision_audit')" ui-sref="tasks.task({id:task.id})" target="_blank">{{ (task.name || task.id) }}</a></h5>
																<span ng-if="!(hasGroup('revision_managers') || hasGroup('revision_audit'))" ui-sref="tasks.task({id:task.id})" target="_blank">{{ (task.name || task.id) }}</span></h5>
																<div ng-if="task.description"> {{ task.description }} </div>
																<small ng-if="hasGroup('kcellUsers')" class="text-muted" ng-if="task.group">
																	Group: <a ng-click="showGroupDetails(task.group)">{{task.group}}</a>
																</small>
																<br/>
																<small class="text-muted" ng-if="task.assignee">{{ task.assigneeObject.firstName }} {{ task.assigneeObject.lastName }}</small>
																<small class="text-muted" ng-if="!task.assignee">Unassigned</small>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td colspan="3">
										<a ng-disabled="filter.page <= 1" ng-click="prevPage()" class="btn btn-success">Previous page</a>
										<span ng-if="processInstances.length> 0">from {{(filter.page-1)*filter.maxResults+1}} to {{(filter.page-1)*filter.maxResults +processInstances.length}}</span>
										<span ng-if="processInstances.length ==0 ">no more processes</span>
										<a ng-disabled="processInstances.length < filter.maxResults" ng-click="nextPage()" class="btn btn-success">Next page</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="diagram-pane scrollcontainer"  ng-show="showDiagramView && diagram.xml">
	<a class="pull-right text-muted text-lg p-a-sm m-r-sm diagram-close-button" ng-click="showDiagramView = false;">×</a>
	<div cam-widget-bpmn-viewer diagram-data="diagram.xml" on-load="highlightTask()" control="control"></div>
</div>