<div class="row layout-row">
	<div class="col-md-2 no-float left">
		<div class="left-wrapper">
			<h2>Filters</h2>
			<h4>Process Definition</h4>
			<ul>
				<select ng-model="filter.processDefinitionKey" class="form-control">
					<option ng-repeat="pd in processDefinitions" value="{{pd.key}}">{{pd.name}}</option>
				</select>
			</ul>
			<h4>Business Key</h4>
			<ul>
				<input type="text" ng-model="filter.businessKey" class="form-control" placeholder="Alm-LSE-P&O-17-4025" />
			</ul>
			<h4>Participation</h4>
			<ul>
				<select ng-model="filter.participation" class="form-control">
					<option value="initiator">I am Inititator</option>
					<option value="participant" disabled="">I am Participant (not implemented)</option>
				</select>
			</ul>
			<hr/>
			<a class="btn btn-success" ng-click="search()">Search <i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="col-md-10 no-float right">
		<div class="currentTask">
			<div class="scrollcontainer">
				<div class="scrollable">
					<div class="page-body container-fluid">
						<h3>Processes</h3>
						<table class="table table-condensed table-hover table-bordered" ng-if="processInstances">
							<thead>
								<tr>
									<th>ID</th>
									<th>Start time</th>
									<th>Business Key</th>
								</tr>
							</thead>
							<tbody ng-repeat="pi in processInstances">
								<tr>
									<td><a ng-click="toggleProcessView($index)">{{pi.id}}</a></td>
									<td>{{pi.startTime | date: 'dd.MM.yyyy hh:mm'}}</td>
									<td>{{pi.businessKey}}</td>
								</tr>
								<tr ng-if="piIndex === $index && jobModel">
									<td colspan="3"><job-request job-model="jobModel"></job-request></td>
								</tr>
							</tbody>
						</table>
						<h4>Please chose filter to search processes</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
