<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Members</h4>
</div>
<div class="modal-body">
    <div class="row">
    	<div class="col-md-12">
    		<div class="row">
	            <table class="table">
	                <thead>
	                <tr>
	                    <th>Activity</th>
	                    <th>Assignee</th>
	                    <th>Resolution</th>
	                    <th>Date</th>
	                    <th>Comment</th>
	                    <th>Attached files</th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr ng-repeat="resolution in resolutions">
	                    <td>{{resolution.taskName}}</td>
	                    <td>{{resolution.assigneeName || resolution.assignee}}</td>
	                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
	                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
	                    <td>{{resolution.comment}}</td>
	                    <td>{{resolution.files.join(', ')}}</td>
	                </tr>
	                </tbody>
	            </table>
    		</div>
    	</div>
    </div>
</div>
<div class="modal-footer" id="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>