<style type="text/css">
    .nowrapDots {
        display:inline-block;
        width:180px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    .multiselect-parent {
        width: 100%;
    }

    .modal{
        overflow:auto !important;
    }

    .multiselect-parent .dropdown-toggle {
        width: 100%;
        text-align:left;
    }
    .multiselect-parent .dropdown-toggle > .caret {
        float:right;
        margin-top:5px;
    }
    .custom-checkbox {
        padding-left: 36px !important;
        margin-top:0px !important;
    }
     .d-inline {
         display: inline-block;
         margin-right: 5px;
         margin-top: 10px;
     }
</style>


<div class="row layout-row">
    <div class="col-md-12 no-float" >
        <div class="currentTask">
            <div class="scrollcontainer">
                <div class="scrollable">
                    <div style="margin: 18px 0px 16px 20px;">
                        <a style="    text-decoration: none;" href="#/"><i class="glyphicon glyphicon-arrow-left"></i> Back to Tasklist</a>
                    </div>
                    <tabset class="my-tab-head my-tab" justified="true">
                        <tab active="tabs.NetworkInfrastructure" ng-if="isProjectAvailable('NetworkInfrastructure')">
                            <tab-heading> Network Infrastructure </tab-heading>
                                <div class="page-body container-fluid" style="padding-top:30px;">
                                    <network-architecture-search></network-architecture-search>
                                </div>


                        </tab>
                        <tab active="tabs.DeliveryPortal" ng-if="isProjectAvailable('DeliveryPortal')">
                            <tab-heading> Delivery Portal </tab-heading>
                                <div class="page-body container-fluid"  style="padding-top:30px;">
                                    <delivery-portal-search></delivery-portal-search>
                                </div>
                        </tab>
                        <tab active="tabs.DemandUAT" ng-if="isProjectAvailable('DemandUAT')">
                            <tab-heading> Demand Management</tab-heading>
                                <div class="page-body container-fluid"  style="padding-top:30px;">
                                    <demand-search></demand-search>
                                </div>
                        </tab>
                    </tabset>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="diagram-pane scrollcontainer"  ng-show="showDiagramView && diagram.xml">
    <a class="pull-right text-muted text-lg p-a-sm m-r-sm diagram-close-button" ng-click="showDiagramView = false;">×</a>
    <div cam-widget-bpmn-viewer diagram-data="diagram.xml" on-load="highlightTask()" control="control"></div>
</div>