<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Start Process</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top:5px;">
        <span id="definitions">
            <div ng-repeat="pd in getAllProcessDefinitions(projects)" class="form-group col-sm-12 process-names">
						<a ng-click="startProcess(pd.id); $dismiss()">Start process - <b>{{pd.name}}</b> </a>
            </div>
			</span>
    </div>
</div>