<div class="row layout-row">
	<div class="col-md-2 no-float left">
		<div class="left-wrapper">
			<h4>Folders</h4>
			<ul id="filters">
				<li  ng-class="active" class="ng-scope active">
					<a ng-click="selectFilter(filter)" class="ng-binding">All Tasks (3)</a>
				</li>
				<li class="ng-scope">
					<a ng-click="selectFilter(filter)" class="ng-binding">My Claimed Tasks (3)</a>
				</li>
				<li class="ng-scope">
					<a ng-click="selectFilter(filter)" class="ng-binding">My Unclaimed Tasks (0)</a>
				</li>
				<li class="ng-scope">
					<a ng-click="selectFilter(filter)" class="ng-binding">My Group Tasks (0)</a>
				</li>
			</ul>
			<h4>Tasks</h4>
			<div class="scrollcontainer">
				<div class="scrollable">
					<ul id="tasks">
						<!-- ngRepeat: task in tasks --><li  ng-click="loadTaskForm(task)" ng-class="active" class="ng-scope">
						  <div class="task">
					          <h5 class="ng-binding">Approve JR Budget</h5>
					          <!-- ngIf: task.description --><div ng-if="task.description" class="ng-binding ng-scope">Central Group &nbsp;Approval (budget engineer)</div><!-- end ngIf: task.description -->
					          <!-- ngIf: task.assignee --><small class="text-muted ng-binding ng-scope" ng-if="task.assignee">Demo Demo</small><!-- end ngIf: task.assignee -->
					          <!-- ngRepeat: variable in task._embedded.variable --><div ng-repeat="variable in task._embedded.variable" class="variable ng-binding ng-scope">
					          	jrNumber: South-LSE-TNU-17-0001
					          </div><!-- end ngRepeat: variable in task._embedded.variable -->
				          </div>
				        </li><!-- end ngRepeat: task in tasks --><li  ng-click="loadTaskForm(task)" class="ng-scope">
						  <div class="task">
					          <h5 class="ng-binding">Approve JR</h5>
					          <!-- ngIf: task.description --><div ng-if="task.description" class="ng-binding ng-scope">Region Group Head Approval</div><!-- end ngIf: task.description -->
					          <!-- ngIf: task.assignee --><small class="text-muted ng-binding ng-scope" ng-if="task.assignee">Demo Demo</small><!-- end ngIf: task.assignee -->
					          <!-- ngRepeat: variable in task._embedded.variable --><div ng-repeat="variable in task._embedded.variable" class="variable ng-binding ng-scope">
					          	jrNumber: West-LSE-P&amp;O-17-0001
					          </div><!-- end ngRepeat: variable in task._embedded.variable -->
				          </div>
				        </li><!-- end ngRepeat: task in tasks --><li  ng-click="loadTaskForm(task)" class="ng-scope">
						  <div class="task">
					          <h5 class="ng-binding">Approve JR</h5>
					          <!-- ngIf: task.description --><div ng-if="task.description" class="ng-binding ng-scope">Central Group Head Approval</div><!-- end ngIf: task.description -->
					          <!-- ngIf: task.assignee --><small class="text-muted ng-binding ng-scope" ng-if="task.assignee">Demo Demo</small><!-- end ngIf: task.assignee -->
					          <!-- ngRepeat: variable in task._embedded.variable --><div ng-repeat="variable in task._embedded.variable" class="variable ng-binding ng-scope">
					          	jrNumber: East-LSE-P&amp;O-17-0001
					          </div><!-- end ngRepeat: variable in task._embedded.variable -->
				          </div>
				        </li><!-- end ngRepeat: task in tasks -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-10 no-float right left-wrapper">
		<h1>{{greetings}}</h1>
	</div>