<div class="row layout-row">
	<style>
		table.report {
			border: 1px solid darkgray;
			/*table-layout: fixed;*/
			border-collapse: collapse;
			font-size: smaller;
		}

		table.report th {
			border: 1px solid darkgray;
			border-collapse: collapse;
			padding: 2px 4px;
		}

		table.report td {
			border: 1px solid darkgray;
			border-collapse: collapse;
			padding: 2px 4px;
		}

		table.report td.number {
			text-align: right;
		}
	</style>
	<div class="col-md-2 no-float left">
		<div class="left-wrapper">
			<h4>Reports</h4>
			<ul id="filters">
				<li ng-repeat="report in reports" ng-class="{active: report === currentReport}">
					<a ng-if="report !== 'invoice-open-tasks' || hasGroup('head_kcell_users')" ng-click="selectReport(report)" class="ng-binding">{{reportsMap[report].name}}</a>
				</li>
				<li ng-if="(authentication.name === 'demo' || authentication.name === 'Evgeniy.Semenov@kcell.kz' || authentication.name === 'Yernaz.Kalingarayev@kcell.kz')">
					<a ng-click="downloadReport()" class="ng-binding" id="reportClick" href="#">{{report_ready?'Скачать отчет':'Подготовить отчет'}}</a>
				</li>
			</ul>

			<div ng-show="(currentReport == 'revision-open-tasks' || currentReport == 'invoice-open-tasks') && !task">
				<h4>Reason</h4>
				<ul>
					<li ng-class="{active: !filter.reason}">
						<a ng-click="selectReason('all')" class="ng-binding">All</a>
					</li>
					<li ng-repeat="reason in reasons" ng-class="{active: reason.id == filter.reason}">
						<a ng-click="selectReason(reason.id)" class="ng-binding">{{reason.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-10 no-float right left-wrapper">
		<div class="currentTask">
			<div class="scrollcontainer">
				<div class="scrollable">
					<div class="page-body container-fluid">
						<h3>{{reportsMap[currentReport].name}} <span ng-show="task">» {{userTasksMap[task].name}}</span></h3>
						<table class="report" ng-hide="task">
							<thead>
							<tr>
								<th>Activity</th>
								<th>Almaty</th>
								<th>East</th>
								<th>West</th>
								<th>North &amp; Central</th>
								<th>South</th>
								<th>Astana</th>
								<th>No region</th>
							</tr>
							<tr>
								<td colspan="8">&nbsp;</td>
							</tr>
							<tr>
								<th colspan="8">[Kcell]</th>
							</tr>
							<tr>
								<td colspan="8">&nbsp;</td>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="taskDefId in kcellTasks[currentReport]">
								<td><a href="#/statistics?task={{taskDefId}}&report={{currentReport.concat(filter.reason?'&reason='+filter.reason:'')}}">{{userTasksMap[taskDefId].name}}</a></td>
								<td class="number" ng-repeat="region in regions">
									<a ng-if="checkRegionView(region)" href="#/statistics?task={{taskDefId}}&report={{currentReport.concat(filter.reason?'&reason='+filter.reason:'')}}&region={{region.replace('.','')}}">{{ _.get(tasksByIdAndRegionCounted, taskDefId + region, 0) }}</a>
								</td>
							</tr>
							</tbody>
							<thead>
							<tr>
								<td colspan="8">&nbsp;</td>
							</tr>
							<tr>
								<th colspan="8">[Contractor]</th>
							</tr>
							<tr>
								<td colspan="8">&nbsp;</td>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="taskDefId in contractorTasks[currentReport]">
								<td><a href="#/statistics?task={{taskDefId}}&report={{currentReport.concat(filter.reason?'&reason='+filter.reason:'')}}">{{userTasksMap[taskDefId].name}}</a></td>
								<td class="number" ng-repeat="region in regions">
									<a ng-if="checkRegionView(region)" href="#/statistics?task={{taskDefId}}&report={{currentReport.concat(filter.reason?'&reason='+filter.reason:'')}}&region={{region.replace('.','')}}">{{ _.get(tasksByIdAndRegionCounted, taskDefId + region, 0) }}</a>
								</td>
							</tr>
							</tbody>
							<tfoot>
							</tfoot>
						</table>

						<table class="report" ng-show="task" ng-if="currentReport == 'revision-open-tasks'">
							<thead>
							<tr>
								<th>Region</th>
								<th>Sitename</th>
								<th>JR Number</th>
								<th>Contractor</th>
								<th>Reason</th>
								<th>Requested by</th>
								<th>Requested date</th>
								<th>Validity date</th>
							</tr>
							</thead>
							<tbody ng-show="tasks.length > 0">
							<tr ng-repeat="task in tasks | filter:filterRegion">
								<td>{{ getJrRegion(task.variables.jrNumber.value) }}</td>
								<td>{{ task.variables.siteName.value }}</td>
								<td>{{ task.variables.jrNumber.value }}</td>
								<td>{{ contractorsTitle[task.variables.contractor.value] }}</td>
								<td>{{ reasonsTitle[task.variables.reason.value] }}</td>
								<td>{{ task.variables.starter.value }}</td>
								<td>{{ task.variables.requestedDate.value | date: 'dd.MM.yyyy' }}</td>
								<td>{{ task.variables.validityDate.value | date: 'dd.MM.yyyy'}}</td>
							</tr>
							</tbody>
							<tbody ng-hide="tasks.length > 0">
							<tr>
								<th colspan="9">No data</th>
							</tr>
							</tbody>
							<tfoot>
							</tfoot>
						</table>

						<table class="report" ng-show="task" ng-if="currentReport == 'invoice-open-tasks'">
							<thead>
							<tr>
								<th>Region</th>
								<th>Act #</th>
								<th>Type of work</th>
								<th>Period</th>
								<th>Contractor</th>
								<th>Requested by</th>
							</tr>
							</thead>
							<tbody ng-show="tasks.length > 0">
							<tr ng-repeat="task in tasks | filter:filterRegion">
								<td>{{ getInvoiceRegion(task.variables.invoiceNumber.value) }}</td>
								<td>{{ task.variables.monthActNumber.value }}</td>
								<td>{{ reasonsTitle[task.variables.workType.value] }}</td>
								<td>{{ task.variables.monthOfFormalPeriod.value }} {{ task.variables.yearOfFormalPeriod.value }}</td>
								<td>TOO Line System Engineering</td>
								<td>{{ task.variables.starter.value }}</td>
							</tr>
							</tbody>
							<tbody ng-hide="tasks.length > 0">
							<tr>
								<th colspan="9">No data</th>
							</tr>
							</tbody>
							<tfoot>
							</tfoot>
						</table>

						<div class="page-body container-fluid" ng-if="currentReport === '4gSharing-open-tasks'">
							<div class="row" ng-hide="task">
								<h3>{{reportsMap[currentReport].name}} <span ng-show="task">» {{userTasksMap[task].name}}</span></h3>
								<div class="form-group col-sm-4">
									<label for="sel1">Select SubProcess:</label>
									<select class="form-control" id="select" ng-model="currentSubProcess">
									    <option value="BeelineHostBeelineSite">Beeline Host - Beeline Site</option>
									    <option value="BeelineHostKcellSite">Beeline Host - Kcell Site</option>
									    <option value="KcellHostBeelineSite">Kcell Host - Beeline Site</option>
									    <option value="KcellHostKcellSite">Kcell Host - Kcell Site</option>
									    <option value="ReplanSharedSiteAddressPlan">Replan Shared Site</option>
								 	</select>
								</div>
									
							</div>
							
							<table class="report" ng-hide="task" ng-repeat="CurrentTasks in sharingTasks" >
								<thead ng-show="currentSubProcess == CurrentTasks.pid">
								<tr>
									<th>Activity</th>
									<th>Almaty</th>
									<th>East</th>
									<th>West</th>
									<th>North &amp; Central</th>
									<th>South</th>
									<th>Astana</th>
									<th>No region</th>
								</tr>
								</thead>
								<tbody ng-show="currentSubProcess == CurrentTasks.pid">
								<tr>
									<td colspan="8">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="8">{{CurrentTasks.title}}</td>
								</tr>
								<tr>
									<td colspan="8">&nbsp;</td>
								</tr>
								<tr ng-repeat="taskDefId in CurrentTasks.tasks">
									<td><a href="#/statistics?task={{taskDefId}}&report=4gSharing-open-tasks">{{userTasksMap[taskDefId].name}}</a></td>
									<td class="number" ng-repeat="region in ['.almaty', '.east', '.west', '.north_central', '.south', '.astana', '.no_region',]">
										{{ _.get(tasksByIdAndRegionCounted, taskDefId + region, 0) }}
									</td>
								</tr>
								</tbody>
								<thead>
							</table>

							<table class="report" ng-show="task">
								<thead>
								<tr>
									<th>Region</th>
									<th>Sitename</th>
									<th>Host</th>
									<th>Infrastructure Owner</th>
									<th>Integration City</th>
									<th>Status</th>
									<th>Requested by</th>
									<!-- <th>Requested date</th> -->
									<!-- <th>Acceptance date</th> -->
								</tr>
								</thead>
								<tbody ng-show="tasks.length > 0">
								<tr ng-repeat="task in tasks">
									<td>{{ getSiteRegion(task.variables.sharingPlan.value.toString()) }}</td>
									<td>{{ task.variables.sharingPlan.value.site_name }}</td>
									<td>{{ task.variables.sharingPlan.value.host }}</td>
									<td>{{ task.variables.sharingPlan.value.infrastructure_owner }}</td>
									<td>{{ task.variables.sharingPlan.value.integration_city }}</td>
									<td>{{ task.variables.sharingPlanStatus.value }}</td>
									<td>{{ task.variables.starter.value }}</td>
									<!-- <td>{{ task.variables.requestedDate.value | date: 'dd.MM.yyyy' }}</td> -->
									<!-- <td>{{ task.variables.validityDate.value | date: 'dd.MM.yyyy'}}</td> -->
								</tr>
								</tbody>
								<tbody ng-hide="tasks.length > 0">
								<tr>
									<th colspan="9">No data</th>
								</tr>
								</tbody>
								<tfoot>
								</tfoot>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<table id = "reportTable" name = "reportTable" ng-show="false">
	<thead>
		<tr>
			<th>region</th>
			<th>sitename</th>
			<th>JR No</th>
			<th>JR To</th>
			<th>JR Reason</th>
			<th>JR Status</th>
			<th>Requested Date</th>
			<th>Requested By</th>
			<th>Validity Date</th>
			<th>Material List Signing Date</th>
			<th>Accept by Work Maintenance</th>
			<th>Accept by Work Planning</th>
			<th>Acceptance Date</th>
			<th>Job Description</th>
			<th>Quantity</th>
			<th>Comments</th>
			<th>Customer</th>
			<th>Material</th>
		</tr>
	</thead>
	<tbody ng-repeat="data in reportList">
		<tr>
			<td>{{data[0]}}</td>
			<td>{{data[1]}}</td>
			<td>{{data[2]}}</td>
			<td>{{data[3]}}</td>
			<td>{{data[4]}}</td>
			<td>{{data[5]}}</td>
			<td>{{data[6] | date:'dd MMM yyyy'}}</td>
			<td>{{data[7]}}</td>
			<td>{{data[8] | date:'dd MMM yyyy'}}</td>
			<td>{{data[9] | date:'dd MMM yyyy'}}</td>
			<td>{{data[10] | date:'dd MMM yyyy'}}</td>
			<td>{{data[11] | date:'dd MMM yyyy'}}</td>
			<td>{{data[12] | date:'dd MMM yyyy'}}</td>
			<td>{{data[13]}}</td>
			<td>{{data[14]}}</td>
			<td>{{data[15]}}</td>
			<td>{{data[16]}}</td>
			<td>{{data[17]}}</td>
		</tr>
	</tbody>
</table>
