<div class="page-body container-fluid">
	<div ng-if="currentTask" class="row b-b" >
		<div class="col-md-6">
			<h3>{{currentTask.description}}</h3>
			{{currentTask.processDefinitionId.split(':')[0]}}
			<span ng-if="currentTask.candidateObject">
				| <span class="text-muted">Group</span>: {{currentTask.candidateObject.groupId}}</a>	
			</span>
			<span ng-if="!currentTask.assignee">
				| <span class="text-muted">Assignee</span> 
				<a ng-click="claim(currentTask)"><i class="glyphicon glyphicon-user ng-scope"></i> Claim</a>
			</span>
			<span ng-if="!currentTask.assignee && assignLinkEnabled(processDefinitionKey)">
				| <a ng-show="!assignmentInProgress" ng-click="dispayAssignField()"> Assign</a>
				<input ng-if="assignmentInProgress" type="text" ng-model="newAssignee" typeahead="name as users.name for users in getUser($viewValue)" typeahead-on-select="assign($item.id, currentTask)" autocomplete="off">
			</span>
			<span ng-if="currentTask.assignee">
				| <span class="text-muted">Assignee</span> <a><i class="glyphicon glyphicon-user ng-scope"></i> {{currentTask.assigneeObject.firstName}} {{currentTask.assigneeObject.lastName}}</a> <a ng-click="unclaim(currentTask)"> x</a>		
			</span>
		</div>
		<div class="col-md-6 nopadding text-right" style="padding-top: 30px;">
			<a href="" ng-if="jobModel.resolutions" class="btn btn-default" ng-click="showHistory(jobModel.resolutions)" class="ng-binding"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> History</a>
			<a href="" ng-if="hasGroup('kcellUsers') || hasGroup('sharing_beeline_users_group')" class="btn btn-default" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</a>
		</div>
	</div>
</div>

<div class="page-body container-fluid">
	<div ng-if="historyTask" class="row b-b" >
		<div class="col-md-6">
			<h3>{{historyTask.description}}</h3>
			{{historyTask.processDefinitionId.split(':')[0]}}
			<span ng-if="resolution.assignee || resolution.assigneeName">
				| <span class="text-muted">Task completed by </span> <a><i class="glyphicon glyphicon-user ng-scope"></i> {{resolution.assigneeName || resolution.assignee}}</a>
				| <span class="text-muted">at </span> <a><i class="glyphicon glyphicon-time ng-scope"></i> {{historyTask.endTime | date: 'dd.MM.yyyy HH:mm'}}</a>
				| <span class="text-muted">resolution </span> <a><i class="glyphicon glyphicon-lock ng-scope"></i>{{'task.resolution.'+resolution.resolution | translate}}</a>
			</span>
		</div>
		<div class="col-md-6 nopadding text-right" style="padding-top: 30px;" ng-if="currentTask && (hasGroup('kcellUsers') || hasGroup('sharing_beeline_users_group'))">
			<a href="" class="btn btn-default" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</a>
		</div>		
	</div>
</div>

<div autocomplete="off" id="taskElement" ng-show="selectedTab == 'form'"></div>
<div class="diagram-pane scrollcontainer"  ng-show="selectedTab == 'diagram' && diagram.xml" ng-if="currentTask">
	<a class="pull-right text-muted text-lg p-a-sm m-r-sm diagram-close-button" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')">×</a>
	<div cam-widget-bpmn-viewer diagram-data="diagram.xml" on-load="highlightTask()" control="control"></div>
</div>
<br/>
<br/>

