<style type="text/css">
th.sortable {
	cursor: pointer;
}
th.sortable:hover {
	background: #EEE;
}
.three-cols-layout-cell.top {
	border: none;
	background-color: #fafafa;
	box-shadow: 0 2px 6px -4px #555;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-right: 3px;
}
.side-blocks {
	padding-left:0 !important;
	overflow: hidden;
	border: none;
	box-shadow: 0 2px 10px -4px #555;
}
left li:hover,  .left.side-blocks li.active{
	border-left-color: transparent !important;
}
.glyphicon.chevron-color {
	color: #8a848e;
}
.glyphicon.glyphicon-chevron-right:before {
	padding-right: 3px;
}
#taskDefinitions .taskname:hover {
	text-decoration: underline;
}
#taskDefinitions .active .taskname {
	font-weight:bold;
}
.trans {
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}
.trans.ng-hide {
  width: 0%;
  min-width: 0px;
}
.trans.ng-hide-remove {
  opacity: 0;
 }
</style>
<div class="row layout-row">
	<div class="trans col-md-2 no-float left side-blocks" style="padding-right: 0px; background-color: #fff">
		<div class="left-wrapper">
			<header class="three-cols-layout-cell top">
			<a style="visibility: hidden;"><i class="glyphicon glyphicon-chevron-left chevron-color" style="padding-top: 6px; float: right;"></i></a>
			</header>
				<ul id="projects" style="margin-top:3px;">
				<li ng-repeat="project in projects" style="margin-bottom: 10px;">
					<a ng-click="collapseProject(project)" ng-style="($root.selectedProject.key == project.key && !$root.selectedProcess && !$root.selectedTask)? {'font-weight' : 'bold'}: {'font-weight' : 'normal'}">{{$root.selectedProject.key == project.key?'-':'+'}} {{project.name}}</a>
					<ul id="processes_{{$root.selectedProject.key}}" ng-if="$root.selectedProject.key == project.key" style="margin-top: 10px;">
						<li ng-repeat="process in project.processes" class="active" style="padding-top: 3px; padding-bottom: 3px;">
							<a ng-click="collapseProcess(process)" ng-style="($root.selectedProcess.key == process.key && (!$root.selectedTask || $root.selectedTask.key!==process.key))? {'font-weight' : 'bold'}: {'font-weight' : 'normal'}">{{$root.selectedProcess.key == process.key?'-':'+'}} {{process.name}}</a>
							<ul id="process_menus" ng-show="$root.selectedProcess.key == process.key">
								<li ng-if="$root.selectedProject.key !== 'NetworkInfrastructure'"><a href="#/processes"><i class="glyphicon glyphicon-menu-right"></i> Processes</a></li>
								<li>
									<a ng-click="collapseTask(process)" ng-style="$root.selectedTask.key == process.key? {'font-weight' : 'bold'}: {'font-weight' : 'normal'}">
										<i class="glyphicon glyphicon-menu-right"></i> Tasks ({{process.itemCount}})
									</a>
								</li>
								<li ng-if="hasGroup('kcellUsers') && $root.selectedProject.key == 'NetworkInfrastructure'">
									<a href="#/statistics">
										<i class="glyphicon glyphicon-menu-right"></i> Statistics
									</a>
								</li>
								<li ng-if="hasGroup('contractor_users') && process.key == 'Revision'">
									<a ng-click="selectFilter('search')">
										<i class="glyphicon glyphicon-menu-right"></i> Search tasks
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="trans col-md-2 no-float left side-blocks" ng-show="secondLevel == 'open'" style="padding-right: 0px; background-color: #fff">
		<div class="left-wrapper" ng-show="secondLevel == 'open'">
			<header class="three-cols-layout-cell top">
			<a ng-click="collapseLevels('secondLevel')"><i class="glyphicon glyphicon-chevron-left text-right chevron-color" style="padding-top: 6px; float: right;"></i></a>
			</header>
				<ul id="filters" ng-show="$root.selectedProcess" >
				<li ng-repeat="filter in $root.selectedProcess.filters" ng-class="{active: filter.id == currentFilter.id}" style="padding-top: 3px; padding-bottom: 3px;">
					<a ng-click="selectFilter(filter)">{{filter.name}} ({{filter.itemCount}})</a>
				</li>
			</ul>
			<div class="scrollcontainer" style="margin-top: 10px;">
				<div class="scrollable">
					<ul id="taskDefinitions">
						<li ng-repeat="taskGroup in taskGroups" ng-class="{active: taskGroup.name == currentTaskGroup.name && selectedView == 'tasks'}">
							<h5 class="taskname" ng-click="setSelectedTaskGroupName(taskGroup)">
								{{taskGroup.name}} ({{taskGroup.tasks.length}})
							</h5>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="no-float left side-blocks" ng-show="secondLevel == 'closed'" ng-style="(!$root.selectedProcess && !$root.selectedTask)? {'pointer-events' : 'none'}: {'pointer-events' : 'auto'}" ng-style="$root.selectedProject? '': {'background-color' : 'gainsboro'}">
		<div class="left-wrapper" style="margin-left: 5px; !important">
			<header>
			<span ng-hide="$root.selectedProject"><i class="glyphicon glyphicon-chevron-right chevron-color" style="padding-top: 6px; float: right;"></i></span>
			<a ng-show="$root.selectedProject" ng-click="collapseLevels('secondLevel')"><i class="glyphicon glyphicon-chevron-right chevron-color" style="padding-top: 6px; float: right;"></i></a>
		</div>
	</div>
	<div class="col-md-10 no-float right" id="rightPanel">
		<div class="currentTask" style="padding-top: 31px;">
			<div ui-view ng-if="selectedView == 'task'" style="height: 100%"></div>
			<div class="scrollcontainer" ng-show="selectedView == 'search' || selectedView == 'massapprove' || (selectedView == 'tasks' && $root.selectedProcess.key && currentTaskGroup)">
				<div class="scrollable">
					<div ui-view ng-if="selectedView == 'massapprove'"></div>
					<div ng-show="selectedView == 'search'">
					    <h4>Task Search</h4>
					    <div class="col-sm-12">
					        <div class="row">
					            <table class="table">
					                <thead>
					                <tr>
					                    <th width="20%">Site Name</th>
					                    <th width="25%">Task Type</th>
					                    <th width="20%">Priority</th>
					                    <th width="25%">Business Key</th>
					                    <th width="10%"></th>
					                </tr>
					                </thead>
					                <tbody>
					                <tr>
					                    <ng-form name="workForm">
					                        <td>
									            <input type="text" ng-model="site_name" name="site_name" typeahead="site as sites.site_name for sites in getSite($viewValue)" typeahead-on-select="siteSelected($item,$model,$label)" class="form-control" autocomplete="off" placeholder="Site Name">
									            <input type="hidden" ng-model="site" name="siteId"/>
					                        </td>
					                        <td ng-init="taskId = taskId || 'all'">
									            <select class="form-control" name="taskId" ng-model="taskId" ng-options="task.id as task.label for task in taskIds" />
					                        </td>
					                        <td>
									            <select class="form-control" name="priority" ng-model="priority" ng-init="priority = priority || 'all'">
									                <option value="all">All</option>
									                <option value="emergency">Emergency</option>
									            </select>
					                        </td>
					                        <td>
				                                <input type="text" class="form-control" name="bussinessKey" ng-model="bussinessKey" />
					                        </td>
						                    <td><button type="button" class="btn btn-sm btn-primary" ng-click="searchTasks()"><i class="glyphicon glyphicon-search"></i> Search</button></td>
					                    </ng-form>
					                </tr>
					                </tbody>
					            </table>
					        </div>
					        <div class="row">
					            <table class="table" ng-if="searchResults.length>0">
					                <thead>
					                <tr>
					                    <th></th>
					                    <th>Priority</th>
					                    <th>JR Number</th>
					                    <th>Site name</th>
					                    <th>Name</th>
					                    <th>Description</th>
					                    <th>Create Date</th>
					                    <th>Validity Date</th>
					                </tr>
					                </thead>
					                <tbody>
						                <tr ng-repeat="task in searchResults">
					                        <td><a ui-sref="tasks.task({id:task.id})" target="_blank">{{$index+1}}.</a></td>
					                        <td><a ui-sref="tasks.task({id:task.id})" target="_blank">{{task.priority == 100 ? 'Emergency' : 'Regular'}}</a></td>
					                        <td><a ui-sref="tasks.task({id:task.id})" target="_blank">{{task.jrNumber}}</a></td>
					                        <td><a ui-sref="tasks.task({id:task.id})" target="_blank">{{task.site_name}}</a></td>
					                        <td><a ui-sref="tasks.task({id:task.id})" target="_blank">{{task.name}}</a></td>
					                        <td><a ui-sref="tasks.task({id:task.id})" target="_blank">{{task.description}}</a></td>
					                        <td>{{task.created | date:'dd.MM.yyyy HH:mm'}}</td>
					                        <td>{{task.validityDate | date:'dd.MM.yyyy HH:mm'}}</td>
						                </tr>
					                </tbody>
					            </table>
					        </div>
					    </div>
					</div>
					<div ng-show="selectedView == 'tasks' && $root.selectedProcess.key && currentTaskGroup">
						<h4>Project: {{$root.selectedProject.name}}</h4>
						<h4>Process: {{$root.selectedProcess.name}}</h4>
						<h4>Task: {{currentTaskGroup.name}}</h4>
			            <table class="table ">
			                <thead>
			                	<tr>
			                    	<th>#</th>
									<th ng-if="$root.selectedProcess.key !== 'leasing'" class="sortable">Business key
										<i ng-click="orderByFieldName('processBusinessKey')" class="glyphicon" ng-class="fieldName != 'processBusinessKey' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i>
										<span class="pull-right">
											<input type="text" ng-model="fieldFilter['processBusinessKey']" ng-show="visibilityFilter['processBusinessKey']">
											<i ng-click="setVisibilityFilter('processBusinessKey')" class="glyphicon" ng-class="visibilityFilter['processBusinessKey']?'glyphicon-remove':'glyphicon-filter'"></i>
										</span>
									</th>
									<th ng-if="$root.selectedProcess.key === 'leasing'" class="sortable">NCP ID
										<i ng-click="orderByFieldName('ncpID')" class="glyphicon" ng-class="fieldName != 'ncpID' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i>
										<span class="pull-right">
											<input type="text" ng-model="fieldFilter['ncpID']" ng-show="visibilityFilter['ncpID']">
											<i ng-click="setVisibilityFilter('ncpID')" class="glyphicon" ng-class="visibilityFilter['ncpID']?'glyphicon-remove':'glyphicon-filter'"></i>
										</span>
									</th>
									<th ng-if="$root.selectedProcess.key === 'leasing'" class="sortable">Sitename
										<i ng-click="orderByFieldName('siteName')" class="glyphicon" ng-class="fieldName != 'siteName' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i>
										<span class="pull-right">
											<input type="text" ng-model="fieldFilter['siteName']" ng-show="visibilityFilter['siteName']">
											<i ng-click="setVisibilityFilter('siteName')" class="glyphicon" ng-class="visibilityFilter['siteName']?'glyphicon-remove':'glyphicon-filter'"></i>
										</span>
									</th>
									<th ng-if="$root.selectedProcess.key === 'Revision'" class="sortable">Site name
										<i ng-click="orderByFieldName('site_name')" class="glyphicon" ng-class="fieldName != 'site_name' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i>
										<span class="pull-right">
											<input type="text" ng-model="fieldFilter['site_name']" ng-show="visibilityFilter['site_name']">
											<i ng-click="setVisibilityFilter('site_name')" class="glyphicon" ng-class="visibilityFilter['site_name']?'glyphicon-remove':'glyphicon-filter'"></i>
										</span>
									</th>
									<th class="sortable">Initiator
										<i ng-click="orderByFieldName('processStartUserId')" class="glyphicon" ng-class="fieldName != 'processStartUserId' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i>
										<span class="pull-right">
											<input type="text" ng-model="fieldFilter['processStartUserId']" ng-show="visibilityFilter['processStartUserId']">
											<i ng-click="setVisibilityFilter('processStartUserId')" class="glyphicon" ng-class="visibilityFilter['processStartUserId']?'glyphicon-remove':'glyphicon-filter'"></i>
										</span>
									</th>
									<th class="sortable">Date
										<i ng-click="orderByFieldName('processStartTime')" class="glyphicon" ng-class="fieldName != 'processStartTime' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i></th>
									<th class="sortable">Priority
										<i ng-click="orderByFieldName('priority')" class="glyphicon" ng-class="fieldName != 'priority' ? 'glyphicon-sort' : reverseOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></i>
									</th>
			                	</tr>
			             	</thead>
			             	<tbody>
								<tr ng-repeat="task in currentTaskGroup.tasks | filter : filterByFields() | orderBy : fieldName : reverseOrder">
			             			<td><a ng-click="openTask(task.id)">{{$index+1}}</a></td>
			             			<td ng-if="$root.selectedProcess.key !== 'leasing'"><a ng-click="openTask(task.id)">{{task.processBusinessKey}}</a></td>
			             			<td ng-if="$root.selectedProcess.key === 'leasing'"><a ng-click="openTask(task.id)">{{task.ncpID}}</a></td>
			             			<td ng-if="$root.selectedProcess.key === 'leasing'"><a ng-click="openTask(task.id)">{{task.siteName}}</a></td>
			             			<td ng-if="$root.selectedProcess.key === 'Revision'"><a ng-click="openTask(task.id)">{{task.site_name}}</a></td>
			             			<td><a ng-click="openTask(task.id)">{{task.processStartUserId}}</a></td>
			             			<td><a ng-click="openTask(task.id)">{{task.processStartTime | date: 'dd.MM.yyyy HH:mm'}}</a></td>
									<td><a ng-click="openTask(task.id)">{{task.priority == 100 ? 'Emergency' : 'Regular'}}</a></td>
			             		</tr>
			             	</tbody>
			             </table>
					</div>
				</div>
			</div>
		</div>
	</div>