<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Responsible Employee</h4>
</div>
<div class="modal-body">
    <div class="row">
    	<div class="col-md-12">
    		<div class="row">
    			<span><b>Group: </b> {{task.group}}</span><br/>
    			<span ng-if="task.group"><b>{{task.group}} members: </b> <span ng-repeat="m in task.members">{{m.firstName}} {{m.lastName}}{{$last?'':', '}}</span></span><br/>
    			<span><b>Assignee: </b> {{task.assignee ? (task.assigneeDetail.firstName + ' ' + task.assigneeDetail.lastName) : 'Not Claimed'}}</span><br/>
    		</div>
    	</div>
    </div>
</div>
<div class="modal-footer" id="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>