<div class="row layout-row">
	<div class="col-md-2 no-float left">
		<div class="left-wrapper">
			<h4>Folders</h4>
			<ul id="filters">
				<li ng-repeat="filter in filters" ng-class="{active: filter.id == currentFilter.id}">
					<a ng-click="selectFilter(filter)">{{filter.name}} ({{filter.itemCount}})</a>
				</li>
			</ul>
			<span ng-if="hasGroup('camunda-admin') || hasGroup('alm_engineer') || hasGroup('astana_engineer') || hasGroup('nc_engineer') || hasGroup('east_engineer') || hasGroup('south_engineer') || hasGroup('west_engineer')">
				<h4>Processes</h4>
				<ul id="definitions">
					<li ng-repeat="pd in processDefinitions"><a ng-click="startProcess(pd.id)">Start <b>{{pd.name}}</b> process</a></li>
				</ul>
			</span>
			<h4>Tasks</h4>
			<div class="scrollcontainer">
				<div  class="scrollable">
					<ul id="tasks">
						<li ng-repeat="task in tasks" ng-click="loadTaskForm(task)" ng-class="{active: task.id == currentTask.id}">
						  <div class="task">
					          <h5>{{ (task.name || task.id) }}</h5>
					          <div ng-if="task.description">{{ task.description }}</div>
					          <small class="text-muted" ng-if="task.assignee">{{ task.assigneeObject.firstName }} {{ task.assigneeObject.lastName }}</small>
					          <div ng-repeat="variable in task._embedded.variable" class="variable">
					          	{{ variable.name }}: {{ variable.value }}
					          </div>
				          </div>
				        </li>
					</ul>
					<div style="padding-left: 10px;">
						<br/>
						<a ng-click="prevTasks()" ng-disabled="view.page <= 1" class="btn btn-xs btn-default">Previous</a> <a ng-click="nextTasks()" ng-disabled="!tasks.length || tasks.length < view.maxResults" class="btn btn-xs btn-default">Next</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-10 no-float right">
		<div class="currentTask" ng-show="currentTask">
			<div class="scrollcontainer">
				<div  class="scrollable">
					<div class="page-body container-fluid">
						<div ng-if="currentTask" class="row b-b" >
							<div class="col-md-6">
								<h3>{{currentTask.description}}</h3>
								{{currentTask.processDefinitionId.split(':')[0]}}
								<span ng-if="!currentTask.assignee">
									| <span class="text-muted">Assignee</span> <a ng-click="claim(currentTask)"><i class="glyphicon glyphicon-user ng-scope"></i> Claim</a>
								</span>
								<span ng-if="currentTask.assignee">
									| <span class="text-muted">Assignee</span> <a><i class="glyphicon glyphicon-user ng-scope"></i> {{currentTask.assigneeObject.firstName}} {{currentTask.assigneeObject.lastName}}</a> <a ng-click="unclaim(currentTask)"> x</a>
								</span>
							</div>
							<div class="col-md-6 nopadding text-right" style="padding-top: 30px;">
								<a href="" class="btn btn-default" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</a>
							</div>
						</div>
						<div autocomplete="off" id="taskElement" ng-show="selectedTab == 'form'"></div>
						<div class="diagram-pane scrollcontainer"  ng-show="selectedTab == 'diagram' && diagram.xml">
							<a class="pull-right text-muted text-lg p-a-sm m-r-sm diagram-close-button" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')">×</a>
							<div cam-widget-bpmn-viewer diagram-data="diagram.xml" on-load="highlightTask()" control="control"></div>
						</div>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>