<div class="page-body container-fluid">
	<div ng-if="currentTask" class="row b-b" >
		<div class="col-md-6">
			<h3>{{currentTask.description}}</h3>
			{{currentTask.processDefinitionId.split(':')[0]}}
			<span ng-if="!currentTask.assignee">
				| <span class="text-muted">Assignee</span> <a ng-click="claim(currentTask)"><i class="glyphicon glyphicon-user ng-scope"></i> Claim</a>
			</span>
			<span ng-if="currentTask.assignee">
				| <span class="text-muted">Assignee</span> <a><i class="glyphicon glyphicon-user ng-scope"></i> {{currentTask.assigneeObject.firstName}} {{currentTask.assigneeObject.lastName}}</a> <a ng-click="unclaim(currentTask)"> x</a>
			</span>
		</div>
		<div class="col-md-6 nopadding text-right" style="padding-top: 30px;" ng-if="hasGroup('kcellUsers')">
			<a href="" class="btn btn-default" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</a>
		</div>
	</div>
		
	</div>
	</div><div autocomplete="off" id="taskElement" ng-show="selectedTab == 'form'"></div>
	<div class="diagram-pane scrollcontainer"  ng-show="selectedTab == 'diagram' && diagram.xml">
		<a class="pull-right text-muted text-lg p-a-sm m-r-sm diagram-close-button" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')">×</a>
		<div cam-widget-bpmn-viewer diagram-data="diagram.xml" on-load="highlightTask()" control="control"></div>
	</div>
	<br/>
	<br/>