
<div class="container-fluid">

	<div ng-if="currentTask" class="row b-b" style="padding-bottom: 15px; margin-bottom: 5px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<table width="100%">
						<tr>
							<td style="padding-right: 5px">
								<h3 ng-style="{'margin-bottom':!hideHeader ? '10px':'0px'}">{{currentTask.description}}</h3>
							</td>
							<td style="float: right;margin-top: 20px">
								<div class="btn-group" role="group" aria-label="..." style="display: flex">
									<button class="btn btn-default" ng-if="!currentTask.assignee" ng-click="claim(currentTask)"> Claim</button>
									<button class="btn btn-default" ng-if="!currentTask.assignee && assignLinkEnabled(processDefinitionKey)" ng-click="dispayAssignField()" popover-template="'popover.html'" popover-placement="bottom"> Assign</button>
									<button class="btn btn-default" style="margin-left: -1px;" ng-click="showHistory(resolutions, processDefinitionKey)" class="ng-binding"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> History</button>
									<button class="btn btn-default" ng-if="hasGroup('kcellUsers') || hasGroup('sharing_beeline_users_group')" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</button>
								</div>
								<script type="text/ng-template" id="popover.html">
									<div style="width: 300px">
										<input class="task-input-container" ng-if="assignmentInProgress && hasGroup('revision_managers')" type="text" ng-model="newAssignee" typeahead="name as users.name for users in getTaskAssigneeUserList($viewValue)" typeahead-on-select="assign($item.id, currentTask)" autocomplete="off">
										<select  ng-model="$parent.$parent.newLeasingAssignee" ng-options="u.id as u.firstName + ' ' + u.lastName for u in leasingUserList" ng-show="assignmentInProgress && !hasGroup('revision_managers')">
										</select>
										<a ng-click="assignSelected()" ng-show="assignmentInProgress && !hasGroup('revision_managers')"><i class="glyphicon glyphicon-ok ng-scope"></i></a>
									</div>
								</script>
							</td>
						</tr>
					</table>
					<div class="process-container" ng-if="!hideHeader">
						<span class="text-muted">Process</span>: {{currentTask.processDefinitionId.split(':')[0]}}
					</div>
					<span ng-if="currentTask.candidateObject && !hideHeader">
				 		<span class="text-muted">Group</span>: {{currentTask.candidateObject.groupId}}</a>
					</span>
				</div>
				<div class="col-md-8" ng-if="!hideHeader">
					<span ng-if="!currentTask.assignee">
						 <span class="text-muted">Assignee</span>: <a>nobody</a>
					</span>
					<span ng-if="currentTask.assignee">
						<span class="text-muted">Assignee</span>: <div class="btn btn-default"> <a>{{currentTask.assigneeObject.firstName}} {{currentTask.assigneeObject.lastName}}</a><a ng-click="unclaim(currentTask)"> x</a></div>
					</span>
				</div>
				<div class="col-md-8" ng-if="!hideHeader && processBusinessKey && showProcessNumberTasks.includes(currentTask.taskDefinitionKey)">
					<span class="text-muted">Process number: {{processBusinessKey}}</span>
				</div>
				<div class="col-md-4" style="text-align: right" ng-if="!hideHeader">
					<span class="glyphicon glyphicon-calendar"></span><span class="task-date-text">Task created date</span>: {{currentTask.created | date: 'dd/MM/yyyy HH:mm'}}
				</div>
			</div>
			<button type="button" class="btn btn-default btn-xs" data-dismiss="modal" aria-label="Close" style="position: absolute;bottom: -25px;right: 0;" ng-click="hideHeader=!hideHeader">
				<span class="glyphicon glyphicon-chevron-up" ng-if="!hideHeader"></span>
				<span class="glyphicon glyphicon-chevron-down" ng-if="hideHeader"></span>
			</button>
		</div>
	</div>
</div>

<div class="page-body container-fluid" ng-if="historyTask">
	<div class="row b-b" >
		<div class="col-md-6">
			<h3>{{historyTask.description}}</h3>
			{{historyTask.processDefinitionId.split(':')[0]}}
			<span ng-if="resolution.assignee || resolution.assigneeName">
							| <span class="text-muted">Task completed by </span> <a><i class="glyphicon glyphicon-user ng-scope"></i> {{resolution.assigneeName || resolution.assignee}}</a>
							| <span class="text-muted">at </span> <a><i class="glyphicon glyphicon-time ng-scope"></i> {{historyTask.endTime | date: 'dd.MM.yyyy HH:mm'}}</a>
							| <span class="text-muted">resolution </span> <a><i class="glyphicon glyphicon-lock ng-scope"></i>{{'task.resolution.'+resolution.resolution | translate}}</a>
						</span>
		</div>
		<div class="col-md-6 nopadding text-right" style="padding-top: 30px;" ng-if="currentTask && (hasGroup('kcellUsers') || hasGroup('sharing_beeline_users_group'))">
			<a href="" class="btn btn-default" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')" class="ng-binding"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Diagram</a>
		</div>
	</div>
</div>
<div class="scrollcontainer" style="height: 80%">
	<div class="scrollable">
		<div autocomplete="off" id="taskElement" ng-show="selectedTab == 'form'">
		</div>
	</div>
	<div class="diagram-pane scrollcontainer"  ng-show="selectedTab == 'diagram' && diagram.xml" ng-if="currentTask">
		<a class="pull-right text-muted text-lg p-a-sm m-r-sm diagram-close-button" ng-click="selectedTab != 'diagram' ? selectTab('diagram') : selectTab('form')">×</a>
		<div cam-widget-bpmn-viewer diagram-data="diagram.xml" on-load="highlightTask()" control="control"></div>
	</div>
	<br/>
	<br/>
</div>
