<style type="text/css">
.nowrapDots {
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}   
</style>
<div class="row layout-row">
    <div class="col-md-12 no-float" >
        <div class="currentTask">
            <div class="scrollcontainer">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Ответственный B2B Delivery:</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="responsibleB2BDelivery" name="responsibleB2BDelivery" typeahead="name as users.name for users in getUsers($viewValue, 'delivery_sms_ivr_b2b_delivery')" typeahead-on-select="userSelected($item,'responsibleB2BDelivery')" class="form-control" required autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
