<div>
<uib-accordion>
    <div uib-accordion-group is-open="false" class="panel-default">
        <uib-accordion-heading>
            History <i class="pull-right glyphicon" class="glyphicon-chevron-up"></i>
        </uib-accordion-heading>
        <table class="table">
            <thead>
            <tr>
                <th>Activity</th>
                <th>Assignee</th>
                <th>Resolution</th>
                <th>Date</th>
                <th>Comment</th>
                <th ng-if="hasGroup('kcellUsers')">Attached files</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td ng-if="hasGroup('kcellUsers')">Test</td>
            </tr>
            </tbody>
        </table>
    </div>
</uib-accordion>
</div>
