<iframe id="fileDownloadIframe" style="display:none;"></iframe>
<style>
    .card-modal-header {
        background:transparent; color:black; padding:0 15px 0 15px;
    }
    .my-group .form-control {
        width: 50%;
    }
    .row {
        margin-bottom: 10px;
    }

    .modal-lg.modal-dialog {
        width: 90%;
    }

    .background-yellow-accordion .panel-body {
        background-color: #ffffcc;
        border: 1px solid #b3b3b3;
        color: #333;
    }

    .start-table tbody {
        max-height: 470px;
        overflow-y: overlay;
        width: 100%;
    }

    .start-table thead, .start-table tbody, .start-table tr, .start-table td, .start-table th {
        display: block;
    }

    .start-table tbody tr td, .start-table thead tr th {
        float: left;
    }

    .my-group .form-control {
        width: 50%;
    }

    .modal-lg.modal-dialog {
        width: 90%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .resolution .bolder {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        min-width: 200px;
    }
    .resolution .input-group-btn {
        vertical-align: top !important;
    }
    .resolution .input-group span {
        display: table-cell;
        vertical-align: top;
    }
    .elicense {
        line-height: 2;
        margin: 20px 0;
    }
    .custom-like-input {
        border: 1px #cccccc solid;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #EEEEEE;
    }

</style>
<div class="card-modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 style="margin-top:14px;">{{businessKey}}</h4>
</div>
<div class="modal-body new-card-search" style="padding-top:5px">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-8">
                    <span class="block-headers">&nbsp;</span>
                </div>
                <div class="col-md-4">
                    <div class="dropdown" style="position:absolute; right:15px; top:-6px;">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="showDiagram(processDefinitionId, task, true)" class="ng-binding"><span
                                    class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
                                Diagram</a></li>
                            <li><a href="" ng-click="showHistory(resolutions, processDefinitionKey)"
                                   class="ng-binding"><span class="glyphicon glyphicon-list-alt"
                                                            aria-hidden="true"></span> History </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin:18px 0 0 0">
                        <div class="panel-heading block-headers">Details</div>
                        <div class="panel-body" style="padding:10px 0 10px 0;word-break:break-word;">
                            <div class="form-group">
                                <div class="col-sm-12"><b>Initiator</b>: {{profiles[userId].firstName}}
                                    {{profiles[userId].lastName}}
                                </div>
                                <div class="col-sm-12"><b>Created</b>: {{startDate | date: 'dd.MM.yyyy'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="row">-->
            <!--                <div class="col-md-12">-->
            <!--                    <ul class="nav nav-stacked" id="accordion1">-->
            <!--                        <li class="panel panel-default" style="margin:0">-->
            <!--                            <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"-->
            <!--                               style="background-color: #f5f5f5;" class="block-headers">User Tasks</a>-->

            <!--                            <ul id="firstLink" class="collapse in ul-padding">-->
            <!--                                <div ng-repeat="task in replacementInfo.tasks" >-->
            <!--                                    <div class="task">-->
            <!--                                        <h5>-->
            <!--                                            <a ng-if="hasGroup('revision_managers') || hasGroup('revision_audit')"-->
            <!--                                               ui-sref="tasks.task({id:task.id})" target="_blank">{{-->
            <!--                                                (task.name || task.id) }}</a></h5>-->
            <!--                                        <h5><span-->
            <!--                                                ng-if="!(hasGroup('revision_managers') || hasGroup('revision_audit'))"-->
            <!--                                                ui-sref="tasks.task({id:task.id})" target="_blank">{{ (task.name || task.id) }}</span>-->
            <!--                                        </h5>-->
            <!--                                        <div class="card-task-descr" ng-if="task.description"> {{ task.description }}</div>-->
            <!--                                        <small ng-if="hasGroup('kcellUsers')" class="text-muted"-->
            <!--                                               ng-if="task.group">-->
            <!--                                            Group: <a-->
            <!--                                                ng-click="showGroupDetails(task.group)">{{task.group}}</a>-->
            <!--                                        </small>-->
            <!--                                        <br/>-->
            <!--                                        <small class="text-muted" ng-if="task.assignee">{{-->
            <!--                                            task.assigneeObject.firstName }} {{ task.assigneeObject.lastName-->
            <!--                                            }}-->
            <!--                                        </small>-->
            <!--                                        <small class="text-muted" ng-if="!task.assignee">Unassigned</small>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </ul>-->
            <!--                        </li>-->

            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div class="col-md-8" style="width: 965px;">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>TSD number:</b></label>
                    <label class="col-sm-7 control-label">{{vars.tnuTsdNumber}}</label>
                    <label class="col-sm-1 control-label"><b>Version:</b></label>
                    <label class="col-sm-2 control-label">{{}}</label>
                </div>
            </div>
            <div class="row">

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Region name:</b></label>
                    <label class="col-sm-7 control-label">{{region[vars.region][0].value}}</label>
                    <label class="col-sm-1 control-label"><b>Date:</b></label>
                    <div class="col-sm-2">
                        <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.date_of_visit| date: 'dd.MM.yyyy'}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Sitename:</label>
                    <label class="col-sm-3 control-label">{{vars.site_name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Site Address:</label>
                    <div class="col-sm-10">
                        <div class="form-control" style="background-color: #eee; width: 100%; height: 54px"> {{vars.ne_address}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Farend name:</label>
                    <label class="col-sm-3 control-label">{{vars.fe_sitename}}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Farend Address:</label>
                    <div class="col-sm-10">
                        <div class="form-control" style="background-color: #eee; width: 100%; height: 54px">{{vars.fe_address}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr align="center">
                            <td colspan="2">Position</td>
                            <td colspan="4">Near End</td>
                            <td colspan="4">Far End</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="right" colspan="2">Basic information</td>
                            <td align="center" colspan="4">{{vars.site_name}}</td>
                            <td align="center" colspan="4">{{vars.fe_sitename}}</td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Coordinates (degree):</td>
                            <td>N</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_latitude}}</div>
                            </td>
                            <td>E</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_longitude}}</div>
                            </td>
                            <td>N</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_latitude}}</div>
                            </td>
                            <td>E</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_longitude}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Altitude (m):</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_altitude}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_altitude}}</div>
                            </td>
                        </tr>


                        <tr>
                            <td align="right" colspan="2">Azimuth (degree):</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_azimuth}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_azimuth}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Path distance (km):</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.path_distance}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" colspan="2">Type of construction:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{construction_type_id[vars.ne_construction_type][0].value}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{construction_type_id[vars.fe_construction_type][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Height of construction (m):</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_construction_height}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_construction_height}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Protection mode:</td>
                            <td align="center" colspan="8">
                                <input class="form-control" disabled type="text" ng-model="vars.protection_mode">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Antenna diameter:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{antenna_diameter_id[vars.ne_diameter][0].value}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{antenna_diameter_id[vars.fe_diameter][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Protection antenna diameter:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{antenna_diameter_id[vars.ne_protection_antenna_diameter][0].value}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{antenna_diameter_id[vars.fe_protection_antenna_diameter][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Height of suspension of MW ant (m):</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_suspension_height_antennas}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_suspension_height}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Height of suspension of prot. MW ant (m).:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_protection_suspension_height}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_protection_suspension_height}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Polarization:</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{polarization_id[vars.hop_polarization][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Link type:</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{link_type_id[vars.hop_link_type][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" rowspan="2">Link capacity :</td>
                            <td align="right">Capacity</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{capacity[vars.hop_link_capacity][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">nxE1</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.hop_link_nxe1}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Modulation type:</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.hop_modulation_type}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Channel bandwidth:</td>
                            <td align="center" colspan="8">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.hop_channel_bandwidth}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">RAU subband:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{rau_subband[vars.ne_rau_subband][0].value}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{rau_subband[vars.fe_rau_subband][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">protection RAU subband:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{rau_subband[vars.ne_protection_rau_subband][0].value}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{rau_subband[vars.fe_protection_rau_subband][0].value}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Tx/Rx frequencies, Mhz:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_txrx_frequincies}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_txrx_frequincies}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Protection Tx/Rx frequencies, Mhz:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_protection_txrx_frequincies}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_protection_txrx_frequincies}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Terminal ID:</td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_terminal_id}}</div>
                            </td>
                            <td align="center" colspan="4">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_terminal_id}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Power levels:</td>
                            <td>Tx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_power_level_tx}}</div>
                            </td>
                            <td>Rx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_power_level_rx}}</div>
                            </td>
                            <td>Tx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_power_level_tx}}</div>
                            </td>
                            <td>Rx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_power_level_rx}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2">Protection line power levels:</td>
                            <td>Tx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_protection_power_level_tx}}</div>
                            </td>
                            <td>Rx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.ne_protection_power_level_rx}}</div>
                            </td>
                            <td>Tx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_protection_power_level_tx}}</div>
                            </td>
                            <td>Rx</td>
                            <td align="center">
                                <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{vars.fe_protection_power_level_rx}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group resolution" ng-if="eLicenseNumber">
                <label class="col-sm-2 control-label bolder"><b>e-license request number:</b></label>
                <div class="col-sm-3">
                    <input class="form-control" ng-model="eLicenseNumber" disabled/>
                </div>
                <label class="col-sm-2 col-sm-offset-2 control-label"><b>Date:</b></label>
                <div class="col-sm-2">
                    <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{eLicenseDate | date: 'dd.MM.yyyy'}}</div>
                </div>
            </div>

            <div class="form-group resolution" ng-if="rfsPermitionNumber">
                <div class="col-sm-2">
                    <label class="bolder">RFS permission number:</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" disabled type="number" name="rfsPermitionNumber" ng-model="rfsPermitionNumber">
                </div>
                <label class="col-sm-2 col-sm-offset-2">Date:</label>
                <div class="col-sm-2">
                    <div class="form-control" style="background-color: #eee; width: 100%; text-align: left">{{rfsPermitionDate | date: 'dd.MM.yyyy'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer">
    <button type="button" class="btn btn-default" style="float:right;" ng-click="$dismiss()">Close</button>
</div>
