<module xmlns="urn:jboss:module:1.0" name="kz.kcell.camunda.authentication">
  <resources>
    <resource-root path="ldap-authentication-7.6.0.jar" />
  </resources>

  <dependencies>

    <module name="sun.jdk" />

    <module name="javax.api" />
    <module name="org.camunda.bpm.camunda-engine" />
    <module name="org.camunda.bpm.identity.camunda-identity-ldap" />

  </dependencies>
</module>
