<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                'ncpID',
                'siteType',
                'regionName',
                'latitude',
                'longitude',
                'initiator',
                'project',
                'reason',
                'part',
                'plannedCabinetType',
                'targetCoverage',
                'rbsType',
                'bands',
                'rrFile',
                'newCandidateRRFiles',
                'candidate',
                'cellAntenna',
                'renterCompany',
                'transmissionAntenna',
                'powerSource',
                'farEndInformation'
            ];

            $scope.selectedIndex = undefined;

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function (result) {
                            $scope.processInstanceId = result.data.processInstanceId;
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.leasingCandidate = {};
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    $scope[el] = camForm.variableManager.variables[el].value;
                    $scope.leasingCandidate[el] = camForm.variableManager.variables[el].value;
                });
                camForm.variableManager.createVariable({
                    name: 'checkAndApproveFETaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'checkAndApproveFETaskComment',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'feApproved',
                    type: 'String',
                    value: ''
                });

                $scope.checkAndApproveFETaskResult = '';
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('checkAndApproveFETaskResult', $scope.checkAndApproveFETaskResult);
                camForm.variableManager.variableValue('checkAndApproveFETaskComment', $scope.checkAndApproveFETaskComment);

                if ($scope.allValuesDoesNotFit()){
                    camForm.variableManager.variableValue('feApproved', 'no');
                } else {
                    camForm.variableManager.variableValue('feApproved', 'yes');
                }

                camForm.variableManager.variableValue('farEndInformation', $scope.farEndInformation);
            });

            $scope.fileDownload = function (file) {
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/get/' + file.path,
                    transformResponse: []
                }).then(function (response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function (error) {
                    console.log(error.data);
                });
            }

            $scope.allValuesDoesNotFit = function () {
                return !_.some($scope.farEndInformation, function(fe){
                    return !fe.transmissionStatus || fe.transmissionStatus === 'approved';
                });
            }

            $scope.selectIndex = function(index){
                if($scope.selectedIndex == index){
                    $scope.selectedIndex = undefined;
                } else {
                    $scope.selectedIndex = index;
                }
            }
        }]);

    </script>
    <leasing-candidate leasing-candidate="leasingCandidate"></leasing-candidate>

    <iframe id="fileDownloadIframe" style="display:none;"></iframe>

    <div class="form-group">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <td width="10%">#</td>
                    <td width="50%">Far End Name</td>
                    <td width="30%">Transmission status</td>
                    <td width="10%">Priority</td>
                </thead>
                <tbody ng-repeat="fe in farEndInformation">
                    <tr>
                        <td>{{ $index + 1 }}</td>
                        <td><a ng-click="selectIndex($index)">{{ fe.farEndName}}</a></td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="{{'transmissionStatus'+$index}}" ng-model="fe.transmissionStatus" value="approved" required> Approved
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="{{'transmissionStatus'+$index}}" ng-model="fe.transmissionStatus" value="doesNotFit" required> FE does not fit
                            </label>
                            <label class="error" ng-if="kcell_form['transmissionStatus'+$index].$error.required && ( kcell_form['transmissionStatus'+$index].$touched || view.submitted)">Required field</label>
                        </td>
                        <td>
                            <input type="checkbox" name="{{'priority'+$index}}" ng-model="fe.priority">
                        </td>
                    </tr>
                    <tr ng-show = "selectedIndex == $index">
                        <td colspan="4">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-sm-12"><b>Far End Name</b>: {{fe.farEndName}}</div>
                                        <div class="col-sm-12"><b>Far End Address</b>: {{fe.farEndAddress}}</div>
                                        <div class="col-sm-12"><b>Contract Information</b>: {{fe.contractInformation}}</div>
                                        <div class="col-sm-12"><b>Square</b>: {{fe.square}}</div>
                                        <div class="col-sm-12"><b>Equipment type</b>: {{fe.equipmentType}}</div>
                                        <div class="col-sm-12"><b>Antennas quantity</b>: {{fe.antennasQuantity}}</div>
                                        <div class="col-sm-12"><b>Antenna diameter</b>: {{fe.antennaDiameter}}</div>
                                        <div class="col-sm-12"><b>Weight</b>: {{fe.weight}}</div>
                                        <div class="col-sm-12"><b>TX Frequency</b>: {{fe.TXFrequency}}</div>
                                        <div class="col-sm-12"><b>RX Frequency</b>: {{fe.RXFrequency}}</div>
                                        <div class="col-sm-12"><b>Suspension height of antennas</b>: {{fe.suspensionHeight}}</div>
                                        <div class="col-sm-12"><b>Azimuth</b>: {{fe.azimuth}}</div>
                                        <div class="col-sm-12"><b>Сonstruction type</b>: {{fe.constructionType}}</div>
                                        <div class="col-sm-12"><b>Results of visit of objects</b>: {{fe.resultsOfVisit}}</div>
                                        <div class="col-sm-12"><b>Survey Date</b>: {{fe.surveyDate | date:'dd.MM.yyyy'}}</div>
                                        <div class="col-sm-12"><b>Comments</b>: {{fe.comments}}</div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><b>Far End Renter Company</b></h4>

                                        <div class="col-sm-12"><b>Legal name</b>: {{fe.renterCompany.legalName}}</div>
                                        <div class="col-sm-12"><b>Legal address</b>: {{fe.renterCompany.legalAddress}}</div>
                                        <div class="col-sm-12"><b>Tel./Fax</b>: {{fe.renterCompany.telFax}}</div>
                                        <div class="col-sm-12"><b>Name of the 1st Leader</b>: {{fe.renterCompany.firstLeaderName}}</div>
                                        <div class="col-sm-12"><b>Position of the 1st Leader</b>: {{fe.renterCompany.firstLeaderPosition}}</div>
                                        <div class="col-sm-12"><b>Email</b>: {{fe.renterCompany.email}}</div>
                                        <div class="col-sm-12"><b>Contact Person Name</b>: {{fe.renterCompany.name}}</div>
                                        <div class="col-sm-12"><b>Contact Person Position</b>: {{fe.renterCompany.position}}</div>
                                        <div class="col-sm-12"><b>Contact Information</b>: {{fe.renterCompany.contactInformation}}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Download RR:</label>
        <div class="col-sm-8">
            <a ng-click="download(rrFile)">{{rrFile.name}}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">RR files:</label>
        <div class="col-sm-8">
            <div ng-show="newCandidateRRFiles.length > 0" class="input-group" ng-repeat="file in newCandidateRRFiles">
                {{$index + 1}}.
                <a ng-click="download(file)">{{file.name}}</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" ng-model="checkAndApproveFETaskComment" name="checkAndApproveFETaskComment" placeholder="Comments..." maxlength="500" rows="4" style="resize:none"
                ng-required="allValuesDoesNotFit()"></textarea>
            <label class="error" ng-show="kcell_form.checkAndApproveFETaskComment.$error.required && ( kcell_form.checkAndApproveFETaskComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions track by $index">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
