<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                'ncpID',
                'siteType',
                'regionName',
                'latitude',
                'longitude',
                'initiator',
                'project',
                'reason',
                'part',
                'plannedCabinetType',
                'targetCoverage',
                'rbsType',
                'bands',
                'rrFile',
                'newCandidateRRFiles',
                'candidate',
                'cellAntenna',
                'renterCompany',
                'transmissionAntenna',
                'powerSource',
                'farEndInformation',
                'receivingTSForCandiateSiteFiles',
                'modifyCandidateRRFiles',
                'address'
            ];

            var files = ['actOfPerformanceTechnicalConditionsFiles',
            'confirmSendMessageToStartPaymentKPFEFiles',
            'approvalContractRentInSAPFiles',
            'approvalPowerContractInSAPFiles',
            'checkAndApproveFeFiles',
            'commercialOnAirFiles',
            'confirmActOfPerformanceTechnicalConditionsFiles',
            'confirmPaymentDevelopmentOfTCKTFiles',
            'confirmPaymentDevelopmentOfTCKTForFEFiles',
            'confirmReceiptEstimateFiles',
            'confirmReceiptEstimateForFEFiles',
            'confirmReceiptOfTSfromRESforCandidateFiles',
            'confirmReceiptResponseKPFiles',
            'confirmReceiptResponseKPForFEFiles',
            'confirmSigningLeaseContractFiles',
            'confirmStartLeasingFiles',
            'confirmStartLeasingNOFiles',
            'confirmTFOfConnectingToLandlordPowerGridForFEFiles',
            'confirmTFOfConnectingToPowerGridForCandidateFiles',
            'connectionFromOwnerNetworksFiles',
            'contractRentLoadingSAPFiles',
            'createNewCandidateSiteFiles',
            'defineInstallationProblemFiles',
            'estimateTechnicalCapabilityResFiles',
            'installationWorksDoneFiles',
            'modifyCandidateSiteFiles',
            'powerContractLoadingInSAPFiles',
            'powerProblemSolutionFiles',
            'preparationSSIDandTSSRFiles',
            'preperationSSIDorTSSRProjectFiles',
            'receivingApprovalFromTheLandlordFiles',
            'receivingContractDevDesignEstimateFiles',
            'receivingContractDevDesignEstimateForFEFiles',
            'receivingContractInstallationWorksFiles',
            'receivingContractInstallationWorksForFEFiles',
            'receivingContractPSDFiles',
            'receivingTSFiles',
            'receivingTSForFEFiles',
            'registrationCommercialOfferFiles',
            'registrationCommercialOfferForFEFiles',
            'reqKZTRwithTechEquipmentParamsFiles',
            'reqKZTRwithTechEquipmentParamsForFEFiles',
            'requestForAdmissionForWorkOnTUFiles',
            'requestTechnicalParametersKPFiles',
            'requestTechnicalParametersKPForFEFiles',
            'requestTechnicalParametersKTFiles',
            'requestTechnicalParametersKTForFEFiles',
            'sendMessageToStartPaymentKPFiles',
            'sendMessageToStartPaymentKPForFEFiles',
            'sendMessageToStartPaymentKTFiles',
            'sendMessageToStartPaymentKTForFEFiles',
            'sendMessageToStartPaymentNationalFiles',
            'sendMessageToStartPaymentSimpleFiles',
            'signingLeaseContractAddAgreementFiles',
            'signingLeaseContractAddAgreementForFEFiles',
            'signingLeaseContractAddAgreementKPFiles',
            'signingLeaseContractAddAgreementKPForFEFiles',
            'signingLeaseContractAddAgreementKTFiles',
            'startingInstallationWorksFiles',
            'transmissionProblemSolutionFiles',
            'uploadRSDandVSDfilesFiles',
            'uploadSignedOwnerLeaseContractFiles',
            'uploadTSDfileFiles'];

            $scope.leasingFiles = [];

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.taskAssignee = result.data.assignee;
                },
                function (error) {
                    console.log(error.data);
                }
            );

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                files.forEach(function (f) {
                    camForm.variableManager.fetchVariable(f);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function(result){
                            $scope.processInstanceId = result.data.processInstanceId;
                            $scope.taskKey = result.data.taskDefinitionKey;
                            $http.get('/camunda/api/engine/engine/default/process-instance/' + $scope.processInstanceId).then(
                                function(result){
                                    console.log('process-instance/')
                                    console.log(result.data)
                                    $scope.businessKey = result.data.businessKey;
                                },
                                function (error) {console.log(error.data);}
                            );
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.leasingCandidate = {};
            });

            camForm.on('variables-fetched', function () {
                $scope.confirmReceiptResponseKPForFEFiles = [];
                variables.forEach(function (el) {
                    if(camForm.variableManager.variables[el].value){
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.leasingCandidate[el] = camForm.variableManager.variables[el].value;
                    }
                });
                files.forEach(function (f) {
                    if(camForm.variableManager.variables[f] && camForm.variableManager.variables[f].value){
                        if ( f.toLowerCase().includes('file') ) {
                            $scope.leasingFiles = $scope.leasingFiles.concat(camForm.variableManager.variables[f].value)
                        }
                    }
                });
                // camForm.variableManager.createVariable({
                //     name: 'confirmReceiptResponseKPForFEResponseStatus',
                //     type: 'String',
                //     value: ''
                // });
                camForm.variableManager.createVariable({
                    name: 'confirmReceiptResponseKPForFETaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'confirmReceiptResponseKPForFETaskComment',
                    type: 'String',
                    value: ''
                });

                $scope.confirmReceiptResponseKPForFETaskResult = 'additionalAgreementBeforeInstallation';
                camForm.variableManager.createVariable({
                    name: 'leasingProceduresStatusFE',
                    type: 'String',
                    value: ''
                });
                $scope.view.variablesFetched = true;
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('confirmReceiptResponseKPForFETaskResult', $scope.confirmReceiptResponseKPForFETaskResult);
                // camForm.variableManager.variableValue('confirmReceiptResponseKPForFEResponseStatus', $scope.confirmReceiptResponseKPForFEResponseStatus);
                camForm.variableManager.variableValue('confirmReceiptResponseKPForFETaskComment', $scope.confirmReceiptResponseKPForFETaskComment);
                if($scope.confirmReceiptResponseKPForFETaskResult === 'reject') {
                    camForm.variableManager.variableValue('leasingProceduresStatusFE', 'reject');
                } else {
                    camForm.variableManager.variableValue('leasingProceduresStatusFE', 'waitContract');
                }

                var thisTaskFiles = $scope.leasingFiles.filter(f => {return f.varName === 'confirmReceiptResponseKPForFEFiles'});
                console.log('--thisTaskFiles--')
                console.log(thisTaskFiles)
                console.log('-----------------')
                if(!camForm.variableManager.variables['confirmReceiptResponseKPForFEFiles'].type){
                    camForm.variableManager.destroyVariable('confirmReceiptResponseKPForFEFiles');
                    camForm.variableManager.createVariable({
                        name: 'confirmReceiptResponseKPForFEFiles',
                        type: 'Json',
                        value: thisTaskFiles
                    });
                } else {
                    camForm.variableManager.variableValue('confirmReceiptResponseKPForFEFiles', thisTaskFiles);
                }
                camForm.variableManager.destroyVariable('resolutions');
            });

            $scope.fileSelected = function (el, fileName) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0], fileName);
                    });
                })
            };

            function uploadFileToMinio(file, fileName) {
                var fileIndex = $scope[fileName].length;

                var fileToUpload = {
                    date: new Date(),
                    author:  $scope.taskAssignee,
                    name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-')
                };
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/put/' + fileToUpload.path,
                    transformResponse: []
                }).then(function (response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                fileToUpload.varName = 'confirmReceiptResponseKPForFEFiles';
                                $scope.leasingFiles.push(fileToUpload);
                                //$scope[fileName].push(fileToUpload);
                                angular.element(document.querySelector('#' + fileName)).val(null);
                                console.log($scope.leasingFiles)
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }, function(error){
                    console.log(error.data);
                });
            };

            $scope.clearFile = function (list, fileIndex) {
                $scope[list].splice(fileIndex, 1);
            }

            $scope.fileDownload = function (file) {
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/get/' + file.path,
                    transformResponse: []
                }).then(function (response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            }
        }]);

    </script>
    <div class="form-group">
        <label class="col-sm-12 control-label">
            <p/> <b>Business key: </b>{{businessKey}}
        </label>
    </div>
     <leasing-candidate ng-if="view.variablesFetched" leasing-candidate="leasingCandidate"></leasing-candidate>

    <leasing-attachments leasing-files="leasingFiles" task-key="taskKey" modify="'true'"></leasing-attachments>
    <iframe id="fileDownloadIframe" style="display:none;"></iframe>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <ng-form name="kcell_material_file_form">
                <input type="file" class="form-control" id="confirmReceiptResponseKPForFEFiles"
                       name="confirmReceiptResponseKPForFEFiles" ng-model="file.file"
                       onchange="angular.element(this).scope().fileSelected(this, 'confirmReceiptResponseKPForFEFiles')"/>
            </ng-form>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Resolution</label>
        <div class="col-sm-9">
            <label class="radio-inline col-sm-12">
                <input type="radio" name="confirmReceiptResponseKPForFETaskResult" ng-model="confirmReceiptResponseKPForFETaskResult" value="additionalAgreementBeforeInstallation" required>Signing of an additional agreement before the start of installation
            </label>
            <label class="radio-inline col-sm-12" style="margin-left:0">
                <input type="radio" name="confirmReceiptResponseKPForFETaskResult" ng-model="confirmReceiptResponseKPForFETaskResult" value="additionalAgreementAfterInstallation" required>Signing of an additional agreement after installation
            </label>
            <label class="radio-inline col-sm-12" style="margin-left:0">
                <input type="radio" name="confirmReceiptResponseKPForFETaskResult" ng-model="confirmReceiptResponseKPForFETaskResult" value="reject" required>Reject
            </label>
            <label class="error" ng-show="kcell_form.confirmReceiptResponseKPForFETaskResult.$error.required && ( kcell_form.confirmReceiptResponseKPForFETaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Comments</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-model="confirmReceiptResponseKPForFETaskComment" name="confirmReceiptResponseKPForFETaskComment" placeholder="Comments..." maxlength="500" rows="4" style="resize:none"></textarea>
        </div>
    </div>
    <!-- <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions track by $index">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion> -->
</form>
