<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                'ncpID',
                'siteType',
                'regionName',
                'latitude',
                'longitude',
                'initiator',
                'project',
                'reason',
                'part',
                'plannedCabinetType',
                'targetCoverage',
                'rbsType',
                'bands',
                'rrFile',
                'newCandidateRRFiles',
                'candidate',
                'cellAntenna',
                'renterCompany',
                'transmissionAntenna',
                'powerSource',
                'farEndInformation',
                'threeFarEndNotNecessary',
                'address'
            ];

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function(result){
                            $scope.processInstanceId = result.data.processInstanceId;
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.leasingCandidate = {};
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if(camForm.variableManager.variables[el].value){
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.leasingCandidate[el] = camForm.variableManager.variables[el].value;
                    }
                });
                camForm.variableManager.createVariable({
                    name: 'negotiationsWithLandlordTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: 'negotiationsWithLandlordTaskComment',
                    type: 'String',
                    value: ''
                });

                $scope.negotiationsWithLandlordTaskResult = '';
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('negotiationsWithLandlordTaskResult', $scope.negotiationsWithLandlordTaskResult);
                if($scope.negotiationsWithLandlordTaskResult == 'notAgree') {
                    camForm.variableManager.createVariable({
                        name: 'rentApprovalResult',
                        type: 'String',
                        value: 'refused'
                    });
                } else {
                    camForm.variableManager.createVariable({
                        name: 'rentApprovalResult',
                        type: 'String',
                        value: 'approved'
                    });
                }

                camForm.variableManager.variableValue('negotiationsWithLandlordTaskComment', $scope.negotiationsWithLandlordTaskComment);
                camForm.variableManager.destroyVariable('resolutions');
            });

            $scope.download = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.path, transformResponse: [] }).
                then(function(response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            }
        }]);

    </script>
    <leasing-candidate leasing-candidate="leasingCandidate"></leasing-candidate>

    <iframe id="fileDownloadIframe" style="display:none;"></iframe>

    <div class="form-group">
        <label class="col-md-4 control-label">Download RR:</label>
        <div class="col-sm-8">
            <a ng-click="download(rrFile)">{{rrFile.name}}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">RR files:</label>
        <div class="col-sm-8">
            <div ng-show="newCandidateRRFiles.length > 0" class="input-group" ng-repeat="file in newCandidateRRFiles">
                {{$index + 1}}.
                <a ng-click="download(file)">{{file.name}}</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Agreement  landlord  for installation of BS</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="negotiationsWithLandlordTaskResult" ng-model="negotiationsWithLandlordTaskResult" value="agree" required> Agree
            </label>
            <label class="radio-inline">
                <input type="radio" name="negotiationsWithLandlordTaskResult" ng-model="negotiationsWithLandlordTaskResult" value="notAgree" required> Not Agree
            </label>
            <label class="error" ng-show="kcell_form.negotiationsWithLandlordTaskResult.$error.required && ( kcell_form.negotiationsWithLandlordTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" ng-model="negotiationsWithLandlordTaskComment" name="negotiationsWithLandlordTaskComment" placeholder="Comments..." maxlength="500" rows="4" style="resize:none"
            ng-required="negotiationsWithLandlordTaskResult == 'notAgree'"></textarea>
            <label class="error" ng-show="kcell_form.negotiationsWithLandlordTaskComment.$error.required && ( kcell_form.negotiationsWithLandlordTaskComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
</form>
