<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                'ncpID',
                'siteType',
                'regionName',
                'latitude',
                'longitude',
                'initiator',
                'project',
                'reason',
                'part',
                'plannedCabinetType',
                'targetCoverage',
                'rbsType',
                'bands',
                'rrFile',
                'newCandidateRRFiles',
                'candidate',
                'cellAntenna',
                'renterCompany',
                'transmissionAntenna',
                'powerSource',
                'farEndInformation',
                'receivingTSForCandiateSiteFiles',
                'receivingContractPSDFiles',
                'receivingApprovalFromTheLandlordFiles',
                'modifyCandidateRRFiles',
                'estimateTechnicalCapabilityResFiles',
                'requestTechnicalParametersKPForFEFiles',
                'createNewCandidateSiteFiles',
                'address'
            ];

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.taskAssignee = result.data.assignee;
                },
                function (error) {
                    console.log(error.data);
                }
            );

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function(result){
                            $scope.processInstanceId = result.data.processInstanceId;
                            $http.get('/camunda/api/engine/engine/default/process-instance/' + $scope.processInstanceId).then(
                                function(result){
                                    console.log('process-instance/')
                                    console.log(result.data)
                                    $scope.businessKey = result.data.businessKey;
                                },
                                function (error) {console.log(error.data);}
                            );
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.leasingCandidate = {};
                $scope.leasingFiles= [];
            });

            camForm.on('variables-fetched', function () {
                $scope.requestTechnicalParametersKPForFEFiles = [];
                variables.forEach(function (el) {
                    if(camForm.variableManager.variables[el].value){
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.leasingCandidate[el] = camForm.variableManager.variables[el].value;
                        if ( el.toLowerCase().includes('file') ) {
                            $scope.leasingFiles = $scope.leasingFiles.concat(camForm.variableManager.variables[el].value)
                        }
                    }
                });
                console.log('$scope.leasingFiles:', $scope.leasingFiles)
                camForm.variableManager.createVariable({
                    name: 'requestTechnicalParametersKPForFETaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'requestTechnicalParametersKPForFETaskComment',
                    type: 'String',
                    value: ''
                });

                $scope.requestTechnicalParametersKPForFETaskResult = 'letterInProgress';
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('requestTechnicalParametersKPForFETaskResult', $scope.requestTechnicalParametersKPForFETaskResult);
                camForm.variableManager.variableValue('requestTechnicalParametersKPForFETaskComment', $scope.requestTechnicalParametersKPForFETaskComment);

                if(!camForm.variableManager.variables['requestTechnicalParametersKPForFEFiles'].type){
                    camForm.variableManager.destroyVariable('requestTechnicalParametersKPForFEFiles');
                    camForm.variableManager.createVariable({
                        name: 'requestTechnicalParametersKPForFEFiles',
                        type: 'Json',
                        value: $scope.requestTechnicalParametersKPForFEFiles
                    });
                } else {
                    camForm.variableManager.variableValue('requestTechnicalParametersKPForFEFiles', $scope.requestTechnicalParametersKPForFEFiles);
                }
                camForm.variableManager.destroyVariable('resolutions');
            });

            $scope.fileSelected = function (el, fileName) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0], fileName);
                    });
                })
            };

            function uploadFileToMinio(file, fileName) {
                var fileIndex = $scope[fileName].length;

                var fileToUpload = {
                    name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    date: new Date(),
                    author:  $scope.taskAssignee
                };
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/put/' + fileToUpload.path,
                    transformResponse: []
                }).then(function (response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope[fileName].push(fileToUpload);
                                angular.element(document.querySelector('#' + fileName)).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }, function(error){
                    console.log(error.data);
                });
            }

            $scope.clearFile = function (list, fileIndex) {
                $scope[list].splice(fileIndex, 1);
            }

            $scope.fileDownload = function (file) {
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/get/' + file.path,
                    transformResponse: []
                }).then(function (response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            }
        }]);

    </script>
    <div class="form-group">
        <label class="col-sm-12 control-label">
            <p/> <b>Business key: </b>{{businessKey}}
        </label>
    </div>
    <leasing-candidate leasing-candidate="leasingCandidate"></leasing-candidate>
    <iframe id="fileDownloadIframe" style="display:none;"></iframe>

    <!-- <div class="form-group">
        <label class="col-md-4 control-label">Download RR:</label>
        <div class="col-sm-8">
            <a ng-click="fileDownload(rrFile)">{{rrFile.name}}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">RR files:</label>
        <div class="col-sm-8">
            <div ng-show="newCandidateRRFiles.length > 0" class="input-group" ng-repeat="file in newCandidateRRFiles">
                {{$index + 1}}.
                <a ng-click="fileDownload(file)">{{file.name}}</a>
            </div>
        </div>
    </div> -->

    <!-- <leasing-files leasing-files="leasingCandidate"></leasing-files> -->
    <leasing-attachments leasing-files="leasingFiles"></leasing-attachments>
    <div class="form-group" ng-hide="true">
        <label class="col-sm-4 control-label">Letter Status</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="requestTechnicalParametersKPForFETaskResult" ng-model="requestTechnicalParametersKPForFETaskResult" value="letterInProgress">Letter is progress
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Upload files:</label>
        <div class="col-sm-8">
            <div ng-show="requestTechnicalParametersKPForFEFiles.length > 0" class="input-group" ng-repeat="file in requestTechnicalParametersKPForFEFiles">
                {{$index + 1}}.
                <a ng-click="fileDownload(file)">{{file.name}}</a> | <a ng-click="clearFile('requestTechnicalParametersKPForFEFiles', $index)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <ng-form name="kcell_material_file_form">
                <input type="file" class="form-control" id="requestTechnicalParametersKPForFEFiles" name="requestTechnicalParametersKPForFEFiles" ng-model="file.file" onchange="angular.element(this).scope().fileSelected(this, 'requestTechnicalParametersKPForFEFiles')"/>
            </ng-form>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" ng-model="requestTechnicalParametersKPForFETaskComment" name="requestTechnicalParametersKPForFETaskComment" placeholder="Comments..." maxlength="500" rows="4" style="resize:none"></textarea>
        </div>
    </div>
</form>
