<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'resolutions',
                'ncpID',
                'siteType',
                'regionName',
                'latitude',
                'longitude',
                'initiator',
                'project',
                'reason',
                'part',
                'plannedCabinetType',
                'targetCoverage',
                'rbsType',
                'bands',
                'rrFile',
                'newCandidateRRFiles',
                'candidate',
                'cellAntenna',
                'renterCompany',
                'transmissionAntenna',
                'powerSource',
                'farEndInformation',
                'receivingTSForCandiateSiteFiles',
                'receivingContractPSDFiles',
                'receivingApprovalFromTheLandlordFiles',
                'modifyCandidateRRFiles',
                'estimateTechnicalCapabilityResFiles',
                'requestTechnicalParametersKPForFEFiles',
                'confirmReceiptResponseKPForFEFiles',
                'signingLeaseContractAddAgreementKPForFEFiles',
                'leasingProceduresStatusFE',
                'address'
            ];

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.taskAssignee = result.data.assignee;
                },
                function (error) {
                    console.log(error.data);
                }
            );

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                        function(result){
                            $scope.processInstanceId = result.data.processInstanceId;
                            $http.get('/camunda/api/engine/engine/default/process-instance/' + $scope.processInstanceId).then(
                                function(result){
                                    console.log('process-instance/')
                                    console.log(result.data)
                                    $scope.businessKey = result.data.businessKey;
                                },
                                function (error) {console.log(error.data);}
                            );
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $scope.leasingCandidate = {};
                $scope.leasingFiles = [];
            });

            camForm.on('variables-fetched', function () {
                $scope.signingLeaseContractAddAgreementKPForFEFiles = [];
                variables.forEach(function (el) {
                    if(camForm.variableManager.variables[el].value){
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.leasingCandidate[el] = camForm.variableManager.variables[el].value;
                        if ( el.toLowerCase().includes('file') ) {
                            $scope.leasingFiles = $scope.leasingFiles.concat(camForm.variableManager.variables[el].value)
                        }
                    }
                });
                camForm.variableManager.createVariable({
                    name: 'signingLeaseContractAddAgreementKPForFETaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'signingLeaseContractAddAgreementKPForFEApprovalStatus',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'signingLeaseContractAddAgreementKPForFETaskComment',
                    type: 'String',
                    value: ''
                });
                $scope.signingLeaseContractAddAgreementKPForFETaskResult = '';
                $scope.view.variablesFetched = true;
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('signingLeaseContractAddAgreementKPForFETaskResult', $scope.signingLeaseContractAddAgreementKPForFETaskResult);
                camForm.variableManager.variableValue('signingLeaseContractAddAgreementKPForFETaskComment', $scope.signingLeaseContractAddAgreementKPForFETaskComment);
                // camForm.variableManager.variableValue('leasingProceduresStatusFE', $scope.signingLeaseContractAddAgreementKPForFETaskResult);
                if(!camForm.variableManager.variables['signingLeaseContractAddAgreementKPForFEFiles'].type){
                    camForm.variableManager.destroyVariable('signingLeaseContractAddAgreementKPForFEFiles');
                    camForm.variableManager.createVariable({
                        name: 'signingLeaseContractAddAgreementKPForFEFiles',
                        type: 'Json',
                        value: $scope.signingLeaseContractAddAgreementKPForFEFiles
                    });
                } else {
                    camForm.variableManager.variableValue('signingLeaseContractAddAgreementKPForFEFiles', $scope.signingLeaseContractAddAgreementKPForFEFiles);
                }
                if($scope.signingLeaseContractAddAgreementKPForFETaskResult === 'reject') {
                    camForm.variableManager.variableValue('leasingProceduresStatusFE', 'reject');
                } else {
                    camForm.variableManager.variableValue('leasingProceduresStatusFE', 'waitContract');
                }
                camForm.variableManager.destroyVariable('resolutions');
            });

            $scope.fileSelected = function (el, fileName) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0], fileName);
                    });
                })
            };

            function uploadFileToMinio(file, fileName) {
                var fileIndex = $scope[fileName].length;

                var fileToUpload = {
                    name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    date: new Date(),
                    author:  $scope.taskAssignee
                };
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/put/' + fileToUpload.path,
                    transformResponse: []
                }).then(function (response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope[fileName].push(fileToUpload);
                                angular.element(document.querySelector('#' + fileName)).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }, function(error){
                    console.log(error.data);
                });
            }

            $scope.singleFileSelected = function (el, fileName) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadSingleFileToMinio(el.files[0], fileName);
                    });
                })
            };

            function uploadSingleFileToMinio(file, fileName) {
                var fileToUpload = {
                    name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-')
                };
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/put/' + fileToUpload.path,
                    transformResponse: []
                }).then(function (response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope[fileName] = fileToUpload;
                                angular.element(document.querySelector('#' + fileName)).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }, function(error){
                    console.log(error.data);
                });
            }

            $scope.clearFile = function (list, fileIndex) {
                $scope[list].splice(fileIndex, 1);
            }

            $scope.clearSingleFile = function (list) {
                $scope[list] = undefined;
            }

            $scope.fileDownload = function (file) {
                $http({
                    method: 'GET',
                    url: '/camunda/uploads/get/' + file.path,
                    transformResponse: []
                }).then(function (response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            }
        }]);

    </script>
    <div class="form-group">
        <label class="col-sm-12 control-label">
            <p/> <b>Business key: </b>{{businessKey}}
        </label>
    </div>
     <leasing-candidate ng-if="view.variablesFetched" leasing-candidate="leasingCandidate"></leasing-candidate>

    <iframe id="fileDownloadIframe" style="display:none;"></iframe>

    <!-- <div class="form-group">
        <label class="col-md-4 control-label">Download RR:</label>
        <div class="col-sm-8">
            <a ng-click="fileDownload(rrFile)">{{rrFile.name}}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">RR files:</label>
        <div class="col-sm-8">
            <div ng-show="newCandidateRRFiles.length > 0" class="input-group" ng-repeat="file in newCandidateRRFiles">
                {{$index + 1}}.
                <a ng-click="fileDownload(file)">{{file.name}}</a>
            </div>
        </div>
    </div>

    <leasing-files leasing-files="leasingCandidate"></leasing-files> -->
    <leasing-attachments leasing-files="leasingFiles"></leasing-attachments>

    <div class="form-group">
        <label class="col-sm-4 control-label">Approval Status</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="signingLeaseContractAddAgreementKPForFETaskResult" ng-model="signingLeaseContractAddAgreementKPForFETaskResult" value="approved" required>Approve
            </label>
            <label class="radio-inline">
                <input type="radio" name="signingLeaseContractAddAgreementKPForFETaskResult" ng-model="signingLeaseContractAddAgreementKPForFETaskResult" value="reject" required>Reject
            </label>
            <label class="error" ng-show="kcell_form.signingLeaseContractAddAgreementKPForFETaskResult.$error.required && ( kcell_form.signingLeaseContractAddAgreementKPForFETaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label">Upload files:</label>
        <div class="col-sm-8">
            <div ng-show="signingLeaseContractAddAgreementKPForFEFiles.length > 0" class="input-group" ng-repeat="file in signingLeaseContractAddAgreementKPForFEFiles">
                {{$index + 1}}.
                <a ng-click="fileDownload(file)">{{file.name}}</a> | <a ng-click="clearFile('signingLeaseContractAddAgreementKPForFEFiles', $index)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <ng-form name="kcell_material_file_form">
                <input type="file" class="form-control" id="signingLeaseContractAddAgreementKPForFEFiles" name="signingLeaseContractAddAgreementKPForFEFiles" ng-model="file.file" onchange="angular.element(this).scope().fileSelected(this, 'signingLeaseContractAddAgreementKPForFEFiles')"/>
            </ng-form>
        </div>
    </div>



    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" ng-model="signingLeaseContractAddAgreementKPForFETaskComment" name="signingLeaseContractAddAgreementKPForFETaskComment" placeholder="Comments..." maxlength="500" rows="4" style="resize:none" ng-required="signingLeaseContractAddAgreementKPForFETaskResult === 'reject'"></textarea>
            <label class="error" ng-show="kcell_form.signingLeaseContractAddAgreementKPForFETaskComment.$error.required && ( kcell_form.signingLeaseContractAddAgreementKPForFETaskComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
</form>
