<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <style>
        .background-yellow-accordion {
            background-color: #ffffcc;
            border: 1px solid #b3b3b3;
            color: #333;
            padding:10px;
        }

    </style>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            camForm.on('form-loaded', function () {
                var currentDate = new Date();
                $scope.finalBands = {};
                $scope.bands = [];
                $scope.dictionary = {};
                $scope.project = {};

                $scope.bandsForUDB = {"G900" : "1",
                    "G1800" : "2",
                    "U900" : "386",
                    "U2100" : "201",
                    "L800" : "325",
                    "L1800" : "347",
                    "L2100" : "201",
                    "L2600" : "385",
                    "G900+G1800" : "301",
                    "G900+G2100" : "302",
                    "G1800+U2100" : "301",
                    "G900+G1800+U2100" : "304",
                    "G1800+U2100-L800-L1800" : "346",
                    "L800+L1800+L2100" : "365",
                    "G900+G1800+U2100+L800" : "345"};
                // $scope.years = [currentDate.getFullYear(), currentDate.getFullYear()-1, currentDate.getFullYear()-2, currentDate.getFullYear()-3, currentDate.getFullYear()-4];

                $http.get('/api/leasingCatalogs?version=1').then(
                    function(result){
                        angular.extend($scope.dictionary, result.data);
                        $scope.dictionary.rbsTypes = [];
                        angular.forEach($scope.dictionary.rbsType, function (rbs) {
                            if($scope.dictionary.rbsTypes.indexOf(rbs.rbsType) < 0){
                                $scope.dictionary.rbsTypes.push(rbs.rbsType);
                            }
                        })
                        $scope.bands = $scope.dictionary.bands;
                        $scope.years = $scope.dictionary.part;
                    },
                    function(error){
                        console.log(error);
                    }
                );

                camForm.variableManager.createVariable({
                    name: 'bands',
                    value: [],
                    type: 'Json'
                });

                camForm.variableManager.createVariable({
                    name: 'regionName',
                    value: '',
                    type: 'String'
                });
                camForm.variableManager.createVariable({
                    name: 'regionCode',
                    value: '',
                    type: 'String'
                });
            });

            camForm.on('submit', function (evt) {
                // evt.submitPrevented = true;
                camForm.variableManager.variableValue('bands', $scope.selectedBands);
                camForm.variableManager.variableValue('regionName', $scope.regionName);
                camForm.variableManager.variableValue('regionCode', $scope.regionCode);

                camForm.variableManager.createVariable({
                    name: 'resolutions',
                    type: 'Json',
                    value: []
                });
                camForm.variableManager.createVariable({
                    name: 'part',
                    type: 'Json',
                    value: $scope.part
                });
                camForm.variableManager.createVariable({
                    name: 'plannedCabinetTypeIdForUDB',
                    type: 'String',
                    value: $scope.plannedCabinetType === 'Indoor' ? '182' : '24'
                });
                camForm.variableManager.createVariable({
                    name: 'initiator',
                    type: 'Json',
                    value: $scope.initiator
                });
                camForm.variableManager.createVariable({
                    name: 'siteType',
                    type: 'Json',
                    value: $scope.siteType
                });
                camForm.variableManager.createVariable({
                    name: 'planingInput',
                    type: 'String',
                    value: 'fromStart'
                });
                camForm.variableManager.createVariable({
                    name: 'bandsIdForUDB',
                    type: 'String',
                    value: $scope.bandsIdForUDB
                });
                if($scope.project){
                    camForm.variableManager.createVariable({
                        name: 'project',
                        value: $scope.project,
                        type: 'Json'
                    });
                    //for search
                    camForm.variableManager.createVariable({
                        name: 'projectForSearch',
                        type: 'String',
                        value: $scope.project.id
                    });
                }
                if ($scope.reason) {
                    camForm.variableManager.createVariable({
                        name: 'reason',
                        value: $scope.reason,
                        type: 'Json'
                    });
                    //for search
                    camForm.variableManager.createVariable({
                        name: 'reasonForSearch',
                        type: 'String',
                        value: $scope.reason.id
                    });
                }

                //for search
                camForm.variableManager.createVariable({
                    name: 'siteTypeForSearch',
                    type: 'String',
                    value: $scope.siteType.id
                });
                camForm.variableManager.createVariable({
                    name: 'initiatorForSearch',
                    type: 'String',
                    value: $scope.initiator.id
                });
                camForm.variableManager.createVariable({
                    name: 'siteRegion',
                    value: $scope.region === 'almaty' ? 'alm' : $scope.region,
                    type: 'String'
                });
                if ($scope.selectedBands && $scope.selectedBands.length > 0) {
                    var bandValues = ',';
                    angular.forEach($scope.selectedBands, function (sb) {
                        bandValues = bandValues + sb.title + ',';
                    });
                    camForm.variableManager.createVariable({
                        name: 'bandsJoinedByComma',
                        type: 'String',
                        value: bandValues
                    });
                }
            });

            $scope.$watch('bands', function (bands) {
                $scope.selectedBands = [];
                bands.forEach(function (b) {
                    if (b.value) {
                        $scope.selectedBands.push(b)
                    }
                })
                $scope.selectedBandsString = ''
                if ($scope.selectedBands.length > 0) {
                    $scope.selectedBands.forEach((b, i) => {
                        $scope.selectedBandsString = $scope.selectedBandsString + (i > 0 ? '+' : '') + b.title
                    })
                    $scope.bandsIdForUDB = $scope.bandsForUDB[$scope.selectedBandsString] ? $scope.bandsForUDB[$scope.selectedBandsString] : null
                }
            }, true);
            $scope.preSubmit = function () {
                var deferred = $q.defer();
                var tempLat;
                var tempLong;
                var validLat = false;
                var validLong = false;

                // latitude check
                if (!isNaN($scope.latitude)) {
                    tempLat = $scope.latitude;
                    if (Number.isInteger(tempLat)) {
                        tempLat = parseInt(tempLat);
                        if (!(tempLat > 40 && tempLat <= 55)) {
                            deferred.reject('Latitude must be in [40.568, 55.440] range');
                            return deferred.promise;
                        } else validLat = true;
                    } else {
                        tempLat = parseFloat(tempLat);
                        if (!(tempLat >= 40.568 && tempLat <= 55.440)) {
                            deferred.reject('Latitude must be in [40.568, 55.440] range');
                            return deferred.promise;
                        } else validLat = true;
                    }
                } else {
                    deferred.reject('Latitude must be in [40.568, 55.440] range');
                    return deferred.promise;
                }

                // longitude check
                if (!isNaN($scope.longitude)) {
                    tempLong = $scope.longitude;
                    if (Number.isInteger(tempLong)) {
                        tempLong = parseInt(tempLong);
                        if (!(tempLong > 46 && tempLong <= 87)) {
                            deferred.reject('Longitude must be in [46.493, 87.315] range');
                            return deferred.promise;
                        } else validLong = true;
                    } else {
                        tempLong = parseFloat(tempLong);
                        if (!(tempLong >= 46.493 && tempLong <= 87.315)) {
                            deferred.reject('Longitude must be in [46.493, 87.315] range');
                            return deferred.promise;
                        } else validLong = true;
                    }
                } else {
                    deferred.reject('Longitude must be in [46.493, 87.315] range');
                    return deferred.promise;
                }
                if (validLat && validLong) {
                    var currentDate = new Date();
                    var rolloutCounter = 'ROLLOUT-' + currentDate.getFullYear().toString();
                    return $http.post('/asset-management/rolloutcounter/' + rolloutCounter).then(
                            function (result) {
                                var businessKey = 'ROLLOUT-' + $scope.ncpID + '-' + currentDate.getFullYear().toString() + '-' + result.data;
                                camForm.businessKey = businessKey;
                            }
                    );
                    deferred.resolve();
                    return deferred.promise;
                }

             }

            $scope.$watch('initiator', function (initiator) {
                $scope.projectsByInitiator = {};
                $scope.reasonsByProject = [];
                $scope.projectsByInitiator = _.find($scope.dictionary.projects, function (p) {
                    return p.initiator === initiator.name;
                })
            }, true);

            $scope.$watch('project', function (project) {
                $scope.reasonsByProject = [];
                $scope.reasonsByProject = _.filter($scope.dictionary.reasons, function (r) {
                    if (_.find(r.project, function (p) {return p === project.name; }) ) { return true} else return false;
                })
            }, true);

            $scope.$watch('ncpID', function (ncpID) {
                if(ncpID && ncpID.length === 5){

                    var firstElement = ncpID.charAt(0);
                    var secondElement = ncpID.charAt(0);
                    if (firstElement === '0') {
                        $scope.region = 'almaty';
                    } else if (firstElement === '1' && secondElement === '1') {
                        $scope.region = 'astana';
                    } else if (firstElement === '1' || firstElement === '2') {
                        $scope.region = 'nc';
                    } else if (firstElement === '3') {
                        $scope.region = 'east';
                    } else if (firstElement === '4') {
                        $scope.region = 'south';
                    } else if (firstElement === '5' || firstElement === '6' || firstElement === '7' || firstElement === '8') {
                        $scope.region = 'west';
                    } else if (firstElement === '9') {
                        $scope.region = undefined;
                    }

                    if (firstElement !== '9') {
                        $scope.regionSelected($scope.region);
                    }
                }
            }, true);

            $scope.regionSelected = function (region) {
                $scope.regionName = _.find($scope.dictionary.regions, function (r) {
                    return r.id === region;
                }).name;
                $scope.regionCode = _.find($scope.dictionary.regions, function (r) {
                    return r.id === region;
                }).code;
            }

            $scope.types = function (rbsType) {
                return Number(rbsType);
            }
        }]);

    </script>
    <div>
        <h4>Create NCP</h4>
    </div>
    <div class="background-yellow-accordion">
        <div class="form-group">
            <label class="col-sm-4 control-label">NCP ID:</label>
            <div class="col-sm-4">
                <input class="form-control" id="ncpID" name="ncpID" required ng-model="ncpID" cam-variable-name="ncpID" cam-variable-type="String" limit-to="5" numbers-only>
                <label class="error" ng-show="kcell_form.ncpID.$error.required && ( kcell_form.ncpID.$touched || view.submitted)">Required field</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Type:</label>
            <div class="col-sm-4">
                <select class="form-control" id="siteType" name="siteType"
                        ng-model="siteType"
                        required>
                    <option value="" disabled selected hidden>Select Site type</option>
                    <option ng-repeat="type in dictionary.siteType" ng-value="type">{{type.name}}</option>
                </select>
                <label class="error" ng-show="kcell_form.siteType.$error.required && ( kcell_form.siteType.$touched || view.submitted)">Required field</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Region name:</label>
            <div class="col-sm-4">
                <select class="form-control" id="region" name="region"
                        cam-variable-name="region" cam-variable-type="String"
                        ng-model="region"
                        ng-change="regionSelected(region)"
                        required ng-disabled="!ncpID.startsWith('9')">
                    <option value="{{r.id}}" ng-repeat="r in dictionary.regions" ng-selected="{{r.id == region}}">{{r.name}}</option>
                </select>
                <label class="error" ng-show="kcell_form.region.$error.required && ( kcell_form.region.$touched || view.submitted)">Required field</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Latitude:</label>
            <div class="col-sm-4">
                <input class="form-control" id="latitude" name="latitude" required ng-model="latitude" cam-variable-name="latitude" maxlength="9" cam-variable-type="String">
                <label class="error" ng-show="kcell_form.latitude.$error.required && ( kcell_form.latitude.$touched || view.submitted)">Required field</label>
                <label class="error" ng-show="invalidLatitude">Latitude must be in [40.568, 55.440] range</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Longitude:</label>
            <div class="col-sm-4">
                <input class="form-control" id="longitude" name="longitude" required ng-model="longitude" cam-variable-name="longitude" maxlength="9" cam-variable-type="String">
                <label class="error" ng-show="kcell_form.longitude.$error.required && ( kcell_form.longitude.$touched || view.submitted)">Required field</label>
                <label class="error" ng-show="invalidLongitude">Longitude must be in [46.493, 87.315] range</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Initiator:</label>
            <div class="col-sm-4">
                <select class="form-control" id="initiator" name="initiator"
                        ng-model="initiator"
                        required>
                    <option value="" disabled selected hidden>Select Initiator</option>
                    <option ng-repeat="i in dictionary.initiators" ng-value="i">{{i.name}}</option>
                </select>
                <label class="error" ng-show="kcell_form.initiator.$error.required && ( kcell_form.initiator.$touched || view.submitted)">Required field</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Project:</label>
            <div class="col-sm-4">
                <select class="form-control" id="project" name="project"
                        ng-disabled="!projectsByInitiator"
                        ng-model="project"
                        ng-required="projectsByInitiator">
                    <option ng-repeat="pr in projectsByInitiator.project" ng-value="pr">{{pr.name}}</option>
                </select>
                <label class="error" ng-show="kcell_form.project.$error.required && ( kcell_form.project.$touched || view.submitted)">Required field</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Reason:</label>
            <div class="col-sm-4">
                <select class="form-control" id="reason" name="reason"
                        ng-disabled="!reasonsByProject || reasonsByProject.length == 0"
                        ng-required="reasonsByProject && reasonsByProject.length !== 0"
                        ng-model="reason"
                        required>
                    <option ng-repeat="r in reasonsByProject" ng-value="r">{{r.reason}}</option>
                </select>
                <label class="error" ng-show="kcell_form.reason.$error.required && ( kcell_form.reason.$touched || view.submitted)">Required field</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Part:</label>
            <div class="col-sm-4">
                <select class="form-control" id="part" name="part"
                        ng-model="part"
                        required>
                    <option value="" disabled selected hidden></option>
                    <option ng-repeat="y in years" ng-value="y">{{y.name}}</option>
                </select>
                <label class="error" ng-show="kcell_form.part.$error.required && ( kcell_form.part.$touched || view.submitted)">Required field</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Target Coverage:</label>
            <div class="col-sm-4" style="margin-top: 5px">
                <textarea style="resize:vertical;"  class="form-control" rows="4" maxlength="500" name="targetCoverage" cam-variable-name="targetCoverage" cam-variable-type="String" ng-model="targetCoverage"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Planned cabinet type:</label>
            <div class="col-sm-4">
                <select class="form-control" id="plannedCabinetType" name="plannedCabinetType"
                        cam-variable-name="plannedCabinetType" cam-variable-type="String"
                        ng-model="plannedCabinetType"
                        required>
                    <option value="" disabled selected hidden>Select Cabinet type</option>
                    <option value="Indoor">Indoor</option>
                    <option value="Outdoor">Outdoor</option>
                </select>
                <label class="error" ng-show="kcell_form.plannedCabinetType.$error.required && ( kcell_form.plannedCabinetType.$touched || view.submitted)">Required field</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">RBS type:</label>
            <div class="col-sm-4">
                <select class="form-control" id="rbsType" name="rbsType"
                        cam-variable-name="rbsType" cam-variable-type="String"
                        ng-model="rbsType" required>
                    <option value="" disabled selected hidden>Select RBS type</option>
                    <option ng-repeat="r in dictionary.rbsTypes | orderBy: types">{{r}}</option>
                </select>
                <label class="error" ng-show="kcell_form.rbsType.$error.required && ( kcell_form.rbsType.$touched || view.submitted)">Required field</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Bands:</label>
            <div class="col-sm-4">
                <div class="form-check col-sm-6" ng-repeat="band in bands track by $index">
                    <input type="checkbox" name="bandValues" ng-model="band.value" class="form-check-input" id="{{'check' + $index}}" ng-required="!selectedBands || selectedBands.length==0">
                    <label class="form-check-label" for="{{'check' + $index}}">{{ band.title }}</label>
                </div>
                <label class="error" ng-show="kcell_form.bandValues.$error.required && ( kcell_form.bandValues.$touched || view.submitted)">Required field</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Selected bands:</label>
            <div class="col-sm-4">
                <span ng-repeat="band in selectedBands" >{{$index == 0?' ': ' + ' }}{{band.title}}</span>
                <input class="form-control" ng-hide="true" id="bandsIdForUDB" name="bandsIdForUDB" required ng-model="bandsIdForUDB">
                <label class="error" ng-show="kcell_form.bandsIdForUDB.$error.required && ( kcell_form.bandsIdForUDB.$touched || view.submitted)">Недопустимое значение</label>
            </div>
        </div>


    </div>

    <div class="form-group" style="margin-top:10px;">
        <label class="control-label col-sm-4">Comments:</label>
        <div class="col-sm-8" style="margin-top: 5px">
            <textarea style="resize:vertical;"  class="form-control" rows="4" maxlength="500" name="createNCPTaskComment" cam-variable-name="createNCPTaskComment" cam-variable-type="String" ng-model="createNCPTaskComment"></textarea>
        </div>
    </div>
</form>
