<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <style>
        .background-yellow-accordion .panel-body {
            background-color: #ffffcc;
            border: 1px solid #b3b3b3;
            color: #333;
        }
    </style>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
            $scope.legalInfo = {};
            $scope.resolutions = [];
            $scope.attachments = [];
            $scope.tcf = {deadline: new Date(), richText: null};
            $scope.richTextChecker = null;

            var attachmentsChanges = {added: [], removed: []};

            $scope.processInstanceId = null;
            $scope.taskId = camForm.taskId;
            var assigneeName = $rootScope.authentication.name;

            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.processInstanceId = result.data.processInstanceId;
                    $http.get('/camunda/api/engine/engine/default/process-instance/' + $scope.processInstanceId).then(
                        function(result){
                            $scope.businessKey = result.data.businessKey;
                        },
                        function (error) {console.log(error.data);}
                    );
                },
                function (error) { console.log(error.data);}
            );

            var x = 0;

            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('legalInfo');
                camForm.variableManager.fetchVariable('resolutions');
                camForm.variableManager.fetchVariable('attachments');
                camForm.variableManager.fetchVariable('tcfName');
                camForm.variableManager.fetchVariable('workType');
                camForm.variableManager.fetchVariable('action');
                camForm.variableManager.fetchVariable('pbxData');
            });

            camForm.on('variables-fetched', function () {
                $scope.legalInfo = camForm.variableManager.variableValue('legalInfo');
                $scope.resolutions = camForm.variableManager.variableValue('resolutions');
                $scope.attachments = camForm.variableManager.variableValue('attachments');
                $scope.tcfName = camForm.variableManager.variableValue('tcfName');
                $scope.workType = camForm.variableManager.variableValue('workType');
                $scope.action = camForm.variableManager.variableValue('action');
                $scope.pbxData = camForm.variableManager.variableValue('pbxData');

                if (!$scope.legalInfo) $scope.legalInfo = {};

                if ($scope.tcfName) {
                    $http.get('/camunda/api/engine/engine/default/process-instance/' + $scope.processInstanceId + '/variables/'+$scope.tcfName+'?deserializeValue=false').then(
                        function(result){
                            $scope.tcf = JSON.parse(result.data.value);
                            $scope.richTextChecker = $scope.tcf.richText;
                            if (!$scope.tcf.deadline) $scope.tcf.deadline = new Date();
                            else $scope.tcf.deadline = new Date($scope.tcf.deadline);
                            camForm.variableManager.destroyVariable($scope.tcfName);
                        },
                        function (error) {
                            $scope.tcf = {deadline: new Date(), richText: null};
                        }
                    );
                } else {
                    $scope.tcfName = 'tcf';
                    $scope.tcf = {deadline: new Date(), richText: null};
                }

                camForm.variableManager.createVariable({
                    name: $scope.tcfName+'CreateTaskResult',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: $scope.tcfName+'CreateTaskComment',
                    type: 'String',
                    value: ''
                });

                camForm.variableManager.createVariable({
                    name: $scope.tcfName+'CreateTaskAttachments',
                    type: 'Json',
                    value: {}
                });
            });

            $scope.preSubmit = function() {
                return $http.get('/camunda/api/engine/engine/default/process-instance/'+$scope.processInstanceId+'/variables/attachments?deserializeValue=false').then(function (result) {
                    if (result && result.data) {
                        var lastAttachments = JSON.parse(result.data.value);
                        for (var attachment of $scope.attachments) {
                            if (!lastAttachments.find(function(e) {return e.path == attachment.path;})) {
                                lastAttachments.push(attachment);
                                attachmentsChanges.added.push(attachment);
                            }
                        }
                        for (var i = 0; i < lastAttachments.length; i++) {
                            if (!$scope.attachments.find(function(e) {return e.path == lastAttachments[i].path;})) {
                                attachmentsChanges.removed.push(lastAttachments[i]);
                                lastAttachments.splice(i, 1);
                                i--;
                            }
                        }
                        $scope.attachments = lastAttachments;
                    }
                },
                function(error){
                    toasty.error(error.data.message);
                });
            };

            camForm.on('submit', function (event) {
                camForm.variableManager.destroyVariable('action');
                camForm.variableManager.createVariable({
                    name: 'action',
                    type: 'Json',
                    value: $scope.action,
                    store: true
                });
                camForm.variableManager.destroyVariable('attachments');
                camForm.variableManager.createVariable({
                    name: 'attachments',
                    type: 'Json',
                    value: $scope.attachments,
                    store: true
                });
                camForm.variableManager.createVariable({
                    name: $scope.tcfName,
                    type: 'Json',
                    value: $scope.tcf,
                    store: true
                });
                camForm.variableManager.variableValue($scope.tcfName+'CreateTaskResult', 'Complete');
                camForm.variableManager.variableValue($scope.tcfName+'CreateTaskComment', $scope.comment);
                camForm.variableManager.variableValue($scope.tcfName+'CreateTaskAttachments', attachmentsChanges);
            });

            $scope.downloadFile = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/' + (file.path.split('/').length === 2 ? 'tmp/' : '') + 'get/' + file.path, transformResponse: [] }).then(
                    function(response) {
                        document.getElementById('fileDownloadIframe').src = response.data;
                    },
                    function(response) {console.log(response.data);}
                );
            }

            $scope.clearFile = function(fileIndex) {
                $scope.attachments.splice(fileIndex, 1);
            }

            $scope.fileSelected = function(el) {
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0]);
                    });
                });
            };
            function uploadFileToMinio(file) {
                var fileToUpload = {
                    name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                    created: new Date(),
                    createdBy: assigneeName
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.path, transformResponse: [] }).then(
                    function(response) {
                        $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope.attachments.push(fileToUpload);
                                angular.element(document.querySelector('#attachments')).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                        );
                    },
                    function(response) { console.log(response.data); }
                );
            }
            $scope.$watch('tcf.richText', function(v) {
                $scope.richTextChecker = $scope.tcf.richText;
                if ($scope.tcf.richText === '<p><br></p>') $scope.richTextChecker = null;
            }, true);
        }]);
    </script>

    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Number request:</label>
        <div class="col-sm-9">{{businessKey}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Client:</label>
        <div class="col-sm-9">{{legalInfo.legalName}} {{legalInfo.BIN}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Priority:</label>
        <div class="col-sm-9">{{legalInfo.clientPriority}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Service:</label>
        <div class="col-sm-9">PBX</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Type of work:</label>
        <div class="col-sm-9"><div ng-repeat="wt in workType track by $index">{{wt}}</div></div>
    </div>

    <div class="col-sm-12"><hr /></div>

    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0">Subject (TIC name):</label>
        <div class="col-sm-9">{{legalInfo.ticName}}</div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Deadline:</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" ng-model="tcf.deadline" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="tcfDeadlineFieldOpened"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="tcfDeadlineFieldOpened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Actual tariff plan: </label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="action.tariffPlan" ng-style="{'background-color': (pbxData.fetched && pbxData.tariffPlan !== action.tariffPlan ? 'orange' : null)}">
                <option value="Стартовый 5">Стартовый 5</option>
                <option value="Стартовый 10">Стартовый 10</option>
                <option value="Бизнес пакет 30">Бизнес пакет 30</option>
                <option value="Бизнес пакет 50">Бизнес пакет 50</option>
                <option value="Нестандартный тариф">Нестандартный тариф</option>
            </select>

            <input type="text" ng-show="action.tariffPlan == 'Нестандартный тариф'" class="form-control" style="margin-top: 3px;" ng-model="action.tariffExtra" placeholder="Укажите тариф" ng-style="{'background-color': (pbxData.fetched && pbxData.tariffExtra !== action.tariffExtra ? 'orange' : null)}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label">TCF: <span class="has-error" ng-if="kcell_form.tcfRichText.$error.required && (kcell_form.tcfRichText.$touched || view.submitted)">(Required field)</span></label>
        <div class="col-sm-12">
            <aftersales-rich-text data="tcf.richText" min-height="100" disabled="false" process-id="processInstanceId" task-id="taskId"></aftersales-rich-text>
            <input type="hidden" name="tcfRichText" style="width: 0; height: 0" ng-model="richTextChecker" required />
        </div>
    </div>

    <iframe id="fileDownloadIframe" style="display:none;"></iframe>
    <div class="form-group">
        <label class="col-sm-2 control-label">Attachments</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)"/>
            <div class="col-sm-12" style="padding: 0;">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created</th>
                        <th>Created By</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="file in attachments track by $index">
                        <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
                        <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
                        <td>{{file.createdBy}}</td>
                        <td><a ng-click="clearFile($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-12"><hr /></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-10">
            <textarea elastic-textarea class="form-control" rows="4" ng-model="comment"></textarea>
        </div>
    </div>
</form>
