<form role="form" class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-4 control-label">Resolution</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="result" ng-model="result" value="approved" required> Approved
                </label>
                <label class="radio-inline">
                    <input type="radio" name="result" ng-model="result" value="rejected" required> Rejected
                </label>
            </div>
        </div>
    </div>
</form>