<!doctype html>
<html>
	<head>
		<title>KcellFlow - Tasklist</title>
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no, initial-scale=1.0" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link href="css/all.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<nav class="navbar navbar-default app-header" ng-cloak>
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/" title="KcellFlow Tasklist ">
						<span class="brand-logo"></span>
					</a>
				</div>
				<ul class="nav navbar-nav" ng-if="$root.authUser" ng-cloak>
					<li>
						<a ng-click="$root.modalStartProcess()">Start Process</a>
					</li>
					<li ng-if="hasGroup('port_search') || ((hasGroup('power_search')||hasGroup('kcellUsers')||hasGroup('search_revision_contractors') ) && ( ($root.isProjectAvailable('NetworkInfrastructure') || $root.isProjectAvailable('DeliveryPortal') || $root.isProjectAvailable('DemandUAT'))  ))" ng-class="{active: $root.currentPage.name === 'start'}" >
						<a href="#/search">Search</a>
					</li>
					<li ng-if="$root.currentPage.name === 'statistics'" ng-class="{active: $root.currentPage.name === 'statistics'}" >
						<a href="#/tasks">Tasklist</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-show="$root.authUser">
					<li class="dropdown" dropdown ng-if="$root.authUser">
						<a class="dropdown-toggle" dropdown-toggle>{{$root.authUser.firstName}} {{$root.authUser.lastName}}<span class="caret"></span></a>
						<ul class="dropdown-menu" dropdown>
							<li><a href="/camunda/app/welcome/default/">Profile</a></li>
							<li ng-if="$root.authentication.authorizedApps && $root.authentication.authorizedApps.length >= 3" ng-repeat="app in $root.authentication.authorizedApps" ng-show="app =='admin' || app === 'cockpit'">
								<a href="/camunda/app/{{app}}/default/" class="app-name">{{app}}</a></li>
							</li>
							<li ng-if="!$root.authentication.authorizedApps" ng-repeat="(appName, app) in $root.apps">
								<a href="/camunda/app/{{appName}}/default/" class="app-name">{{app.label}}</a></li>
							</li>
							<li class="divider"></li>
							<li>
								<a ng-click="$root.logout()" class="ng-binding">
									<i class="glyphicon glyphicon-log-out"></i>  Sign out
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div id="showUseChrome" style="display: none;position: absolute; top: 40%; margin-top: -50px; width: 100%;text-align: center">
			<img src="img/chrome.png" width="128px">
			<h1>Please use Chrome Browser</h1>
		</div>

		<div class="layout" ui-view></div>
		<toasty></toasty>
		<style type="text/css">
            .app-splash { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: table; background:rgba(255,255,255,0.5);z-index: 1081;}
            .app-splash > div { display: table-cell; vertical-align: middle; text-align: center; }
          </style>
          <div class="app-splash" id="loaderDiv" style="display: none;"><div>
            <img src="img/spinner.gif" />
          </div></div>
		<script src="js/node_modules/requirejs/require.js" data-main="js/main.js"></script>
	</body>
</html>
