<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'Upload', '$timeout', function ($scope, $http, Uri, $rootScope, $q, Upload, $timeout) {
            var variables = [
                'initiatorFull',
                'region',
                'workType',
                'regionLabel',
                'workTypeLabel',
                'periodDate',
                'jobRequests',
                'resolutions',
                'selectedRevisions',
                'regularDelay',
                'emergencyDelay',
                'monthActNumber',
                'formalPeriod',
                'monthOfFormalPeriod',
                'yearOfFormalPeriod',
                'mainContract',
                'rolloutActType',
                'invoiceNumber'
            ];

            $scope.invoice = {showFinanceInfo:true};
            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                    },
                    function (error) {
                        console.log(error.data);
                    }
            );
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                camForm.variableManager.createVariable({
                    name: 'centralGroupTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'centralGroupSpecialistCommentVisibility',
                    type: 'String',
                    value: ''
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if(el === 'resolutions'){
                        if(camForm.variableManager.variables[el] && camForm.variableManager.variables[el].value){
                            $scope.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId="+resolution.processInstanceId+"&taskId=" + resolution.taskId);
                            })).then(function (tasks) {
                                tasks.forEach(function (e, index) {
                                    if(e.data.length > 0){
                                        $scope.resolutions[index].taskName = e.data[0].name;
                                        try {
                                            $scope.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                            $scope.resolutions[index].assignDate = new Date(e.data[0].startTime);
                                        } catch(e){
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                            $q.all($scope.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/identity-link-log?type=assignee&taskId=" + resolution.taskId + "&operationType=add&sortBy=time&sortOrder=desc");
                            })).then(function (logs) {
                                logs.forEach(function (e, index) {
                                    if(e.data.length > 0){
                                        try {
                                            $scope.resolutions[index].claimDate = new Date(e.data[0].time);
                                        } catch(e){
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                        }
                    } else {
                        $scope.invoice[el] = camForm.variableManager.variables[el];
                    }
                    $scope[el] = camForm.variableManager.variables[el].value;
                });
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('centralGroupTaskResult', $scope.centralGroupTaskResult);
                if($scope.centralGroupSpecialistComment){
                    camForm.variableManager.variableValue('centralGroupSpecialistComment', $scope.centralGroupSpecialistComment);
                }
                var visibility = 'all';
                if($scope.centralGroupSpecialistCommentVisibility){
                    camForm.variableManager.variableValue('centralGroupSpecialistCommentVisibility', $scope.centralGroupSpecialistCommentVisibility);
                    visibility = $scope.acceptAndSignByInitiatorCommentVisibility;
                }

                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }
                $scope.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, assigneeName: $rootScope.authentication.assigneeName, position: 'Center specialist', resolution: $scope.centralGroupTaskResult, comment: $scope.centralGroupSpecialistComment, taskId: camForm.taskId, visibility: visibility});
                camForm.variableManager.variableValue('resolutions', $scope.resolutions);
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('centralGroupTaskResult', $scope.centralGroupTaskResult);
            });

            $scope.isVisible = function (resolution) {
                return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.centralGroupSpecialistComment && $rootScope.hasGroup('kcellUsers');
            }
        }]);
    </script>

    <h4>Monthly Act #{{monthActNumber}} of accepted {{invoice.workTypeLabel.value}} according to "Contract Agreement for Revision Works Performing" between АО "Кселл"/Kcell JSC and "Line System Engineering" LLP/ТОО "Line System Engineering" for {{formalPeriod}}. </h4>

    <invoice-detail invoice="invoice"></invoice-detail>

    <div class="form-group">
        <label class="col-sm-4 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="centralGroupTaskResult" ng-model="centralGroupTaskResult" value="accept" required> Accept and sign
            </label>
            <label class="radio-inline">
                <input type="radio" name="centralGroupTaskResult" ng-model="centralGroupTaskResult" value="returnForCorrection" required> Return for correction
            </label>
            <label class="error" ng-show="kcell_form.centralGroupTaskResult.$error.required && ( kcell_form.centralGroupTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="4" maxlength="500" cam-variable-name="centralGroupSpecialistComment" name="centralGroupSpecialistComment" ng-required="centralGroupTaskResult == 'returnForCorrection'" cam-variable-type="String"></textarea>
            <label class="error" ng-show="kcell_form.centralGroupSpecialistComment.$error.required && ( kcell_form.centralGroupSpecialistComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="centralGroupSpecialistCommentVisibility"
                       ng-model="centralGroupSpecialistCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="centralGroupSpecialistCommentVisibility"
                       ng-model="centralGroupSpecialistCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.centralGroupSpecialistCommentVisibility.$error.required && ( kcell_form.centralGroupSpecialistCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
</form>
