<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'Upload', '$timeout', function ($scope, $http, Uri, $rootScope, $q, Upload, $timeout) {
            var variables = [
                'initiatorFull',
                'region',
                'workType',
                'regionLabel',
                'workTypeLabel',
                'periodDate',
                'jobRequests',
                'resolutions',
                'selectedRevisions',
                'regularDelay',
                'emergencyDelay',
                'monthActNumber',
                'formalPeriod',
                'monthOfFormalPeriod',
                'yearOfFormalPeriod',
                'signedScanCopyFileName',
                'mainContract',
                'rolloutActType',
                'invoiceNumber',
                'delayChanges'
            ];

            $scope.invoice = {showFinanceInfo:true};
            $scope.invoice.files = [];
            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                    },
                    function (error) {
                        console.log(error.data);
                    }
            );
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });
                camForm.variableManager.createVariable({
                    name: 'enterInvoiceNumberTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'enterInvoiceNumberCommentVisibility',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'invoiceDate',
                    type: 'Date',
                    submit: true,
                    store: true
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if(el === 'resolutions'){
                        $scope.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                    } else if (el === 'signedScanCopyFileName') {
                        $scope[el] = camForm.variableManager.variables[el].value;
                        $scope.invoice.files.push(camForm.variableManager.variables[el].value);
                    } else if(el === 'attachInvoiceFileName') {
                        $scope[el] = camForm.variableManager.variables[el];
                        $scope[el].type = 'Json';
                    } else {
                        $scope.invoice[el] = camForm.variableManager.variables[el];
                    }
                });
            });
            console.log($scope.invoice);
            camForm.on('submit', function () {
                var files = [];
                $scope.enterInvoiceNumberTaskResult = 'accept';
                camForm.variableManager.variableValue('enterInvoiceNumberTaskResult', $scope.enterInvoiceNumberTaskResult);
                camForm.variableManager.createVariable({
                    name: 'ma_invoice_numberTaskResult',
                    type: 'String',
                    value: $scope.enterInvoiceNumberTaskResult
                });
                if($scope.enterInvoiceNumberComment){
                    camForm.variableManager.variableValue('enterInvoiceNumberComment', $scope.enterInvoiceNumberComment);
                    camForm.variableManager.createVariable({
                        name: 'ma_invoice_numberTaskComment',
                        type: 'String',
                        value: $scope.enterInvoiceNumberComment
                    });
                }
                
                if($scope.attachInvoiceFileName && $scope.attachInvoiceFileName.value.isNew){
                    files.push($scope.attachInvoiceFileName.value.name);
                    delete $scope.attachInvoiceFileName.value.isNew;
                }

                var attachedFiles = [];
                if(camForm.variableManager.variables['attachInvoiceFileName']){
                    if($scope.attachInvoiceFileName){
                        camForm.variableManager.variableValue('attachInvoiceFileName', $scope.attachInvoiceFileName.value);
                        attachedFiles.push($scope.attachInvoiceFileName.value);
                    } else{
                        camForm.variableManager.variableValue('attachInvoiceFileName', null);
                    }
                } else if($scope.attachInvoiceFileName) {
                    camForm.variableManager.createVariable($scope.attachInvoiceFileName);
                    attachedFiles.push($scope.attachInvoiceFileName.value.name);
                    camForm.variableManager.createVariable({
                        name: 'ma_invoice_numberFiles',
                        type: 'Json',
                        value: attachedFiles
                    });
                }
                
                var invoiceDate = new Date($scope.invoiceDate);
                camForm.variableManager.variableValue('invoiceDate', invoiceDate);

                var visibility = 'all';
                if($scope.enterInvoiceNumberCommentVisibility){
                    camForm.variableManager.variableValue('enterInvoiceNumberCommentVisibility', $scope.enterInvoiceNumberCommentVisibility);
                    camForm.variableManager.createVariable({
                        name: 'ma_invoice_numberTaskCommentVisibility',
                        type: 'String',
                        value: $scope.enterInvoiceNumberCommentVisibility
                    });
                }
                camForm.variableManager.variableValue('invoiceNumber', $scope.invoice.invoiceNumber.value);
                camForm.variableManager.destroyVariable('resolutions');
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('enterInvoiceNumberTaskResult', $scope.enterInvoiceNumberTaskResult);
            });

            $scope.isVisible = function (resolution) {
                return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.enterInvoiceNumberComment && $rootScope.hasGroup('kcellUsers');
            }

            $scope.download = function (file) {
                console.log(file);
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.value.path, transformResponse: [] }).
                then(function(response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            }

            $scope.fileSelected = function(el, fileName){
                if(el.files[0]){
                    $timeout(function () {
                        $scope.$apply(function () {
                            uploadFileToMinio(el.files[0], fileName);
                        });
                    })                } else {
                    $scope.$apply(function(){
                        $scope[fileName] = undefined;
                    });
                }
            };

            function uploadFileToMinio(file, fileName) {
                var fileToUpload = {
                    name: 'attachInvoiceFileName',
                    type: 'Json',
                    value: {
                        name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
                        isNew : true,
                        path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-')
                    }
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.value.path, transformResponse: [] }).
                then(function(response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope[fileName] = fileToUpload;
                                angular.element(document.querySelector('#'+fileName)).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }, function(error){
                    console.log(error.data);
                });
            }

            $scope.clearFile = function(filename){
                delete $scope[filename];
            };

            $scope.open = function($event) {
                $event.preventDefault();
                $event.stopPropagation();
                $scope.dateFieldOpened = true;
            };

        }]);
    </script>
    <div class="row">
        <div class="col-sm-10">
            <h4>Monthly Act #{{monthActNumber}} of accepted {{invoice.workTypeLabel.value}} according to "Contract Agreement for Revision Works Performing" between АО "Кселл"/Kcell JSC and "Line System Engineering" LLP/ТОО "Line System Engineering" for {{formalPeriod}}. </h4>
        </div>
    </div>
    <invoice-detail invoice="invoice"></invoice-detail>

    <div class="form-group">
        <label class="col-sm-4 control-label">Invoice Number:</label>
        <div class="col-sm-8">
            <input type="text" name="invoiceNumber" id='invoiceNumber' ng-model="invoice.invoiceNumber.value" class="form-control" required>
            <label class="error" ng-show="kcell_form.invoiceNumber.$error.required && ( kcell_form.invoiceNumber.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Invoice Date:</label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" ng-model="invoiceDate" name="invoiceDate" required class="form-control" datepicker-popup="dd.MM.yyyy" is-open="dateFieldOpened" id="invoiceDate" min-date="datepickerOptions.minDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
            <label class="error" ng-show="kcell_form.invoiceDate.$error.required && ( kcell_form.invoiceDate.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <iframe id="fileDownloadIframe" style="display:none;"></iframe>
    <div class="form-group">
        <label class="col-sm-4 control-label">Прикрепить скан:</label>
        <div class="col-sm-8">
            <div ng-show="attachInvoiceFileName.value.name">
                <a ng-click="download(attachInvoiceFileName)">{{attachInvoiceFileName.value.name}}</a> | <a ng-click="clearFile('attachInvoiceFileName')"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <input ng-hide="attachInvoiceFileName.value.name" type="file" class="form-control" id="attachInvoiceFileName" name="attachInvoiceFileName" ng-model="attachInvoiceFileName" required-file="true" onchange="angular.element(this).scope().fileSelected(this, 'attachInvoiceFileName')"/>
            <label class="has-error" ng-show="kcell_form.attachInvoiceFileName.$error.validFile && ( kcell_form.attachInvoiceFileName.$touched || view.submitted)">File is required</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="4" maxlength="500" cam-variable-name="enterInvoiceNumberComment" name="enterInvoiceNumberComment" cam-variable-type="String"></textarea>
            <label class="error" ng-show="kcell_form.enterInvoiceNumberComment.$error.required && ( kcell_form.enterInvoiceNumberComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="enterInvoiceNumberCommentVisibility"
                       ng-model="enterInvoiceNumberCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="enterInvoiceNumberCommentVisibility"
                       ng-model="enterInvoiceNumberCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.enterInvoiceNumberCommentVisibility.$error.required && ( kcell_form.enterInvoiceNumberCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
</form>
