<style>
    .well {
        color: #333;
    }
</style>
<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', function ($scope, $http, Uri, $rootScope, $q) {
            var variables = [
                'requestedDate',
                'jrNumber',
                'initiatorFull',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'site_name',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'project',
                'supplementaryFiles',
                'explanation',
                'resolutions',
                'workPrices',
                'jobWorksTotal',
                'jobWorks',
                'jrBlank',
                'tssrssidFile',
                'tssrssidFileName',
                'kcellWarehouseMaterialsList',
                'contractorZIPWarehouseMaterialsList',
                'kcellWarehouseMaterialsListName',
                'kcellWarehouseMaterialsAdditionalList',
                'contractorZIPWarehouseMaterialsListName',
                'priority',
                'mlApprovalAdditionalInfoFile',
                'contractorJobAssignedDate',
                'mainContract'
            ];

            $scope.contractorCodes = {
                4: 'Line_Eng',
                6: 'ALTA_Tel',
                7: 'Logycom',
                8: 'Arlan_SI'
            }

            $scope.jobModel = {};
            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.processInstanceId = result.data.processInstanceId;
                },
                function (error) {
                    console.log(error.data);
                }
            );
            var Big;
            if(window.require){
                $scope.Big = require('big-js')
                Big = require('big-js')
            }
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get($rootScope.getCatalogsHttpByName('catalogs')).then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name + "/profile").then(
                        function(result){
                            $scope.centralApproval = result.data.firstName + " " +result.data.lastName;
                        },
                        function(error){
                            console.log(error);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'centralGroupHeadApprovalTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'createJRResult',
                    type: 'String',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'centralApproval',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'materialsProvidedBySubcontrator',
                    type: 'String',
                    value: undefined
                });
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if(el === 'workPrices'){
                        $scope.jobModel[el] = JSON.parse(camForm.variableManager.variables[el].originalValue);
                    } else {
                        $scope.jobModel[el] = camForm.variableManager.variables[el];
                        $scope[el] = camForm.variableManager.variables[el].value;
                    }
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
                if(camForm.variableManager.variables['centralGroupHeadApprovalComment']){
                    camForm.variableManager.variableValue('centralGroupHeadApprovalComment', '');
                }
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('workPrices', JSON.parse(angular.toJson($scope.jobModel.workPrices)));
                camForm.variableManager.variableValue('centralGroupHeadApprovalTaskResult', $scope.centralGroupHeadApprovalTaskResult);
                camForm.variableManager.createVariable({
                    name: 'approve_jrTaskResult',
                    type: 'String',
                    value: $scope.centralGroupHeadApprovalTaskResult
                });
                if ($scope.centralGroupHeadApprovalTaskResult === 'approved') {
                    camForm.variableManager.variableValue('createJRResult', 'approved');
                    camForm.variableManager.variableValue('materialsProvidedBySubcontrator', $scope.materialsProvidedBySubcontrator);
                    if($scope.newContractor){
                        camForm.variableManager.variableValue('jrNumber', $scope.jrNumber);
                        camForm.variableManager.variableValue('contractor', $scope.newContractor);
                    }
                } else {
                    camForm.variableManager.variableValue('createJRResult', 'rejected');
                }
                var visibility = 'all';
                if($scope.centralGroupHeadApprovalComment && $scope.centralGroupHeadApprovalCommentVisibility){
                    visibility = $scope.centralGroupHeadApprovalCommentVisibility;
                    camForm.variableManager.createVariable({
                        name: 'approve_jrTaskCommentVisibility',
                        type: 'String',
                        value: $scope.centralGroupHeadApprovalVisibility
                    });
                }
                camForm.variableManager.createVariable({
                    name: 'approve_jrTaskComment',
                    type: 'String',
                    value: $scope.centralGroupHeadApprovalComment
                });
                camForm.variableManager.variableValue('centralApproval', $scope.centralApproval);
                camForm.variableManager.destroyVariable('resolutions');
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('centralGroupHeadApprovalTaskResult', $scope.centralGroupHeadApprovalTaskResult);
            });

            camForm.on('variables-restored', function() {
                $scope.centralGroupHeadApprovalTaskResult = camForm.variableManager.variableValue('centralGroupHeadApprovalTaskResult');
            });

            $scope.isVisible = function (resolution) {
               return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.centralGroupHeadApprovalComment && $rootScope.hasGroup('kcellUsers');
            }

            $scope.calculateBasePriceByQuantity = function(work){
                var unitWorkPrice = Big(work.unitWorkPrice);
                var quantity = Big(work.quantity);
                var result = unitWorkPrice.times(quantity);
                return result.toFixed(2).replace('.',',');
            }

            $scope.calculateBasePriceTotal = function(){
                var total = Big(0.0);
                angular.forEach($scope.jobModel.workPrices, function(work){
                    total = total.plus((work.basePriceByQuantity? Big(work.basePriceByQuantity) : Big(work.unitWorkPrice).times(Big(work.quantity))));
                });
                return total.toFixed(2).replace('.',',');
            }

            $scope.preSubmit = function(){
                var deferred = $q.defer();
                if($scope.contractor === -1 && $scope.centralGroupHeadApprovalTaskResult === 'approved' && $scope.jrNumber.indexOf('##')!==-1){
                    var jrCounter = $scope.jrNumber.replace('-##-', '-'+$scope.contractorCodes[$scope.newContractor]+'-').replace('-####', '');
                    return $http.post('/asset-management/jobrequestcounter/' + jrCounter).then(
                        function(result){
                            $scope.jrNumber = result.data;
                        }
                    );
                } else {
                    deferred.resolve();
                    return deferred.promise;
                }
            }
        }]);
    </script>
    <job-request job-model="jobModel"></job-request>
    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th width="25%">Works</th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out'">Works Qty</th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out'">Materials Qty</th>
                    <th>Type of expenses</th>
                    <th>Sites</th>
                    <th>Base Price</th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out' && jobModel.mainContract.value != 'Roll-outRevision2020'">Base + Transportation +8%</th>
                    <th>Base Price * works q-ty</th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out'">1 work price per site Sum/site q-ty</th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out'">Sum * works q-ty</th>
                    <th style="text-align:right;font-weight: bold;font-size: 16px;background-color: lightpink;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="work in jobModel.workPrices">
                    <td>{{jobModel.worksTitle[work.sapServiceNumber]}}</td>
                    <td ng-if="jobModel.mainContract.value != 'Roll-out'">{{work.quantity}}</td>
                    <td ng-if="jobModel.mainContract.value != 'Roll-out'">{{work.materialQuantity}}</td>
                    <td>{{work.expenseType}}</td>
                    <td><span ng-repeat="rs in work.relatedSites" class="my-tag" ng-class="{'main-site':rs.site_name===jobModel.site_name.value}"><span ng-if="rs.site_name===jobModel.site_name.value">Main Site: </span>{{rs.site_name}}</span></td>
                    <td>{{work.unitWorkPrice.replace('.',',')}}&nbsp;&#8376;</td>
                    <td ng-if="jobModel.mainContract.value != 'Roll-out' && jobModel.mainContract.value != 'Roll-outRevision2020'">{{work.unitWorkPricePlusTx.replace('.',',')}}&nbsp;&#8376;</td>
                    <td>{{work.basePriceByQuantity ? work.basePriceByQuantity.replace('.',',') : calculateBasePriceByQuantity(work)}}&nbsp;&#8376;</td>
                    <td ng-if="jobModel.mainContract.value != 'Roll-out'"><span ng-if="work.unitWorkPricePerSite >= 0">{{work.unitWorkPricePerSite.replace('.',',')}}&nbsp;&#8376;</span></td>
                    <td ng-if="jobModel.mainContract.value != 'Roll-out'"><span ng-if="work.netWorkPricePerSite >= 0">{{work.netWorkPricePerSite.replace('.',',')}}&nbsp;&#8376;</span></td>
                    <td style="text-align:right;font-weight: bold;font-size: 16px;background-color: lightpink;"><span style="padding: 6px 0px;display: inline-block;">{{work.total.replace('.',',')}}&nbsp;&#8376;</span></td>
                </tr>
                <tr>
                    <th colspan="{{jobModel.mainContract.value != 'Roll-out'?'5':'3'}}">Total</th>
                    <th>{{calculateBasePriceTotal()}}&nbsp;&#8376;</th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out' && jobModel.mainContract.value != 'Roll-outRevision2020'"></th>
                    <th></th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out'"></th>
                    <th ng-if="jobModel.mainContract.value != 'Roll-out'"></th>
                    <th style="text-align:right;font-weight: bold;font-size: 16px;background-color: lightpink;">{{jobModel.jobWorksTotal.value.replace('.',',')}}&nbsp;&#8376;</th>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="form-group" ng-if="contractor === -1">
        <label class="col-sm-4 control-label">Please choose Subcontractor:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="4" ng-required="centralGroupHeadApprovalTaskResult === 'approved'"> Line System Engineering
            </label>
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="6" ng-required="centralGroupHeadApprovalTaskResult === 'approved'"> Алта Телеком
            </label>
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="7" ng-required="centralGroupHeadApprovalTaskResult === 'approved'"> Логиком
            </label>
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="8" ng-required="centralGroupHeadApprovalTaskResult === 'approved'"> Arlan SI
            </label>
            <label class="error" ng-show="kcell_form.newContractor.$error.required && ( kcell_form.newContractor.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Materials will be provided by Subcontrator:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="materialsProvidedBySubcontrator" ng-model="materialsProvidedBySubcontrator" value="yes" ng-required="centralGroupHeadApprovalTaskResult === 'approved'"> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="materialsProvidedBySubcontrator" ng-model="materialsProvidedBySubcontrator" value="no" ng-required="centralGroupHeadApprovalTaskResult === 'approved'"> No
            </label>
            <label class="error" ng-show="kcell_form.materialsProvidedBySubcontrator.$error.required && ( kcell_form.materialsProvidedBySubcontrator.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" ng-model="centralGroupHeadApprovalTaskResult" name="centralGroupHeadApprovalTaskResult" value="approved" required> Approve
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="centralGroupHeadApprovalTaskResult" name="centralGroupHeadApprovalTaskResult" value="rejected" required> Reject
            </label>
            <label class="error" ng-show="kcell_form.centralGroupHeadApprovalTaskResult.$error.required && ( kcell_form.centralGroupHeadApprovalTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" cam-variable-name="centralGroupHeadApprovalComment" name="centralGroupHeadApprovalComment" cam-variable-type="String" placeholder="Comments..." maxlength="500" rows="4" ng-required="centralGroupHeadApprovalTaskResult === 'rejected'"></textarea>
            <label class="error" ng-show="kcell_form.centralGroupHeadApprovalComment.$error.required && ( kcell_form.centralGroupHeadApprovalComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="centralGroupHeadApprovalCommentVisibility"
                       ng-model="centralGroupHeadApprovalCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="centralGroupHeadApprovalCommentVisibility"
                       ng-model="centralGroupHeadApprovalCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.centralGroupHeadApprovalCommentVisibility.$error.required && ( kcell_form.centralGroupHeadApprovalCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <resolution-history resolutions="resolutions" procDef="Revision"></resolution-history>
        </accordion-group>
    </accordion>
</form>
