<style>
    .well {
        color: #333;
    }
</style>
<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', function ($scope, $http, Uri, $rootScope, $q) {
            var variables = [
                'requestedDate',
                'jrNumber',
                'initiatorFull',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'site_name',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'project',
                'supplementaryFiles',
                'explanation',
                'resolutions',
                'workPrices',
                'jobWorks',
                'jobWorksTotal',
                'jrBlank',
                'tssrssidFile',
                'tssrssidFileName',
                'priority',
                'contractorJobAssignedDate',
                'mainContract',
                'worksPriceList',
                'siteRegion'
            ];

            $scope.contractorCodes = {
                4: 'Line_Eng',
                6: 'ALTA_Tel',
                7: 'Logycom',
                8: 'Arlan_SI'
            }

            $scope.jobModel = {};

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                    },
                    function (error) {
                        console.log(error.data);
                    }
            );

            var Big;
            if(window.require){
                $scope.Big = require('big-js')
                Big = require('big-js')
            }

            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get($rootScope.getCatalogsHttpByName('catalogs')).then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'centralGroupApprovalBudgetEngineerTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'createJRResult',
                    type: 'String',
                    value: undefined
                });
                camForm.variableManager.createVariable({
                    name: 'jobPrices',
                    type: 'Json',
                    value: {}
                });
                $scope.jobModel.showPrice = true;
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if(el === 'workPrices'){
                        $scope.jobModel[el] = JSON.parse(camForm.variableManager.variables[el].originalValue);
                    } else {
                        $scope.jobModel[el] = camForm.variableManager.variables[el];
                        $scope[el] = camForm.variableManager.variables[el].value;
                    }
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
                if(camForm.variableManager.variables['centralGroupApprovalBudgetEngineerComment']){
                    camForm.variableManager.variableValue('centralGroupApprovalBudgetEngineerComment', '');
                }
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('workPrices', JSON.parse(angular.toJson($scope.jobModel.workPrices)));
                camForm.variableManager.variableValue('centralGroupApprovalBudgetEngineerTaskResult', $scope.centralGroupApprovalBudgetEngineerTaskResult);
                camForm.variableManager.createVariable({
                    name: 'approve_jr_budgetTaskResult',
                    type: 'String',
                    value: $scope.centralGroupApprovalBudgetEngineerTaskResult
                });
                if ($scope.centralGroupApprovalBudgetEngineerTaskResult === 'approved') {
                    camForm.variableManager.variableValue('createJRResult', 'approved');
                    if($scope.newContractor){
                        camForm.variableManager.variableValue('jrNumber', $scope.jrNumber);
                        camForm.variableManager.variableValue('contractor', $scope.newContractor);
                    }
                    camForm.variableManager.variableValue('workPrices', $scope.jobModel.workPrices);
                    camForm.variableManager.variableValue('jobWorksTotal', $scope.jobModel.jobWorksTotal.value);
                } else {
                    camForm.variableManager.variableValue('createJRResult', 'rejected');
                }
                var visibility = 'all';
                if($scope.centralGroupApprovalBudgetEngineerComment && $scope.centralGroupApprovalBudgetEngineerCommentVisibility){
                    visibility = $scope.centralGroupApprovalBudgetEngineerCommentVisibility;
                    camForm.variableManager.createVariable({
                        name: 'approve_jr_budgetTaskCommentVisibility',
                        type: 'String',
                        value: visibility
                    });
                }
                camForm.variableManager.createVariable({
                    name: 'approve_jr_budgetTaskComment',
                    type: 'String',
                    value: $scope.centralGroupApprovalBudgetEngineerComment
                });
                camForm.variableManager.destroyVariable('resolutions');
                angular.forEach($scope.jobModel.workPrices, function(price, i){
                    if(price.materialsProvidedBy){
                        $scope.jobWorks[i].materialsProvidedBy = price.materialsProvidedBy;
                    }
                });
                camForm.variableManager.variableValue('jobWorks', $scope.jobWorks);
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('centralGroupApprovalBudgetEngineerTaskResult', $scope.centralGroupApprovalBudgetEngineerTaskResult);
            });

            camForm.on('variables-restored', function() {
                $scope.centralGroupApprovalBudgetEngineerTaskResult = camForm.variableManager.variableValue('centralGroupApprovalBudgetEngineerTaskResult');
            });

            $scope.isVisible = function (resolution) {
               return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.centralGroupApprovalBudgetEngineerComment && $rootScope.hasGroup('kcellUsers');
            }

            $scope.calculateBasePriceByQuantity = function(work){
                var unitWorkPrice = Big(work.unitWorkPrice);
                var quantity = Big(work.quantity);
                var result = unitWorkPrice.times(quantity);
                return result.toFixed(2).replace('.',',');
            }

            $scope.calculateBasePriceTotal = function(){
                var total = Big(0.0);
                angular.forEach($scope.jobModel.workPrices, function(work){
                    total = total.plus((work.basePriceByQuantity? Big(work.basePriceByQuantity) : Big(work.unitWorkPrice).times(Big(work.quantity))));
                });
                return total.toFixed(2).replace('.',',');
            }

            $scope.preSubmit = function(){
                var deferred = $q.defer();
                if($scope.contractor === -1 && $scope.centralGroupApprovalBudgetEngineerTaskResult === 'approved' && $scope.jrNumber.indexOf('##')!==-1){
                    var jrCounter = $scope.jrNumber.replace('-##-', '-'+$scope.contractorCodes[$scope.newContractor]+'-').replace('-####', '');
                    return $http.post('/asset-management/jobrequestcounter/' + jrCounter).then(
                        function(result){
                            $scope.jrNumber = result.data;
                        }
                    );
                } else {
                    deferred.resolve();
                    return deferred.promise;
                }
            }

            $scope.correctPrice = function(){
                var siteRegion = $scope.siteRegion;
                if('nc' === siteRegion || 'east' === siteRegion){
                    siteRegion = 'astana';
                }
                var jobWorksTotal = Big(0.0);
                $scope.jobModel.workPrices.forEach(function(work){
                    var workPrice = angular.copy(work);
                    var price = _.filter($scope.worksPriceList, function(wpl){
                        if(wpl.sapServiceNumber === work.sapServiceNumber){
                            return true;
                        }
                    })[0][work.materialsProvidedBy === 'subcontractor'?'priceWithMaterial':'priceWithoutMaterial'];
                    var unitWorkPrice = Big(price);
                    var unitTransportationPrice = Big(0.0);
                    unitTransportationPrice = unitTransportationPrice.toFixed(2);

                    var unitWorkPricePlusTx = Big(price);

                    if (workPrice.relatedSites.length > 0) {
                        var unitWorkPricePerSite = unitWorkPricePlusTx.div(Big(workPrice.relatedSites.length));
                        var netWorkPricePerSite = unitWorkPricePerSite.times(Big(workPrice.quantity));
                        work.unitWorkPricePerSite = unitWorkPricePerSite.toFixed(2);
                        work.netWorkPricePerSite  = netWorkPricePerSite.toFixed(2);
                    } else {
                        var unitWorkPricePerSite = unitWorkPricePlusTx.div(Big(1));
                        var netWorkPricePerSite = unitWorkPricePerSite.times(Big(workPrice.quantity));
                        work.unitWorkPricePerSite = unitWorkPricePerSite.toFixed(2);
                        work.netWorkPricePerSite = netWorkPricePerSite.toFixed(2);
                    }

                    var basePriceByQuantity = unitWorkPrice.times(Big(workPrice.quantity));

                    var total = unitWorkPricePlusTx.times(Big(workPrice.quantity));
                    work.unitWorkPrice = unitWorkPrice.toFixed(2);
                    work.unitWorkPricePlusTx = unitWorkPricePlusTx.toFixed(2);
                    work.basePriceByQuantity = basePriceByQuantity.toFixed(2);
                    work.total = total.toFixed(2);

                    jobWorksTotal = jobWorksTotal.plus(total);

                    work.basePrice = Big(price).toFixed(2);
                });

                $scope.jobModel.jobWorksTotal.value = jobWorksTotal.toFixed(2);
            }
        }]);
    </script>
    <job-request job-model="jobModel"></job-request>
    <div class="row">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th width="25%">Works</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out'">Works Qty</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out'">Materials Qty</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-outRevision2020'">Type of expenses</th>
                <th>Sites</th>
                <th ng-if="jobModel.mainContract.value == 'Roll-outRevision2020'">Materials by</th>
                <th>Base Price</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out' && jobModel.mainContract.value != 'Roll-outRevision2020'">Base + Transportation +8%</th>
                <th>Base Price * works q-ty</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out'">1 work price per site Sum/site q-ty</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out'">Sum * works q-ty</th>
                <th style="text-align:right;font-weight: bold;font-size: 16px;background-color: lightpink;">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="work in jobModel.workPrices">
                <td>{{jobModel.worksTitle[work.sapServiceNumber]}}</td>
                <td ng-if="jobModel.mainContract.value != 'Roll-out'">{{work.quantity}}</td>
                <td ng-if="jobModel.mainContract.value != 'Roll-out'">{{work.materialQuantity}}</td>
                <td ng-if="jobModel.mainContract.value != 'Roll-outRevision2020'">{{work.expenseType}}</td>
                <td><span ng-repeat="rs in work.relatedSites" class="my-tag" ng-class="{'main-site':rs.site_name===jobModel.site_name.value}"><span ng-if="rs.site_name===jobModel.site_name.value">Main Site: </span>{{rs.site_name}}</span></td>
                <td ng-if="jobModel.mainContract.value == 'Roll-outRevision2020'">
                    <label class="radio-inline">
                        <input type="radio" name="materialsProvidedBy{{$parent.$index}}"
                               ng-model="work.materialsProvidedBy" value="subcontractor" ng-required="centralGroupHeadApprovalTaskResult === 'approved'" ng-change="correctPrice()"> Subcontracor
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="materialsProvidedBy{{$parent.$index}}"
                               ng-model="work.materialsProvidedBy" value="kcell" ng-required="centralGroupHeadApprovalTaskResult === 'approved'" ng-change="correctPrice()"> Kcell
                    </label>
                    <label class="error" ng-show="kcell_form['materialsProvidedBy' + $parent.$index].$error.required && ( kcell_form['materialsProvidedBy' + $parent.$index].$touched || view.submitted)">Required field</label>
                </td>
                <td>{{work.unitWorkPrice.replace('.',',')}}&nbsp;&#8376;</td>
                <td ng-if="jobModel.mainContract.value != 'Roll-out' && jobModel.mainContract.value != 'Roll-outRevision2020'">{{work.unitWorkPricePlusTx.replace('.',',')}}&nbsp;&#8376;</td>
                <td>{{work.basePriceByQuantity ? work.basePriceByQuantity.replace('.',',') : calculateBasePriceByQuantity(work)}}&nbsp;&#8376;</td>
                <td ng-if="jobModel.mainContract.value != 'Roll-out'"><span ng-if="work.unitWorkPricePerSite >= 0">{{work.unitWorkPricePerSite.replace('.',',')}}&nbsp;&#8376;</span></td>
                <td ng-if="jobModel.mainContract.value != 'Roll-out'"><span ng-if="work.netWorkPricePerSite >= 0">{{work.netWorkPricePerSite.replace('.',',')}}&nbsp;&#8376;</span></td>
                <td style="text-align:right;font-weight: bold;font-size: 16px;background-color: lightpink;"><span style="padding: 6px 0px;display: inline-block;">{{work.total.replace('.',',')}}&nbsp;&#8376;</span></td>
            </tr>
            <tr>
                <th colspan="{{jobModel.mainContract.value != 'Roll-out'?'5':'3'}}">Total</th>
                <th>{{calculateBasePriceTotal()}}&nbsp;&#8376;</th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out' && jobModel.mainContract.value != 'Roll-outRevision2020'"></th>
                <th></th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out'"></th>
                <th ng-if="jobModel.mainContract.value != 'Roll-out'"></th>
                <th style="text-align:right;font-weight: bold;font-size: 16px;background-color: lightpink;">{{jobModel.jobWorksTotal.value.replace('.',',')}}&nbsp;&#8376;</th>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="form-group" ng-if="contractor === -1">
        <label class="col-sm-4 control-label">Please choose Subcontractor:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="4" ng-required="centralGroupApprovalBudgetEngineerTaskResult === 'approved'"> Line System Engineering
            </label>
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="6" ng-required="centralGroupApprovalBudgetEngineerTaskResult === 'approved'"> Алта Телеком
            </label>
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="7" ng-required="centralGroupApprovalBudgetEngineerTaskResult === 'approved'"> Логиком
            </label>
            <label class="radio-inline">
                <input type="radio" name="newContractor" ng-model="$parent.newContractor" value="8" ng-required="centralGroupApprovalBudgetEngineerTaskResult === 'approved'"> Arlan SI
            </label>
            <label class="error" ng-show="kcell_form.newContractor.$error.required && ( kcell_form.newContractor.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" ng-model="centralGroupApprovalBudgetEngineerTaskResult" name="centralGroupApprovalBudgetEngineerTaskResult" value="approved" required> Approve
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="centralGroupApprovalBudgetEngineerTaskResult" name="centralGroupApprovalBudgetEngineerTaskResult" value="rejected" required> Return for correction
            </label>
            <label class="error" ng-show="kcell_form.centralGroupApprovalBudgetEngineerTaskResult.$error.required && ( kcell_form.centralGroupApprovalBudgetEngineerTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" cam-variable-name="centralGroupApprovalBudgetEngineerComment" name="centralGroupApprovalBudgetEngineerComment" cam-variable-type="String" placeholder="Comments..." maxlength="500" rows="4" ng-required="centralGroupApprovalBudgetEngineerTaskResult === 'rejected'"></textarea>
            <label class="error" ng-show="kcell_form.centralGroupApprovalBudgetEngineerComment.$error.required && ( kcell_form.centralGroupApprovalBudgetEngineerComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="centralGroupApprovalBudgetEngineerCommentVisibility"
                       ng-model="centralGroupApprovalBudgetEngineerCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="centralGroupApprovalBudgetEngineerCommentVisibility"
                       ng-model="centralGroupApprovalBudgetEngineerCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.centralGroupApprovalBudgetEngineerCommentVisibility.$error.required && ( kcell_form.centralGroupApprovalBudgetEngineerCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <resolution-history resolutions="resolutions" procDef="Revision"></resolution-history>
        </accordion-group>
    </accordion>
</form>
