<style>
    .well {
        color: #333;
    }
</style>
<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', '$timeout', function ($scope, $http, Uri, $rootScope, $q, $timeout) {
            var variables = [
                'requestedDate',
                'jrNumber',
                'initiatorFull',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'site_name',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'project',
                'supplementaryFiles',
                'explanation',
                'resolutions',
                'workPrices',
                'jobWorksTotal',
                'jobWorks',
                'jrBlank',
                'tssrssidFile',
                'tssrssidFileName',
                'kcellWarehouseMaterialsList',
                'contractorZIPWarehouseMaterialsList',
                'kcellWarehouseMaterialsListName',
                'kcellWarehouseMaterialsAdditionalList',
                'contractorZIPWarehouseMaterialsListName',
                'priority',
                'siteAddress',
                'sloc',
                'joJrFile',
                'joFileCheckError',
                'mlApprovalAdditionalInfoFile'
            ];

            $scope.jobModel = {};

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                    },
                    function (error) {
                        console.log(error.data);
                    }
            );
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get('/api/catalogs?force=1').then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'correctJOFileTaskResult',
                    type: 'String',
                    value: ''
                });
                $scope.correctJOFileTaskResult = '';
                camForm.variableManager.variableValue('correctJOFileTaskResult', $scope.correctJOFileTaskResult);
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    if(el === 'resolutions'){
                        $scope.jobModel.resolutions = angular.copy(camForm.variableManager.variables[el].value);
                        $q.all($scope.jobModel.resolutions.map(function (resolution) {
                            return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId="+resolution.processInstanceId+"&taskId=" + resolution.taskId);
                        })).then(function (tasks) {
                            tasks.forEach(function (e, index) {
                                if(e.data.length > 0){
                                    $scope.jobModel.resolutions[index].taskName = e.data[0].name;
                                    try {
                                        $scope.jobModel.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                    } catch(e){
                                        console.log(e);
                                    }
                                }
                            });
                        });
                    } else if(el === 'workPrices'){
                        $scope.jobModel[el] = JSON.parse(camForm.variableManager.variables[el].originalValue);
                    } else if(el === 'joJrFile'){
                        $scope[el] = camForm.variableManager.variables[el];
                    } else {
                        $scope.jobModel[el] = camForm.variableManager.variables[el];
                    }
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
            });
            camForm.on('submit', function (e) {
                camForm.variableManager.variableValue('correctJOFileTaskResult', $scope.correctJOFileTaskResult);

                if(camForm.variableManager.variables['joJrFile']){
                    if($scope.joJrFile){
                        camForm.variableManager.variableValue('joJrFile', $scope.joJrFile.value);
                    } else{
                        camForm.variableManager.variableValue('joJrFile', null);
                    }
                } else if($scope.joJrFile) {
                    camForm.variableManager.createVariable($scope.joJrFile);
                }

                var visibility = 'all';
                if($scope.correctJOFileComment && $scope.correctJOFileCommentVisibility){
                    visibility = $scope.correctJOFileCommentVisibility;
                }
                $scope.jobModel.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, assigneeName: $rootScope.authentication.assigneeName, resolution: $scope.correctJOFileTaskResult, comment: $scope.correctJOFileComment, taskId: camForm.taskId, visibility: visibility});
                camForm.variableManager.variableValue('resolutions', $scope.jobModel.resolutions);
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('correctJOFileTaskResult', $scope.correctJOFileTaskResult);
            });

            camForm.on('variables-restored', function() {
                $scope.correctJOFileTaskResult = camForm.variableManager.variableValue('correctJOFileTaskResult');
            });

            $scope.isVisible = function (resolution) {
                return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.correctJOFileComment && $rootScope.hasGroup('kcellUsers');
            }

            $scope.fileSelected = function(el, fileName){
                if(el.files[0]){
                    $timeout(function () {
                        $scope.$apply(function () {
                            uploadFileToMinio(el.files[0], fileName);
                        });
                    })
                } else {
                    $scope.$apply(function(){
                        $scope[fileName] = undefined;
                    });
                }
            };

            function uploadFileToMinio(file, fileName) {
                var fileToUpload = {
                    name: fileName,
                    type: 'Json',
                    value: {
                        name: file.name,
                        isNew : true,
                        path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name
                    }
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.value.path, transformResponse: [] }).
                success(function(data, status, headers, config) {
                    $http.put(data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                $scope[fileName] = fileToUpload;
                                angular.element(document.querySelector('#'+fileName)).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }).
                error (function(data, status, headers, config) {
                    console.log(data);
                });
            }

            $scope.clearFile = function(filename){
                delete $scope[filename];
            };

            $scope.download = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.value.path, transformResponse: [] }).
                success(function(data, status, headers, config) {
                    document.getElementById('fileDownloadIframe').src = data;
                }).
                error (function(data, status, headers, config) {
                    console.log(data);
                });
            }
        }]);
    </script>

    <job-request job-model="jobModel"></job-request>

    <h4>Job Order Information</h4>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Field description</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Job Order number</td>
            <td>{{jobModel.jrNumber.value}}</td>
        </tr>
        <tr>
            <td>Job Order Description</td>
            <td>Revision</td>
        </tr>
        <tr>
            <td>Job Requester</td>
            <td>{{contractorsShortTitle[jobModel.contractor.value]}}</td>
        </tr>
        <tr>
            <td>Requester type</td>
            <td>Revision</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>Job Detail</td>
            <td>{{jobModel.siteName.value}};{{jobModel.site_name.value}}</td>
        </tr>
        <tr>
            <td>Subcontractor ID</td>
            <td>{{reasonsSubcontractors[jobModel.reason.value]}}</td>
        </tr>
        <tr>
            <td>Job Order date</td>
            <td>{{jobModel.requestedDate.value | date: 'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
            <td>Plant</td>
            <td>02001</td>
        </tr>
        <tr>
            <td>Sloc</td>
            <td>{{jobModel.sloc.value}}</td>
        </tr>
        </tbody>
    </table>


    <div class="form-group">
        <label class="col-sm-4 control-label">JO JR file error:</label>
        <div class="col-sm-8">
            <span>{{jobModel.joFileCheckError.value}}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">JO JR file:</label>
        <div class="col-sm-8">
            <div ng-show="joJrFile.value.name">
                <a ng-click="download(joJrFile)">{{joJrFile.value.name}}</a> | <a ng-click="clearFile('joJrFile')"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <input ng-hide="joJrFile.value.name" type="file" class="form-control" name="joJrFile" ng-model="joJrFile.file"
                   required-file="!joJrFile.value.name"  onchange="angular.element(this).scope().fileSelected(this, 'joJrFile')"/>
            <label class="has-error" ng-show="kcell_form.joJrFile.$error.validFile">File is required</label>
        </div>
    </div>

    <div style="border: black 1px solid;">
        <p>
            <b>Please, download file from  “JO JR file” and make necessary corrections..</b>
        </p>
        <p>
            <b>Upload corrected file to “JO JR file”.</b>
        </p>
        <p>
            <b>Then please press "Complete" button.</b>
        </p>
    </div>

    <div style="margin-bottom: 20px;"></div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Comments:</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="4" maxlength="500" cam-variable-name="correctJOFileComment" name="correctJOFileComment" cam-variable-type="String"></textarea>
            <label class="error" ng-show="kcell_form.correctJOFileComment.$error.required && ( kcell_form.correctJOFileComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="correctJOFileCommentVisibility"
                       ng-model="correctJOFileCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="correctJOFileCommentVisibility"
                       ng-model="correctJOFileCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.correctJOFileCommentVisibility.$error.required && ( kcell_form.correctJOFileCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                    <th ng-if="hasGroup('kcellUsers')">Attached files</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in jobModel.resolutions">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName || resolution.assignee}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{isVisible(resolution)? resolution.comment : ''}}</td>
                    <td ng-if="hasGroup('kcellUsers')">{{resolution.files.join(', ')}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
