<style>
    .my-group .form-control{
        width:50%;
    }
    .modal-lg.modal-dialog{
        width: 90%;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .animate-if {
        background:white;
        overflow: hidden;
        transition: 0.4s;
        padding: 13px;
        margin-bottom: 0px;
        color: #b3b3b3;
        background-color: #fff;
        border: 2px solid #b3b3b3;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .animate-if.ng-enter, .animate-if.ng-leave {
        transition:all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
    }

    .animate-if.ng-enter,
    .animate-if.ng-leave.ng-leave-active {
        opacity:0;
        max-height:0;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .animate-if.ng-leave,
    .animate-if.ng-enter.ng-enter-active {
        opacity:1;
        max-height: 500px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
</style>
<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject([ '$scope', '$http', '$rootScope', '$q', '$timeout', function($scope, $http, $rootScope, $q, $timeout) {
            var variables = [
                'requestedDate',
                'jrNumber',
                'initiatorFull',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'site_name',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'project',
                'supplementaryFiles',
                'explanation',
                'jobWorks',
                'sapPRFileXLS',
                'sapPRNo',
                'kcellWarehouseMaterialsList',
                'contractorZIPWarehouseMaterialsList',
                'kcellWarehouseMaterialsListName',
                'kcellWarehouseMaterialsAdditionalList',
                'contractorZIPWarehouseMaterialsListName',
                'sapTransferRequestFile',
                'eLicenseResolutionFile',
                'eLicenseResolutionFileName',
                'actOfMaterialsDispatchingFile',
                'actOfMaterialsDispatchingFileName',
                'actOfMaterialsDispatchingFiles',
                'resolutions',
                'summaries',
                'jrBlank',
                'tssrssidFile',
                'tssrssidFileName',
                'relatedTo',
                'worksBelongsTo',
                'priority',
                'mlApprovalAdditionalInfoFile'
            ];
            $scope.jobModel = {};

            var permitWorks = ['3', '4', '5', '6', '7', '8', '9', '10', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '86', '87', '91', '94', '95', '96', '155', '156', '157', '158', '159', '160'];

            $scope.jobWorkReasons = [
                {id: 'installation', expenseType: 'CAPEX', name: 'Installation', detail: 'Монтаж - установка нового оборудования'},
                {id: 'modernization', expenseType: 'CAPEX', name: 'Modernization', detail: 'Модернизация - замена оборудования на более производительное'},
                {id: 'change_support', expenseType: 'OPEХ', name: 'Change for support', detail: 'Замена - восстановление вышедшего из строя оборудования/OC для поддержания их в рабочем состоянии  с целью их профилактики'},
                {id: 'change_improvement', expenseType: 'CAPEX', name: 'Change for improvement', detail: 'Замена - восстановление вышедшего из строя оборудования/ОС для улучшения состояния объекта, повышающего его первоначально оцененные нормативные показатели: срок службы, производственную мощность и т. д'},
                {id: 'replacement', expenseType: 'OPEХ', name: 'Replacement', detail: 'Перемещение - в пределах одного сайта'},
                {id: 'removal', expenseType: 'OPEХ', name: 'Removal', detail: 'Демонтаж - снятие оборудования'}
            ];

            $scope.defineExpenseType = function(index){
                for(var i=0;i<$scope.jobWorkReasons.length;i++){
                    if($scope.jobWorks[index].reason === $scope.jobWorkReasons[i].id){
                        $scope.jobWorks[index].expenseType = $scope.jobWorkReasons[i].expenseType;
                        $scope.jobWorks[index].reasonDetail = $scope.jobWorkReasons[i].detail;
                    }
                }
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip('fixTitle');
                });
            };

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                    },
                    function (error) {
                        console.log(error.data);
                    }
            );

            $scope.showJump = false;

            if($rootScope.authentication.name === 'demo' || $rootScope.authentication.name === 'Yernaz.Kalingarayev@kcell.kz' || $rootScope.authentication.name === 'Askar.Slambekov@kcell.kz' || $rootScope.authentication.name === 'Anzor.Israilov@kcell.kz'){
                $scope.showJump = true;
            }

            camForm.on('form-loaded', function () {
                $scope.custom = {
                    contract: 1,
                    contractor: undefined
                };
                camForm.variableManager.createVariable({
                    name: 'modifyJrResult',
                    type: 'String',
                    value: ''
                });
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $scope.soaComplaintIdCorrect = false;
                $http.get('/api/catalogs?force=1').then(
                        function(result){
                            angular.extend($scope, result.data);
                            $scope.conts = [];
                            if($scope.contracts){
                                for(var i=0;i<$scope.contracts.length;i++){
                                    if($scope.contracts[i].service.id === $scope.custom.contract){
                                        $scope.conts.push($scope.contracts[i].contractor);
                                    }
                                }
                            }
                        },
                        function(error){
                            console.log(error.data);
                        }
                );
            });

            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    $scope.jobModel[el] = camForm.variableManager.variables[el].value;
                    console.log(el);
                    console.log(camForm.variableManager.variables[el]);
                    if(el === 'resolutions'){
                        if(!$scope.jobModel){
                            $scope.jobModel = {};
                        }
                        $scope.jobModel['resolutions'] = camForm.variableManager.variables[el].value;
                        if($scope.jobModel.resolutions){
                            $q.all($scope.jobModel.resolutions.map(function (resolution) {
                                return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId="+resolution.processInstanceId+"&taskId=" + resolution.taskId);
                            })).then(function (tasks) {
                                tasks.forEach(function (e, index) {
                                    if(e.data.length >0){
                                        $scope.jobModel.resolutions[index].taskName = e.data[0].name;
                                        try {
                                            $scope.jobModel.resolutions[index].taskEndDate = new Date(e.data[0].endTime);
                                        } catch(e){
                                            console.log(e);
                                        }
                                    }
                                });
                            });
                        }
                    }
                    if(camForm.variableManager.variables[el].type == 'Date'){
                        $scope[el] = new Date(camForm.variableManager.variables[el].value);
                    } else if(el == 'supplementaryFiles'){
                        $scope[el] = camForm.variableManager.variables[el];
                        $scope[el].type = 'Json';
                    } else {
                        $scope[el] = camForm.variableManager.variables[el].value;
                    }
                });
                if($scope['materialsRequired'] === 'Yes'){
                    $scope.materialsRequiredCheckbox = true;
                }
                if($scope['leasingRequired'] === 'Yes'){
                    $scope.leasingRequiredCheckbox = true;
                }
                if($scope['powerRequired'] === 'Yes'){
                    $scope.powerRequiredCheckbox = true;
                }
                //$scope['validityDate'] = camForm.variableManager.variableValue('validityDate');
                if(camForm.variableManager.variableValue('contract')){
                    $scope.custom.contract = parseInt(camForm.variableManager.variableValue('contract'));
                }
                if(camForm.variableManager.variableValue('contractor')){
                    $scope.custom.contractor = parseInt(camForm.variableManager.variableValue('contractor'));
                }
                /*if(camForm.variableManager.variableValue('relatedTo')){
                 $scope.relatedTo = parseInt(camForm.variableManager.variableValue('relatedTo'));
                 }*/
                try{
                    if(camForm.variableManager.variableValue('requestedDate')){
                        $scope.requestedDate = new Date(camForm.variableManager.variableValue('requestedDate'));
                    } else {
                        $scope.requestedDate = new Date();
                    }
                } catch(e){
                    $scope.requestedDate = new Date();
                }
                try{
                    if(camForm.variableManager.variableValue('jobWorks')){
                        $scope.jobWorks = JSON.parse(angular.toJson(camForm.variableManager.variableValue('jobWorks')));
                    } else {
                        $scope.jobWorks = [{relatedSites:[]}];
                    }
                } catch(e){
                    $scope.jobWorks = [{relatedSites:[]}];
                }
                //$scope.reason = camForm.variableManager.variableValue('reason');
                refreshJobRequests();
                serviceChanged();
                $scope.oldWorks = angular.copy($scope.jobWorks);
                $http.get('/camunda/api/engine/engine/default/user/'+$rootScope.authentication.name+'/profile').then(
                        function(result){
                            $scope.initiatorFull = result.data;
                        },
                        function(error){}
                );
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip('fixTitle');
                });
            });

            camForm.on('submit', function (e) {
                var files = [];

                if($scope.ptypeCheckbox){
                    camForm.variableManager.createVariable({
                        name: 'ptype',
                        type: 'String',
                        value: 'test'
                    });
                    camForm.variableManager.createVariable({
                        name: 'createJRResult',
                        type: 'String',
                        value: 'approved'
                    });
                } else {
                    camForm.variableManager.createVariable({
                        name: 'ptype',
                        type: 'String',
                        value: 'prod'
                    });
                    camForm.variableManager.createVariable({
                        name: 'createJRResult',
                        type: 'String',
                        value: 'approved'
                    });
                }
                if($scope.ignoreSignPRCheckbox){
                    camForm.variableManager.createVariable({
                        name: 'ignoreSignPR',
                        type: 'String',
                        value: 'true'
                    });
                } else {
                    camForm.variableManager.createVariable({
                        name: 'ignoreSignPR',
                        type: 'String',
                        value: 'false'
                    });
                }

                camForm.variableManager.variableValue('modifyJrResult', $scope.modifyJrResult);
                if($scope.modifyJrResult === 'canceled'){
                    camForm.variableManager.variableValue('createJRResult', 'rejected');
                }

                camForm.variableManager.createVariable({
                    name: 'cancelPrComment',
                    type: 'String',
                    value: $scope.explanation
                });

                if($scope.modifyJrResult === 'modified'){
                    if($scope.materialsRequiredCheckbox){
                        camForm.variableManager.variableValue('materialsRequired', 'Yes');
                    } else {
                        camForm.variableManager.variableValue('materialsRequired', 'No');
                    }
                    if($scope.leasingRequiredCheckbox){
                        camForm.variableManager.variableValue('leasingRequired', 'Yes');
                    } else {
                        camForm.variableManager.variableValue('leasingRequired', 'No');
                    }
                    if($scope.powerRequiredCheckbox){
                        camForm.variableManager.variableValue('powerRequired', 'Yes');
                    } else {
                        camForm.variableManager.variableValue('powerRequired', 'No');
                    }
                    camForm.variableManager.variableValue('explanation', $scope.explanation);

                    camForm.variableManager.createVariable({
                        name: 'worksChanged',
                        type: 'String',
                        value: $scope.worksChanged
                    });
                    if($scope.isPermitDocsNeeded){
                        camForm.variableManager.createVariable({
                            name: 'isPermitDocsNeeded',
                            type: 'String',
                            value: 'true'
                        });
                    } else {
                        camForm.variableManager.createVariable({
                            name: 'isPermitDocsNeeded',
                            type: 'String',
                            value: 'false'
                        });
                    }

                    camForm.variableManager.variableValue('soaComplaintId', $scope.soaComplaintId);

                    camForm.variableManager.variableValue('initiatorFull', $scope.initiatorFull);
                    var validityDate = new Date($scope.validityDate);
                    camForm.variableManager.variableValue('validityDate', validityDate);
                    camForm.variableManager.variableValue('worksBelongsTo', $scope.worksBelongsTo);
                    camForm.variableManager.variableValue('contract', parseInt($scope.custom.contract));
                    camForm.variableManager.variableValue('relatedTo', $scope.relatedTo);
                    camForm.variableManager.variableValue('project', $scope.project);
                    camForm.variableManager.variableValue('jobWorks', JSON.parse(angular.toJson($scope.jobWorks)));
                    if(camForm.variableManager.variables['priority'].value){
                        camForm.variableManager.variableValue('priority', $scope.priority);
                    } else {
                        camForm.variableManager.destroyVariable('priority');
                        camForm.variableManager.createVariable({
                            name: 'priority',
                            type: 'String',
                            value: $scope.priority
                        });
                    }

                    if($scope.supplementaryFiles && $scope.supplementaryFiles.value){
                        $scope.supplementaryFiles.value.forEach(function (file) {
                            if (file.name){
                                if(file.isNew){
                                    files.push(file.name);
                                    delete file.isNew;
                                }
                            }
                        });

                        if(camForm.variableManager.variables['supplementaryFiles']){
                            camForm.variableManager.variableValue('supplementaryFiles', $scope.supplementaryFiles.value);
                        } else {
                            camForm.variableManager.createVariable($scope.supplementaryFiles);
                        }
                    }
                }

                if(!$scope.resolutions){
                    $scope.resolutions = {};
                }

                if($scope.explanation){
                    var visibility = 'all';
                    if($scope.explanation && $scope.explanationVisibility){
                        visibility = $scope.explanationVisibility;
                    }
                    $scope.resolutions.push({processInstanceId: $scope.processInstanceId, assignee: $rootScope.authentication.name, resolution: $scope.modifyJrResult, comment: $scope.explanation, taskId: camForm.taskId, visibility: visibility, files: files});
                    camForm.variableManager.variableValue('resolutions', $scope.resolutions);
                }
            });

            $scope.open = open;
            $scope.toggleJr = toggleJr;
            $scope.getJobs = getJobs;
            $scope.addJobWork = addJobWork;
            $scope.showMoreJobRequests = showMoreJobRequests;
            $scope.refreshJobRequests = refreshJobRequests;
            $scope.showMore = false;
            $scope.page = 0;
            $scope.jobRequestsCount = 0;
            $scope.download = download;
            $scope.removeWork = removeWork;
            $scope.serviceChanged = serviceChanged;
            $scope.jobWorks = [{relatedSites:[]}];
            $scope.jobRequests = {};

            $scope.regionsMap = {
                '0': 'Alm',
                '11':'Astana',
                '1': 'N&C',
                '2': 'N&C',
                '3': 'East',
                '4': 'South',
                '5': 'West',
                '6': 'West',
                '7': 'West',
                '8': 'West',
                '9': 'Alm'
            };
            $scope.regionsMapLC = {
                '0': 'alm',
                '11':'astana',
                '1': 'nc',
                '2': 'nc',
                '3': 'east',
                '4': 'south',
                '5': 'west',
                '6': 'west',
                '7': 'west',
                '8': 'west',
                '9': 'alm'
            };
            $scope.contractorShortName = {
                '4': 'LSE'
            };
            $scope.contractorShortNameLC = {
                '4': 'lse'
            };
            $scope.reasonShortName = {
                '1': 'P&O',
                '2': 'TNU',
                '3': 'S&FM',
                '4': 'SAO'
            };

            $scope.requestedDate = new Date();

            var currentDate = new Date();

            $scope.datepickerOptions = {
                minDate: currentDate
            };

            function removeWork(index){
                $scope.jobWorks.splice(index,1);
            }

            function toggleJr(index){
                if($scope.jrIndex === index){
                    $scope.jrIndex = undefined;
                } else {
                    $scope.jrIndex = index;
                }
            }

            function open($event) {
                $event.preventDefault();
                $event.stopPropagation();
                $scope.dateFieldOpened = true;
            };

            function getJobs(){
                var query = {
                    "processDefinitionKey" : "Revision",
                    "active" : true,
                    "variables" :
                        [{
                            "name": "reason",
                            "operator": "eq",
                            "value": $scope.reason
                        },{
                            "name": "site",
                            "operator": "eq",
                            "value" : $scope.site
                        }]
                };
                var path  = '/camunda/api/engine/engine/default/process-instance?firstResult='+($scope.page*5)+'&maxResults=5';
                $http.post(path,query).then(
                        function(result){
                            $scope.page = $scope.page + 1;
                            var piIds = [];
                            if(result.data.length < 5){
                                $scope.showMore = false;
                            } else {
                                $scope.showMore = true;
                            }
                            for(var i=0;i<result.data.length;i++){
                                piIds.push(result.data[i].id);
                            }
                            var variableQuery = {
                                processInstanceIdIn: piIds
                            };
                            if(piIds.length > 0){
                                $http.post('/camunda/api/engine/engine/default/variable-instance?deserializeValues=false', variableQuery).then(
                                    function(variables){
                                        for(var i=0;i<variables.data.length;i++){
                                            if(!$scope.jobRequests[variables.data[i].processInstanceId]){
                                                $scope.jobRequestsCount++;
                                                $scope.jobRequests[variables.data[i].processInstanceId] = {};
                                            }
                                            if(variables.data[i].name === 'jobWorks'){
                                                $scope.jobRequests[variables.data[i].processInstanceId][variables.data[i].name] = JSON.parse(variables.data[i].value);
                                            } else if(variables.data[i].name === 'supplementaryFiles'){
                                                $scope.jobRequests[variables.data[i].processInstanceId][variables.data[i].name] = variables.data[i];
                                            } else if(variables.data[i].name === 'initiatorFull'){
                                                $scope.jobRequests[variables.data[i].processInstanceId][variables.data[i].name] = JSON.parse(variables.data[i].value);
                                            } else {
                                                $scope.jobRequests[variables.data[i].processInstanceId][variables.data[i].name] = variables.data[i].value;
                                            }

                                        }
                                    },
                                    function(error){
                                        console.log(error);
                                    }
                                );
                            }
                        },
                        function(error){
                            console.log(error);
                        }
                );
            }

            function addJobWork(){
                $scope.jobWorks.push({relatedSites:[]});
            }

            function showMoreJobRequests(){
                getJobs();
            }

            function refreshJobRequests(){
                $scope.page = 0;
                $scope.jobRequestsCount = 0;
                $scope.jobRequests = {};
                getJobs();
            }

            $scope.fileSelected = function(el){
                if(el.files[0]){
                    $timeout(function () {
                        $scope.$apply(function () {
                            uploadFileToMinio(el.files[0]);
                        });
                    })
                }
            };

            function uploadFileToMinio(file) {

                var fileValue = {
                    name: file.name,
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name,
                    isNew: true
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileValue.path, transformResponse: [] }).
                success(function(data, status, headers, config) {
                    $http.put(data, file, {headers: {'Content-Type': undefined}}).then(
                            function () {
                                if(!$scope.supplementaryFiles.value){
                                    $scope.supplementaryFiles.value = [];
                                }
                                $scope.supplementaryFiles.value.push(fileValue);
                                angular.element(document.querySelector('#supplementaryFiles')).val(null);
                            },
                            function (error) {
                                console.log(error.data);
                            }
                    );
                }).
                error (function(data, status, headers, config) {
                    console.log(data);
                });
            }

            function download(file) {
                console.log(file);
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.path, transformResponse: [] }).
                success(function(data, status, headers, config) {
                    document.getElementById('fileDownloadIframe').src = data;
                }).
                error (function(data, status, headers, config) {
                    console.log(data);
                });
            }

            function serviceChanged(){
                $scope.conts = [];
                if($scope.contracts){
                    for(var i=0;i<$scope.contracts.length;i++){
                        if($scope.contracts[i].service.id == $scope.custom.contract){
                            $scope.conts.push($scope.contracts[i].contractor);
                        }
                    }
                }
            }

            $scope.getUnits = function(index){
                for(var i=0;i<$scope.works.length;i++){
                    if($scope.jobWorks[index].sapServiceNumber === $scope.works[i].sapServiceNumber){
                        $scope.jobWorks[index].materialUnit = $scope.works[i].units;
                    }
                }
            };

            $scope.getSite = function(val) {
                return $http.get('/asset-management/api/sites/search/findByNameIgnoreCaseContaining?name='+val).then(
                    function(response){
                        var sites = _.flatMap(response.data._embedded.sites, function(s){
                            if(s.params.site_name){
                                return s.params.site_name.split(',').map(function(sitename){
                                    return {
                                        name: s.name,
                                        id: s._links.self.href.substring(s._links.self.href.lastIndexOf('/')+1),
                                        site_name: sitename
                                    };
                                })
                            } else {
                                return [];
                            }
                        });
                        return sites;
                    }
                );
            };

            $scope.siteSelected = function($item){
                $scope.siteName = $item.name;
                $scope.site = $item.id;
                $scope.site_name = $item.site_name;
                if($scope.siteName.startsWith('11')){
                    $scope.regionShortName = $scope.regionsMap['11'];
                    $scope.siteRegion  = $scope.regionsMapLC['11'];
                } else {
                    $scope.regionShortName = $scope.regionsMap[$scope.siteName.substring(0,1)];
                    $scope.siteRegion = $scope.regionsMapLC[$scope.siteName.substring(0,1)];
                }
                refreshJobRequests();
            };

            $scope.workSiteSelected = function($item, $index){
                if(!$scope.jobWorks[$index].relatedSites){
                    $scope.jobWorks[$index].relatedSites = [];
                }
                if(!_.some($scope.jobWorks[$index].relatedSites, function(value){
                            return value.site_name === $item.site_name;
                        })){
                    $scope.jobWorks[$index].relatedSites.push($item);
                }
                $scope.tempSite = {};
            };

            $scope.clearSiteId = function(){
                $scope.site = undefined;
            };

            $scope.removeRelatedSite = function(i, j){
                $scope.jobWorks[i].relatedSites.splice(j,1);
            }

            $scope.clearSiteId = function(){
                $scope.site = undefined;
            };

            $scope.siteJobWorkSelected = function($item, $index){
                $scope.jobWorks[$index].sites.name = $item.name;
                $scope.jobWorks[$index].sites.id = $item.id;
            };
            $scope.clearWorkSiteId = function($index){
                if(!$scope.jobWorks[$index].sites){
                    $scope.jobWorks[$index].sites = {id:undefined};
                }
                $scope.jobWorks[$index].sites.id = undefined;
            };
            var diff;
            if(window.requirejs){
                diff = window.requirejs('deep-diff').diff;
            } else {
                diff = window.DeepDiff;
            }

            $scope.preSubmit = function(){
                console.log(diff);
                var deferred = $q.defer();
                var a = JSON.stringify($scope.oldWorks, function(key, value) {
                    if (typeof key === 'string' && (key.charAt(0) === '$' || key === 'this')) {
                        return undefined;
                    }
                    return value;
                });
                var b = JSON.stringify($scope.jobWorks, function(key, value) {
                    if (typeof key === 'string' && (key.charAt(0) === '$' || key === 'this')) {
                        return undefined;
                    }
                    return value;
                });
                var delta = diff(a, b);
                if(delta){
                    $scope.worksChanged = 'true';
                } else {
                    $scope.worksChanged = 'false';
                }

                var containsPermit = _.intersection(_.map($scope.jobWorks, 'sapServiceNumber'), permitWorks);
                $scope.isPermitDocsNeeded = containsPermit.length > 0;
                var promises = [];

                if($scope.modifyJrResult === 'modified'){
                    var contains = _.some(_.flatMap($scope.jobWorks, 'relatedSites'), function(value){
                        return value.site_name === $scope.site_name;
                    });
                    if(!contains){
                        deferred.reject('At least one job should contains Main Site');
                    } else {
                        deferred.resolve();
                    }
                } else {
                    deferred.resolve();
                }
                return $q.all(promises);
            };

            $scope.clearFile = function(index){
                $scope.supplementaryFiles.value.splice(index, 1);
            }

            $scope.isVisible = function (resolution) {
               return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.explanation && $rootScope.hasGroup('kcellUsers');
            }
        }]);
    </script>
    <h4>Create job request</h4>
    <div class="form-group">
        <label class="col-sm-4 control-label">JR Number:</label>
        <div class="col-sm-3">
            <div class="form-control disabled">{{jrNumber}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Requested date</label>
        <div class="col-sm-3">
            <div class="form-control">{{requestedDate | date: 'dd.MM.yyyy HH:mm'}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Validity date:</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" ng-model="validityDate" name="validityDate" ng-required="modifyJrResult == 'modified'" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="dateFieldOpened" id="validityDate" min-date="datepickerOptions.minDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">SA&O Complaint Id:</label>
        <div class="col-sm-3">
            <input type="text" ng-model="soaComplaintId" class="form-control" ng-blur="checkSOAComplaintId()" maxlength="20"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Site: </label>
        <div class="col-sm-3">
            <div class="form-control disabled">{{siteName}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Site Name: </label>
        <div class="col-sm-3">
            <div class="form-control disabled">{{site_name}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Reason:</label>
        <div class="col-sm-3">
            <div class="form-control disabled">{{reasonsTitle[reason]}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Related to the:</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="relatedTo" ng-required="modifyJrResult == 'modified'" ng-model="relatedTo" value="Capacity"> Capacity
            </label>
            <label class="radio-inline">
                <input type="radio" name="relatedTo" ng-required="modifyJrResult == 'modified'" ng-model="relatedTo" value="Coverage"> Coverage
            </label>
            <label class="radio-inline">
                <input type="radio" name="relatedTo" ng-required="modifyJrResult == 'modified'" ng-model="relatedTo" value="Quality"> Quality
            </label>
            <label class="radio-inline">
                <input type="radio" name="relatedTo" ng-required="modifyJrResult == 'modified'" ng-model="relatedTo" value="Field works"> Field works
            </label>
            <label class="error" ng-if="kcell_form.relatedTo.$error.required && ( kcell_form.relatedTo.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Contractor:</label>
        <div class="col-sm-3">
            <div class="form-control disabled">{{contractorsTitle[contractor]}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Type of project:</label>
        <div class="col-sm-3">
            <select ng-model="project" name="project" class="form-control" ng-required="modifyJrResult == 'modified'">
                <option value="N/A">N/A</option>
                <option value="Astana Expo 2017">Astana Expo 2017</option>
                <option ng-if="reason === '2'" value="Other - (Re-routing, re-planning, etc.)">Other - (Re-routing, re-planning, etc.)</option>
                <option ng-if="reason === '2'" value="Transmission FIX/IPVPN">Transmission FIX/IPVPN</option>
                <option ng-if="reason === '2'" value="Transmission PBX">Transmission PBX</option>
                <option ng-if="reason === '2'" value="Transmission 1+1">Transmission 1+1</option>
                <option ng-if="reason === '2'" value="Transmission Upgrades">Transmission Upgrades</option>
                <option ng-if="reason === '2'" value="Transmission Revision LTE">Transmission Revision LTE</option>
            </select>
            <label class="error" ng-if="kcell_form.project.$error.required && ( kcell_form.project.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Priority:</label>
        <div class="col-sm-3">
            <select ng-model="priority" name="priority" class="form-control" ng-required="modifyJrResult == 'modified'">
                <option value="regular">Regular</option>
                <option value="emergency">Emergency</option>
            </select>
            <label class="error" ng-if="kcell_form.priority.$error.required && ( kcell_form.priority.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Works belongs to KZT, Beeline, ODS:</label>
        <div class="col-sm-8">
            <!-- NOT REQUIRED -->
            <label class="radio-inline">
                <input type="radio" name="worksBelongsTo" ng-model="worksBelongsTo" id="worksBelongsTo1" value="Yes" ng-required="modifyJrResult == 'modified'"> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="worksBelongsTo" ng-model="worksBelongsTo" id="worksBelongsTo2" value="No" ng-required="modifyJrResult == 'modified'"> No
            </label>
            <label class="error" ng-if="kcell_form.worksBelongsTo.$error.required && ( kcell_form.worksBelongsTo.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Supplementary files:</label>
        <div class="col-sm-8">
            <div class="input-group" ng-repeat="file in supplementaryFiles.value">
                <a ng-click="download(file)">{{file.name}}</a> | <a ng-click="clearFile($index)"><i class="glyphicon glyphicon-trash" /></a>
                <div class="input-group-addon" ng-show="file.name && hasGroup('kcellUsers')">
                    <label class="radio-inline">
                        <input type="radio" name="supplementaryFile_{{$index}}" ng-model="file.visibility"
                               value="all" ng-required="file.name && hasGroup('kcellUsers')"> Visible for all
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="supplementaryFile_{{$index}}" ng-model="file.visibility"
                               value="kcell" ng-required="file.name && hasGroup('kcellUsers')"> Kcell staff only
                    </label>
                    <label class="error" ng-show="kcell_form['supplementaryFile_'+$index].$error.required && ( kcell_form['supplementaryFile_'+$index].$touched || view.submitted)">Required field</label>
                </div>
            </div>
            <input type="file" class="form-control" name="supplementaryFiles" id="supplementaryFiles" onchange="angular.element(this).scope().fileSelected(this)" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Running job requests for these sites ({{jobRequestsCount}} JRs)</label>
        <div class="col-sm-8">
            <div ng-repeat="(k,job) in jobRequests">
                <a ng-click="toggleJr($index)">JR No. {{job.jrNumber}}, Reason: {{reasonsTitle[job.reason]}}, Created at: {{job.requestedDate | date: 'dd.MM.yyyy'}}</a>
                <div ng-if="jrIndex === $index" class="animate-if" ng-animate-children>
                    <div class="row">
                        <div class="col-md-4"><b>Initiator</b>: {{job.initiatorFull.firstName}} {{job.initiatorFull.lastName}}</div>
                        <div class="col-md-8"><b>JR Number</b>: {{job.jrNumber}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Requested date</b>: {{job.requestedDate | date: 'dd.MM.yyyy HH:mm'}}</div>
                        <div class="col-md-4"><b>Reason</b>: {{reasonsTitle[job.reason]}}</div>
                        <div class="col-md-4"><b>Materials required</b>: {{job.materialsRequired}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Validity date</b>: {{job.validityDate.value | date: 'dd.MM.yyyy'}}</div>
                        <div class="col-md-4"><b>Contract</b>: {{servicesTitle[job.contract]}}</div>
                        <div class="col-md-4"><b>Leasing required</b>: {{job.leasingRequired}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>SA&O Complaint Id</b>: {{job.soaComplaintId}}</div>
                        <div class="col-md-4"><b>Contractor</b>: {{contractorsTitle[job.contractor]}}</div>
                        <div class="col-md-4"><b>Site (near end)</b>: {{job.siteName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Power engineering required</b>: {{job.powerRequired}}</div>
                        <div class="col-md-4"><b>Project</b>: {{job.project}}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Requested date: {{job.requestedDate | date: 'dd.MM.yyyy HH:mm'}}</div>
                        <div class="col-md-4">Reason: {{reasonsTitle[job.reason]}}</div>
                        <div class="col-md-4">Materials required: {{job.materialsRequired}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Validity date: {{job.validityDate | date: 'dd.MM.yyyy'}}</div>
                        <div class="col-md-4">Contract: {{servicesTitle[job.contract]}}</div>
                        <div class="col-md-4">Leasing required: {{job.leasingRequired}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">SA&O Complaint Id: {{job.soaComplaintId}}</div>
                        <div class="col-md-4">Contractor: {{contractorsTitle[job.contractor]}}</div>
                        <div class="col-md-4">Site (near end): {{job.siteName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Supplementary files:</div>
                        <iframe id="fileDownloadIframe" style="display:none;"></iframe>
                        <div class="col-md-12" ng-repeat="file in supplementaryFiles.value">
                            <a ng-click="download(file)">{{file.name}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Works:</div>
                        <div class="col-md-12" ng-repeat="work in job.jobWorks">
                            <a href="javascript:void(0)">{{$index+1}}. {{worksTitle[work.sapServiceNumber]}}, works qty: {{work.quantity}}, <span ng-if="work.materialQuantity">materials qty: {{work.materialQuantity}} {{unitsTitle[work.unit]}},</span> on sites: {{work.sites}} (Near end)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{work.explanation}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" ng-click="showMoreJobRequests()" class="btn btn-sm btn-primary" ng-disabled="!showMore"><i class="glyphicon glyphicon-th-list"></i> <span ng-if="showMore">Show more</span><span ng-if="!showMore">No more similar job requests</span></span></button>
            </div>
        </div>
    </div>
    <h4>Works</h4>
    <div class="col-sm-12">
        <div class="row">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th width="40%">Works</th>
                            <th width="7%">Works Qty</th>
                            <th width="13%">Materials Qty</th>
                            <th width="30%">Sites involved</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="jobWork in jobWorks">
                        <tr>
                            <ng-form name="workForm">
                                <td>
                                    <select ng-model="jobWork.sapServiceNumber" name="sapServiceNumber" ng-required="modifyJrResult == 'modified'" class="form-control" ng-change="getUnits($index)">
                                        <option ng-repeat="work in works" ng-selected="{{work.sapServiceNumber == jobWork.sapServiceNumber}}" value="{{work.sapServiceNumber}}">{{work.displayServiceName}}</option>
                                    </select>
                                    <label class="error" ng-if="workForm.sapServiceNumber.$error.required && ( workForm.sapServiceNumber.$touched || view.submitted)">Required field</label>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="quantity" ng-required="modifyJrResult == 'modified'" ng-model="jobWork.quantity" min="1"/>
                                    <label class="error" ng-if="workForm.quantity.$error.required && ( workForm.quantity.$touched || view.submitted)">Required field</label>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="materialQuantity" ng-required="modifyJrResult == 'modified'" ng-model="jobWork.materialQuantity" min="0" style="min-width: 55px;"/>
                                        <span class="input-group-addon">{{jobWork.materialUnit}}</span>
                                    </div>
                                    <label class="error" ng-if="workForm.materialQuantity.$error.required && ( workForm.materialQuantity.$touched || view.submitted)">Required field</label>
                                </td>
                                <td>
                                    <span ng-repeat="rs in jobWork.relatedSites" class="my-tag" ng-class="{'main-site':rs.site_name===site_name}"><span ng-if="rs.site_name===site_name">Main Site: </span>{{rs.site_name}} <a ng-click="removeRelatedSite($parent.$index, $index)">&times;</a></span>
                                    <input type="text" ng-model="tempSite.name" style="display: inline-block; width:100px;" name="tempSiteName" typeahead="site as sites.site_name for sites in getSite($viewValue) | filter:$viewValue" typeahead-on-select="workSiteSelected($item, $index); tempSite={};" class="form-control" autocomplete="off" placeholder="Add Site">
                                </td>
                                <td><div class="col-md-1"><button type="button" class="btn btn-sm btn-warning" ng-if="$index !== 0" ng-click="removeWork($index)"><i class="glyphicon glyphicon-trash"></i> Remove</button></div></td>
                            </ng-form>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    Work Request Reason
                                    <a role="button" data-toggle="collapse" href="#collapseReasonGeneralInfo" aria-expanded="false" aria-controls="collapseReasonGeneralInfo">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </a>
                                </span>
                                    <select ng-model="jobWork.reason" name="reason{{$index}}" required class="form-control" ng-change="defineExpenseType($index)">
                                        <option value="">Select work request reason</option>
                                        <option ng-repeat="reason in jobWorkReasons" ng-selected="{{reason.id == jobWork.reason}}" value="{{reason.id}}">{{reason.name}}</option>
                                    </select>
                                </div>
                                <label class="error" ng-if="kcell_form['reason'+$index].$error.required && ( kcell_form['reason'+$index].$touched || view.submitted)">Required field</label>
                            </td>
                            <td colspan="4">
                                <i ng-show="jobWork.reasonDetail" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="{{jobWork.reasonDetail}}"></i>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-width: 0px" colspan="4">
                                <div class="collapse" id="collapseReasonGeneralInfo">
                                    <div class="well">
                                        <b>Installation</b> Монтаж - установка нового оборудования <br />
                                        <b>Modernization</b> Модернизация - замена оборудования на более производительное <br />
                                        <b>Change for support</b> Замена - восстановление вышедшего из строя оборудования/OC для поддержания их в рабочем состоянии  с целью их профилактики <br />
                                        <b>Change for improvement</b> Замена - восстановление вышедшего из строя оборудования/ОС для улучшения состояния объекта, повышающего его первоначально оцененные нормативные показатели: срок службы, производственную мощность и т. д<br />
                                        <b>Replacement</b> Перемещение - в пределах одного сайта<br />
                                        <b>Removal</b> Демонтаж - снятие оборудования
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"><button type="button" class="btn btn-sm btn-primary" style="margin-top: 10px;" ng-click="addJobWork()"><i class="glyphicon glyphicon-plus"></i> Add work</button></td>
                        </tr>
                    </tfoot>
                </table>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Materials required:</label>
        <div class="col-sm-8">
            <input type="checkbox" ng-model="materialsRequiredCheckbox" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Leasing required:</label>
        <div class="col-sm-8">
            <input type="checkbox" ng-model="leasingRequiredCheckbox" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Power engineering required:</label>
        <div class="col-sm-8">
            <input type="checkbox" ng-model="powerRequiredCheckbox" />
        </div>
    </div>
    <div class="form-group" ng-show="showJump">
        <label class="col-sm-4 control-label">Jump to Fill applied changed (test only):</label>
        <div class="col-sm-8">
            <input type="checkbox" ng-model="ptypeCheckbox" />
        </div>
    </div>
    <div class="form-group" ng-show="showJump">
        <label class="col-sm-4 control-label">Jump to Pr Creation (test only):</label>
        <div class="col-sm-8">
            <input type="checkbox" cam-variable-name="ignoreSignPRCheckbox" cam-variable-type="Boolean" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" ng-model="modifyJrResult" name="modifyJrResult" value="modified" required> Modified
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="modifyJrResult" name="modifyJrResult" value="canceled" required> Cancel
            </label>
            <label class="error" ng-show="kcell_form.modifyJrResult.$error.required && ( kcell_form.modifyJrResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Explanation of works</label>
        <div class="col-sm-8">
            <!-- NOT REQUIRED -->
            <textarea class="form-control" name="explanation" ng-model="explanation" placeholder="Explanation of works..." maxlength="1500" rows="4" required></textarea>
            <label class="error" ng-if="kcell_form.explanation.$error.required && ( kcell_form.explanation.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="explanationVisibility"
                       ng-model="explanationVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="explanationVisibility"
                       ng-model="explanationVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.explanationVisibility.$error.required && ( kcell_form.explanationVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <accordion ng-if="jobModel.resolutions.length > 0">
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date</th>
                    <th>Comment</th>
                    <th ng-if="hasGroup('kcellUsers')">Attached files</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in jobModel.resolutions">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assigneeName || resolution.assignee}}</td>
                    <td>{{'task.resolution.'+resolution.resolution | translate}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{isVisible(resolution)? resolution.comment : ''}}</td>
                    <td ng-if="hasGroup('kcellUsers')">{{resolution.files.join(', ')}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
