<div class="well">
    <div class="row">
        <div class="col-md-4">Creation date: {{requestedDate.value | date: 'dd.MM.yyyy HH:mm'}}</div>
        <div class="col-md-4">Reason: {{reasonsTitle[reason.value]}}</div>
        <div class="col-md-4">Materials required: {{materialsRequired.value}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Validity date: {{validityDate.value | date: 'dd.MM.yyyy'}}</div>
        <div class="col-md-4">Contract: {{servicesTitle[contract.value]}}</div>
        <div class="col-md-4">Leasing required: {{leasingRequired.value}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">SA&O Complaint Id: {{soaComplaintId.value}}</div>
        <div class="col-md-4">Contractor: {{contractorTitle[contractor.value]}}</div>
        <div class="col-md-4">Site (near end): {{site.value}}</div>
    </div>
    <div class="row">
        <div class="col-md-12">Supplementary files:</div>
        <iframe id="fileDownloadIframe" style="display:none;"></iframe>
        <div class="col-md-12" ng-repeat="file in supplementaryFiles.value.files">
            <a ng-click="download(file)">{{file.name}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">Works:</div>
        <div class="col-md-12" ng-repeat="work in works">
            <a href="javascript:void(0)">{{$index+1}}. {{worksTitle[work.sapServiceNumber]}}, works qty: {{work.quantity}}, materials qty: {{work.materialQuantity}} {{unitsTitle[work.unit]}}, on sites: {{work.sites}} (Near end)</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">{{explanation}}</div>
    </div>
</div>
