<h3 ng-if="summaries.facility.length > 0">Facility changes</h3>
<div ng-repeat="facility in summaries.facility track by $index">
    <h4 ng-if="facility.command === 'MODIFY_FACILITY'">{{$index+1}}. Facility changes</h4>
    <h4 ng-if="facility.command === 'ADD_FACILITY'">{{$index+1}}. Added new Facility</h4>
    <table class="table" ng-if="facility.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in facility.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'facility.'+change.path.join('.') | translate}}</td>
            <td>{{change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.cabinets.length > 0">Cabinet changes</h3>
<div ng-repeat="cabinet in summaries.cabinets track by $index">
    <h4 ng-if="cabinet.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Cabinet changes</h4>
    <h4 ng-if="cabinet.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Cabinet</h4>
    <h4 ng-if="cabinet.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Cabinet dismantled</h4>
    <table class="table" ng-if="cabinet.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in cabinet.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'cabinet.'+change.path.join('.') | translate}}</td>
            <td>{{change.lhs}}</td>
            <td>{{change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.rus.length > 0">Radio Unit changes</h3>
<div ng-repeat="ru in summaries.rus track by $index">
    <h4 ng-if="ru.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Radio Unit changes</h4>
    <h4 ng-if="ru.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Radio Unit</h4>
    <h4 ng-if="ru.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Radio Unit dismantled</h4>
    <table class="table" ng-if="ru.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in ru.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'rudu.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.dus.length > 0">Digital Unit changes</h3>
<div ng-repeat="du in summaries.dus track by $index">
    <h4 ng-if="du.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Digital Unit changes</h4>
    <h4 ng-if="du.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Digital Unit</h4>
    <h4 ng-if="du.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Digital Unit dismantled</h4>
    <table class="table" ng-if="du.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in du.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'rudu.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.antennas.length > 0">Antenna changes</h3>
<div ng-repeat="antenna in summaries.antennas track by $index">
    <h4 ng-if="antenna.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Antenna changes</h4>
    <h4 ng-if="antenna.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Antenna</h4>
    <h4 ng-if="antenna.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Antenna dismantled</h4>
    <table class="table" ng-if="antenna.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in antenna.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'antenna.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.supplementary.length > 0">Supplementary changes</h3>
<div ng-repeat="supp in summaries.supplementary track by $index">
    <h4 ng-if="supp.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Supplementary changes</h4>
    <h4 ng-if="supp.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Supplementary</h4>
    <h4 ng-if="supp.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Supplementary dismantled</h4>
    <table class="table" ng-if="supp.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in supp.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'supp.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.powerSources.length > 0">Power Source changes</h3>
<div ng-repeat="powerSource in summaries.powerSources track by $index">
    <h4 ng-if="powerSource.command === 'MODIFY_POWERSOURCE'">{{$index+1}}. Power Source changes</h4>
    <h4 ng-if="powerSource.command === 'CREATE_POWERSOURCE'">{{$index+1}}. Added new Power Source</h4>
    <h4 ng-if="powerSource.command === 'REMOVE_POWERSOURCE'">{{$index+1}}. Power Source dismantled</h4>
    <table class="table" ng-if="powerSource.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in powerSource.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'power.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.ius.length > 0">Indoor Unit changes</h3>
<div ng-repeat="iu in summaries.ius track by $index">
    <h4 ng-if="iu.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Indoor Unit changes</h4>
    <h4 ng-if="iu.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Indoor Unit</h4>
    <h4 ng-if="iu.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Indoor Unit dismantled</h4>
    <table class="table" ng-if="iu.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in iu.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'indoorUnit.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.ous.length > 0">Outdoor Unit changes</h3>
<div ng-repeat="ou in summaries.ous track by $index">
    <h4 ng-if="ou.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Outdoor Unit changes</h4>
    <h4 ng-if="ou.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Outdoor Unit</h4>
    <h4 ng-if="ou.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Outdoor Unit dismantled</h4>
    <table class="table" ng-if="ou.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in ou.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'outdoorUnit.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.aus.length > 0">Antenna Unit changes</h3>
<div ng-repeat="au in summaries.aus track by $index">
    <h4 ng-if="au.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Antenna Unit changes for</h4>
    <h4 ng-if="au.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Antenna Unit</h4>
    <h4 ng-if="au.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Antenna Unit dismantled</h4>
    <table class="table" ng-if="au.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in au.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'antennaUnit.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>
<h3 ng-if="summaries.transmissions.length > 0">Hop changes</h3>
<div ng-repeat="transmission in summaries.transmissions track by $index">
    <h4 ng-if="transmission.command === 'MODIFY_INSTALLATION'">{{$index+1}}. Antenna Unit changes</h4>
    <h4 ng-if="transmission.command === 'INSTALL_NEW_EQUIPMENT'">{{$index+1}}. Added new Antenna Unit</h4>
    <h4 ng-if="transmission.command === 'DISMANTLE_EQUIPMENT'">{{$index+1}}. Antenna Unit dismantled</h4>
    <table class="table" ng-if="transmission.delta.length > 0">
        <tr>
            <td>Kind</td>
            <td>Field</td>
            <td>Old</td>
            <td>New</td>
        </tr>
        <tr ng-repeat="change in transmission.delta" class="change-{{change.kind === 'A' ? change.item.kind : change.kind}}">
            <td>{{change.kind === 'A' ? 'delta.action.'+change.item.kind: 'delta.action.'+change.kind | translate}}</td>
            <td>{{'hop.'+change.path.join('.') | translate}}</td>
            <td>{{change.kind === 'A' ? change.item.lhs : change.lhs}}</td>
            <td>{{change.kind === 'A' ? change.item.rhs : change.rhs}}</td>
        </tr>
    </table>
</div>