<style>
    .well {
        color: #333;
    }
</style>
<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', function ($scope, $http, Uri, $rootScope, $q) {
            var variables = [
                'requestedDate',
                'jrNumber',
                'initiatorFull',
                'validityDate',
                'soaComplaintId',
                'site',
                'siteName',
                'siteAddress',
                'site_name',
                'reason',
                'contract',
                'contractor',
                'materialsRequired',
                'leasingRequired',
                'powerRequired',
                'project',
                'supplementaryFiles',
                'explanation',
                'resolutions',
                'jobWorks',
                'jrBlank',
                'tssrssidFile',
                'tssrssidFileName',
                'priority',
                'contractorJobAssignedDate',
                'mainContract'
            ];

            $scope.jobModel = {};
            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.processInstanceId = result.data.processInstanceId;
                },
                function (error) {
                    console.log(error.data);
                }
            );
            camForm.on('form-loaded', function () {
                variables.forEach(function (el) {
                    camForm.variableManager.fetchVariable(el);
                });

                $http.get($rootScope.getCatalogsHttpByName('catalogs')).then(
                        function (result) {
                            angular.extend($scope, result.data);
                            angular.extend($scope.jobModel, result.data);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                );
                camForm.variableManager.createVariable({
                    name: 'leasingCompletionTaskResult',
                    type: 'String',
                    value: ''
                });
                camForm.variableManager.createVariable({
                    name: 'leasingDone',
                    type: 'Boolean',
                    value: undefined
                });
            });
            camForm.on('variables-fetched', function () {
                variables.forEach(function (el) {
                    $scope.jobModel[el] = camForm.variableManager.variables[el];
                    if(el === 'resolutions'){
                        $scope[el] = camForm.variableManager.variables[el].value;
                    }
                });
                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    $rootScope.authentication.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });
                if(camForm.variableManager.variables['leasingCompletionComment']){
                    camForm.variableManager.variableValue('leasingCompletionComment', '');
                }
            });

            camForm.on('submit', function () {
                camForm.variableManager.variableValue('leasingCompletionTaskResult', $scope.leasingCompletionTaskResult);
                camForm.variableManager.createVariable({
                    name: 'update_leasing_status_specialTaskResult',
                    type: 'String',
                    value: $scope.leasingCompletionTaskResult
                });
                if ($scope.leasingCompletionTaskResult === 'done') {
                    camForm.variableManager.variableValue('leasingDone', true);
                } else {
                    camForm.variableManager.variableValue('leasingDone', false);
                }
                var visibility = 'all';
                if($scope.leasingCompletionComment && $scope.leasingCompletionCommentVisibility){
                    visibility = $scope.leasingCompletionCommentVisibility;
                    camForm.variableManager.createVariable({
                        name: 'update_leasing_status_specialTaskCommentVisibility',
                        type: 'String',
                        value: visibility
                    });
                }
                camForm.variableManager.createVariable({
                    name: 'update_leasing_status_specialTaskComment',
                    type: 'String',
                    value: $scope.leasingCompletionComment
                });
                camForm.variableManager.destroyVariable('resolutions');
            });

            camForm.on('store', function() {
                camForm.variableManager.variableValue('leasingCompletionTaskResult', $scope.leasingCompletionTaskResult);
            });

            camForm.on('variables-restored', function() {
                $scope.leasingCompletionTaskResult = camForm.variableManager.variableValue('leasingCompletionTaskResult');
            });

            $scope.isVisible = function (resolution) {
               return !resolution.visibility || resolution.visibility === 'all' || (resolution.visibility === 'kcell' && $rootScope.hasGroup('kcellUsers'));
            }

            $scope.hasComment = function () {
                return $scope.leasingCompletionComment && $rootScope.hasGroup('kcellUsers');
            }
        }]);
    </script>
    <job-request job-model="jobModel"></job-request>
    <div class="form-group">
        <label class="col-sm-4 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="leasingCompletionTaskResult" ng-model="leasingCompletionTaskResult" value="done" required ng-click="changeResult()"> Leasing done
            </label>
            <label class="radio-inline">
                <input type="radio" name="leasingCompletionTaskResult" ng-model="leasingCompletionTaskResult" value="impossible" required ng-click="changeResult()"> Leasing impossible
            </label>
            <label class="error" ng-show="kcell_form.leasingCompletionTaskResult.$error.required && ( kcell_form.leasingCompletionTaskResult.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea class="form-control" cam-variable-name="leasingCompletionComment" name="leasingCompletionComment" ng-required="leasingCompletionTaskResult == 'impossible'" cam-variable-type="String" rows="4" maxlength="500"></textarea>
            <label class="error" ng-show="kcell_form.leasingCompletionComment.$error.required && ( kcell_form.leasingCompletionComment.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group" ng-show="hasComment()">
        <label class="col-sm-4 control-label">Comments visibility</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="leasingCompletionCommentVisibility"
                       ng-model="leasingCompletionCommentVisibility" value="all" ng-required="hasComment()"> Visible for all
            </label>
            <label class="radio-inline">
                <input type="radio" name="leasingCompletionCommentVisibility"
                       ng-model="leasingCompletionCommentVisibility" value="kcell" ng-required="hasComment()"> Kcell staff only
            </label>
            <label class="error" ng-show="kcell_form.leasingCompletionCommentVisibility.$error.required && ( kcell_form.leasingCompletionCommentVisibility.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <resolution-history resolutions="resolutions" procDef="Revision"></resolution-history>
        </accordion-group>
    </accordion>
</form>
