<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <style>
        .well {
            color: #333;
        }
    </style>
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
            $scope.generalData = {
                general: {},
                targetAudience: {},
                demandDetails: {}
            };
            $scope.BRDData = {
                funcRequirements: {},
                nonFuncRequirements: {},
                interfaces: {},
                reportsStatistics: ''
            };
            $scope.CACData = {
                resources: [],
                materials: [],
                acceptCrits: []
            };
            $scope.resolutions = [];
            $scope.attachments = [];
            $scope.supportiveInputs = [];
            var supportiveInputList = {
                CPD: false, CPDs: [],
                HR: false, HRs: [],
                TD: false, TDs: []
            };
            $scope.supportiveInputsCount = 0;
            var processInstanceId = null;
            var taskName = null;
            var assigneeName = $rootScope.authentication.name;
            var createdDate = new Date();
            $scope.pricesFilled = true;

            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    processInstanceId = result.data.processInstanceId;
                    taskName = result.data.name;
                    if (result.data.created) createdDate = new Date(result.data.created);
                },
                function (error) {
                    console.log(error.data);
                }
            );

            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('generalData');
                camForm.variableManager.fetchVariable('BRDData');
                camForm.variableManager.fetchVariable('acceptanceCriterias');
                camForm.variableManager.fetchVariable('resolutions');
                camForm.variableManager.fetchVariable('resolution');
                camForm.variableManager.fetchVariable('attachments');
                camForm.variableManager.fetchVariable('supportiveInputs');
                camForm.variableManager.fetchVariable('supportiveInputList');
            });

            camForm.on('variables-fetched', function () {
                $scope.generalData = camForm.variableManager.variableValue('generalData');
                $scope.BRDData = camForm.variableManager.variableValue('BRDData');
                $scope.acceptanceCriterias = camForm.variableManager.variableValue('acceptanceCriterias');
                $scope.resolutions = camForm.variableManager.variableValue('resolutions');
                $scope.attachments = camForm.variableManager.variableValue('attachments');
                $scope.supportiveInputs = camForm.variableManager.variableValue('supportiveInputs');
                $scope.supportiveInputList = camForm.variableManager.variableValue('supportiveInputList');
                if (!$scope.attachments) $scope.attachments = [];
                if (!$scope.supportiveInputs) {
                    $scope.supportiveInputs = [
                        {unit: 'Human Resources Department', form: 'HR', value: [], checked: false, groupId: 'Demand_Supportive_Human_Resources_Department'},
                        {unit: 'Centralized Procurement Department', form: 'CPD', value: [], checked: false},
                        {unit: 'Technology Department', form: 'TD', value: {}, checked: false}
                    ];
                } else {
                    for (var s of $scope.supportiveInputs) {
                        if (s.checked) $scope.supportiveInputsCount++;
                    }
                    if ($scope.supportiveInputs.findIndex(function(e) { return e.unit === 'Technology Department'}) === -1) {
                        $scope.supportiveInputs.push({unit: 'Technology Department', form: 'TD', value: {}, checked: false});
                    }
                }
            });

            camForm.on('submit', function (event) {
                var submitDate = new Date ();
                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }
                $scope.resolutions.unshift({processInstanceId: processInstanceId, assignee: assigneeName, resolution: $scope.resolution, comment: $scope.comment, taskId: camForm.taskId, taskEndDate: submitDate, taskName: taskName, dateOfAssign: createdDate});
                camForm.variableManager.destroyVariable('resolutions');
                camForm.variableManager.createVariable({
                    name: 'resolutions',
                    type: 'Json',
                    value: $scope.resolutions
                });

                camForm.variableManager.destroyVariable('resolution');
                camForm.variableManager.createVariable({
                    name: 'resolution',
                    type: 'String',
                    value: $scope.resolution
                });

                if ($scope.supportiveInputs && $scope.supportiveInputs.length) {
                    for (var v of $scope.supportiveInputs) {
                        if (!v.checked) continue;
                        if (v.unit === 'Human Resources Department') {
                            supportiveInputList[v.form] = true;
                            if (!supportiveInputList[v.form+'s']) supportiveInputList[v.form+'s'] = [];
                            supportiveInputList[v.form+'s'].push({unit: v.unit, groupId: v.groupId});
                        } else if (v.unit === 'Centralized Procurement Department') {
                            supportiveInputList[v.form] = true;
                            if (!supportiveInputList[v.form+'s']) supportiveInputList[v.form+'s'] = [];
                            for (var m of v.value) {
                                if (!m.purchaser || !m.purchaser.groupId || supportiveInputList[v.form+'s'].find(function(e) { return e.groupId === m.purchaser.groupId; })) continue;
                                supportiveInputList[v.form+'s'].push({unit: v.unit, groupId: m.purchaser.groupId});
                            }
                        } else if (v.unit === 'Technology Department') {
                            supportiveInputList[v.form] = true;
                            if (!supportiveInputList[v.form+'s']) supportiveInputList[v.form+'s'] = [];
                            supportiveInputList[v.form+'s'].push({unit: v.unit, responsible: v.responsible});
                        }
                    }
                }

                if ($scope.resolution == 'Approve') {
                    for (var i of $scope.supportiveInputs) {
                        i.inputReceived = false;
                        i.description = null;
                        i.checked = false;
                    }
                }

                camForm.variableManager.destroyVariable("supportiveInputs");
                camForm.variableManager.createVariable({
                    name: 'supportiveInputs',
                    type: 'Json',
                    value: $scope.supportiveInputs
                });

                camForm.variableManager.destroyVariable("supportiveInputList");
                camForm.variableManager.createVariable({
                    name: 'supportiveInputList',
                    type: 'Json',
                    value: supportiveInputList
                });
            });

            $scope.downloadFile = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.path, transformResponse: [] }).
                then(function(response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            };

            $scope.needInputClicked = function(selected) {
                $scope.supportiveInputsCount += (selected ? 1 : -1);
                if (!$scope.supportiveInputsCount && scope.resolution == 'Request Info') $scope.resolution = 'Send to modify';
            };


            $scope.getUser = function(val, index) {
                $scope.supportiveInputs[index].responsible = null;
                $scope.kcell_form['reqinfo_'+index+'_responsible'].$setValidity('not_selected', false);
                var users = $http.get('/camunda/api/engine/engine/default/user?memberOfGroup=demand_uat_users&firstNameLike='+encodeURIComponent('%'+val+'%')).then(
                    function(response){
                      var usersByFirstName = _.flatMap(response.data, function(s){
                        if(s.id){
                          return s.id.split(',').map(function(user){
                            return {
                              id: s.id,
                              email: (s.email?s.email.substring(s.email.lastIndexOf('/')+1):s.email),
                              firstName: s.firstName,
                              lastName: s.lastName,
                              name: s.firstName + ' ' + s.lastName
                            };
                          })
                        } else {
                          return [];
                        }
                      });

                      return $http.get('/camunda/api/engine/engine/default/user?lastNameLike='+encodeURIComponent('%'+val+'%')).then(
                          function(response){
                            var usersByLastName = _.flatMap(response.data, function(s){
                              if(s.id){
                                return s.id.split(',').map(function(user){
                                  return {
                                    id: s.id,
                                    email: s.email.substring(s.email.lastIndexOf('/')+1),
                                    firstName: s.firstName,
                                    lastName: s.lastName,
                                    name: s.firstName + ' ' + s.lastName
                                  };
                                })
                              } else {
                                return [];
                              }
                            });
                            return _.unionWith(usersByFirstName, usersByLastName, _.isEqual);
                          }
                      );
                    }
                );
                return users;
            };

            $scope.userSelected = function($item, index){
                $scope.supportiveInputs[index].responsible = $item.id;
                $scope.supportiveInputs[index].responsibleName = $item.name;
                $scope.kcell_form['reqinfo_'+index+'_responsible'].$setValidity('not_selected', true);
            };

            $scope.$watch('supportiveInputs', function (value) {
                $scope.pricesFilled = true;
                for (var i of $scope.supportiveInputs) {
                    if (i.form == 'HR' || i.form == 'CPD') {
                        for (var r of i.value) {
                            if (!r.pprice) {
                                $scope.pricesFilled = false;
                                break;
                            }
                        }
                    }
                }
                if (!$scope.pricesFilled && $scope.resolution == 'Approve') $scope.resolution = null;

            }, true);
        }]);
    </script>
    <div class="form-group">
        <label style="width: 8%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Business Key:</label>
        <div class="col-sm-2">
            <input rows="1" class="form-control" cam-variable-name="businessKey" cam-variable-type="String" disabled>
        </div>
        <label style="width: 10%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Demand Status:</label>
        <div class="col-sm-2">
            <label rows="1" class="form-control" disabled>Active </label>
        </div>
        <label style="width: 6.6%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Activity:</label>
        <div class="col-sm-5">
            <label rows="1" class="form-control" disabled> Check cost assessment </label>
        </div>
    </div>
    <div class="form-group">
        <label style="width: 8%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Demand Name:</label>
        <div class="col-sm-11">
            <input rows="1" class="form-control" cam-variable-name="demandName" cam-variable-type="String" disabled/>
        </div>
    </div>
    <hr>
    <tabset class="my-tab-head my-tab" justified="true" id="jobRequestId">
        <tab>
            <tab-heading> General </tab-heading>
            <div style="margin-bottom: 20px;">
                <div class="col-sm-{{generalData.general.technicalAnalysis?'6':'12'}}">
                    <h4>General</h4>
                    <demand-general data="generalData.general" form="kcell_form" view="view" disabled="true" technical="generalData.general.technicalAnalysis"></demand-general>
                </div>
                <div class="col-sm-6" ng-if="generalData.general.technicalAnalysis">
                    <h4>Target Audience:</h4>
                    <demand-target-audience data="generalData.targetAudience" form="kcell_form" view="view" disabled="true"></demand-target-audience>
                </div>
                <br>
                <div class="col-sm-12" ng-if="generalData.general.technicalAnalysis">
                    <h4>Demand Details</h4>
                    <demand-details data="generalData.demandDetails" form="kcell_form" view="view" disabled="true"></demand-details>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading> BRD </tab-heading>
            <div style="margin-bottom: 20px;">
                <accordion>
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-func-requirements data="BRDData.funcRequirements" form="kcell_form" view="view" disabled="true"></demand-func-requirements>
                    </accordion-group>
                </accordion>
                <accordion>
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Non-Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-non-func-requirements data="BRDData.nonFuncRequirements" form="kcell_form" view="view" disabled="true"></demand-non-func-requirements>
                    </accordion-group>
                </accordion>
                <accordion>
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Interfaces <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-interfaces data="BRDData.interfaces" form="kcell_form" view="view" disabled="true"></demand-interfaces>
                    </accordion-group>
                </accordion>
                <accordion>
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Reports and Statistics <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <div class="col-sm-12">
                            <demand-rich-text data="BRDData.reportsStatistics" disabled="true" min-height="100"></demand-rich-text>
                        </div>
                    </accordion-group>
                </accordion>
                <accordion>
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Dependencies and Assumptions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <div class="col-sm-12">
                            <demand-rich-text data="BRDData.dependencies" disabled="true" min-height="100"></demand-rich-text>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </tab>
        <tab active="true">
            <tab-heading> Costs and Acceptance criteria </tab-heading>
            <div style="margin-bottom: 20px;">
                <accordion ng-repeat="i in supportiveInputs" ng-if="i.unit == 'Human Resources Department'">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Resources <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-resources data="i.value" form="kcell_form" view="view" disabled="false" editprice="false"></demand-resources>
                    </accordion-group>
                </accordion>
                <accordion ng-repeat="i in supportiveInputs" ng-if="i.unit == 'Centralized Procurement Department'">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Materials <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-materials data="i.value" form="kcell_form" view="view" disabled="false" editprice="false" editexisting="false"></demand-materials>
                    </accordion-group>
                </accordion>
                <accordion>
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Acceptance criteria <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <div class="col-sm-12">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th style="border:none;">#</th>
                                    <th style="border:none;">Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="d in acceptanceCriterias track by $index">
                                    <td>{{$index + 1}}.</td>
                                    <td><div class="disabled-element">{{d.v}}</div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </tab>
        <tab disabled="true">
            <tab-heading> Business Case </tab-heading>
        </tab>
        <tab disabled="true">
            <tab-heading> SDD </tab-heading>
        </tab>
    </tabset>

    <div class="col-sm-12" style="margin-top: 20px;"><hr style="border-top: 2px solid #aaa;" /></div>

    <div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-2">Supportive Inputs</label>
            </div>
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center col-sm-1">Need input</th>
                        <th class="text-center col-sm-3">Supportive unit</th>
                        <th class="text-center col-sm-4">Request description</th>
                        <th class="text-center col-sm-3">Responsible</th>
                        <th class="text-center col-sm-1">Input received</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in supportiveInputs" ng-if="r.unit == 'Human Resources Department' || r.unit == 'Centralized Procurement Department' || r.unit == 'Technology Department'">
                        <td class="text-center">
                            <input type="checkbox" ng-model="r.checked" ng-click="needInputClicked(r.checked)">
                        </td>
                        <td class="text-center">
                            <input type="text" class="form-control" ng-model="r.unit" disabled>
                        </td>
                        <td class="text-center">
                            <textarea rows="1" elastic-textarea class="form-control" ng-model="r.description" name="reqinfo_{{$index}}_description" ng-required="r.checked"></textarea>
                            <span class="has-error" ng-if="kcell_form['reqinfo_'+$index+'_description'].$error.required && ( kcell_form['reqinfo_'+$index+'_description'].$touched || view.submitted)">Required field</span>
                        </td>
                        <td class="text-center">
                            <input type="text" ng-model="r.responsibleName" name="reqinfo_{{$index}}_responsible" typeahead="name as users.name for users in getUser($viewValue, $index)" typeahead-on-select="userSelected($item, $index)" class="form-control" autocomplete="off" required ng-if="r.unit === 'Technology Department' && r.checked">
                            <span class="has-error" ng-if="kcell_form['reqinfo_'+$index+'_responsible'].$error.required && (kcell_form['reqinfo_'+$index+'_responsible'].$touched || view.submitted)">Required field</span>
                            <span class="has-error" ng-if="!kcell_form['reqinfo_'+$index+'_responsible'].$error.required && kcell_form['reqinfo_'+$index+'_responsible'].$error.not_selected && (kcell_form['reqinfo_'+$index+'_responsible'].$touched || view.submitted)">User must be selected from the list</span>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="r.inputReceived" disabled>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
        <iframe id="fileDownloadIframe" style="display:none;"></iframe>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-12" style="margin-bottom: 10px;">
                    <label class="col-sm-12">Attachments</label>
                </div>
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Created</th>
                            <th>Created By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in attachments track by $index">
                            <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
                            <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
                            <td>{{file.createdBy}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Resolution</label>
        <div class="col-sm-8">
            <label class="radio-inline" title="{{pricesFilled?'Утвердить запрос \ Approve request':'Должны быть заполнены поля &quot;Rate per Hour, KZT Gross&quot; и &quot;Price, Without VAT&quot; для добавленных позиций в Resources и Materials'}}">
                <input type="radio" ng-model="resolution" name="resolution" value="Approve" required ng-disabled="!pricesFilled"> Approve
            </label>
            <label class="radio-inline" title="Вернуть запрос на доработку \ Send request to edit">
                <input type="radio" ng-model="resolution" name="resolution" value="Send to modify" required> Send to modify
            </label>
            <label class="radio-inline" title="Запросить экспертизу \ Request Supportive input">
                <input type="radio" ng-model="resolution" name="resolution" value="Request Info" required ng-disabled="!supportiveInputsCount"> Request Info
            </label>
            <label class="error" ng-show="kcell_form.resolution.$error.required && ( kcell_form.resolution.$touched || view.submitted)">Required field</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Comment<span ng-if="resolution == 'Send to modify'" class="text-danger glyphicon-asterisk"></span></label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" maxlength="500" ng-model="comment" name="comment" ng-required="resolution == 'Send to modify'"></textarea>
            <label class="error" ng-show="kcell_form.comment.$error.required && ( kcell_form.comment.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date of assign</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions track by $index">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assignee}}</td>
                    <td>{{resolution.resolution}}</td>
                    <td>{{resolution.dateOfAssign | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
