<form role="form" class="form-horizontal" name="kcell_form" novalidate>
  <style>
    .well {
      color: #333;
    }

    .content-visible-accordion .panel {
      overflow: visible;
    }

    .no-margin-panel .panel {
      margin-bottom: 0;
    }

    .show-in-print {
      display: none !important;
    }

    @media print {
      @page {
        size: 210mm 297mm;
        margin: 20mm 15mm;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .currentTask {
        width: 100% !important;
      }

      .currentTask .container-fluid {
        display: none !important;
      }

      .my-tab-head > .nav-tabs {
        display: none !important;
      }

      .note-editor > .note-toolbar-wrapper {
        display: none !important;
      }

      .hide-in-print {
        display: none !important;
      }

      .show-in-print {
        display: block !important;
      }

      .panel-heading > .panel-title .glyphicon {
        display: none !important;
      }
      a {
        text-decoration: none !important;
      }
      a[href=""]:after {
        content: "" !important;
      }
    }
  </style>
  <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', 'exModal', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout, exModal) {
            $scope.generalData = {
                general: {},
                targetAudience: {},
                demandDetails: {}
            };
            $scope.BRDData = {
                funcRequirements: {},
                nonFuncRequirements: {},
                interfaces: {},
                reportsStatistics: '',
                acceptanceCriteria: []
            };
            $scope.BCData = {
                data: {}
            };
            $scope.SDDData = {
                funcRequirements: {},
                nonFuncRequirements: {},
                solutionDesign: {},
                components: {},
                section: 0
            };
            $scope.resolutions = [];
            $scope.attachments = [];
            $scope.supportiveInputs = [];
            $scope.resources = [];
            $scope.materials = [];

            $scope.processInstanceId = null;
            $scope.taskId = camForm.taskId;
            var taskName = null;
            $scope.assigneeName = $rootScope.authentication.name;
            var createdDate = new Date();
            var claimDate = new Date();

            $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                $scope.assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
            });

            $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                function(result){
                    $scope.processInstanceId = result.data.processInstanceId;
                    taskName = result.data.name;
                    if (result.data.created) createdDate = new Date(result.data.created);
                },
                function (error) {
                    console.log(error.data);
                }
            );
            $http.get("/camunda/api/engine/engine/default/history/identity-link-log?type=assignee&taskId=" + camForm.taskId + "&operationType=add&sortBy=time&sortOrder=desc").then(
                function (logs) {
                  try {
                    if(logs.data && logs.data.length > 0){
                                claimDate = new Date(logs.data[0].time);
                            } else {
                                claimDate = undefined;
                            }
                  } catch(e){
                    console.log(e);
                  }
                },
                function (error) {
                  console.log(error.data);
                }
            );

            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('generalData');
                camForm.variableManager.fetchVariable('BRDData');
                camForm.variableManager.fetchVariable('BCData');
                camForm.variableManager.fetchVariable('SDDData');
                camForm.variableManager.fetchVariable('supportiveInputs');
                camForm.variableManager.fetchVariable('resolutions');
                camForm.variableManager.fetchVariable('resolution');
                camForm.variableManager.fetchVariable('attachments');
                camForm.variableManager.fetchVariable('requirementManager');
                camForm.variableManager.fetchVariable('solutionOwner');
                camForm.variableManager.fetchVariable('status');
                camForm.variableManager.fetchVariable('state');
            });

            camForm.on('variables-fetched', function () {
                $scope.generalData = camForm.variableManager.variableValue('generalData');
                $scope.BRDData = camForm.variableManager.variableValue('BRDData');
                $scope.BCData = camForm.variableManager.variableValue('BCData');
                $scope.SDDData = camForm.variableManager.variableValue('SDDData');
                $scope.supportiveInputs = camForm.variableManager.variableValue('supportiveInputs');
                $scope.resolutions = camForm.variableManager.variableValue('resolutions');
                $scope.attachments = camForm.variableManager.variableValue('attachments');
                $scope.requirementManager = camForm.variableManager.variableValue('requirementManager');
                $scope.solutionOwner = camForm.variableManager.variableValue('solutionOwner');
                $scope.status = camForm.variableManager.variableValue('status');
                $scope.state = camForm.variableManager.variableValue('state');
                if (!$scope.attachments) $scope.attachments = [];
                if (!$scope.supportiveInputs) $scope.supportiveInputs = [];
                if (!$scope.SDDData) {
                  $scope.SDDData = {
                      funcRequirements: {},
                      nonFuncRequirements: {},
                      solutionDesign: {},
                      components: {}
                  };
                }
                for (var i of $scope.supportiveInputs) {
                    if (i.form == 'HR') $scope.resources = $scope.resources.concat(i.value);
                    else if (i.form == 'CPD') $scope.materials = $scope.materials.concat(i.value);
                }

                $http.get("/camunda/api/engine/engine/default/user/" + $scope.requirementManager + "/profile").then(function(result){
                    $scope.requirementManager = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });

                $http.get("/camunda/api/engine/engine/default/user/" + $scope.solutionOwner + "/profile").then(function(result){
                    $scope.solutionOwner = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });

            });

            camForm.on('submit', function (event) {
                var submitDate = new Date ();
                if(!$scope.resolutions){
                    $scope.resolutions = [];
                }
                $scope.resolutions.unshift({processInstanceId: $scope.processInstanceId, assignee: $scope.assigneeName, resolution: $scope.resolution, comment: $scope.comment, taskId: camForm.taskId, taskEndDate: submitDate, taskName: taskName, dateOfAssign: createdDate, claimDate: claimDate});
                camForm.variableManager.destroyVariable('resolutions');
                camForm.variableManager.createVariable({
                    name: 'resolutions',
                    type: 'Json',
                    value: $scope.resolutions
                });

                camForm.variableManager.destroyVariable('resolution');
                camForm.variableManager.createVariable({
                    name: 'resolution',
                    type: 'String',
                    value: $scope.resolution
                });

                camForm.variableManager.destroyVariable('SDDData');
                camForm.variableManager.createVariable({
                    name: 'SDDData',
                    type: 'Json',
                    value: $scope.SDDData
                });

                camForm.variableManager.destroyVariable('attachments');
                camForm.variableManager.createVariable({
                    name: 'attachments',
                    type: 'Json',
                    value: $scope.attachments
                });
            });

            $scope.downloadFile = function (file) {
                $http({method: 'GET', url: '/camunda/uploads/get/' + file.path, transformResponse: [] }).
                then(function(response) {
                    document.getElementById('fileDownloadIframe').src = response.data;
                }, function(error){
                    console.log(error.data);
                });
            };

            $scope.clearFile = function(fileIndex) {
              exModal.open({
                templateUrl: './js/partials/confirmModal.html',
                size: 'sm'
              }).then(function() {
                $scope.attachments.splice(fileIndex, 1);
              });
            }

            $scope.fileSelected = function(el ){
                $timeout(function () {
                    $scope.$apply(function () {
                        uploadFileToMinio(el.files[0]);
                    });
                })
            };

            function uploadFileToMinio(file) {
                var fileToUpload = {
                    name: file.name,
                    path: $scope.processInstanceId + '/' + camForm.taskId + '/' + file.name,
                    created: new Date(),
                    createdBy: $scope.assigneeName
                };
                $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.path, transformResponse: [] }).then(function(response) {
                    $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                        function () {
                            $scope.attachments.push(fileToUpload);
                            angular.element(document.querySelector('#attachments')).val(null);
                        },
                        function (error) {
                            console.log(error.data);
                        }
                    );
                }, function(error){
                    console.log(error.data);
                });
            }

            var lastTimeout = $timeout($scope.saveFillForm, 30000);

            $scope.saveFillForm = function (clicked) {
                var success = 0;
                var json = JSON.stringify($scope.SDDData, function( key, value ) {
                    if( key === "$$hashKey" ) return undefined;
                    return value;
                });
                $http.put('/camunda/api/engine/engine/default/process-instance/'+$scope.processInstanceId+'/variables/SDDData',{"type":"Json","value": json}).then(
                    function() {
                        success++;
                        if (success == 2 && clicked) toasty.success( "Данные успешно сохранены!");
                    },
                    function(error) {
                        if (clicked) toasty.error(error.data.message);
                    }
                );
                json = JSON.stringify($scope.attachments, function( key, value ) {
                    if( key === "$$hashKey" ) return undefined;
                    return value;
                });
                $http.put('/camunda/api/engine/engine/default/process-instance/'+$scope.processInstanceId+'/variables/attachments',{"type":"Json","value": json}).then(
                    function() {
                        success++;
                        if (success == 2 && clicked) toasty.success( "Данные успешно сохранены!");
                    },
                    function(error) {
                        if (clicked) toasty.error(error.data.message);
                    }
                );

                if (clicked) clearTimeout(lastTimeout);
                lastTimeout = $timeout($scope.saveFillForm, 30000);
            };

            $(window).on('beforeunload', async function() {
                var json = JSON.stringify($scope.SDDData, function( key, value ) {
                    if( key === "$$hashKey" ) return undefined;
                    return value;
                });
                var json1 = JSON.stringify($scope.attachments, function( key, value ) {
                    if( key === "$$hashKey" ) return undefined;
                    return value;
                });

                await $q.all([
                  $http.put('/camunda/api/engine/engine/default/process-instance/'+$scope.processInstanceId+'/variables/SDDData',{"type":"Json","value": json}),
                  $http.put('/camunda/api/engine/engine/default/process-instance/'+$scope.processInstanceId+'/variables/attachments',{"type":"Json","value": json1})
                ]);
                return 'Saving...';
            });

            $scope.sddDisabled = false;
            $scope.showSDD = true;

            $scope.sddToPdf = function() {
              $scope.sddDisabled = true;
              $scope.showSDD = false;
              $timeout(function() {
                $scope.showSDD = true;
                $timeout(function() {
                  window.print();
                }, 1000);
              });
            };

            window.onafterprint = function(){
              $scope.sddDisabled = false;
              $scope.showSDD = false;
              $timeout(function() {
                $scope.showSDD = true;
              });
            }
        }]);
    </script>
  <div class="hide-in-print">
    <div class="form-group">
      <label style="width: 11%; float: left; padding: 7px 5px 0 15px; font-weight: 500;"> Business Key:</label>
      <div style="width: 10%; float: left; padding: 0 5px;">
        <input class="form-control" cam-variable-name="businessKey" cam-variable-type="String" disabled>
      </div>
      <label style="width: 6%; float: left; padding: 7px 0px 0 10px; font-weight: 500;"> Status:</label>
      <div style="width: 22%; float: left; padding: 0 5px;">
        <div class="disabled-element">{{status}} </div>
      </div>
      <label style="width: 6%; float: left; padding: 7px 0px 0 10px; font-weight: 500;"> State:</label>
      <div style="width: 10%; float: left; padding: 0 5px;">
        <div class="disabled-element">{{state}} </div>
      </div>
      <label style="width: 6%; float: left; padding: 7px 0px 0 5px; font-weight: 500;"> Activity:</label>
      <div style="width: 29%; float: left; padding: 0 5px;">
        <div class="disabled-element"> Fill SDD </div>
      </div>
    </div>
    <div class="form-group">
      <label style="width: 11%; float: left; padding: 7px 5px 0 15px; font-weight: 500;"> Demand Name:</label>
      <div style="width: 89%; float: left; padding: 0 5px;">
        <input class="form-control" cam-variable-name="demandName" cam-variable-type="String" disabled/>
      </div>
    </div>
    <hr>
  </div>

  <tabset class="my-tab-head my-tab" justified="true" id="jobRequestId">
    <tab>
      <tab-heading> General </tab-heading>
      <div style="margin-top: 20px;">
        <div class="col-sm-{{generalData.general.technicalAnalysis?'6':'12'}}" style="padding: 0;">
          <div class="panel-group custom-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">General</h4>
              </div>
              <div class="panel-body">
                <demand-general data="generalData.general" form="kcell_form" view="view" disabled="true" technical="generalData.general.technicalAnalysis"></demand-general>
                <div class="form-group" ng-if="!generalData.general.technicalAnalysis">
                  <label class="col-sm-12 control-label">Demand description</label>
                  <div class="col-sm-12">
                    <div class="col-sm-12 disabled-element">{{generalData.general.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6" ng-if="generalData.general.technicalAnalysis" style="padding: 0; padding-left: 10px;">
          <div class="panel-group custom-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Target Audience</h4>
              </div>
              <div class="panel-body">
                <demand-target-audience data="generalData.targetAudience" form="kcell_form" view="view" disabled="true"></demand-target-audience>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" ng-if="generalData.general.technicalAnalysis" style="padding: 0;">
          <div class="panel-group custom-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Demand details</h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-12 control-label">Demand description</label>
                  <div class="col-sm-12">
                    <div class="col-sm-12 disabled-element">{{generalData.general.description}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12 control-label">Customer benefits:</label>
                  <div class="col-sm-12">
                    <div class="col-sm-12 disabled-element">{{generalData.general.customerBenefits}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12 control-label">Financial benefits:</label>
                  <div class="col-sm-12">
                    <div class="col-sm-12 disabled-element">{{generalData.general.financialBenefits}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" ng-if="generalData.general.technicalAnalysis" style="padding: 0;">
          <div class="panel-group custom-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Product Details</h4>
              </div>
              <div class="panel-body">
                <demand-details data="generalData.demandDetails" catalog="detailsCatalogs" form="kcell_form" view="view" disabled="true"></demand-details>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab>
      <tab-heading> BRD </tab-heading>
      <div style="margin-bottom: 20px; margin-top: 20px;">
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <demand-func-requirements data="BRDData.funcRequirements" form="kcell_form" view="view" disabled="true"></demand-func-requirements>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Non-Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <demand-non-func-requirements data="BRDData.nonFuncRequirements" form="kcell_form" view="view" disabled="true"></demand-non-func-requirements>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Interfaces <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <demand-interfaces data="BRDData.interfaces" form="kcell_form" view="view" disabled="true"></demand-interfaces>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Reports and Statistics <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12">
              <demand-rich-text data="BRDData.reportsStatistics" disabled="true" min-height="100"></demand-rich-text>
            </div>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Dependencies and Assumptions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12">
              <demand-rich-text data="BRDData.dependencies" disabled="true" min-height="100"></demand-rich-text>
            </div>
          </accordion-group>
        </accordion>
        <accordion class="content-visible-accordion">
          <accordion-group is-open="true">
            <accordion-heading>
              Acceptance criteria <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12">
              <table class="table table-borderless" style="margin-bottom: 0;">
                <thead>
                <tr>
                  <th style="border:none; width: 2%;">#</th>
                  <th style="border:none; width: 98%;">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ac in BRDData.acceptanceCriteria track by $index">
                  <td>
                    <div class="col-sm-12 control-label" style="padding-left: 0;">{{$index + 1}}</div>
                  </td>
                  <td>
                    <demand-rich-text data="ac.description" disabled="true" min-height="100"></demand-rich-text>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </tab>
    <tab>
      <tab-heading> Costs </tab-heading>
      <div style="margin-top: 20px;">
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Resources <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
              <demand-resources data="resources" form="kcell_form" view="view" disabled="true" editprice="false"></demand-resources>
            </div>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group is-open="true">
            <accordion-heading>
              Materials <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 10px; padding-top: 10px; margin: 20px 0;">
              <demand-materials data="materials" form="kcell_form" view="view" disabled="true" editprice="false"></demand-materials>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </tab>
    <tab>
      <tab-heading> Business Case </tab-heading>
      <div style="margin-top: 20px;">
        <div class="col-sm-12" style="padding: 0;">
          <div class="panel-group custom-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Business Case</h4>
              </div>
              <div class="panel-body">
                <demand-business-case data="BCData.data" form="kcell_form" view="view" disabled="true" show-banchmark="true"></demand-business-case>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab active="true">
      <tab-heading> SDD </tab-heading>
      <div style="margin-top: 20px;" ng-if="showSDD">
        <div class="col-sm-12 show-in-print text-center"><h2>SDD</h2></div>
        <div class="form-group">
          <label class="control-label col-sm-12">Glossary</label>
          <div class="col-sm-12 no-margin-panel">
            <demand-rich-text data="SDDData.glossary" min-height="100" process-id="processInstanceId" task-id="taskId" disabled="sddDisabled"></demand-rich-text>
            <input type="hidden" ng-model="SDDData.glossary" name="sdd_glossary" ng-required="resolution === 'Submit'">
            <span class="has-error" ng-if="kcell_form.sdd_glossary.$error.required && (kcell_form.sdd_glossary.$touched || view.submitted)">Required field</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-12">General description</label>
          <div class="col-sm-12 no-margin-panel">
            <demand-rich-text data="SDDData.generalDescription" min-height="100" process-id="processInstanceId" task-id="taskId" disabled="sddDisabled"></demand-rich-text>
            <input type="hidden" ng-model="SDDData.generalDescription" name="sdd_generalDescription" ng-required="resolution === 'Submit'">
            <span class="has-error" ng-if="kcell_form.sdd_generalDescription.$error.required && (kcell_form.sdd_generalDescription.$touched || view.submitted)">Required field</span>
          </div>
        </div>
        <accordion class="content-visible-accordion">
          <accordion-group is-open="true">
            <accordion-heading>
              Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12" style="margin-bottom: 10px;">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#fieldConstructor" ng-click="SDDData.section = 0">Add\Remove fields</button>
            </div>
            <demand-sdd-sections data="SDDData.funcRequirements" section="0" form="kcell_form" view="view" process-id="processInstanceId" task-id="taskId" required="resolution === 'Submit'" disabled="sddDisabled"></demand-sdd-sections>
          </accordion-group>
        </accordion>
        <accordion class="content-visible-accordion">
          <accordion-group is-open="true">
            <accordion-heading>
              Non-Functional requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12" style="margin-bottom: 10px;">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#fieldConstructor" ng-click="SDDData.section = 1">Add\Remove fields</button>
            </div>
            <demand-sdd-sections data="SDDData.nonFuncRequirements" section="1" form="kcell_form" view="view" process-id="processInstanceId" task-id="taskId" required="resolution === 'Submit'" disabled="sddDisabled"></demand-sdd-sections>
          </accordion-group>
        </accordion>
        <accordion class="content-visible-accordion">
          <accordion-group is-open="true">
            <accordion-heading>
              Solution design <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12" style="margin-bottom: 10px;">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#fieldConstructor" ng-click="SDDData.section = 2">Add\Remove fields</button>
            </div>
            <demand-sdd-sections data="SDDData.solutionDesign" section="2" form="kcell_form" view="view" process-id="processInstanceId" task-id="taskId" required="resolution === 'Submit'" disabled="sddDisabled"></demand-sdd-sections>
          </accordion-group>
        </accordion>
        <accordion class="content-visible-accordion">
          <accordion-group is-open="true">
            <accordion-heading>
              Components <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <div class="col-sm-12" style="margin-bottom: 10px;">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#fieldConstructor" ng-click="SDDData.section = 3">Add\Remove fields</button>
            </div>
            <demand-sdd-sections data="SDDData.components" section="3" form="kcell_form" view="view" process-id="processInstanceId" task-id="taskId" required="resolution === 'Submit'" disabled="sddDisabled"></demand-sdd-sections>
          </accordion-group>
        </accordion>
        <div class="form-group">
          <label class="control-label col-sm-12">Order of Components implementation and integration</label>
          <div class="col-sm-12 no-margin-panel">
            <demand-rich-text data="SDDData.componentsOrder" min-height="100" process-id="processInstanceId" task-id="taskId" disabled="sddDisabled"></demand-rich-text>
            <input type="hidden" ng-model="SDDData.componentsOrder" name="sdd_componentsOrder" ng-required="resolution === 'Submit'">
            <span class="has-error" ng-if="kcell_form.sdd_componentsOrder.$error.required && (kcell_form.sdd_componentsOrder.$touched || view.submitted)">Required field</span>
          </div>
        </div>

        <div class="modal fade" id="fieldConstructor">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Field constructor</h3>
              </div>
              <div class="modal-body col-sm-12">
                <demand-sdd-field-constructor data="SDDData" section="SDDData.section"></demand-sdd-field-constructor>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>

  <div class="hide-in-print">
    <div class="col-sm-12" style="margin-top: 20px;"><hr style="border-top: 2px solid #aaa;" /></div>

    <div class="col-sm-12" style="padding: 0;">
      <div class="panel-group custom-panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Order draft <span title='Заполняется текст приказа' style="color: #682d86" class="glyphicon glyphicon-question-sign"></span></h4>
          </div>
          <div class="panel-body">
            <div class="col-sm-12">
              <demand-rich-text data="BCData.orderDraft" min-height="100" disabled="true"></demand-rich-text>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-7" style="padding: 0;">
      <div class="panel-group custom-panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Project team</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-6 control-label">Requirement manager</label>
              <div class="col-sm-6">
                <div class="disabled-element">{{requirementManager}}</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Solution owner</label>
              <div class="col-sm-6">
                <div class="disabled-element">{{solutionOwner}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="padding: 0;">
      <div class="panel-group custom-panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Attachments</h4>
          </div>
          <div class="panel-body">
            <iframe id="fileDownloadIframe" style="display:none;"></iframe>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-12" style="margin-bottom: 10px;">
                  <input type="file" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)"/>
                </div>
                <div class="col-sm-12">
                  <table class="table ">
                    <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Created</th>
                      <th>Created By</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="file in attachments track by $index">
                      <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
                      <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
                      <td>{{file.createdBy}}</td>
                      <td><a ng-click="clearFile($index)" ng-if="file.createdBy == assigneeName"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="margin-bottom: 20px;">
      <button type="button" ng-click="saveFillForm(true)" class="btn btn-success" style="padding: 6px 28px">Save</button>
      <button type="button" ng-click="sddToPdf()" class="btn btn-info">Export SDD to PDF</button>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Resolution</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" ng-model="resolution" name="resolution" value="Submit" required> Submit
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="resolution" name="resolution" value="Send to Assign Solution owner" required> Send to Assign Solution owner
        </label>
        <label class="error" ng-show="kcell_form.resolution.$error.required && ( kcell_form.resolution.$touched || view.submitted)">Required field</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Comment<span class="text-danger glyphicon-asterisk"></span></label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" maxlength="500" ng-model="comment" name="comment" required></textarea>
        <label class="error" ng-show="kcell_form.comment.$error.required && ( kcell_form.comment.$touched || view.submitted)">Required field</label>
      </div>
    </div>
  </div>
</form>
