<form role="form" class="form-horizontal" name="kcell_form" novalidate>
    <style>
        .well {
            color: #333;
        }

        .content-visible-accordion .panel {
            overflow: visible;
        }
    </style>
    <script cam-script type="text/form-script">
            inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'toasty', '$timeout', function ($scope, $http, Uri, $rootScope, $q, toasty, $timeout) {
                $scope.generalData = {
                    general: {},
                    targetAudience: {},
                    demandDetails: {}
                };
                $scope.BRDData = {
                    funcRequirements: {},
                    nonFuncRequirements: {},
                    interfaces: {},
                    reportsStatistics: ''
                };
                $scope.resolutions = [];
                $scope.processInstanceId = null;
                $scope.taskId = camForm.taskId;
                var taskName = null;
                var assigneeName = $rootScope.authentication.name;
                var createdDate = new Date();

                $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
                    assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
                });

                $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
                    function(result){
                        $scope.processInstanceId = result.data.processInstanceId;
                        taskName = result.data.name;
                        if (result.data.created) createdDate = new Date(result.data.created);
                    },
                    function (error) {
                        console.log(error.data);
                    }
                );

                camForm.on('form-loaded', function () {
                    camForm.variableManager.fetchVariable('generalData');
                    camForm.variableManager.fetchVariable('BRDData');
                    camForm.variableManager.fetchVariable('resolutions');
                });

                camForm.on('variables-fetched', function () {
                    $scope.generalData = camForm.variableManager.variableValue('generalData');
                    $scope.BRDData = camForm.variableManager.variableValue('BRDData');
                    $scope.resolutions = camForm.variableManager.variableValue('resolutions');
                    if (!$scope.BRDData) {
                        $scope.BRDData = {
                            funcRequirements: {},
                            nonFuncRequirements: {},
                            interfaces: {},
                            reportsStatistics: ''
                        };
                    }
                });

                camForm.on('submit', function (event) {
                    camForm.variableManager.destroyVariable('BRDData');
                    camForm.variableManager.createVariable({
                        name: 'BRDData',
                        type: 'Json',
                        value: $scope.BRDData
                    });

                    var submitDate = new Date ();
                    if(!$scope.resolutions){
                        $scope.resolutions = [];
                    }
                    $scope.resolutions.unshift({processInstanceId: $scope.processInstanceId, assignee: assigneeName, resolution: 'Completed', comment: $scope.comment, taskId: camForm.taskId, taskEndDate: submitDate, taskName: taskName, dateOfAssign: createdDate});
                    camForm.variableManager.destroyVariable('resolutions');
                    camForm.variableManager.createVariable({
                        name: 'resolutions',
                        type: 'Json',
                        value: $scope.resolutions
                    });
                });

                $scope.saveFillForm = function () {
                    var json = JSON.stringify($scope.BRDData, function( key, value ) {
                        if( key === "$$hashKey" ) return undefined;
                        return value;
                    });
                    $http.put('/camunda/api/engine/engine/default/process-instance/'+$scope.processInstanceId+'/variables/BRDData',{"type":"Json","value": json}).then(
                            function() {toasty.success( "Данные успешно сохранены!");},
                            function(error) {toasty.error(error.data.message);}
                    );
                };
            }]);
        </script>
    <div class="form-group">
        <label style="width: 8%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Business Key:</label>
        <div class="col-sm-2">
            <input rows="1" class="form-control" cam-variable-name="businessKey" cam-variable-type="String" disabled>
        </div>
        <label style="width: 10%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Demand Status:</label>
        <div class="col-sm-2">
            <label rows="1" class="form-control" disabled>Active </label>
        </div>
        <label style="width: 6.6%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Activity:</label>
        <div class="col-sm-5">
            <label rows="1" class="form-control" disabled> Fill BRD </label>
        </div>
    </div>
    <div class="form-group">
        <label style="width: 8%; float: left; padding-left: 15px; padding-top: 7px; font-weight: 500;"> Demand Name:</label>
        <div class="col-sm-11">
            <input rows="1" class="form-control" cam-variable-name="demandName" cam-variable-type="String" disabled/>
        </div>
    </div>
    <hr>
    <tabset class="my-tab-head my-tab" justified="true" id="jobRequestId">
        <tab>
            <tab-heading> General </tab-heading>
            <div style="margin-bottom: 20px;">
                <div class="col-sm-6">
                    <h4>General</h4>
                    <demand-general data="generalData.general" form="kcell_form" view="view" disabled="true"></demand-general>
                </div>
                <div class="col-sm-6">
                    <h4>Target Audience:</h4>
                    <demand-target-audience data="generalData.targetAudience" form="kcell_form" view="view" disabled="true"></demand-target-audience>
                </div>
                <br>
                <div class="col-sm-12">
                    <h4>Demand Details</h4>
                    <demand-details data="generalData.demandDetails" form="kcell_form" view="view" disabled="true"></demand-details>
                </div>
            </div>
        </tab>
        <tab active="true">
            <tab-heading> BRD </tab-heading>
            <div style="margin-bottom: 20px;">
                <accordion class="content-visible-accordion">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-func-requirements data="BRDData.funcRequirements" form="kcell_form" view="view" disabled="false" process-id="processInstanceId" task-id="taskId"></demand-func-requirements>
                    </accordion-group>
                </accordion>
                <accordion class="content-visible-accordion">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Non-Functional Requirements <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-non-func-requirements data="BRDData.nonFuncRequirements" form="kcell_form" view="view" disabled="false"></demand-non-func-requirements>
                    </accordion-group>
                </accordion>
                <accordion class="content-visible-accordion">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Interfaces <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <demand-interfaces data="BRDData.interfaces" form="kcell_form" view="view" disabled="false" process-id="processInstanceId" task-id="taskId"></demand-interfaces>
                    </accordion-group>
                </accordion>
                <accordion class="content-visible-accordion">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Reports and Statistics <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
                        </accordion-heading>
                        <div class="col-sm-12">
                            <demand-rich-text data="BRDData.reportsStatistics" min-height="100" process-id="processInstanceId" task-id="taskId"></demand-rich-text>
                            <!--<span class="has-error" ng-if="(!BRDData.reportsStatistics.length || !BRDData.reportsStatistics.length) && view.submitted">Required field</span>-->
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </tab>
        <tab disabled="true">
            <tab-heading> Costs and Acceptance Criterias </tab-heading>
        </tab>
        <tab disabled="true">
            <tab-heading> Business Case </tab-heading>
        </tab>
        <tab disabled="true">
            <tab-heading> SDD </tab-heading>
        </tab>
    </tabset>

    <div class="col-sm-12" style="margin-top: 20px;"><hr style="border-top: 2px solid #aaa;" /></div>

    <div class="row">
        <div class="col-md-2" style="margin-top: 20px;">
            <button type="button" ng-click="saveFillForm()" class="btn btn-success" style="padding: 6px 28px">Save</button>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" maxlength="500" ng-model="comment" name="comment" required></textarea>
            <label class="error" ng-show="kcell_form.comment.$error.required && ( kcell_form.comment.$touched || view.submitted)">Required field</label>
        </div>
    </div>

    <accordion>
        <accordion-group is-open="isHistoryOpen">
            <accordion-heading>
                History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isCustomHeaderOpen, 'glyphicon-chevron-down': !status.isCustomHeaderOpen}"></i>
            </accordion-heading>
            <table class="table">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Assignee</th>
                    <th>Resolution</th>
                    <th>Date of assign</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resolution in resolutions track by $index">
                    <td>{{resolution.taskName}}</td>
                    <td>{{resolution.assignee}}</td>
                    <td>{{resolution.resolution}}</td>
                    <td>{{resolution.dateOfAssign | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.taskEndDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>{{resolution.comment}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</form>
