
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Business key:</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="filterDemand.businessKey" class="form-control">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Demand owner:</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="filterDemand.demandOwner" name="demandOwner" typeahead="users as users.name for users in getDemandOwnerUsers($viewValue)" typeahead-on-select="demandOwnerSelected($item)" typeahead-min-length="2" class="form-control" autocomplete="off">

                    <span class="has-error" ng-if="filterDemand.demandOwner && filterDemand.demandOwner.length && !filterDemand.demandOwnerId">User must be selected from the list</span>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Assignee:</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="filterDemand.assignee" name="assignee" typeahead="users as users.name for users in getDemandAssigneeUsers($viewValue)" typeahead-on-select="demandAssigneeSelected($item)" typeahead-min-length="2" class="form-control" autocomplete="off">
                    <span class="has-error" ng-if="filterDemand.assignee && filterDemand.assignee.length && !filterDemand.assigneeId">User must be selected from the list</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Demand name:</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="filterDemand.demandName" class="form-control">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Activity:</label>
                <div class="col-sm-8">

                    <div ng-dropdown-multiselect="" options = 'demandOptions' selected-model="model_dummy" extra-settings="multiselectSettings" translation-texts="translationSettings" events="multiselectEvents"></div>

                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Need Technology delivery\analysis:</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio"  ng-model="filterDemand.technicalAnalysisValue" value="true"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="filterDemand.technicalAnalysisValue" value="false"> No
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="filterDemand.technicalAnalysisValue" value="ignore"> Ignore filter
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Demand Description:</label>
                <div class="col-sm-8">
                    <textarea rows="1" elastic-textarea ng-model="filterDemand.demandDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Status:</label>
                <div class="col-sm-8">
                    <select ng-model="filterDemand.status" class="form-control selectpicker" select-picker title="" select-model="statusList">
                        <option ng-selected="true" value="">Select status</option>
                        <option value="{{status}}" ng-repeat="status in statusList">{{status}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Initiative department:</label>
                <div class="col-sm-8">
                    <select ng-model="filterDemand.initiativeDep" class="form-control selectpicker" select-picker title="" select-model="initiativeDepList">
                        <option ng-selected="true" value="">Select department</option>
                        <option value="{{dep}}" ng-repeat="dep in initiativeDepList">{{dep}}</option>
                    </select>
                </div>

            </div>

            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Product name:</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="filterDemand.productName" class="form-control">
                </div>
            </div>


            <div class="form-group col-sm-4">
                <label class="col-sm-4 control-label">Product offer:</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="filterDemand.productOffer" class="form-control">
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label class="col-sm-4 control-label">Created:</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.createdStart" datepicker-popup="dd.MM.yyyy" is-open="createdStartDateFieldOpened" />
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="createdStartDateFieldOpened = true">
							<i class="glyphicon glyphicon-calendar"></i>
							</button>
							</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-4" ng-if="filterDemand.createStartDateShowPeriod">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.createdEnd" datepicker-popup="dd.MM.yyyy" is-open="createdEndDateFieldOpened" min-date="filterDemand.createdStart" />
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="createdEndDateFieldOpened = true">
							<i class="glyphicon glyphicon-calendar"></i>
							</button>
							</span>
                    </div>
                </div>
                <div class="col-sm-4 checkbox-inline">
                    <input type="checkbox" class="custom-checkbox" value="true" ng-model="filterDemand.createStartDateShowPeriod">period
                </div>
            </div>

        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="col-sm-4 control-label">Closed:</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.closedStart" datepicker-popup="dd.MM.yyyy" is-open="closedStartDateFieldOpened" />
                        <span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="closedStartDateFieldOpened = true">
                    			<i class="glyphicon glyphicon-calendar"></i>
                				</button>
           			 			</span>
                    </div>
                </div></div>
            <div class="col-sm-8">
                <div class="col-sm-4" ng-if="filterDemand.createCloseDateShowPeriod">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.closedEnd" datepicker-popup="dd.MM.yyyy" is-open="closedEndDateFieldOpened" min-date="filterDemand.closedStart" />
                        <span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="closedEndDateFieldOpened = true">
                    			<i class="glyphicon glyphicon-calendar"></i>
                				</button>
           			 			</span>
                    </div>
                </div>
                <div class="col-sm-4 checkbox-inline">
                    <input type="checkbox" value="true" ng-model="filterDemand.createCloseDateShowPeriod">period
                </div>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-sm-4">
                <label class="col-sm-4 control-label">Planned launch by Demand owner:</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.plannedLaunchStart" datepicker-popup="dd.MM.yyyy" is-open="plannedLaunchStartDateFieldOpened" />
                        <span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="plannedLaunchStartDateFieldOpened = true">
                    			<i class="glyphicon glyphicon-calendar"></i>
                				</button>
           			 			</span>
                    </div>
                </div></div>

            <div class="col-sm-8">
                <div class="col-sm-4" ng-if="filterDemand.createPlannedDateShowPeriod">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.plannedLaunchEnd" datepicker-popup="dd.MM.yyyy" is-open="plannedLaunchEndDateFieldOpened" min-date="filterDemand.plannedLaunchStart" />
                        <span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="plannedLaunchEndDateFieldOpened = true">
                    			<i class="glyphicon glyphicon-calendar"></i>
                				</button>
           			 			</span>
                    </div>
                </div>
                <div class="col-sm-4 checkbox-inline">
                    <input type="checkbox" value="true" ng-model="filterDemand.createPlannedDateShowPeriod">period
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label class="col-sm-4 control-label">Planned launch by Requirement manager:</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.actualLaunchStart" datepicker-popup="dd.MM.yyyy" is-open="actualLaunchStartDateFieldOpened" />
                        <span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="actualLaunchStartDateFieldOpened = true">
                    			<i class="glyphicon glyphicon-calendar"></i>
                				</button>
           			 			</span>
                    </div>
                </div></div>
            <div class="col-sm-8">
                <div class="col-sm-4" ng-if="filterDemand.createActualDateShowPeriod">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterDemand.actualLaunchEnd" datepicker-popup="dd.MM.yyyy" is-open="actualLaunchEndDateFieldOpened" min-date="filterDemand.actualLaunchStart" />
                        <span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="actualLaunchEndDateFieldOpened = true">
                    			<i class="glyphicon glyphicon-calendar"></i>
                				</button>
           			 			</span>
                    </div>
                </div>
                <div class="col-sm-4 checkbox-inline">
                    <input type="checkbox" value="true" ng-model="filterDemand.createActualDateShowPeriod">period
                </div>

            </div></div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group col-sm-4"></div>
        <div class="form-group col-sm-4">
            <div class="col-sm-12">
                <center>
                    <a class="btn btn-default" ng-click="clearDemand()">Clear filters</a>
                    <a class="btn btn-primary" ng-click="demandSearch(true)"><i class="glyphicon glyphicon-search"></i>Search ({{processInstancesDemandTotal}})</a>
                </center>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <div class="col-sm-12">
                <a ng-if="lastSearchParamsDemand" class="btn btn-default" style="float: right" id="xlsxClick" ng-click="getDemandXlsx()">{{xlsxPreparedDemand ? 'Export to Excel' : 'Prepare Excel'}}</a>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px;"></div>

    <table class="table table-condensed table-hover" ng-if="processInstancesDemand">
        <thead class="fixed-header">
        <tr class="dm-result-header">
            <th>#</th>
            <th>Business Key</th>
            <th>Demand name</th>
            <th>Demand owner</th>
            <th>Planned launch by Demand owner</th>
            <th>Planned launch by Requirement manager</th>
            <th>Created date</th>
            <th>Closed date</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pi in processInstancesDemand track by $index" class="pi-{{pi.state == 'EXTERNALLY_TERMINATED'?'COMPLETED':pi.state}}">
            <td>{{(filterDemand.page-1)*filterDemand.maxResults + $index + 1}}</td>
            <td>
                <a ng-click="toggleProcessView($index, pi.processDefinitionKey, pi.processDefinitionId)">
                    {{pi.businessKey}}
                </a>
            </td>
            <td>{{pi.demandName}}</td>
            <td>{{pi.generalData.general.demandOwner}}</td>
            <td>{{pi.generalData.general.plannedLaunch | date: 'dd.MM.yyyy'}}</td>
            <td>{{pi.generalData.general.actualLaunch | date: 'dd.MM.yyyy'}}</td>
            <td>{{pi.startTime | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{pi.endTime | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{pi.status}}</td>
            <td>
										<span ng-repeat="task in pi.tasks">
											<span ng-if="task.assignee && profiles[task.assignee]">{{$index+1}}. {{profiles[task.assignee].firstName}} {{profiles[task.assignee].lastName}}</span>
											<span ng-if="task.assignee && !profiles[task.assignee]">{{$index+1}}. {{task.assignee}}</span>
											<span ng-if="!task.assignee">{{$index+1}}. No assignee</span>
											<br/>
										</span>
            </td>
            <td>
										<span ng-repeat="task in pi.tasks">
											{{task.name}}<br/>
										</span>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td colspan="13" style="text-align: center">
                <a ng-disabled="filterDemand.page <= 1" ng-click="filterDemand.page <= 1 || selectPageDemand(1)" class="btn btn-pagination"> << </a>
                <a ng-disabled="filterDemand.page <= 1" ng-click="filterDemand.page <= 1 || prevPageDemand()" class="btn btn-pagination"> < </a>
                <a ng-repeat="page in getPagesDemand()" ng-disabled="filterDemand.page == page" ng-click="filterDemand.page == page || selectPageDemand(page)" ng-class="filterDemand.page == page? 'btn-pagination-active':''" class="btn btn-pagination">{{page}}</a>
                <a ng-disabled="filterDemand.page >= processInstancesDemandPages" ng-click="filterDemand.page >= processInstancesDemandPages || nextPageDemand()" class="btn btn-pagination"> > </a>
                <a ng-disabled="filterDemand.page >= processInstancesDemandPages" ng-click="filterDemand.page >= processInstancesDemandPages || selectPageDemand(processInstancesDemandPages)" class="btn btn-pagination"> >> </a>
            </td>
        </tr>
        </tbody>
    </table>

    <table id="xlsxDemandTable" style="display: none;">
        <thead>
        <thead>
        <tr>
            <th>#</th>
            <th>Business Key</th>
            <th>Demand name</th>
            <th>Demand owner</th>
            <th>Planned launch by Demand owner</th>
            <th>Planned launch by Requirement manager</th>
            <th>Created date</th>
            <th>Closed date</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody ng-repeat="pi in processInstancesDemand track by $index">
        <tr class="pi-{{pi.state == 'EXTERNALLY_TERMINATED'?'COMPLETED':pi.state}}">
            <td>{{(filterDemand.page-1)*filterDemand.maxResults + $index + 1}}</td>
            <td>
                <a ng-click="toggleProcessView($index, pi.processDefinitionKey)">
                    {{pi.businessKey}}
                </a>
            </td>
            <td>{{pi.demandName}}</td>
            <td>{{pi.generalData.general.demandOwner}}</td>
            <td>{{pi.generalData.general.plannedLaunch | date: 'dd.MM.yyyy'}}</td>
            <td>{{pi.generalData.general.actualLaunch | date: 'dd.MM.yyyy'}}</td>
            <td>{{pi.startTime | date:'dd MMM yyyy'}}</td>
            <td>{{pi.endTime | date:'dd MMM yyyy'}}</td>
            <td>{{pi.status}}</td>
            <td>
										<span ng-repeat="task in pi.tasks">
											<span ng-if="task.assignee && profiles[task.assignee]">{{$index+1}}. {{profiles[task.assignee].firstName}} {{profiles[task.assignee].lastName}}</span>
											<span ng-if="task.assignee && !profiles[task.assignee]">{{$index+1}}. {{task.assignee}}</span>
											<span ng-if="!task.assignee">{{$index+1}}. No assignee</span>
											<br/>
										</span>
            </td>
            <td>
										<span ng-repeat="task in pi.tasks">
											{{$index+1}}. {{task.name}}<br/>
										</span>
            </td>
        </tr>
        </tbody>
    </table>
