<form role="form" class="form-horizontal" name="kcell_form" novalidate>
  <script cam-script type="text/form-script">
    inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'Upload', '$timeout', function ($scope, $http, Uri, $rootScope, $q, Upload, $timeout) {
    
    $scope.ci = {};
    $scope.ts = {};
    $scope.sip = {};
    $scope.e1 = {};
    $scope.dir = {};
    $scope.attachments = [];
    var processInstanceId = null;
    var assigneeName = $rootScope.authentication.name;
    var taskKey = camForm.taskId;
    
    $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
        assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
    });

    $scope.downloadFile = function (file) {
      $http({method: 'GET', url: '/camunda/uploads/' + (file.path.split('/').length === 2 ? 'tmp/' : '') + 'get/' + file.path, transformResponse: [] }).then(
        function(response) {
          document.getElementById('fileDownloadIframe').src = response.data;
        },
        function(response) { console.log(response.data); }
      );
    }

    $scope.clearFile = function(fileIndex) {
      $scope.attachments.splice(fileIndex, 1);
    }
    
    $scope.fileSelected = function(el ){
      $timeout(function () {
        $scope.$apply(function () {
          uploadFileToMinio(el.files[0]);
        });
      })
    };

    function uploadFileToMinio(file) {
      var fileToUpload = {
        name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
        path: processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-'),
        created: new Date(),
        createdBy: assigneeName
      };
      $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.path, transformResponse: [] }).then(
        function(response) {
          $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
            function () {
              $scope.attachments.push(fileToUpload);
              angular.element(document.querySelector('#attachments')).val(null);
            },
            function (error) {
              console.log(error.data);
            }
          );
        },
        function(response) { console.log(response.data); }
      );
    }

    camForm.on('form-loaded', function () {
      camForm.variableManager.fetchVariable('clientPriority');
      camForm.variableManager.fetchVariable('customerInformation');
      camForm.variableManager.fetchVariable('technicalSpecifications');
      camForm.variableManager.fetchVariable('sipProtocol');
      camForm.variableManager.fetchVariable('e1Protocol');
      camForm.variableManager.fetchVariable('sipDirectProtocol');
      camForm.variableManager.fetchVariable('attachments');
      camForm.variableManager.fetchVariable('poiMessage');
      camForm.variableManager.fetchVariable('resolutions');
      camForm.variableManager.fetchVariable('tariff');
      camForm.variableManager.fetchVariable('numberRequest');

      $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
        function (result) {
          processInstanceId = result.data.processInstanceId;
          taskKey = result.data.taskDefinitionKey;
          configureViews();
        },
        function (error) {
          console.log(error.data);
        }
      );
    });

    camForm.on('variables-fetched', function () {
      $scope.clientPriority = camForm.variableManager.variableValue('clientPriority');
      $scope.ci = camForm.variableManager.variableValue('customerInformation');
      $scope.ts = camForm.variableManager.variableValue('technicalSpecifications');
      $scope.sip = camForm.variableManager.variableValue('sipProtocol');
      $scope.e1 = camForm.variableManager.variableValue('e1Protocol');
      $scope.dir = camForm.variableManager.variableValue('sipDirectProtocol');
      $scope.attachments = camForm.variableManager.variableValue('attachments');
      $scope.poiMessage = camForm.variableManager.variableValue('poiMessage');
      $scope.resolutions = camForm.variableManager.variableValue('resolutions');
      $scope.tariff = camForm.variableManager.variableValue('tariff');
      $scope.numberRequest = camForm.variableManager.variableValue('numberRequest');
      if ($scope.resolutions) {
        $q.all($scope.resolutions.map(function (resolution) {
          return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId="+resolution.processInstanceId+"&taskId=" + resolution.taskId);
        })).then(function (tasks) {
          tasks.forEach(function (t, index) {
            if (t.data.length > 0) {
              $scope.resolutions[index].taskName = t.data[0].name;
              try {
                $scope.resolutions[index].taskEndDate = new Date(t.data[0].endTime);
                $scope.resolutions[index].assignDate = new Date(e.data[0].startTime);
              } catch(e){
                console.log(e);
              }
            }
          });
        });
        $q.all($scope.resolutions.map(function (resolution) {
          return $http.get("/camunda/api/engine/engine/default/history/identity-link-log?type=assignee&taskId=" + resolution.taskId + "&operationType=add&sortBy=time&sortOrder=desc");
        })).then(function (logs) {
          logs.forEach(function (e, index) {
            if(e.data.length > 0){
              try {
                $scope.resolutions[index].claimDate = new Date(e.data[0].time);
              } catch(e){
                console.log(e);
              }
            }
          });
        });
      } else {
        $scope.resolutions = [];
      }
    });

    camForm.on('submit', function(event) {
      camForm.variableManager.variableValue('customerInformation', $scope.ci);
      camForm.variableManager.variableValue('technicalSpecifications', $scope.ts);
      camForm.variableManager.variableValue('sipProtocol', $scope.sip);
      camForm.variableManager.variableValue('e1Protocol', $scope.e1);
      camForm.variableManager.variableValue('sipDirectProtocol', $scope.dir);
      $scope.resolutions.push({
        processInstanceId: processInstanceId,
        taskId: camForm.taskId,
        assigneeName: assigneeName,
        comment: $scope.comment
      });
      camForm.variableManager.destroyVariable('resolutions');
      camForm.variableManager.createVariable({
        name: 'resolutions',
        type: 'json',
        value: $scope.resolutions,
        store: true
      });
      camForm.variableManager.variableValue('tariff', $scope.tariff);
    });

    $scope.showView = {
      ci: false,
      ts: false,
      attachments: false,
      tariff: false,
      vpn: false,
      poiRisk: false
    };
    $scope.legalInfo = false;
    function configureViews() {
      switch(taskKey) {
        case 'modifyQuestionnaire':
          $scope.showView = {ci: true, ts: true, attachments: true, tariff: true, vpn: true};
          break;
        case 'fillLegalInformation':
          $scope.showView = {ci: true, ts: true, attachments: true, tariff: true, vpn: true};
          $scope.legalInfo = true;
          break;
        case 'sipModifyQuestionnaire':
          $scope.showView = {ts: true, vpn: true};
          break;
      }
    }
    
    }]);

  </script>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="col-sm-4">Number request:</label>
      <div class="col-sm-8"><span class="text-primary">{{numberRequest}}</span></div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Client:</label>
      <div class="col-sm-8">{{ci.legalName}} {{ci.bin}}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Priority:</label>
      <div class="col-sm-8"><span class="{{clientPriority == 'High'?'text-danger':''}} ">{{clientPriority}}</span></div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Labels:</label>
      <div class="col-sm-6">
        <span ng-if="ci != null">{{ci.companyRegistrationCity}}</span> <span ng-if="ts != null">{{ts.connectionType}} {{ts.connectionPoint}}</span>
      </div>
      <div class="col-sm-2 pull-right" ng-if="ci && ci.salesRepresentative"><b>KAE:</b> {{ci.salesRepresentative}}</div>
    </div>

    <div class="col-sm-12">&#8203;</div>
  </div>

  <div ng-show="showView.ci">
    <div class="col-sm-12">
      <customer-information ci="ci" form="kcell_form" view="view" readonly="false" legal="legalInfo"></customer-information>
    </div>
    <div class="col-sm-12"><hr /></div>
  </div>
  
  <div ng-show="showView.ts">
    <div class="col-sm-12">
      <technical-specifications ts="ts" form="kcell_form" view="view" readonly="false"></technical-specifications>
    </div>
    <div class="col-sm-12"><hr /></div>
  </div>

  <div ng-show="showView.ts">
    <div class="col-sm-12">
      <sip-protocol sip="sip" form="kcell_form" view="view" readonly="false" ng-if="ts.connectionType == 'SIP over internet'"></sip-protocol>
      <e1-protocol e1="e1" form="kcell_form" view="view" readonly="false" ng-if="ts.connectionType == 'E1'"></e1-protocol>
      <sip-direct-protocol dir="dir" form="kcell_form" view="view" readonly="false" ng-if="ts.connectionType == 'SIP cable direct'"></sip-direct-protocol>  
    </div>
    <div class="col-sm-12"><hr /></div>
  </div>

  <div ng-show="showView.vpn">
    <div ng-if="sip.vpnTuning === 'Yes'">
      <div class="col-sm-12">
        <vpn-tunnel></vpn-tunnel>
      </div>
      <div class="col-sm-12"><hr /></div>
    </div>
  </div>

  <div class="col-sm-12" ng-show="showView.attachments">
    <iframe id="fileDownloadIframe" style="display:none;"></iframe>
    <div class="form-group">
      <label class="col-sm-4 control-label">Attachments</label>
      <div class="col-sm-8">
        <input type="file" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)"/>
        <div class="col-sm-12">
          <table class="table ">
              <thead>
                <tr>
                  <th>File Name</th>
                  <th>Created</th>
                  <th>Created By</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in attachments track by $index">
                  <td><a ng-click="downloadFile(file)">{{file.name}}</a></td>
                  <td>{{file.created | date: 'dd.MM.yyyy HH:mm'}}</td>
                  <td>{{file.createdBy}}</td>
                  <td><a ng-click="clearFile($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12"><hr /></div>
  </div>

  <div class="col-sm-12" ng-show="showView.tariff">
    <div class="form-group">
      <label class="col-sm-4 control-label">Tariff:</label>
      <div class="col-sm-8">
        <select class="form-control" ng-model="tariff">
          <option value="Стартовый 5">Стартовый 5</option>
          <option value="Стартовый 10">Стартовый 10</option>
          <option value="Бизнес пакет 30">Бизнес пакет 30</option>
          <option value="Бизнес пакет 50">Бизнес пакет 50</option>
          <option value="Нестандартный тариф">Нестандартный тариф</option>
        </select>
        <input type="text" ng-show="tariff == 'Нестандартный тариф'" class="form-control" cam-variable-name="tariffExtra" cam-variable-type="String" placeholder="Укажите тариф">
      </div>
    </div>
  </div>

  <div class="col-sm-12" ng-show="showView.poiRisk">
    <div class="form-group">
      <label class="col-sm-4">Period of return on investments of the connection</label>
      <b class="col-sm-8">{{poiMessage}}</b>
    </div>
    <div class="form-group" ng-if="poiMessage=='ROI>6 month'">
      <label class="col-sm-4">Connection with payback risk</label>
      <b class="col-sm-8">Confirmed</b>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-12 control-label">Comments:</label>
    <div class="col-sm-12">
      <textarea class="form-control" ng-model="comment"></textarea>
    </div>
  </div>
</form>
