<form role="form" class="form-horizontal" name="kcell_form" novalidate>
  <script cam-script type="text/form-script">
    inject(['$scope', '$http', 'Uri', '$rootScope', '$q', 'Upload', '$timeout', function ($scope, $http, Uri, $rootScope, $q, Upload, $timeout) {

      $scope.showResolution = false;
      $scope.deliveryTestData = {};
      var processInstanceId = null;
      var assigneeName = $rootScope.authentication.name;
      var taskKey = camForm.taskId;

      $http.get("/camunda/api/engine/engine/default/user/" + $rootScope.authentication.name+ "/profile").then(function(result){
        assigneeName = (result.data.firstName ? result.data.firstName : "") + " " + (result.data.lastName ? result.data.lastName : "");
      });

      $http.get('/camunda/api/engine/engine/default/task/' + camForm.taskId).then(
              function (result) {
                processInstanceId = result.data.processInstanceId;
                taskKey = result.data.taskDefinitionKey;
                if (taskKey == 'confirmTCFRequest'){
                  $scope.showResolution = true;
                }
              },
              function (error) {
                console.log(error.data);
              }
      );

      $scope.downloadFile = function (file) {
        $http({method: 'GET', url: '/camunda/uploads/' + (file.path.split('/').length === 2 ? 'tmp/' : '') + 'get/' + file.path, transformResponse: [] }).then(
                function(response) {
                  document.getElementById('fileDownloadIframe').src = response.data;
                },
                function(response) { console.log(response.data); }
        );
      };

      $scope.clearFile = function(fileIndex) {
        $scope.attachments.splice(fileIndex, 1);
      };

      $scope.fileSelected = function(el ){
        $timeout(function () {
          $scope.$apply(function () {
            uploadFileToMinio(el.files[0]);
          });
        })
      };

      function uploadFileToMinio(file) {
        var fileToUpload = {
          name: file.name.replace(/[/\\?%*:|"<>]/g, '-'),
          path: processInstanceId + '/' + camForm.taskId + '/' + file.name.replace(/[/\\?%*:|"<>]/g, '-'),
          created: new Date(),
          createdBy: assigneeName
        };
        $http({method: 'GET', url: '/camunda/uploads/put/' + fileToUpload.path, transformResponse: [] }).then(
                function(response) {
                  $http.put(response.data, file, {headers: {'Content-Type': undefined}}).then(
                          function () {
                            $scope.attachments.push(fileToUpload);
                            angular.element(document.querySelector('#attachments')).val(null);
                          },
                          function (error) {
                            console.log(error.data);
                          }
                  );
                },
                function(response) { console.log(response.data); }
        );
      }

      scope.openCalendar = function() {
        scope.dateFieldOpened = true;
      };

      camForm.on('form-loaded', function () {
        camForm.variableManager.fetchVariable('clientPriority');
        camForm.variableManager.fetchVariable('customerInformation');
        camForm.variableManager.fetchVariable('technicalSpecifications');
        camForm.variableManager.fetchVariable('tcfRequestDeadline');
        camForm.variableManager.fetchVariable('tcfRequestComment');
        camForm.variableManager.fetchVariable('tcfRequestResolution');
        camForm.variableManager.fetchVariable('tcfRequestAttachment');
        camForm.variableManager.fetchVariable('resolutions');
        camForm.variableManager.fetchVariable('numberRequest');
        camForm.variableManager.fetchVariable('tariff');
      });

      camForm.on('variables-fetched', function () {
        $scope.clientPriority = camForm.variableManager.variableValue('clientPriority');
        $scope.ci = camForm.variableManager.variableValue('customerInformation');
        $scope.ts = camForm.variableManager.variableValue('technicalSpecifications');
        $scope.deadline = camForm.variableManager.variableValue('tcfRequestDeadline');
        $scope.comment = camForm.variableManager.variableValue('tcfRequestComment');
        $scope.attachments = camForm.variableManager.variableValue('tcfRequestAttachment');
        $scope.resolutions = camForm.variableManager.variableValue('resolutions');
        $scope.numberRequest = camForm.variableManager.variableValue('numberRequest');
        $scope.tariff = camForm.variableManager.variableValue('tariff');
        $scope.resolution = 'Accepted';
        if ($scope.deadline) {
          $scope.deadline = new Date($scope.deadline);
        } else {
          $scope.deadline = new Date();
        }
        if (!$scope.attachments) {
          $scope.attachments = [];
        } else {
          $scope.attachments = [$scope.attachments];
        }
        if ($scope.resolutions) {
          $q.all($scope.resolutions.map(function (resolution) {
            return $http.get("/camunda/api/engine/engine/default/history/task?processInstanceId="+resolution.processInstanceId+"&taskId=" + resolution.taskId);
          })).then(function (tasks) {
            tasks.forEach(function (t, index) {
              if (t.data.length > 0) {
                $scope.resolutions[index].taskName = t.data[0].name;
                try {
                  $scope.resolutions[index].taskEndDate = new Date(t.data[0].endTime);
                  $scope.resolutions[index].assignDate = new Date(t.data[0].startTime);
                  if($scope.resolutions[index].taskName === 'Confirm commercial starting service'){
                    $scope.commercialDate = $scope.resolutions[index].taskEndDate;
                  }
                } catch(e){
                  console.log(e);
                }
              }
            });
          });
          $q.all($scope.resolutions.map(function (resolution) {
            return $http.get("/camunda/api/engine/engine/default/history/identity-link-log?type=assignee&taskId=" + resolution.taskId + "&operationType=add&sortBy=time&sortOrder=desc");
          })).then(function (logs) {
            logs.forEach(function (e, index) {
              if(e.data.length > 0){
                try {
                  $scope.resolutions[index].claimDate = new Date(e.data[0].time);
                } catch(e){
                  console.log(e);
                }
              }
            });
          });
        } else {
          $scope.resolutions = [];
        }
      });

      camForm.on('submit', function(event) {
        if ($scope.showResolution) {
          camForm.variableManager.destroyVariable('tcfRequestResolution');
          camForm.variableManager.createVariable({
            name: 'tcfRequestResolution',
            type: 'String',
            value: $scope.resolution,
            store: true
          });
        } else {
          $scope.resolution = null;
        }
        $scope.resolutions.push({
          processInstanceId: processInstanceId,
          taskId: camForm.taskId,
          assigneeName: assigneeName,
          resolution: $scope.resolution,
          comment: $scope.comment
        });
        camForm.variableManager.destroyVariable('resolutions');
        camForm.variableManager.createVariable({
          name: 'resolutions',
          type: 'json',
          value: $scope.resolutions,
          store: true
        });
        camForm.variableManager.destroyVariable('tcfRequestDeadline');
        camForm.variableManager.createVariable({
          name: 'tcfRequestDeadline',
          type: 'Date',
          value: $scope.deadline,
          store: true
        });
        camForm.variableManager.destroyVariable('tcfRequestAttachment');
        camForm.variableManager.createVariable({
          name: 'tcfRequestAttachment',
          type: 'json',
          value: $scope.attachments[0],
          store: true
        });
      });
      var date = new Date();
      $scope.lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    }]);

  </script>
  <div class="col-sm-12">
    <div class="form-group">
      <label class="col-sm-4">Number request:</label>
      <div class="col-sm-8"><span class="text-primary">{{numberRequest}}</span></div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Client:</label>
      <div class="col-sm-8">{{ci.legalName}} {{ci.bin}}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Priority:</label>
      <div class="col-sm-8"><span class="{{clientPriority == 'High'?'text-danger':''}} ">{{clientPriority}}</span></div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Labels:</label>
      <div class="col-sm-6">
        <span ng-if="ci != null">{{ci.companyRegistrationCity}}</span> <span ng-if="ts != null">{{ts.connectionType}} {{ts.connectionPoint}}</span>
      </div>
      <div class="col-sm-2 pull-right" ng-if="ci && ci.salesRepresentative"><b>KAE:</b> {{ci.salesRepresentative}}</div>
    </div>

    <div class="col-sm-12">&#8203;</div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="col-sm-4">Subject (TIC name):</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" cam-variable-name="tcfRequestSubject" cam-variable-type="String" ng-disabled="showResolution">
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="col-sm-4">Deadline:</label>
      <div ng-if="showResolution">{{deadline | date: 'dd.MM.yyyy'}}</div>
      <div class="col-sm-8" ng-if="!showResolution">
        <div class="input-group">
          <input type="text" ng-model="deadline" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="dateFieldOpened"/>
          <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openCalendar()">
                      <i class="glyphicon glyphicon-calendar"></i>
                  </button>
              </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <hr/>
    <h4>To set the following tariffs for {{ci.ticName}} contract from {{commercialDate | date:'dd.MM.yyyy'}} to {{lastDay | date:'dd.MM.yyyy'}}</h4>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="checkbox" id="firstDayConnection" cam-variable-type="Boolean" cam-variable-name="firstDayConnection" name="firstDayConnection"/> <label for="firstDayConnection"> Connect from the first day</label>
      </div>
    </div>
  </div>
  <div ng-show="tariff == 'Нестандартный пакет'">
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-4 coltrol-label">Monthly fee:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" cam-variable-type="String" cam-variable-name="tariffMonthly" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-4 coltrol-label">Onnet:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" cam-variable-type="String" cam-variable-name="tariffOnnet" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-4 coltrol-label">CUG:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" cam-variable-type="String" cam-variable-name="tariffCug" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-4 coltrol-label">Offnet:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" cam-variable-type="String" cam-variable-name="tariffOffnet" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-4 coltrol-label">PSTN:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" cam-variable-type="String" cam-variable-name="tariffPstn" />
        </div>
      </div>
    </div>
    <div class="col-md-12" ng-show="ts.intenationalCallAccess === 'Yes'">
      <div class="form-group">
        <label class="col-sm-4 coltrol-label">Access to international calls:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" cam-variable-type="String" cam-variable-name="tariffInternational" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <iframe id="fileDownloadIframe" style="display:none;"></iframe>
    <div class="form-group">
      <label class="col-sm-4 control-label">TCF:</label>
      <div class="col-sm-8">
        <input type="file" ng-if="!attachments.length" class="form-control" id="attachments" name="attachments" onchange="angular.element(this).scope().fileSelected(this)"/>
        <span ng-if="attachments.length == 1"><a ng-click="downloadFile(attachments[0])">{{attachments[0].name}}</a><a ng-click="clearFile(0)"><i class="glyphicon glyphicon-trash"></i></a></span>
      </div>
    </div>
    <div class="col-sm-12"><hr /></div>
  </div>

  <div class="form-group" ng-show="showResolution">
    <label class="col-sm-4 control-label">Confirm TCF request:</label>
    <div class="col-sm-8">
      <label class="radio-inline"><input type="radio" name="resolution" value="Accepted" ng-model="resolution"> Yes </label>
      <label class="radio-inline"><input type="radio" name="resolution" value="Rejected" ng-model="resolution"> No </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-12 control-label">Comments: <span class="text-danger glyphicon-asterisk" ng-show="showResolution && resolution == 'Rejected'"></span></label>
    <div class="col-sm-12">
      <textarea class="form-control" name="comment" ng-model="comment" ng-required="showResolution && resolution == 'Rejected'"></textarea>
      <span class="has-error" ng-if="kcell_form.comment.$error.required && (kcell_form.comment.$touched || view.submitted)">Required field</span>
    </div>
  </div>
</form>
