
<iframe id="fileDownloadIframe" style="display:none;"></iframe>

<div class="form-group">
    <div class="col-sm-7">
        <h4>SRR Information</h4>
    </div>
    <div class="col-sm-3">
        <label>Site Replacement Request number:</label>
    </div>
    <div class="col-sm-2">
        <label>{{replacementInfo.srrNumber}}</label>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">SRR Creation date:</label>
    <div class="col-sm-3">
        <input type="text" ng-model="replacementInfo.srrCreationDate" name="srrCreationDate" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="srrCreationDateFiledOpened" id="srrCreationDate" disabled="disabled" />
    </div>

    <label class="col-sm-2 control-label">SA&O Complaint Id:</label>
    <div class="col-sm-3">
        <input type="text" ng-model="replacementInfo.soaComplaintId" class="form-control" maxlength="20"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Validity date:</label>
    <div class="col-sm-3">
        <div class="input-group">
            <input type="text" ng-model="replacementInfo.validityDate" name="validityDate" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="validityDateFiledOpened" id="validityDate" min-date="datepickerOptions.minDate" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="validityDateFiledOpened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <label class="col-sm-2 control-label">Initiator of replacement:</label>
    <label class="col-sm-3 control-label">{{catalogs.initiatorsLabel[replacementInfo.replacementInitiator]}}</label>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Site (from):</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteName}}</label>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Site (to):</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToName}}</label>
</div>

<div class="form-group" style="margin-top: 30px;">
    <label class="col-sm-2 control-label">
        Traffic: <br />
        (average monthly)
    </label>
    <div class="col-sm-10">
        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="siteInfo in replacementInfo.siteInformation">
                    <td>{{siteInfo.name}}</td>
                    <td>{{siteInfo.gsmLabel}}</td>
                    <td>{{siteInfo.gsmValue}}</td>
                    <td>{{siteInfo.umtsLabel}}</td>
                    <td>{{siteInfo.umtsValue}}</td>
                    <td>{{siteInfo.lteLabel}}</td>
                    <td>{{siteInfo.lteValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<H4 style="margin-top: 30px;">Site Information</H4>

<div class="form-group">
    <label class="col-sm-3 control-label"><h4>Site (from)</h4></label>
    <label class="col-sm-3 control-label"> {{replacementInfo.siteName}}</label>

    <label class="col-sm-3 control-label"><h4>Site (to)</h4></label>
    <label class="col-sm-3 control-label"> {{replacementInfo.siteToName}}</label>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">RBS Quantity:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromRbsQuantity}}</label>
    

    <label class="col-sm-3 control-label">RBS Quantity:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToRbsQuantity}}</label>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Latitude:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromLatitude}}</label>

    <label class="col-sm-3 control-label">Latitude:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToLatitude}}</label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Longitude:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromLongitude}}</label>

    <label class="col-sm-3 control-label">Longitude:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToLongitude}}</label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">RBS type:</label>
    <label class="col-sm-3 control-label">
        <span ng-repeat="rt in replacementInfo.siteFromRbsTypes" class="my-tag">{{rt}}</span>
    </label>

    <label class="col-sm-3 control-label">RBS type:</label>
    <label class="col-sm-3 control-label">
        <span ng-repeat="rt in replacementInfo.siteToRbsTypes" class="my-tag">{{rt}}</span>
    </label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Band:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromBand}}</label>

    <label class="col-sm-3 control-label">Band:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToBand}}</label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">RBS location:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromRbsLocation}}</label>
    
    <label class="col-sm-3 control-label">RBS location:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToRbsLocation}}</label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Square, m2:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromSquareMeter}}</label>

    <label class="col-sm-3 control-label">Square, m2:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToSquareMeter}}</label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">GSM Antenna type:</label>
    <label class="col-sm-3 control-label">
        <span ng-repeat="gt in replacementInfo.siteFromGsmAntennaTypes" class="my-tag">{{gt}}</span>
    </label>

    <label class="col-sm-3 control-label">GSM Antenna type:</label>
    <label class="col-sm-3 control-label">
        <span ng-repeat="gt in replacementInfo.siteToGsmAntennaTypes" class="my-tag">{{gt}}</span>
    </label>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Transmission Antenna type:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteFromTransmissionAntennaType}}</label>

    <label class="col-sm-3 control-label">Transmission Antenna type:</label>
    <label class="col-sm-3 control-label">{{replacementInfo.siteToTransmissionAntennaType}}</label>
</div>

<H4 style="margin-top: 30px;">Contract Information</H4>

<div class="form-group">
    <label class="col-sm-3 control-label">Contract ID:</label>
    <div class="col-sm-3">
        <input type="text" name="siteFromContractId" ng-model="replacementInfo.siteFromContractId" class="form-control" required/>
        <label class="error" ng-if="kcell_form.siteFromContractId.$error.required && ( kcell_form.siteFromContractId.$touched || view.submitted)">Required field</label>
    </div>

    <label class="col-sm-3 control-label">Contract ID:</label>
    <div class="col-sm-3">
        <input type="text" name="siteToContractId" ng-model="replacementInfo.siteToContractId" class="form-control" required/>
        <label class="error" ng-if="kcell_form.siteToContractId.$error.required && ( kcell_form.siteToContractId.$touched || view.submitted)">Required field</label>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Contract type:</label>
    <div class="col-sm-3">
        <select ng-model="replacementInfo.siteFromContractType" name="siteFromContractType" class="form-control selectpicker" select-picker title="" required>
            <option value="">select contract type</option>
            <option value="rent">Rent</option>
            <option value="power">Power</option>
            <option value="rentAndPower">Rent and Power counter (АП и электропитание по счетчику отдельными статьями)</option>
            <option value="rentWithPower">Rent with Power (в АП включено электропитание)</option>
        </select>
        <label class="error" ng-if="kcell_form.siteFromContractType.$error.required && ( kcell_form.siteFromContractType.$touched || view.submitted)">Required field</label>
    </div>

    <label class="col-sm-3 control-label">Contract type:</label>
    <div class="col-sm-3">
        <select ng-model="replacementInfo.siteToContractType" name="siteToContractType" class="form-control selectpicker" select-picker title="" required>
            <option value="">select contract type</option>
            <option value="rent">Rent</option>
            <option value="power">Power</option>
            <option value="rentAndPower">Rent and Power counter (АП и электропитание по счетчику отдельными статьями)</option>
            <option value="rentWithPower">Rent with Power (в АП включено электропитание)</option>
        </select>
        <label class="error" ng-if="kcell_form.siteToContractType.$error.required && ( kcell_form.siteToContractType.$touched || view.submitted)">Required field</label>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Legally name:</label>
    <div class="col-sm-3">
        <input type="text" name="siteFromLegallyName" ng-model="replacementInfo.siteFromLegallyName" class="form-control" required />
        <label class="error" ng-if="kcell_form.siteFromLegallyName.$error.required && ( kcell_form.siteFromLegallyName.$touched || view.submitted)">Required field</label>
    </div>

    <label class="col-sm-3 control-label">Legally name:</label>
    <div class="col-sm-3">
        <input type="text" name="siteToLegallyName" ng-model="replacementInfo.siteToLegallyName" class="form-control" required />
        <label class="error" ng-if="kcell_form.siteToLegallyName.$error.required && ( kcell_form.siteToLegallyName.$touched || view.submitted)">Required field</label>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Address:</label>
    <div class="col-sm-3">
        <textarea class="form-control" name="siteFromAddress" ng-model="replacementInfo.siteFromAddress" maxlength="1500" rows="4" required></textarea>
        <label class="error" ng-if="kcell_form.siteFromAddress.$error.required && ( kcell_form.siteFromAddress.$touched || view.submitted)">Required field</label>
    </div>

    <label class="col-sm-3 control-label">Address:</label>
    <div class="col-sm-3">
        <textarea class="form-control" name="siteToAddress" ng-model="replacementInfo.siteToAddress" maxlength="1500" rows="4" required></textarea>
        <label class="error" ng-if="kcell_form.siteToAddress.$error.required && ( kcell_form.siteToAddress.$touched || view.submitted)">Required field</label>
    </div>        
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Contact information:</label>
    <div class="col-sm-3">
        <input type="text" name="siteFromContactInformation" ng-model="replacementInfo.siteFromContactInformation" class="form-control" required />
        <label class="error" ng-if="kcell_form.siteFromContactInformation.$error.required && ( kcell_form.siteFromContactInformation.$touched || view.submitted)">Required field</label>
    </div>

    <label class="col-sm-3 control-label">Contact information:</label>
    <div class="col-sm-3">
        <input type="text" name="siteToContactInformation" ng-model="replacementInfo.siteToContactInformation" class="form-control" required />
        <label class="error" ng-if="kcell_form.siteToContactInformation.$error.required && ( kcell_form.siteToContactInformation.$touched || view.submitted)">Required field</label>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">Reason of replacement:</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="replacementReason" ng-model="replacementInfo.replacementReason" maxlength="1500" rows="4" placeholder="Reason of replacement" required></textarea>
        <label class="error" ng-if="kcell_form.replacementReason.$error.required && ( kcell_form.replacementReason.$touched || view.submitted)">Required field</label>
    </div>
</div>