<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.extension.camunda-bpm-mail-core">
  <resources>
    <resource-root path="camunda-bpm-mail-core-1.1.0.jar" />
  </resources>

  <dependencies>
    <module name="javax.mail.api" />
    <module name="org.slf4j" />
    
    <module name="org.camunda.connect.camunda-connect-core" />
  </dependencies>
</module>
